﻿@model Astaguru.Models.AdminModel.AdminUser

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- App title -->
    <title>Astaguru</title>

    <!-- App CSS -->
    <link href="~/Content/AdminContent/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/Content/AdminContent/js/modernizr.min.js"></script>
</head>

<body>
    @using (Html.BeginForm("Login", "AdminUser", FormMethod.Post))
    {
        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="text-center">
                <a href="#" class="logo"><span>Astaguru<span></span></span></a>
                @*<h5 class="text-muted m-t-0 font-600">ICIA - INSTITUTE OF CONTEMPORARY INDIAN ART</h5>*@
            </div>
            <div class="m-t-40 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Sign In</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal m-t-20" action="index.html">

                        <div class="form-group ">
                            <div class="col-xs-12">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", @id = "txtUsername" })
                                <span id="username" style="color:red"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12" style="padding-top:15px">
                                @Html.TextBoxFor(m => m.UserPassword, new { @class = "form-control", @placeholder = "Password", @Type = "Password", @id = "txtPassword" })
                                <span id="password" style="color:red"></span>
                            </div>
                        </div>

                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-12" style="padding-top:15px">
                                <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit" id="btnSave">Log In</button>
                            </div>
                            <span id="lblError" style="color:red">@TempData["error"]</span>
                        </div>

                        @*<div class="form-group m-t-30 m-b-0">
                                <div class="col-sm-12">
                                    <a href="page-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                                </div>
                            </div>*@
                    </form>
                </div>
            </div>
            <!-- end card-box-->
            @*<div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="text-muted">Don't have an account? <a href="#" class="text-primary m-l-5"><b>Sign Up</b></a></p>
                    </div>
                </div>*@

        </div>

    }
    <!-- end wrapper page -->


    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="~/Content/AdminContent/js/jquery.min.js"></script>
    <script src="~/Content/AdminContent/js/bootstrap.min.js"></script>
    <script src="~/Content/AdminContent/js/detect.js"></script>
    <script src="~/Content/AdminContent/js/fastclick.js"></script>
    <script src="~/Content/AdminContent/js/jquery.slimscroll.js"></script>
    <script src="~/Content/AdminContent/js/jquery.blockUI.js"></script>
    <script src="~/Content/AdminContent/js/waves.js"></script>
    <script src="~/Content/AdminContent/js/wow.min.js"></script>
    <script src="~/Content/AdminContent/js/jquery.nicescroll.js"></script>
    <script src="~/Content/AdminContent/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="~/Content/AdminContent/js/jquery.core.js"></script>
    <script src="~/Content/AdminContent/js/jquery.app.js"></script>

</body>

</html>
<script>
    function resetForm() {
        debugger;

        $('#txtUsername').val("");
        $('#txtPassword').val("");

    }
    function Clear() {
        document.getElementById("txtUsername").style.borderColor = "";
        document.getElementById('username').innerHTML = "";
        document.getElementById("txtPassword").style.borderColor = "";
        document.getElementById('password').innerHTML = "";
        document.getElementById('lblError').innerHTML = "";
        return true;
    }

    $('#btnSave').click(function () {

        Clear();
        if ($('#txtUsername').val().length <= 0) {
            document.getElementById("txtUsername").style.borderColor = "Red";
            document.getElementById('username').innerHTML = "* Please Enter Username";
            return false;

        }
        else if ($('#txtPassword').val().length <= 0) {
            document.getElementById("txtPassword").style.borderColor = "Red";
            document.getElementById('password').innerHTML = "* Please Enter Password";
            return false;
        }

    });

</script>