﻿@model Astaguru.Models.User
@{
    ViewBag.Title = "viewUserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    string conditionVariable = string.Empty;
    Astaguru.Services.UserService.UserService US = new Astaguru.Services.UserService.UserService();
    
    List<int> getCompetitorIds = new List<int>();
    string strCompetitor = string.Empty;
    if (Model.interestedIds != "" && Model.interestedIds != null)
    {
        getCompetitorIds = Model.interestedIds.Split(',').Select(int.Parse).ToList();
    }
    foreach (var item in US.GetinterestMaster())
    {
        if (getCompetitorIds.Contains(item.interestedId))
        {
            strCompetitor = strCompetitor + @item.interest + ", ";
        }
    }
    
}
<input type="hidden" id="hiddenUserId" value="@Model.userid" />

<script type="text/javascript">
    function show(input) {
        debugger;
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#SalonImage').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }

    function show1(input) {
        debugger;
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#SalonImage1').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>

<h4 class="page-title">View User Details</h4>

<div class="form-group">
    <fieldset>
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">BID LIMIT</label>
            <div class="col-sm-5">
               <input type="text" id="txtBidLimit" value="@Model.amountlimt" />
                <input type="button" id="btnAmountLimit" value="Save" />
            </div>
        </div>
        <br />

        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">Allow Bid Access</label>
            <div class="col-sm-5">
                @if (Model.confirmbid == 1)
                {
                    <input type="checkbox" class="clsBidAccess" name="BidAccess" checked>
                }
                else
                {
                    <input type="checkbox" class="clsBidAccess" name="BidAccess">
                }
            </div>
        </div>
        <br />

       
        </fieldset>
</div>

<div class="form-group">
    <fieldset>
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">FIRST NAME</label>
            <div class="col-sm-5">
              @Model.name
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">LAST NAME</label>
            <div class="col-sm-5">
                @Model.lastname
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">EMAIL</label>
            <div class="col-sm-5">
                @Model.email
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">MOBILE NUMBER</label>
            <div class="col-sm-5">
                @Model.Mobile
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">ANONOMOUS NAME</label>
            <div class="col-sm-5">
                @Model.nickname
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">BID LIMIT</label>
            <div class="col-sm-5">
                
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">USERNAME</label>
            <div class="col-sm-5">
                @Model.username
            </div>
        </div>
        <br />

    </fieldset>

    <h4 class="page-title">Profile</h4>
    <fieldset>
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">GENDER</label>
            <div class="col-sm-5">
                @{conditionVariable = Model.genderid == 1 ? "Male" : Model.genderid == 2 ? "Female" : Model.genderid == 3 ? "Other" : "0";}
                @conditionVariable
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">DATE OF BIRTH</label>
            <div class="col-sm-5">
                @Model.bday/@Model.bmonth/@Model.byear
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">HOW DO YOU HERE ABOUT US</label>
            <div class="col-sm-5">
                @{conditionVariable = Model.aboutId == 1 ? "Print" : Model.aboutId == 2 ? "Magazine" : Model.aboutId == 3 ? "Google Ads" : Model.aboutId == 4 ? "Facebook/Instagram/Twitter" : Model.aboutId == 5 ? "E-mailer" : "0";}
                @conditionVariable
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">INTERESTED IN</label>
            <div class="col-sm-5">
                @if (strCompetitor != "")
                {
                    @strCompetitor.Remove(strCompetitor.Length - 2, 1);
                }
            </div>
        </div>
        <br />
        
    </fieldset>

    <h4 class="page-title">PRIMARY POSTAL ADDRESS</h4>
    <fieldset>
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">COUNTRY</label>
            <div class="col-sm-5">
               @Model.country
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">STATE</label>
            <div class="col-sm-5">
                @Model.state
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">LINE 1</label>
            <div class="col-sm-5">
                @Model.address1
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">LINE 2</label>
            <div class="col-sm-5">
               @Model.address2
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">POSTAL CODE</label>
            <div class="col-sm-5">
                @Model.zip
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">CITY</label>
            <div class="col-sm-5">
                @Model.city
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">GSTIN</label>
            <div class="col-sm-5">
                @Model.GSTIN
            </div>
        </div>
        <br />
    </fieldset>


    <h4 class="page-title">BILLING ADDRESS</h4>
    <fieldset>
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">INDIVIDUAL / COMPANY NAME</label>
            <div class="col-sm-5">
                @Model.companyName
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">COUNTRY</label>
            <div class="col-sm-5">
                @Model.BillingCountry
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">STATE</label>
            <div class="col-sm-5">
                @Model.BillingState
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">LINE 1</label>
            <div class="col-sm-5">
                @Model.BillingAddress
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">LINE 2</label>
            <div class="col-sm-5">
                @Model.billingAddress2
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">POSTAL CODE</label>
            <div class="col-sm-5">
                @Model.BillingZip
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">CITY</label>
            <div class="col-sm-5">
                @Model.BillingCity
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">GSTIN</label>
            <div class="col-sm-5">
                @Model.GSTIN
            </div>
        </div>
        <br />
    </fieldset>


    <h4 class="page-title">BANKING DETAILS</h4>
    <fieldset>
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">PAN CARD NUMBER</label>
            <div class="col-sm-5">
                @Model.panCard
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">AADHAR CARD NUMBER</label>
            <div class="col-sm-5">
                @Model.aadharCard
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">A/C NUMBER</label>
            <div class="col-sm-5">
                @Model.acNumber
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">HOLDER NAME</label>
            <div class="col-sm-5">
                @Model.holderName
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">IFSC CODE</label>
            <div class="col-sm-5">
                @Model.ifscCode
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">BRANCH NAME</label>
            <div class="col-sm-5">
                @Model.branchName
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label">SWIFT CODE</label>
            <div class="col-sm-5">
                @Model.swiftCode
            </div>
        </div>
        <br />
        
    </fieldset>

    <fieldset>
        @if (Model.imagePanCard != null && Model.imagePanCard != "")
        {
             <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label" id="SalonImage">Pan Card Image</label>
            <div class="col-sm-5">
                @{string PanCard = @baseUrlPath + "/Content/panCardImage/";}
                <div> <img id="user_img" height="200" width="200" style="margin-bottom: 10px;" src='@PanCard@Url.Content(Model.imagePanCard)' /> </div>
            </div>
        </div>
        }
       @if (Model.imageAadharCard != null && Model.imageAadharCard != "")
       {
            <div class="form-group">
            <label for="lblDeptName" class="col-sm-2 control-label" id="SalonImage1">Aadhar Card Image</label>
            <div class="col-sm-5">
                @{string AadharCard = @baseUrlPath + "/Content/aadharCardImage/";}
                <div> <img id="user_img" height="200" width="200" style="margin-bottom: 10px;" src='@AadharCard@Url.Content(Model.imageAadharCard)' /> </div>

            </div>
        </div>
       }
       
    </fieldset>
</div>


<script>
    $('#btnAmountLimit').click(function () {
        var userid = $('#hiddenUserId').val();
        var amountlimt = $('#txtBidLimit').val();

        $.ajax({
            url: "/AdminProfile/BidAmount",
            type: 'POST',
            dataType: 'json',
            data: ({ userid: userid, amountlimt: amountlimt }), // For Passing Single Value
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {
                    window.location.reload();
                }
                else if (ReturnData.status == 'Error') {

                }
            },
            error: function (err) {
                alert('Actual error' + err);
            }
        });
    });

    $(".clsBidAccess").change(function () {
        var userid = $('#hiddenUserId').val();
        var isChecked = $("input[name='BidAccess']:checked").val() ? 1 : 0;

        var BidAccess = {};
        BidAccess.userid = userid;
        BidAccess.confirmbid = isChecked;

        $.ajax({
            url: "/AdminProfile/UpdateBidAccess",
            type: 'POST',
            dataType: 'json',
            data: BidAccess,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {
                    location.reload(true)
                }
                else if (ReturnData.status == 'Error') {
                }
            },
        });
    });

</script>


