﻿@model Astaguru.Models.Video
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin || Addvideo";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("Addvideo", "AdminCms", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Add Video</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Category <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.categoryid, Model.CategoryList, "Select Category", new { @id = "ddlCategorylist", @class = "form-control col-md-7 col-xs-12" })
                                        @Html.HiddenFor(m => m.categoryid, new { id = "hdncategoryid" })
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Title <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-md-7 col-xs-12", @id = "txtTitle", @autocomplete = "off", @placeholder = "Title" })
                                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                                   
                                    </div>
                                </div>
                      

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Video Url
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.VideoUrl, new { @class = "form-control col-md-7 col-xs-12", @id = "txtvideo", @autocomplete = "off", @placeholder = "Video Url" })
                                        @Html.ValidationMessageFor(m => m.VideoUrl, "", new { @class = "text-danger" })
                                        <label>Use Embed Url</label>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Post Date <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.PostDate, new { @class = "form-control col-md-7 col-xs-12 calender", @id = "txtPostDate", @autocomplete = "off", @placeholder = "Post Date" })
                                        @Html.ValidationMessageFor(m => m.PostDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*<div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Display Order
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        <button type="button" class='down_count btn btn-info' title='Down'><i class='fa fa-minus icon-minus'></i></button>
                                        @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "counter", @id = "txtDisplayOrder", @autocomplete = "off" })
                                        <button type="button" class='up_count btn btn-info' title='Up'><i class='fa fa-plus icon-plus'></i></button>

                                    </div>
                                </div>*@

                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.Id, new { id = "hdnId" })
                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }

                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">
                                        @*<input type="button" value="View List" title="View List" class="btn btn-dark" id="btnviewlist">*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Video Url
                                    </th>
                                    <th>
                                        Post Date
                                    </th>
                                    @*<th>Order</th>*@
                            
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.category)
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VideoUrl)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PostDate)
                                            </td>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.DisplayOrder)
                                            </td>*@
                                    
                                            <td>
                                                <a href="@Url.Action("Editvideo", "AdminCms", new { id = item.Id})" title="Edit">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>

                                                <a href="@Url.Action("Deletevideo", "AdminCms", new { id = item.Id })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")

<script src="~/Content/Admin/ckeditor/ckeditor.js?@DateTime.Now.Millisecond"></script>
<script type="text/javascript" src="~/Content/Admin/ckeditor/adapters/jquery.js"></script>
<!-- Date Picker -->
<script src="@Url.Content("~/Content/Admin/datepicker/jquery-ui.js")"></script>
<link href="@Url.Content("~/Content/Admin/datepicker/jquery-ui.css")" rel="stylesheet" />

<script>

    $(function () {
        $('.calender').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });
    });

    function ReadOnlyFun(e) {
        e.preventDefault();
    }
</script>

<style>
    /* MODIFIED DATE PICKER */
    .ui-datepicker {
        width: 250px !important;
        padding: 2px !important;
        font-size: 14px !important;
    }

        .ui-datepicker table {
            margin: 0 !important;
        }

        .ui-datepicker .ui-widget-header {
            background: #04869a !important;
            /*color: #fff;*/
            font-weight: normal;
        }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        margin: 0px 4px !important;
        font-size: 13px !important;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }
</style>
