﻿@model Astaguru.Models.AdminCms.AuctionList
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin || Auction";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main" style="min-height:0px!important;">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("AuctionList", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Add Auction</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Auction Name <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Auctionname, new { @class = "form-control col-md-7 col-xs-12", @id = "txtAuction", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Auctionname, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Date <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Date, new { @class = "form-control col-md-7 col-xs-12", @id = "txtDate", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Dollar Rate <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.DollarRate, new { @class = "form-control col-md-7 col-xs-12", @id = "txtDollerRate", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.DollarRate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Image <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.image, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadImage", @autocomplete = "off", @type = "file" })
                                        @Html.ValidationMessageFor(m => m.image, "", new { @class = "text-danger" })
                                        <img id="imgPreview" style="display:none;height:100px;width:150px;" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Auction Date <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.auctiondate, new { @class = "form-control col-md-7 col-xs-12", @id = "txtAuctionDate", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.auctiondate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        status <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.DropDownListFor(m => m.status, new  List<SelectListItem>{

                                         new SelectListItem{ Text="Current", Value="Current"},

                                       new SelectListItem{ Text="Past", Value="Past"},
                                       new SelectListItem{ Text="Upcomming", Value="Upcomming"}

                                        }, "Select Status", new { @class = "form-control col-md-7 col-xs-12" }) 

                                        @*@Html.TextBoxFor(m => m.status, new { @class = "form-control col-md-7 col-xs-12", @id = "txtHeading", @autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.status, "", new { @class = "text-danger" })*@
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            Auction Type <span class="required" style="color:red">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.DropDownListFor(m => m.auctionType, new List<SelectListItem>{

                                         new SelectListItem{ Text="1", Value="1"},

                                       new SelectListItem{ Text="2", Value="2"},                                   

                                        }, "Select Auction Type", new { @class = "form-control col-md-7 col-xs-12" })


                                            @*@Html.TextBoxFor(m => m.auctionType, new { @class = "form-control col-md-7 col-xs-12", @id = "txtAuctionType", @autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.auctionType, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            Total Sale Value(Rs) <span class="required" style="color:red">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.TextBoxFor(m => m.totalSaleValueRs, new { @class = "form-control col-md-7 col-xs-12", @id = "txtTotalSaleRs", @autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.totalSaleValueRs, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            Total Sale Value(Us) <span class="required" style="color:red">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.TextBoxFor(m => m.totalSaleValueUs, new { @class = "form-control col-md-7 col-xs-12", @id = "txtTotalSaleUs", @autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.totalSaleValueUs, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            Auction Banner <span class="required" style="color:red">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.TextBoxFor(m => m.auctionBanner, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadImage1", @autocomplete = "off", @type = "file" })
                                            @Html.ValidationMessageFor(m => m.auctionBanner, "", new { @class = "text-danger" })
                                            <img id="imgPreview1" style="display:none;height:100px;width:150px;" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            Auction WebImage <span class="required" style="color:red">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.TextBoxFor(m => m.auctionWebImage, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadImage2", @autocomplete = "off", @type = "file" })
                                            @Html.ValidationMessageFor(m => m.auctionWebImage, "", new { @class = "text-danger" })
                                            <img id="imgPreview2" style="display:none;height:100px;width:150px;" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            Recent Auction Banner <span class="required" style="color:red">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.TextBoxFor(m => m.recentAuctionBanner, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadImage3", @autocomplete = "off", @type = "file" })
                                            @Html.ValidationMessageFor(m => m.recentAuctionBanner, "", new { @class = "text-danger" })
                                            <img id="imgPreview3" style="display:none;height:100px;width:150px;" />
                                        </div>
                                    </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Notification <span class="required" style="color:red"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @if (Model.Notification == true)
                                        {
                                            @Html.CheckBoxFor(m => m.Notification, new { @checked = "checked" })
                                        }
                                        else
                                        {
                                            @Html.CheckBoxFor(m => m.Notification, new { @checked = "" })
                                        }
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                      Upcoming Reminder Notification <span class="required" style="color:red"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @if (Model.Notification == true)
                                        {
                                            @Html.CheckBoxFor(m => m.RemindNotification, new { @checked = "checked" })
                                        }
                                        else
                                        {
                                            @Html.CheckBoxFor(m => m.RemindNotification, new { @checked = "" })
                                        }
                                    </div>
                                </div>
                             

                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            @if (ViewBag.ActionType == "Update")
                                            {
                                                <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                                @Html.HiddenFor(m => m.Auctionid, new { id = "Auctionid" })
                                                @Html.HiddenFor(m => m.imgPreview, new { @id = "hdnImage" })
                                                @Html.HiddenFor(m => m.imgPreview1, new { @id = "hdnImage1" })
                                                @Html.HiddenFor(m => m.imgPreview2, new { @id = "hdnImage2" })
                                                @Html.HiddenFor(m => m.imgPreview3, new { @id = "hdnImage3" })

                                            }
                                            else
                                            {
                                                <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            }

                                            <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">

                                        </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>

                                    <th>
                                        Auction Name
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Dollar Rate
                                    </th>
                                    <th>
                                        image
                                    </th>
                                    <th>
                                        Auction Date
                                    </th>
                                    <th>
                                        Auction Title
                                    </th>
                                    <th>
                                        status
                                    </th>
                                    <th>
                                        Auction Type
                                    </th>
                                    <th>
                                        totalSaleValueRs
                                    </th>
                                    <th>
                                        totalSaleValueUs
                                    </th>
                                    <th>
                                        Auction Banner
                                    </th>
                                    <th>
                                        AuctionWebImage
                                    </th>
                                    <th>
                                        Recent Auction Banner
                                    </th>

                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Auctionname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DollarRate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.image)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.auctiondate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Auctionname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.status)

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.auctionType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.totalSaleValueRs)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.totalSaleValueUs)

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.auctionBanner)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.auctionWebImage)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.recentAuctionBanner)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditAuctionList", "AdminCms", new { Id = item.Auctionid })" title="Edit">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("DeleteAuctionList", "AdminCms" , new { Id = item.Auctionid })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                        <button type="button" class="btn ">
                                                            <i class="fa fa-close"></i>
                                                        </button>
                                                    </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")

<script>
    var id = $("#Auctionid").val();
    //alert(id)

    //if (id != undefined && id != 0) {
    //    $('#imgPreview').show();
    //    $('#imgPreview1').show();
    //    $('#imgPreview2').show();
    //    $('#imgPreview3').show();

    //    $('#imgPreview').attr('src', '/pa' + $("#hdnImage").val());
    //    $('#imgPreview1').attr('src', '/paintings/' + $("#hdnImage1").val());
    //    $('#imgPreview2').attr('src', '/paintings/' + $("#hdnImage2").val());

    //}




    if (id != undefined && id != 0) {
        $('#imgPreview').show();
        $('#imgPreview').attr('src', '/' + $("#hdnImage").val());
    }

    $('.StoreDDLValueinhihhenfields').click(function () {
        var imgVal = $("#hdnImage").val();
        if (imgVal != undefined && imgVal != "") {
            $('#fileUploadImage').rules('remove', 'required')
        }
    })


    if (id != undefined && id != 0) {
        $('#imgPreview1').show();
        $('#imgPreview1').attr('src','/'+ $("#hdnImage1").val());
    }

    $('.StoreDDLValueinhihhenfields').click(function () {
        var imgVal = $("#hdnImage1").val();
        if (imgVal != undefined && imgVal != "") {
            $('#fileUploadImage1').rules('remove', 'required')
        }
    })

    if (id != undefined && id != 0) {
        $('#imgPreview2').show();
        $('#imgPreview2').attr('src', '/Content/webImages/' + $("#hdnImage2").val());
    }

    $('.StoreDDLValueinhihhenfields').click(function () {
        var imgVal = $("#hdnImage2").val();
        if (imgVal != undefined && imgVal != "") {
            $('#fileUploadImage2').rules('remove', 'required')
        }
    })

    if (id != undefined && id != 0) {
        $('#imgPreview3').show();
        $('#imgPreview3').attr('src', '/Content/recentAuctionBanner/'+ $("#hdnImage3").val());
    }

    $('.StoreDDLValueinhihhenfields').click(function () {
        var imgVal = $("#hdnImage3").val();
        if (imgVal != undefined && imgVal != "") {
            $('#fileUploadImage3').rules('remove', 'required')
        }
    })

</script>

