﻿@model Astaguru.Models.consign
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin || consign";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main" style="min-height:0px!important;">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("DownloadConsignmentExcel", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Consign List</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Export To Excel" class="btn btn-success StoreDDLValueinhihhenfields" />
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="form-group" style="text-align:center">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <input type="submit" value="Delete Records" id="btnDelete" class="btn alert-danger StoreDDLValueinhihhenfields" title="Delete" name="btnAction" onclick="return confirm('Are you sure you want to delete this Record?')">
                            </div>
                        </div>
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkAll" /></th>
                                    <th>
                                        Sr.No
                                    </th>
                                    <th>
                                        Consignmentid
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        category
                                    </th>
                                    <th>
                                        Year
                                    </th>
                                    <th>
                                        Medium

                                    </th>
                                    <th>
                                        Height
                                    </th>
                                    <th>
                                        Width
                                    </th>
                                    <th>
                                        Depth
                                    </th>
                                    <th>
                                        Units
                                    </th>
                                    <th>
                                        EditionNumaber
                                    </th>
                                    <th>
                                        EditionSize
                                    </th>
                                    <th>
                                        WorkSign
                                    </th>
                                    <th>
                                        AquireWork
                                    </th>
                                    <th>
                                        CityLocated
                                    </th>
                                    <th>
                                        Pricemind
                                    </th>
                                    <th>
                                        PriceCurrency
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        MobileNumber
                                    </th>
                                    <th>
                                        MoreInformation
                                    </th>
                                    <th>
                                        User Id
                                    </th>
                                    <th>
                                       Name
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.consignList != null)
                                {
                                    foreach (var item in Model.consignList)
                                    {
                                        <tr class="counter">
                                            <td>
                                                <input type="checkbox" class="checkBox" value="@item.Consignmentid" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Sr)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Consignmentid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.category)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Year)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Medium)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Height)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Width)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Depth)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Units)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EditionNumaber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EditionSize)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.WorkSign)

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AquireWork)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CityLocated)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Pricemind)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PriceCurrency)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MobileNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MoreInformation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Userid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                       
                                            <td>
                                                <a href="@Url.Action("ShowConsignImagesByConsignmentid", "AdminCms", new { Consignmentid = item.Consignmentid})">
                                                    <button type="button" class="btn" title="View">
                                                        View Image
                                                    </button>
                                                </a>
                                                /
                                                <a href="@Url.Action("DownloadZipFile", "AdminCms", new { Consignmentid = item.Consignmentid})">
                                                    <button type="button" class="btn" title=" Download Image Zip">
                                                        Download Image Zip
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>


    </div>
</div>

<script>

    $("#btnDelete").click(function () {
        var selectedIDs = new Array();

        $('input:checkbox.checkBox').each(function () {
            if ($(this).prop('checked')) {
                selectedIDs.push($(this).val());
            }
        });

        selectedIDs = JSON.stringify(selectedIDs);

        var options = {};
        options.url = "/AdminCms/DeleteConsignment";
        options.type = "POST";

        options.data = selectedIDs;

        options.contentType = "application/json";
        options.dataType = "json";
        options.success = function (msg) {
            alert(msg);
            location.reload(true);
        };
        options.error = function () {
            //alert("Error while sending Notification!");
            console.log("");
        };
        $.ajax(options);

    });
</script>