﻿@model Astaguru.Models.AdminCms.Invoice
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin || Invoice";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

      @using (Html.BeginForm("Invoice", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
      {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Invoice</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Select Auction <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.Auctionid, Model.AuctionNameList, "Select Auction", new { @id = "ddllist", @class = "form-control col-md-7 col-xs-12" })
                                        
                                        @*@Html.DropDownListFor(model => model.Auctionname, Model.AuctionNameList, "Select Auction", new { @id = "ddllist", @class = "form-control col-md-7 col-xs-12" })*@
                                        @Html.HiddenFor(m => m.Auctionid, new { id = "hdnAuctionId" })
                                        @Html.HiddenFor(m => m.Auctionname, new { id = "hdnAuctionname" })
                                        @Html.Hidden("Auctionname", null, new { @id = "hdnAuctionname" })

                                        <input type="hidden" id="hiddenAuction" name="hiddenAuction" value="" />

                                    </div>
                                </div>
                  

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Auctin Date <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">                         
                                        <select id="ddlPagelist" name="PageName" class=form-control col-md-7 col-xs-12></select>
                                        @Html.ValidationMessageFor(m => m.auctiondate, "", new { @class = "text-danger" })
                                        @*@Html.HiddenFor(m => m.Auctionid, new { Id = "hdnAuctionidDate" })*@
                                        <input type="hidden" id="hiddenauctiondate" name="hiddenauctiondate" value="" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Auctin Lot <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="ddlLotlist" name="PageName" class=form-control col-md-7 col-xs-12></select>
                                        @Html.ValidationMessageFor(m => m.reference, "", new { @class = "text-danger" })
                                        @*@Html.HiddenFor(m => m.reference, new { Id = "hdnreference" })*@
                                        @*@Html.HiddenFor(m => m.referenceid, new { Id = "hdnreferenceid" })*@ 
                                        <input type="hidden" id="hiddenauctionlot" name="hiddenauctionlot" value="" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Invoice No <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Invoice_No, new { @class = "form-control col-md-7 col-xs-12", @id = "txtInvoice_No", @autocomplete = "off", @placeholder = "Invoice No" })
                                        @Html.ValidationMessageFor(m => m.Invoice_No, "", new { @class = "text-danger" })
                                        <span id="ErrorInvoice_No" class="ErrorValidation">Invoice No required.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Invoice Date <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Invoice_Date, new { @class = "form-control col-md-7 col-xs-12 calender", @id = "txtInvoice_Date", @autocomplete = "off", @placeholder = "Invoice Date" })
                                        @Html.ValidationMessageFor(m => m.Invoice_Date, "", new { @class = "text-danger" })
                                        <span id="ErrorInvoice_Date" class="ErrorValidation">Invoice Date required.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        E way bill No <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.E_way_bill_No, new { @class = "form-control col-md-7 col-xs-12", @id = "txtE_way_bill_No", @autocomplete = "off", @placeholder = "E way bill No" })
                                        @Html.ValidationMessageFor(m => m.E_way_bill_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>                         

                                <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                           Billing Name  <span class="required" style="color:red">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.TextBoxFor(m => m.BillingName, new { @class = "form-control col-md-7 col-xs-12", @id = "txtBillingName", @autocomplete = "off", @placeholder = "Billing Name" })
                                            @Html.ValidationMessageFor(m => m.BillingName, "", new { @class = "text-danger" })
                                            <span id="ErrorBillingName" class="ErrorValidation">Billing Name required.</span>
                                        </div>
                                    </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        GSTIN <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.GSTIN, new { @class = "form-control col-md-7 col-xs-12", @id = "txtGSTIN", @autocomplete = "off", @placeholder = "GSTIN" })
                                        @Html.ValidationMessageFor(m => m.GSTIN, "", new { @class = "text-danger" })
                                        <span id="ErrorGSTIN" class="ErrorValidation">GSTIN is required.</span>
                                    </div>
                                </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            Billing Address  <span class="required" style="color:red">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.TextBoxFor(m => m.BillingAddress, new { @class = "form-control col-md-7 col-xs-12", @id = "txtBillingAddress", @autocomplete = "off", @placeholder = "Billing Address" })
                                            @Html.ValidationMessageFor(m => m.BillingAddress, "", new { @class = "text-danger" })
                                            <span id="ErrorBillingAddress" class="ErrorValidation"> Billing Address required.</span>
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Delivery Address  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.DeliveryAddress, new { @class = "form-control col-md-7 col-xs-12", @id = "txtDeliveryAddress", @autocomplete = "off", @placeholder = "Delivery Address" })
                                        @Html.ValidationMessageFor(m => m.DeliveryAddress, "", new { @class = "text-danger" })
                                        <span id="ErrorDeliveryAddress" class="ErrorValidation"> Delivery Address required.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Country <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.userCountry, new { @class = "form-control col-md-7 col-xs-12", @id = "txtuserCountry", @autocomplete = "off", @placeholder = "Country", @readonly="true" })
                                        @Html.ValidationMessageFor(m => m.userCountry, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        State <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.state, new { @class = "form-control col-md-7 col-xs-12", @id = "txtstate", @autocomplete = "off", @placeholder = "State", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.state, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Product Auction Type  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.auctionType, new { @class = "form-control col-md-7 col-xs-12", @id = "txtauctionType", @autocomplete = "off", @placeholder = "Auction Type", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.auctionType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Product HSN code <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.HSN_code, new { @class = "form-control col-md-7 col-xs-12", @id = "txtHSN_code", @autocomplete = "off", @placeholder = "HSN code" })
                                        @Html.ValidationMessageFor(m => m.HSN_code, "", new { @class = "text-danger" })
                                        <span id="ErrorHSN_code" class="ErrorValidation">  Product HSN code required.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Artist Name  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.ArtistName, new { @class = "form-control col-md-7 col-xs-12", @id = "txtArtistName", @autocomplete = "off", @placeholder = "Artist Name", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.ArtistName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Product Title   <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.title, new { @class = "form-control col-md-7 col-xs-12", @id = "txttitle", @autocomplete = "off", @placeholder = "Product Title", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.title, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Medium  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.medium, new { @class = "form-control col-md-7 col-xs-12", @id = "txtmedium", @autocomplete = "off", @placeholder = "Medium", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.medium, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Product Size   <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.productsize, new { @class = "form-control col-md-7 col-xs-12", @id = "txtproductsize", @autocomplete = "off", @placeholder = "Product size", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.productsize, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Bid pricers   <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Bidpricers, new { @class = "form-control col-md-7 col-xs-12", @id = "txtBidpricers", @autocomplete = "off", @placeholder = "Bid pricers", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.Bidpricers, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Bid priceus   <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Bidpriceus, new { @class = "form-control col-md-7 col-xs-12", @id = "txtBidpriceus", @autocomplete = "off", @placeholder = "Bid priceus", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.Bidpriceus, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Product Image  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.thumbnail, new { @class = "form-control col-md-7 col-xs-12", @id = "txtthumbnail", @autocomplete = "off", @placeholder = "Product Image", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.thumbnail, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        PrVat <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.PrVat, new { @class = "form-control col-md-7 col-xs-12", @id = "txtPrVat", @autocomplete = "off", @placeholder = "PrVat", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.PrVat, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        isInternational <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.isInternational, new { @class = "form-control col-md-7 col-xs-12", @id = "txtisInternational", @autocomplete = "off", @placeholder = "isInternational", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.isInternational, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        isInternationalGST <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.isInternationalGST, new { @class = "form-control col-md-7 col-xs-12", @id = "txtisInternationalGST", @autocomplete = "off", @placeholder = "isInternationalGST", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.isInternationalGST, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        astaguruPrice <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.astaguruPrice, new { @class = "form-control col-md-7 col-xs-12", @id = "txtastaguruPrice", @autocomplete = "off", @placeholder = "astaguruPrice", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.astaguruPrice, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        usedGoodPercentage <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.usedGoodPercentage, new { @class = "form-control col-md-7 col-xs-12", @id = "txtusedGoodPercentage", @autocomplete = "off", @placeholder = "usedGoodPercentage", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.usedGoodPercentage, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Freight HSN Code <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.FreightHSN_Code, new { @class = "form-control col-md-7 col-xs-12", @id = "txtFreightHSN_Code", @autocomplete = "off", @placeholder = "Freight HSN Code" })
                                        @Html.ValidationMessageFor(m => m.FreightHSN_Code, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Freight IGST <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Freight_IGST, new { @class = "form-control col-md-7 col-xs-12", @id = "txtFreight_IGST", @autocomplete = "off", @placeholder = "Freight IGST" })
                                        @Html.ValidationMessageFor(m => m.Freight_IGST, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Freight CGST <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Freight_CGST, new { @class = "form-control col-md-7 col-xs-12", @id = "txtFreight_CGST", @autocomplete = "off", @placeholder = "Freight CGST" })
                                        @Html.ValidationMessageFor(m => m.Freight_CGST, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Freight SGST <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Freight_SGST, new { @class = "form-control col-md-7 col-xs-12", @id = "txtFreight_SGST", @autocomplete = "off", @placeholder = "Freight SGST" })
                                        @Html.ValidationMessageFor(m => m.Freight_SGST, "", new { @class = "text-danger" })
                                    </div>
                                </div>
               
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Freight Amount <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Freight_Amount, new { @class = "form-control col-md-7 col-xs-12", @id = "txtFreight_Amount", @autocomplete = "off", @placeholder = "Freight Amount" })
                                        @Html.ValidationMessageFor(m => m.Freight_Amount, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                
                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @*<input type="submit" value="Create Invoice" id="btnInvoice" class="btn btn-success StoreDDLValueinhihhenfields" title="Create Invoice" name="btnAction">*@
                                        <input type="submit" value="Create Invoice" id="btnInvoice" class="btn btn-success StoreDDLValueinhihhenfields" title="Create Invoice" name="btnAction">                                    
                                        <input type="reset" value="Reset" id="btnreset" class="btn btn-primary" title="Cancel">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>



@Scripts.Render("~/Admin/FormValidation")
<script src="@Url.Content("~/Content/Admin/datepicker/jquery-ui.js")"></script>
<link href="@Url.Content("~/Content/Admin/datepicker/jquery-ui.css")" rel="stylesheet" />

<script>
    $(function () {
        $('#ddllist').change(function () {
            $.getJSON('/AdminCms/BindAuctionDate/' + $('#ddllist').val(), function (data)
            //$.getJSON('/AdminCms/BindAuctionDate/' + $("#ddllist option:selected").text(), function (data)
                {
                var items = '<option>Select Auction Date</option>';
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                });
                $('#ddlPagelist').html(items);
            });
        });

        //alert($('#hdnSubId').val())

        var hdSubVal = $('#hdnAuctionidDate').val();
        //alert(typeof (hdSubVal))
        if (hdSubVal != "0") {
            $.getJSON('/AdminCms/BindAuctionDate/' + $('#ddllist').val(), function (data) {
                var items = '<option>Select Auction Date</option>';
                $.each(data, function (i, state) {
                    if (state.Value == hdSubVal) {
                        items += "<option value='" + state.Value + "' selected>" + state.Text + "</option>";

                    } else {
                        items += "<option value='" + state.Value + "'>" + state.Text + "</option>";

                    }
                });
                $('#ddlPagelist').html(items);
            });
        }

    });




    $(function () {
        $('#ddlPagelist').change(function () {

            $.getJSON('/AdminCms/BindAuctionLot/' + $('#ddllist').val(), function (data) {
            //$.getJSON('/AdminCms/BindAuctionLot/' + $('#ddllist').val(), $('#ddlPagelist').val(), function (data) {
                var items = '<option>Select Auction Lot</option>';
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                });
                $('#ddlLotlist').html(items);
            });
        });


        var hdSubVal = $('#hdnreference').val();
        //alert(typeof (hdSubVal))
        if (hdSubVal != "0") {
            $.getJSON('/AdminCms/BindAuctionLot/' + $('#ddllist').val(), function (data) {
                var items = '<option>Select Auction Lot</option>';
                $.each(data, function (i, state) {
                    if (state.Value == hdSubVal) {
                        items += "<option value='" + state.Value + "' selected>" + state.Text + "</option>";

                    } else {
                        items += "<option value='" + state.Value + "'>" + state.Text + "</option>";

                    }
                });
                $('#ddlLotlist').html(items);
            });
        }

    });




    $(function () {
        $('#ddlLotlist').change(function () {
            //alert(typeof $('#ddlLotlist').val());
            $.getJSON('/AdminCms/getdata/'+$('#ddlLotlist').val(), function (data) {
                $.each(data, function (i, state) {
                    $('#txtBillingName').val(state.BillingName);
                    $('#txtBillingAddress').val(state.BillingAddress);
                    $('#txtGSTIN').val(state.GSTIN);
                    $('#txtDeliveryAddress').val(state.DeliveryAddress);

                    $('#txtArtistName').val(state.ArtistName);
                    $('#txttitle').val(state.title);
                    $('#txtmedium').val(state.medium);
                    $('#txtproductsize').val(state.productsize);
                    $('#txtBidpricers').val(state.Bidpricers);
                    $('#txtBidpriceus').val(state.Bidpriceus);
                    $('#txtthumbnail').val(state.thumbnail);
                    $('#txtauctionType').val(state.auctionType);


                    $('#txtuserCountry').val(state.userCountry);
                    $('#txtstate').val(state.state);

                    $('#txtPrVat').val(state.PrVat);
                    $('#txtisInternational').val(state.isInternational);
                    $('#txtisInternationalGST').val(state.isInternationalGST);
                    $('#txtastaguruPrice').val(state.astaguruPrice);
                    $('#txtusedGoodPercentage').val(state.usedGoodPercentage);

                });

            });
        });

    });



    @*$("#btnInvoice").click(function () {

        var Blank1 = false;
        var message = "";


        if ($('#txtInvoice_No').val() == '') {
            $('#ErrorInvoice_No').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorInvoice_No').css('display', 'none');

        }


        if ($('#txtInvoice_Date').val() == '') {
            $('#ErrorInvoice_Date').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorInvoice_Date').css('display', 'none');
        }

        if ($('#txtBillingName').val() == '') {
            $('#ErrorBillingName').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorBillingName').css('display', 'none');
        }

        if ($('#txtGSTIN').val() == '') {
            $('#ErrorGSTIN').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorGSTIN').css('display', 'none');
        }


        if ($('#txtBillingAddress').val() == '') {
            $('#ErrorBillingAddress').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorBillingAddress').css('display', 'none');
        }

        if ($('#txtDeliveryAddress').val() == '') {
            $('#ErrorDeliveryAddress').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorDeliveryAddress').css('display', 'none');
        }

        if ($('#txtHSN_code').val() == '' || $('#txtHSN_code').val() == 0) {
            $('#ErrorHSN_code').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorHSN_code').css('display', 'none');
        }

        if (Blank1) {

            return false;

        }
        else {
            //return true;
        }






        var selectedIDs = new Array();

        var AuctionName = $("#ddllist option:selected").text();
        var AuctionDate = $("#ddlPagelist option:selected").text();
        var Lot = $("#ddlLotlist option:selected").text();
        var Invoice_No = $('#txtInvoice_No').val();

        var Invoice_Date = $('#txtInvoice_Date').val();
        var E_way_bill_No = $('#txtE_way_bill_No').val();
        var BillingName =$('#txtBillingName').val();
        var GSTIN =  $('#txtGSTIN').val();
        var BillingAddress = $('#txtBillingAddress').val();
        var DeliveryAddress = $('#txtDeliveryAddress').val();

        var Product_Auction_Type = $('#txtauctionType').val();
        var PHSN_Code = $('#txtHSN_code').val();
        var Artist_Name = $('#txtArtistName').val();
        var Product_Title = $('#txttitle').val();


        var Medium = $('#txtmedium').val();
        var Product_Size = $('#txtproductsize').val();
        var BidpriceRs = $('#txtBidpricers').val();
        var BidpriceUs = $('#txtBidpriceus').val();

        var Product_Image = $('#txtthumbnail').val();
        var FHSN_Code = $('#txtFreightHSN_Code').val();
        var FIGST = $('#txtFreight_IGST').val();
        var FCGST = $('#txtFreight_CGST').val();
        var FSGST = $('#txtFreight_SGST').val();
        var FAmount = $('#txtFreight_Amount').val();


        var PrVat = $('#txtPrVat').val();
        var isInternational = $('#txtisInternational').val();
        var isInternationalGST = $('#txtisInternationalGST').val();
        var astaguruPrice = $('#txtastaguruPrice').val();
        var usedGoodPercentage = $('#txtusedGoodPercentage').val();

        var Country = $('#txtuserCountry').val();
        var State = $('#txtstate').val();

        var AuctionType = $('#txtauctionType').val();




        selectedIDs.push(AuctionType,State, Country, PrVat, isInternational, isInternationalGST, astaguruPrice, usedGoodPercentage, AuctionName, AuctionDate, Lot, Invoice_No, Invoice_Date, E_way_bill_No, BillingName, GSTIN, BillingAddress, DeliveryAddress, Product_Auction_Type, PHSN_Code, Artist_Name, Product_Title, Medium, Product_Size, BidpriceRs, BidpriceUs, Product_Image, FHSN_Code, FIGST, FCGST, FSGST, FAmount);
        selectedIDs = JSON.stringify(selectedIDs);

        var options = {};
        options.url = "/AdminCms/CreateInvoice";
        options.type = "POST";

        options.data = selectedIDs;

        options.contentType = "application/json";
        options.dataType = "json";
        options.success = function () {
            alert("Invoice Created");
            @*window.location = '@Url.Action("CreateInvoice", "AdminCms", new { selectedIDs=123 })';*@

        //};
        //options.error = function () {
        //    //alert("Error while sending Notification!");
        //    console.log("");
        //};
        //$.ajax(options);
        //});


    //calender

    $(function () {
        $('.calender').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy'
        });
    });

    function ReadOnlyFun(e) {
        e.preventDefault();
    }


    $(document).ready(function () {
        $("#ddlLotlist").change(function () {
            var ddtextauctionname = $("#ddllist option:selected").text();
            $("#hiddenAuction").val(ddtextauctionname);

        })


        $("#ddlPagelist").change(function () {
            var ddtextauctiondate = $("#ddlPagelist option:selected").text();
            $("#hiddenauctiondate").val(ddtextauctiondate);

        })

        $("#ddlLotlist").change(function () {
            var ddtextlot = $("#ddlLotlist option:selected").text();
            $("#hiddenauctionlot").val(ddtextlot);

        })
    });

</script>


<style>
    /* MODIFIED DATE PICKER */
    .ui-datepicker {
        width: 250px !important;
        padding: 2px !important;
        font-size: 14px !important;
    }

        .ui-datepicker table {
            margin: 0 !important;
        }

        .ui-datepicker .ui-widget-header {
            background: #04869a !important;
            /*color: #fff;*/
            font-weight: normal;
        }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        margin: 0px 4px !important;
        font-size: 13px !important;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }
</style>

<style>
    .ErrorValidation {
        display: none;
        color: #dc3545 !important;
        margin-bottom: 10px;
    }
</style>



