﻿@model Astaguru.Models.User

@{
    ViewBag.Title = "Admin || NotApplyforAuction";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("NotApplyforAuction", "AdminCms", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Not Apply for Auction Users</h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>
                                        Userid
                                    </th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        Password
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Lastname
                                    </th>
                                    <th>
                                        Address1
                                    </th>
                                    <th>
                                        Address2
                                    </th>
                                    <th>
                                        City
                                    </th>

                                    <th>
                                        state
                                    </th>
                                    <th>
                                        Zip
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        Telephone
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        How Do You Here About Us
                                    </th>
                                    <th>
                                        Registration Date

                                    </th>
                                    <th>
                                        Last Logged Date
                                    </th>

                                    <th>
                                        Amount limit
                                    </th>
                                    <th>
                                        Confirmation
                                    </th>
                                    <th>
                                        Applyforbid
                                    </th>
                                    <th>
                                        Mobile
                                    </th>
                                    <th>
                                        Mobile Verified
                                    </th>
                                    <th>
                                        Email Verified
                                    </th>
                                    <th>
                                        isOldUser
                                    </th>
                              
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>@Html.DisplayFor(modelItem => item.userid)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.username)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.password)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lastname)

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.address1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.address2)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.city)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.state)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.zip)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.country)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BillingTelephone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.about)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RegistrationDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastLoggedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.amountlimt)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.bconfirmbid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.bapplyforbid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mobile)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.bMobileVerified)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.bEmailVerified)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.bisOldUser)
                                            </td>
                                          
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


