﻿@model Astaguru.Models.Auction
@using System.Web.Optimization
@{
    ViewBag.Title = "Admin | RecentBid";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


<div class="right_col" role="main" style="min-height:900px!important;">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("DownloadCurrentLeadingExcel", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Current list of Bidders </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">   
                                <input type="submit" value="Export To Excel" class="btn btn-success StoreDDLValueinhihhenfields" />
                        </div>
                    </div>
                        </div>
                    </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">                     
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        @*<th>Sr No.</th>*@
                                        @*<th>Action</th>*@

                                        <th>
                                            User Id
                                        </th>

                                        <th>
                                            Artist Name
                                        </th>

                                        <th>
                                            Thumbnail
                                        </th>
                                        <th>
                                            Lot No
                                        </th>
                                        <th>
                                            Product_id
                                        </th>
                                        <th>
                                            Current Bid Price
                                        </th>
                                        <th>
                                            Current Bid Price $
                                        </th>
                                        <th>
                                            User Name
                                        </th>

                                        <th>
                                            Proxy UserName
                                        </th>

                                        <th>
                                            Number Of Bid
                                        </th>
                                        <th>
                                            time of bid
                                        </th>



                                    </tr>
                                </thead>

                                <tbody>

                                    @if (Model.GridList != null)
                                    {
                                        foreach (var item in Model.GridList)
                                        {
                                            <tr class="counter">
                                                @*<td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                <td>
                                    <a href="@Url.Action("AcceptProxy", "AdminCms", new { id = item.proxyid})" title="Accept bid" onclick="return confirm('Are you sure you want to Accept Proxy?')">
                                        <button type="button" class="btn btn-success">
                                            Accept bid
                                        </button>
                                    </a>
                                    <a href="@Url.Action("RejectProxy", "AdminCms", new { id = item.proxyid })" Reject bid="Delete" onclick="return confirm('Are you sure you want to Reject Proxy?')">
                                        <button type="button" class="btn btn-primary">
                                            Reject bid
                                        </button>
                                    </a>

                                </td>*@
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.userid)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.artist)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.thumbnail)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.reference)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.productid)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.pricers)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.priceus)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Bidrecorduserdetail", "AdminCms", new { id = item.userid})">
                                                        <u>@item.username</u>
                                                    </a>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.proxyusername)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.bidcount)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.daterec)
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")
<script src="@Url.Content("~/Content/Admin/datepicker/jquery-ui.js")"></script>
<link href="@Url.Content("~/Content/Admin/datepicker/jquery-ui.css")" rel="stylesheet" />

<script>
    //showing default 25 rows in datatable

    $(document).ready(function () {
        $('#datatable').dataTable({
            "iDisplayLength": 25
        })
    });
</script>
