﻿@model Astaguru.Models.Shipping
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin || Shippinng";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("Shipping", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Shipping Status</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                                @Html.HiddenFor(m => m.Id, new { id = "hdnId" })
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Select Auction <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.Auctionid, Model.AuctionNameList, "Select Auction", new { @id = "ddllist", @class = "form-control col-md-7 col-xs-12" })

                                        @*@Html.DropDownListFor(model => model.Auctionname, Model.AuctionNameList, "Select Auction", new { @id = "ddllist", @class = "form-control col-md-7 col-xs-12" })*@
                                        @Html.HiddenFor(m => m.Auctionid, new { id = "hdnAuctionId" })
                                        @Html.HiddenFor(m => m.Auctionname, new { id = "hdnAuctionname" })
                                        @*@Html.Hidden("Auctionname", null, new { @id = "hdnAuctionname" })*@

                                        <input type="hidden" id="hiddenAuction" name="hiddenAuction" value="" />

                                        <span id="ErrorAuction" class="ErrorValidation">Select Auction required.</span>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Auction Date <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="ddlPagelist" name="PageName" class=form-control col-md-7 col-xs-12></select>
                                        @Html.ValidationMessageFor(m => m.auctiondate, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.auctiondate, new { Id = "hdnAuctionidDateEdit" })
                                        <input type="hidden" id="hiddenauctiondate" name="hiddenauctiondate" value="" />

                                        <span id="ErrorAuctionDate" class="ErrorValidation">Select Auction Date required.</span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Auction Lot <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="ddlLotlist" name="PageName" class=form-control col-md-7 col-xs-12></select>
                                        @Html.ValidationMessageFor(m => m.reference, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.reference, new { Id = "hdnreference" })
                                        @*@Html.HiddenFor(m => m.referenceid, new { Id = "hdnreferenceid" })*@
                                        <input type="hidden" id="hiddenauctionlot" name="hiddenauctionlot" value="" />

                                        <span id="ErrorAuctionLot" class="ErrorValidation">Select Auction Lot required.</span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Product Auction Type  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.auctionType, new { @class = "form-control col-md-7 col-xs-12", @id = "txtauctionType", @autocomplete = "off", @placeholder = "Auction Type", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.auctionType, "", new { @class = "text-danger" })

                                        <span id="ErrorAuctionType" class="ErrorValidation">Product Auction Type required.</span>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Artist Name  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.ArtistName, new { @class = "form-control col-md-7 col-xs-12", @id = "txtArtistName", @autocomplete = "off", @placeholder = "Artist Name", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.ArtistName, "", new { @class = "text-danger" })

                                        <span id="ErrorArtistName" class="ErrorValidation">Artist Name required.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Product Id   <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Productid, new { @class = "form-control col-md-7 col-xs-12", @id = "txtProductid", @autocomplete = "off", @placeholder = "Product Title", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.Productid, "", new { @class = "text-danger" })

                                        <span id="ErrorProductId" class="ErrorValidation">Product Id required.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Product Title   <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.title, new { @class = "form-control col-md-7 col-xs-12", @id = "txttitle", @autocomplete = "off", @placeholder = "Product Title", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.title, "", new { @class = "text-danger" })
                                        <span id="ErrorProductTitle" class="ErrorValidation">Product Title required.</span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Product Image  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.thumbnail, new { @class = "form-control col-md-7 col-xs-12", @id = "txtthumbnail", @autocomplete = "off", @placeholder = "Product Image", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.thumbnail, "", new { @class = "text-danger" })

                                        <span id="ErrorProductImage" class="ErrorValidation">Product Image required.</span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Customer Mobile NO.  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control col-md-7 col-xs-12", @id = "txtmobile", @autocomplete = "off", @placeholder = "Mobile No." })
                                        @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })

                                        <span id="ErrorCustomerMobile" class="ErrorValidation">Customer Mobile required.</span>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Customer Email <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-7 col-xs-12", @id = "txtEmail", @autocomplete = "off", @placeholder = "Email" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                        <span id="ErrorCustomerEmail" class="ErrorValidation">Customer Email required.</span>
                                    </div>
                                </div>




                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Select Payment Mode <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.DropDownListFor(m => m.PaymentType, new List<SelectListItem>{

                                         new SelectListItem{ Text="NEFT", Value="NEFT"},

                                       new SelectListItem{ Text="Online", Value="Online"},
                                       new SelectListItem{ Text="Cheque", Value="Cheque"},
                                         new SelectListItem{ Text="Other", Value="Other"}

                                        }, "Select Payment Mode ", new { @id = "ddlPaymentMode", @class = "form-control col-md-7 col-xs-12" })


                                        <span id="ErrorPaymentMode" class="ErrorValidation"> Payment Mode required.</span>
                                    </div>

                                </div>



                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Select Payment Status <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.DropDownListFor(m => m.PaymentStatus, new List<SelectListItem>{

                                         new SelectListItem{ Text="Done", Value="Done"},

                                       new SelectListItem{ Text="Pending", Value="Pending"},


                                        }, "Select Payment Status", new { @id = "ddlPaymentStatus", @class = "form-control col-md-7 col-xs-12" })


                                        <span id="ErrorPaymentStatus" class="ErrorValidation"> Payment Status required.</span>
                                    </div>

                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Payment Detail
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.PaymentDetails, new { @class = "form-control col-md-7 col-xs-12", @id = "txtDescription", @autocomplete = "off" })

                                        <span id="ErrorPaymentDetail" class="ErrorValidation"> Payment Detail required.</span>
                                    </div>
                                </div>



                                <div class="form-group" id="ShippingProvider" style="display:none;">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            Select Service Provider <span class="required" style="color:red">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">

                                            @Html.DropDownListFor(m => m.ShippingServiceProvider, new List<SelectListItem>{

                                         new SelectListItem{ Text="Bluedart", Value="Bluedart"},

                                       new SelectListItem{ Text="Fedex", Value="Fedex"},

                                       new SelectListItem{ Text="Inhouse Service Provider", Value="Inhouse Service Provider"},


                                        }, "Select Service Provider", new { @id = "ddlServiceProvider", @class = "form-control col-md-7 col-xs-12" })


                                            <span id="ErrorServiceProvider" class="ErrorValidation"> Service Provider required.</span>
                                        </div>

                                    </div>

                                    <div class="form-group" id="ApiProvider" style="display:none;">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                AWB Number <span class="required" style="color:red">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.TextBoxFor(m => m.AWBNumber, new { @class = "form-control col-md-7 col-xs-12", @id = "txtAWBNumber", @autocomplete = "off", @placeholder = "AWB" })
                                                @Html.ValidationMessageFor(m => m.AWBNumber, "", new { @class = "text-danger" })

                                                <span id="ErrorAWBNumber" class="ErrorValidation"> AWB Number required.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" id="Inhouse" style="display:none;">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Customer Name  <span class="required" style="color:red">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.TextBoxFor(m => m.BillingName, new { @class = "form-control col-md-7 col-xs-12", @id = "txtBillingName", @autocomplete = "off", @placeholder = "Customer Name" })
                                                @Html.ValidationMessageFor(m => m.BillingName, "", new { @class = "text-danger" })

                                                <span id="ErrorCustomerName" class="ErrorValidation">Customer Name required.</span>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Delivery Address  <span class="required" style="color:red">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.TextBoxFor(m => m.DeliveryAddress, new { @class = "form-control col-md-7 col-xs-12", @id = "txtDeliveryAddress", @autocomplete = "off", @placeholder = "Delivery Address" })
                                                @Html.ValidationMessageFor(m => m.DeliveryAddress, "", new { @class = "text-danger" })

                                                <span id="ErrorDeliveryAddress" class="ErrorValidation"> Delivery Address required.</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Delivery Status <span class="required" style="color:red">*</span>
                                            </label>

                                            <div class="col-md-6 col-sm-6 col-xs-12">

                                                @Html.DropDownListFor(m => m.DeliveryStatus, new List<SelectListItem>{

                                         new SelectListItem{ Text="Order Created", Value="Order Created"},

                                       new SelectListItem{ Text="Order Picked Up", Value="Order Picked Up"},

                                       new SelectListItem{ Text="In Couriers's Deposite", Value="In Couriers's Deposite"},

                                         new SelectListItem{ Text="Out For Delivery", Value="Out For Delivery"},

                                         new SelectListItem{ Text="Delivered", Value="Delivered"},

                                        }, "Select Delivery Status", new { @id = "ddlDeliveryStatus", @class = "form-control col-md-7 col-xs-12" })


                                                <span id="ErrorDeliveryStatus" class="ErrorValidation">Delivery Status required.</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Expected Delivery Date <span class="required" style="color:red">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.TextBoxFor(m => m.ExpectedDeliveryDate, new { @class = "form-control col-md-7 col-xs-12", @id = "txtExpectedDeliveryDate", @autocomplete = "off", @placeholder = "Expected Delivery Date" })
                                                @Html.ValidationMessageFor(m => m.ExpectedDeliveryDate, "", new { @class = "text-danger" })

                                                <span id="ErrorExpectedDeliveryDate" class="ErrorValidation">Expected Delivery Date required.</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Status Date <span class="required" style="color:red">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.TextBoxFor(m => m.StatusDate, new { @class = "form-control col-md-7 col-xs-12", @id = "txtStatusDate", @autocomplete = "off", @placeholder = "Status Date" })
                                                @Html.ValidationMessageFor(m => m.StatusDate, "", new { @class = "text-danger" })

                                                <span id="ErrorstatusDate" class="ErrorValidation">Status Date required.</span>

                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">                                 

                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.Id, new { id = "hdnId" })
                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }

                                        <input type="reset" value="Reset" id="btnreset" class="btn btn-primary" title="Cancel">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    @*<th>Sr No.</th>*@
                                    <th>
                                        Auction
                                    </th>
                                    <th>
                                        Auctin Date
                                    </th>
                                    <th>
                                        Auctin Lot
                                    </th>
                                    <th>
                                        Product Auction Type
                                    </th>
                                    <th>
                                        Artist Name
                                    </th>
                                    <th>
                                        Product Id
                                    </th>
                                    <th>Product Title </th>
                                    <th>Product Image</th>
                                    <th>Customer Mobile NO</th>
                                    <th>Customer Email</th>
                                    <th>Payment Mode</th>
                                    <th>Payment Status</th>
                                    <th>Payment Detail</th>
                                    <th>Service Provider</th>
                                    <th>AWB Number</th>
                                    <th>Customer Name</th>
                                    <th>Delivery Address</th>
                                    <th>Delivery Status</th>
                                    <th>Expected Delivery Date</th>
                                    <th>status Date</th>

                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                            @*<td>@Html.DisplayFor(modelItem => item.Sr)</td>*@

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Auctionname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.auctiondate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.reference)
                                            </td>
                                            <td>
                                                @Html.Raw(item.auctionType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ArtistName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Productid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.thumbnail)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mobile)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PaymentType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PaymentStatus)
                                            </td>
                                            <td>
                                                @Html.Raw(item.PaymentDetails)
                                                @*@Html.DisplayFor(modelItem => item.PaymentDetails)*@
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShippingServiceProvider)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AWBNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BillingName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DeliveryAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DeliveryStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ExpectedDeliveryDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StatusDate)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditShipping", "AdminCms", new { Id = item.Id})" title="Edit">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>

                                                <a href="@Url.Action("DeleteShipping", "AdminCms", new { Id = item.Id })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



@Scripts.Render("~/Admin/FormValidation")
<script src="@Url.Content("~/Content/Admin/datepicker/jquery-ui.js")"></script>
<link href="@Url.Content("~/Content/Admin/datepicker/jquery-ui.css")" rel="stylesheet" />
<script src="~/Content/Admin/ckeditor/ckeditor.js?@DateTime.Now.Millisecond"></script>

<script>
    $(function () {
        $('#ddllist').change(function () {
            $.getJSON('/AdminCms/BindAuctionDate/' + $('#ddllist').val(), function (data)
                //$.getJSON('/AdminCms/BindAuctionDate/' + $("#ddllist option:selected").text(), function (data)
            {
                var items = '<option>Select Auction Date</option>';
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                });
                $('#ddlPagelist').html(items);
            });
        });

        //alert($('#hdnSubId').val())

        var hdnAuctionidDateEdit = $('#hdnAuctionidDateEdit').val();
        //alert($('#ddllist').val())
        //debugger;
        if (hdnAuctionidDateEdit != "Select Auction Date") {
            $.getJSON('/AdminCms/BindAuctionDate/' + $('#ddllist').val(), function (data) {
                var items = '<option>Select Auction Date</option>';
                $.each(data, function (i, state) {
                    if (state.Value == hdnAuctionidDateEdit) {
                        items += "<option value='" + state.Value + "' selected>" + state.Text + "</option>";

                    } else {
                        items += "<option value='" + state.Value + "'>" + state.Text + "</option>";

                    }
                });
                $('#ddlPagelist').html(items);
            });
        }

    });




    $(function () {
        $('#ddlPagelist').change(function () {

            $.getJSON('/AdminCms/BindAuctionLot/' + $('#ddllist').val(), function (data) {
                //$.getJSON('/AdminCms/BindAuctionLot/' + $('#ddllist').val(), $('#ddlPagelist').val(), function (data) {
                var items = '<option>Select Auction Lot</option>';
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                });
                $('#ddlLotlist').html(items);
            });
        });


        var hdSubVal = $('#hdnreference').val();
        //alert(typeof (hdSubVal))
        if (hdSubVal != "0") {
            $.getJSON('/AdminCms/BindAuctionLot/' + $('#ddllist').val(), function (data) {
                var items = '<option>Select Auction Lot</option>';
                $.each(data, function (i, state) {
                    if (state.Value == hdSubVal) {
                        items += "<option value='" + state.Value + "' selected>" + state.Text + "</option>";

                    } else {
                        items += "<option value='" + state.Value + "'>" + state.Text + "</option>";

                    }
                });
                $('#ddlLotlist').html(items);
            });
        }

    });


    $(function () {
        $('#ddlLotlist').change(function () {
            //alert(typeof $('#ddlLotlist').val());
            $.getJSON('/AdminCms/getdataShipping/' + $('#ddlLotlist').val(), function (data) {
                $.each(data, function (i, state) {
                    $('#txtBillingName').val(state.BillingName);
                    $('#txtBillingAddress').val(state.BillingAddress);
                    $('#txtGSTIN').val(state.GSTIN);
                    $('#txtDeliveryAddress').val(state.DeliveryAddress);

                    $('#txtArtistName').val(state.ArtistName);


                    $('#txtProductid').val(state.Productid);
                    $('#txttitle').val(state.title);
                    $('#txtmedium').val(state.medium);
                    $('#txtproductsize').val(state.productsize);
                    $('#txtBidpricers').val(state.Bidpricers);
                    $('#txtBidpriceus').val(state.Bidpriceus);
                    $('#txtthumbnail').val(state.thumbnail);
                    $('#txtauctionType').val(state.auctionType);


                    $('#txtuserCountry').val(state.userCountry);
                    $('#txtstate').val(state.state);

                    $('#txtPrVat').val(state.PrVat);
                    $('#txtisInternational').val(state.isInternational);
                    $('#txtisInternationalGST').val(state.isInternationalGST);
                    $('#txtastaguruPrice').val(state.astaguruPrice);
                    $('#txtusedGoodPercentage').val(state.usedGoodPercentage);


                    $('#txtmobile').val(state.Mobile);
                    $('#txtEmail').val(state.Email);

                });

            });
        });

    });


    var type = $('#ddlPaymentStatus').val();
    if (type == 'Done') {
        $('#ShippingProvider').show();
    }

    else {
        $('#ShippingProvider').hide();
    }

    $('#ddlPaymentStatus').change(function () {
        var type = $(this).val();
        if (type == 'Done') {
            //$('#txtVideoUrl').rules('remove', 'required');
            //$('#fileUploadThumbImage').rules('remove', 'required');
            //$('#fileUploadImage').rules('add', 'required');

            $('#ShippingProvider').show();
        }

        else {
            $('#ShippingProvider').hide();
        }
    })




    var ShippingServiceProvider = $('#ddlServiceProvider').val();
    if (ShippingServiceProvider == 'Bluedart' || ShippingServiceProvider == 'Fedex') {
        $('#ApiProvider').show();
        $('#Inhouse').hide();

    }
    else if (ShippingServiceProvider == 'Inhouse Service Provider') {

        $('#Inhouse').show();
        $('#ApiProvider').hide();
    }

    else {

        $('#Inhouse').hide();
        $('#ApiProvider').hide();
    }


    $('#ddlServiceProvider').change(function () {
        var ShippingServiceProvider = $(this).val();
        if (ShippingServiceProvider == 'Bluedart' || ShippingServiceProvider == 'Fedex') {
            $('#ApiProvider').show();
            $('#Inhouse').hide();

        }
        else if (ShippingServiceProvider == 'Inhouse Service Provider') {

            $('#Inhouse').show();
            $('#ApiProvider').hide();
        }

        else {

            $('#Inhouse').hide();
            $('#ApiProvider').hide();
        }
    });



    //$("#ddllist").change(function () {
    //        var ddtextauctionname = $("#ddllist option:selected").text();
    //        $("#hiddenAuction").val(ddtextauctionname);

    //})


    //    $("#ddlPagelist").change(function () {
    //        var ddtextauctiondate = $("#ddlPagelist option:selected").text();
    //        $("#hiddenauctiondate").val(ddtextauctiondate);

    //    })


    //    $("#ddlLotlist").change(function () {
    //        var ddtextlot = $("#ddlLotlist option:selected").text();
    //        $("#hiddenauctionlot").val(ddtextlot);

    //    })


    $('.StoreDDLValueinhihhenfields').click(function () {

        var AuctionName = $("#ddllist option:selected").text();
        $("#hiddenAuction").val(AuctionName);

        var auctiondate = $("#ddlPagelist option:selected").text();
        $("#hiddenauctiondate").val(auctiondate);

        var Lot = $("#ddlLotlist option:selected").text();
        $("#hiddenauctionlot").val(Lot);

    })



    CKEDITOR.replace("txtDescription");


    
    $("#btnsumbit").click(function () {

        debugger;
        var Blank1 = false;
        var message = "";


        if ($('#ddllist').val() == '') {
            $('#ErrorAuction').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorAuction').css('display', 'none');

        }


        if ($('#ddlPagelist').val() == 'Select Auction Date') {
            $('#ErrorAuctionDate').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorAuctionDate').css('display', 'none');
        }

        if ($('#ddlLotlist').val() == 'Select Auction Lot') {
            $('#ErrorAuctionLot').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorAuctionLot').css('display', 'none');
        }

        if ($('#txtauctionType').val() == '') {
            $('#ErrorAuctionType').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorAuctionType').css('display', 'none');
        }

        if ($('#txtArtistName').val() == '') {
            $('#ErrorArtistName').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorArtistName').css('display', 'none');
        }

        if ($('#txtProductid').val() == '') {
            $('#ErrorProductId').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorProductId').css('display', 'none');
        }

        if ($('#txttitle').val() == '') {
            $('#ErrorProductTitle').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorProductTitle').css('display', 'none');
        }

        if ($('#txtthumbnail').val() == '') {
            $('#ErrorProductImage').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorProductImage').css('display', 'none');
        }

        if ($('#txtmobile').val() == '') {
            $('#ErrorCustomerMobile').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorCustomerMobile').css('display', 'none');
        }


        if ($('#txtEmail').val() == '') {
            $('#ErrorCustomerEmail').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorCustomerEmail').css('display', 'none');
        }


        if ($('#ddlPaymentMode').val() == '') {
            $('#ErrorPaymentMode').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorPaymentMode').css('display', 'none');
        }



        if ($('#ddlPaymentStatus').val() == '') {
            $('#ErrorPaymentStatus').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorPaymentStatus').css('display', 'none');
        }


        if ($('#ddlPaymentStatus').val() == 'Done') {

            //if ($('#txtDescription').val() == '') {
            //    $('#ErrorPaymentDetail').css('display', 'block');
            //    Blank1 = true;
            //}
            //else {
            //    $('#ErrorPaymentDetail').css('display', 'none');
            //}



            if ($('#ddlServiceProvider').val() == '') {
                $('#ErrorServiceProvider').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrorServiceProvider').css('display', 'none');
            }

            if ($('#ddlServiceProvider').val() == 'Bluedart' || $('#ddlServiceProvider').val() == 'Fedex') {
                if ($('#txtAWBNumber').val() == '') {
                    $('#ErrorAWBNumber').css('display', 'block');
                    Blank1 = true;
                }
                else {
                    $('#ErrorAWBNumber').css('display', 'none');
                }
            }
            else {
                $('#ErrorAWBNumber').css('display', 'none');
                $('#ErrorPaymentDetail').css('display', 'none');
                $('#ErrorCustomerName').css('display', 'none');
                $('#ErrorDeliveryAddress').css('display', 'none');
                $('#ErrorDeliveryStatus').css('display', 'none');
                $('#ErrorExpectedDeliveryDate').css('display', 'none');
                $('#ErrorstatusDate').css('display', 'none');
            }

            if ($('#ddlServiceProvider').val() == 'Inhouse Service Provider') {
                if ($('#txtBillingName').val() == '') {
                    $('#ErrorCustomerName').css('display', 'block');
                    Blank1 = true;
                }
                else {
                    $('#ErrorCustomerName').css('display', 'none');
                }


                if ($('#txtDeliveryAddress').val() == '') {
                    $('#ErrorDeliveryAddress').css('display', 'block');
                    Blank1 = true;
                }
                else {
                    $('#ErrorDeliveryAddress').css('display', 'none');
                }


                if ($('#ddlDeliveryStatus').val() == '') {
                    $('#ErrorDeliveryStatus').css('display', 'block');
                    Blank1 = true;
                }
                else {
                    $('#ErrorDeliveryStatus').css('display', 'none');
                }

                if ($('#txtExpectedDeliveryDate').val() == '') {
                    $('#ErrorExpectedDeliveryDate').css('display', 'block');
                    Blank1 = true;
                }
                else {
                    $('#ErrorExpectedDeliveryDate').css('display', 'none');
                }

                if ($('#txtStatusDate').val() == '') {
                    $('#ErrorstatusDate').css('display', 'block');
                    Blank1 = true;
                }
                else {
                    $('#ErrorstatusDate').css('display', 'none');
                }

            }
            else {

                $('#ErrorPaymentDetail').css('display', 'none');
                $('#ErrorCustomerName').css('display', 'none');
                $('#ErrorDeliveryAddress').css('display', 'none');
                $('#ErrorDeliveryStatus').css('display', 'none');
                $('#ErrorExpectedDeliveryDate').css('display', 'none');
                $('#ErrorstatusDate').css('display', 'none');
            }
        }

        else {
            $('#ErrorPaymentDetail').css('display', 'none');
            $('#ErrorPaymentDetail').css('display', 'none');
            $('#ErrorServiceProvider').css('display', 'none');
            $('#ErrorAWBNumber').css('display', 'none');

            $('#ErrorCustomerName').css('display', 'none');
            $('#ErrorDeliveryAddress').css('display', 'none');
            $('#ErrorDeliveryStatus').css('display', 'none');
            $('#ErrorExpectedDeliveryDate').css('display', 'none');
            $('#ErrorstatusDate').css('display', 'none');
        }

            if (Blank1) {

                return false;

            }
            else {
                //return true;
            }

        });

</script>

<style>
    .ErrorValidation {
        display: none;
        color: #dc3545 !important;
        margin-bottom: 10px;
    }
</style>



