﻿@model Astaguru.Models.consign
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin || consign Images";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main" style="min-height:0px!important;">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Sr.No
                                    </th>
                                    <th>
                                        Images
                                    </th>
                        
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.consignList != null)
                                {
                                    foreach (var item in Model.consignList)
                                    {
                                        <tr class="counter">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Sr)
                                            </td>
                                            <td>
                                                <IMG SRC="@item.UploadPhotos" height="150" width="150"  />
                                               
                                            </td>
                                          
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>


    </div>
</div>
