﻿@model Astaguru.Models.AdminCms.Invoice
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin || Under Bidders";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("UnderBidders", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Under Bidders</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Select Auction <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.Auctionid, Model.AuctionNameList, "Select Auction", new { @id = "ddllist", @class = "form-control col-md-7 col-xs-12" })

                                        @*@Html.DropDownListFor(model => model.Auctionname, Model.AuctionNameList, "Select Auction", new { @id = "ddllist", @class = "form-control col-md-7 col-xs-12" })*@
                                        @Html.HiddenFor(m => m.Auctionid, new { id = "hdnAuctionId" })
                                        @Html.HiddenFor(m => m.Auctionname, new { id = "hdnAuctionname" })
                                        @Html.Hidden("Auctionname", null, new { @id = "hdnAuctionname" })

                                        <input type="hidden" id="hiddenAuction" name="hiddenAuction" value="" />

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Auction Date <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="ddlPagelist" name="PageName" class=form-control col-md-7 col-xs-12></select>
                                        @Html.ValidationMessageFor(m => m.auctiondate, "", new { @class = "text-danger" })
                                        @*@Html.HiddenFor(m => m.Auctionid, new { Id = "hdnAuctionidDate" })*@
                                        <input type="hidden" id="hiddenauctiondate" name="hiddenauctiondate" value="" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Auction Lot <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="ddlLotlist" name="PageName" class=form-control col-md-7 col-xs-12></select>
                                        @Html.ValidationMessageFor(m => m.reference, "", new { @class = "text-danger" })
                                        @*@Html.HiddenFor(m => m.reference, new { Id = "hdnreference" })*@
                                        @*@Html.HiddenFor(m => m.referenceid, new { Id = "hdnreferenceid" })*@
                                        <input type="hidden" id="hiddenauctionlot" name="hiddenauctionlot" value="" />
                                    </div>
                                </div>


                                

                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @*<input type="submit" value="Create Invoice" id="btnInvoice" class="btn btn-success StoreDDLValueinhihhenfields" title="Create Invoice" name="btnAction">*@
                                        <input type="submit" value="Export To Excel" id="btnInvoice" class="btn btn-success StoreDDLValueinhihhenfields" title="Export To Excel" name="btnAction">
                                        <button type="button" id="ShowDetails" class="btn btn-primary">
                                            Filter Data
                                        </button>
                                        <a href="@Url.Action("UnderBidders", "AdminCms")" title="Edit">
                                            <button type="button" class="btn btn-danger">
                                                Reset Filter Data
                                            </button>
                                        </a> 
                                     </div>
                                </div>
                                <div class="form-group">
                                  
                                    </div>
                                <div>
                                    
                                </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        }


        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>           
                                    <th>
                                        Reference
                                    </th>

                                    <th>
                                        Bidpricers
                                    </th>

                                    <th>
                                        Bidpriceus
                                    </th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        mobile
                                    </th>
                                    <th>
                                        email
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        Artist Name
                                    </th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                          
                                            <td>
                                                @Html.DisplayFor(modelItem => item.reference)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.pricers)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.priceus)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.username)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.mobile)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.fullAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.artist)
                                            </td>
                                         
                                         
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


@Scripts.Render("~/Admin/FormValidation")
<script src="@Url.Content("~/Content/Admin/datepicker/jquery-ui.js")"></script>
<link href="@Url.Content("~/Content/Admin/datepicker/jquery-ui.css")" rel="stylesheet" />

<script>
    $(function () {
        $('#ddllist').change(function () {
            $.getJSON('/AdminCms/BindAuctionDate/' + $('#ddllist').val(), function (data)
            //$.getJSON('/AdminCms/BindAuctionDate/' + $("#ddllist option:selected").text(), function (data)
                {
                var items = '<option>Select Auction Date</option>';
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                });
                $('#ddlPagelist').html(items);
            });
        });

        //alert($('#hdnSubId').val())

        var hdSubVal = $('#hdnAuctionidDate').val();
        //alert(typeof (hdSubVal))
        if (hdSubVal != "0") {
            $.getJSON('/AdminCms/BindAuctionDate/' + $('#ddllist').val(), function (data) {
                var items = '<option>Select Auction Date</option>';
                $.each(data, function (i, state) {
                    if (state.Value == hdSubVal) {
                        items += "<option value='" + state.Value + "' selected>" + state.Text + "</option>";

                    } else {
                        items += "<option value='" + state.Value + "'>" + state.Text + "</option>";

                    }
                });
                $('#ddlPagelist').html(items);
            });
        }

    });




    $(function () {
        $('#ddlPagelist').change(function () {

            $.getJSON('/AdminCms/BindAuctionLot/' + $('#ddllist').val(), function (data) {
            //$.getJSON('/AdminCms/BindAuctionLot/' + $('#ddllist').val(), $('#ddlPagelist').val(), function (data) {
                var items = '<option>Select Auction Lot</option>';
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                });
                $('#ddlLotlist').html(items);
            });
        });


        var hdSubVal = $('#hdnreference').val();
        //alert(typeof (hdSubVal))
        if (hdSubVal != "0") {
            $.getJSON('/AdminCms/BindAuctionLot/' + $('#ddllist').val(), function (data) {
                var items = '<option>Select Auction Lot</option>';
                $.each(data, function (i, state) {
                    if (state.Value == hdSubVal) {
                        items += "<option value='" + state.Value + "' selected>" + state.Text + "</option>";

                    } else {
                        items += "<option value='" + state.Value + "'>" + state.Text + "</option>";

                    }
                });
                $('#ddlLotlist').html(items);
            });
        }

    });





    //calender

    $(function () {
        $('.calender').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy'
        });
    });

    function ReadOnlyFun(e) {
        e.preventDefault();
    }


    $(document).ready(function () {
        //$("#ddlLotlist").change(function () {
        //    var ddtextauctionname = $("#ddllist option:selected").text();
        //    $("#hiddenAuction").val(ddtextauctionname);

        //})

        $("#ddllist").change(function () {
            var ddtextauctionname = $("#ddllist option:selected").val();
            $("#hiddenAuction").val(ddtextauctionname);

        })


        $("#ddlPagelist").change(function () {
            var ddtextauctiondate = $("#ddlPagelist option:selected").text();
            $("#hiddenauctiondate").val(ddtextauctiondate);

        })

        $("#ddlLotlist").change(function () {
            var ddtextlot = $("#ddlLotlist option:selected").text();
            $("#hiddenauctionlot").val(ddtextlot);

        })
    });

    $('#ShowDetails').click(function () {
        debugger;

        var ddtextauctionname = $("#ddllist option:selected").val();
        $("#hiddenAuction").val(ddtextauctionname);

        var ddtextauctiondate = $("#ddlPagelist option:selected").text();
        $("#hiddenauctiondate").val(ddtextauctiondate);

        var ddtextlot = $("#ddlLotlist option:selected").text();
        $("#hiddenauctionlot").val(ddtextlot);

        hiddenauctionval = $('#hiddenAuction').val();
        hiddenauctionlotval = $('#hiddenauctionlot').val();
        var url = "/AdminCms/FilterUnderBiddersList?auctionId=" + hiddenauctionval + "&lots=" + hiddenauctionlotval;
        $.ajax({
            type: "Post",
            @*url: "@Url.Action("ShowDatabyAuction", "AdminCms")",*@
            url: url,
            //data: { auctionId: hiddenauctionval },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                //console.log("success " + response.d);
                window.location.href = "/AdminCms/FilterUnderBiddersList?auctionId=" + hiddenauctionval + "&lots=" + hiddenauctionlotval;
            },
            failure: function (response) {
                console.log("failed " + response.d);
            }
        })




    });
</script>


<style>
    /* MODIFIED DATE PICKER */
    .ui-datepicker {
        width: 250px !important;
        padding: 2px !important;
        font-size: 14px !important;
    }

        .ui-datepicker table {
            margin: 0 !important;
        }

        .ui-datepicker .ui-widget-header {
            background: #04869a !important;
            /*color: #fff;*/
            font-weight: normal;
        }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        margin: 0px 4px !important;
        font-size: 13px !important;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }
</style>
