﻿@model Astaguru.Models.User
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin || Users";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("Users", "AdminCms", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>All Users</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                {
                    if (TempData["Message"].ToString() == "success")
                    {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>



                            <div class="modal fade" id="myModal_editUser">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                                            <h3 class="modal-title">Edit User</h3>
                                        </div>
                                        <div class="modal-body" id="myModalBodyDivNew">                                           
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" id="hiddenUserId" />
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="form-group" style="text-align:center">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <input type="submit" value="Delete Records" id="btnDelete" class="btn alert-danger StoreDDLValueinhihhenfields" title="Delete" name="btnAction" onclick="return confirm('Are you sure you want to delete this Record?')">
                                <input type="submit" value="Update All Users Amount Limit" id="btnUpdateBidLimit" class="btn alert-success StoreDDLValueinhihhenfields" title="Update Bid Limit" name="btnAction" onclick="return confirm('Are you sure you want to Update All users Bid Limit?')">
                            </div>
                        </div>
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkAll" /></th>
                                    <th>Action</th>
                                    <th>Sr No.</th>
                                    <th>
                                        Userid
                                    </th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        Password
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Lastname
                                    </th>
                                    <th>
                                        Address1
                                    </th>
                                    <th>
                                        Address2
                                    </th>
                                    <th>
                                        City
                                    </th>

                                    <th>
                                        state
                                    </th>
                                    <th>
                                        Zip
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        Telephone
                                    </th>
                                    <th>
                                        Mobile
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        How Do You Here About Us
                                    </th>
                                    <th>
                                        Billing Name
                                    </th>
                                    <th>
                                        Billing Address
                                    </th>
                                    <th>
                                        Billing City
                                    </th>
                                    <th>
                                        Billing State
                                    </th>
                                    <th>
                                        Billing Country
                                    </th>
                                    <th>
                                        Billing Zip
                                    </th>
                                    <th>
                                        GSTIN
                                    </th>
                                    <th>
                                        panCard
                                    </th>
                                    <th>
                                        aadharCard
                                    </th>                             
                                    <th>
                                        Registration Date

                                    </th>
                                    <th>
                                        Last Logged Date
                                    </th>

                                    <th>
                                        Amount limit
                                    </th>
                                    <th>
                                        Confirmation
                                    </th>
                                    <th>
                                        Applyforbid
                                    </th>
                                    <th>
                                        Mobile
                                    </th>
                                    <th>
                                            Mobile Verified
                                        </th>
                                        <th>
                                            Email Verified
                                        </th>
                                    <th>
                                        Unlimited Access (isOldUser)
                                    </th>
                                   
                                    <th>
                                        Original Bid Limit
                                    </th>
                                    
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                            <td>
                                                <input type="checkbox" class="checkBox" value="@item.userid" />
                                            </td>

                                            <td>
                                                <a href="#" title="Edit" onclick="EditUser(@item.userid)"><button type="button" class="btn "><i class="fa fa-edit"></i></button></a>
                                                <a href="@Url.Action("DeleteUser", "AdminCms" , new { Id = item.userid })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>
                                            </td>

                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.userid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.username)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.password)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lastname)

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.address1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.address2)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.city)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.state)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.zip)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.country)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BillingTelephone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mobile)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.about)
                                            </td>
                                            <td>
                                               @Html.DisplayFor(modelItem => item.BillingName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BillingAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BillingCity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BillingState)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BillingCountry)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BillingZip)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GSTIN)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.panCard)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.aadharCard)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RegistrationDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastLoggedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.amountlimt)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.bconfirmbid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.bapplyforbid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mobile)
                                            </td>
                                            <td>
                                                    @Html.DisplayFor(modelItem => item.bMobileVerified)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.bEmailVerified)
                                                </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.bisOldUser)
                                            </td>
                                         
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FixedAmountLimit)
                                            </td>
                                         
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



<script>

    var EditUser = function (userid) {

        //$("#myModal1").modal("show");
        var url = "/AdminCms/EditUser?userid=" + userid;
       
        $("#myModalBodyDivNew").load(url, function () {
            $("#myModal_editUser").modal("show");

        })

    }
</script>

@Scripts.Render("~/Admin/FormValidation")

<script>
    $(document).ready(function () {
        $("#checkAll").click(function () {
            $(".checkBox").prop('checked',
                $(this).prop('checked'));
        });
    });

    $("#btnDelete").click(function () {
        var selectedIDs = new Array();

        $('input:checkbox.checkBox').each(function () {
            if ($(this).prop('checked')) {
                selectedIDs.push($(this).val());
            }
        });

        selectedIDs = JSON.stringify(selectedIDs);

        var options = {};
        options.url = "/AdminCms/DeleteUsers";
        options.type = "POST";

        options.data = selectedIDs;

        options.contentType = "application/json";
        options.dataType = "json";
        options.success = function (msg) {
            alert(msg);
            location.reload(true);
        };
        options.error = function () {
            //alert("Error while sending Notification!");
            console.log("");
        };
        $.ajax(options);

    });
</script>

<script>
    $("#btnUpdateBidLimit").click(function () {
        var options = {};
        options.url = "/AdminCms/UpdateUsersAmountLimit";
        options.type = "GET";

        options.contentType = "application/json";
        options.dataType = "json";
        options.success = function (msg) {
            alert(msg);
            location.reload(true);
        };
        options.error = function () {
            //alert("Error while sending Notification!");
            location.reload(true);

        };
        $.ajax(options);

    });
</script>
