﻿ body {font-family: "Roboto Condensed",sans-serif;margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;}
table {border-collapse: collapse;border-spacing: 0;}
.page-container{width:1100px; margin:0 auto;}
.page-container.f-cspace{margin-bottom:60px}
.logo{margin-top:13px;}
.top-header {padding:20px 0;background-color:#000}
.inner-container {padding:0 30px}
.cin-number {padding-top:10px;font-size:22px;font-weight:bold;}
.left{float:left}
.right{float:right}
.profoma {font-weight:bold;font-size:24px;padding:15px 0 34px}
.clear{clear:both}
.text-left {
    text-align: left;
}
.num-date {border:solid 1px #000;padding:10px;font-size:16px}
    .num-date span {font-weight:bold;width:140px;display:inline-block;margin-bottom:10px}
.custinfo {width:70%;margin: 40px 0px 70px;}
        .custinfo table {width:100%}
.custinfo table, th, td { border: 1px solid black;border-collapse: collapse;text-align:center}
.custinfo table th, .custinfo table td  {  font-size:14px;color:#000;font-weight:bold;padding:10px;vertical-align: top;text-align:left}
.prodinfo {width:100%;margin: 0px 0px 20px;}
.prodinfo table, th, td { border: 1px solid black;border-collapse: collapse}
    .prodinfo table td {vertical-align:top;text-transform:none;padding:5px 10px}
    .prodinfo table th {font-size:16px;color:#000;font-weight:bold;padding:5px 10px;text-transform: capitalize;}
     .prodinfo table td.one{width:30%}
      .prodinfo table td.two{width:55%;text-align:left}
    .prodinfo table td:last-child{width:15%;text-align:right;font-size:14px}
.buyerPrem {font-weight:bold;font-size:14px}
.img-info {font-size:13px;margin-top:50px;padding-left: 0;list-style: none;}
    .img-info li {margin-bottom:5px}
.img-info span {width:70px;display:inline-block}
.ser-tax span {font-size:15px;margin-right:10px}
.amt-word,.amt-word span{font-weight:bold;font-size:16px}
.amt-word {margin-bottom:10px}
    .amt-word span {margin-right:20px}
.payment-info {border:solid 1px #000;padding:20px;margin-bottom:10px}
.text-transNone {text-transform:none}
.auth {font-size:14px;margin:30px 0 5px}
.payment-info .left-container{width:37%;float:left;text-align: left}
.payment-info .right-container{width:60%;float:right;text-align: left}
    .payment-info .left-container p {font-size:12px;margin-top:20px;color:#000}
        .payment-info .left-container p span {display:block}
.favour{font-size:16px;font-weight:bold}
.favour span {display:block;font-weight:bold;font-size:20px}
.paycheque {margin:10px 0 5px;font-size:18px }
.payment-info .right-container ul {margin-top:15px;padding-left:0;list-style:none}
.payment-info .right-container ul li {font-size:14px;margin-bottom:8px}
.payment-info .right-container ul li span {display:inline-block;width:178px;font-weight: normal;}
.company-code {padding:10px 0}
.company-code span {width:250px;font-weight:bold;font-size:14px;display:inline-block;text-align:left}
.company-code span.effectivedate {font-weight:normal;text-align:left}
.cst-tin {margin-left:100px}
.footer-add {margin:10px 0 20px}
.footer-add p {margin-bottom:2px;font-size:13px;color:#000;text-align:center;margin-top:3px}
.deliveryadd {margin-bottom:15px}
.ser-tax span:first-child{width:269px;display:inline-block}
        .deliveryadd table {width:100%}
.deliveryadd table td {font-size:14px;padding:5px;text-align:center}
.note-pro {font-size:14px;margin:20px 0}
    .note-pro span {font-weight:bold}
    .borderRightnone {border-right:0}
.borderLeftnone {border-left:0}
.bordBtmblack {border-bottom:solid 1px #000}
.bordTopblack {border-top:solid 1px #000}
.bold {font-weight:700}
