﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="~/Content/favicon.jpg" type="image/jpg" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Prata|Roboto+Condensed:400,700" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css">
    <link rel="stylesheet" id="theme" href="~/Content/css/selectric.css">
    <link href="~/Content/css/sumoselect.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/easy-responsive-tabs.css " />
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css" />
    <link href="~/Content/css/lightslider.css" rel="stylesheet" />
    <link href="~/Content/css/photoviewer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style.css" />

    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/js/jquery-2.1.1.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/slick.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.selectric.js"></script>
    <script src="~/Content/js/jquery.sumoselect.js" type="text/javascript"></script>
    <script src="~/Content/js/easyResponsiveTabs.js"></script>

    <script src="~/Content/js/cloudzoom.js"></script>
    <script src="~/Content/js/thumbelina.js"></script>
    <script src="~/Content/js/jquery.fancybox.js"></script>
    <script src="~/Content/js/lightslider.js"></script>
    <script src="~/Content/js/photoviewer.js"></script>
    <script src="~/Content/js/readmore.js"></script>

    <script src="~/Content/js/commonJs.js"></script>
    <script src="~/Content/js/modernizr.js"></script>

    <script src="~/Content/js/jquery.time-to.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>

    @*<div id="wrapper" class="footer_pages_content">*@
        <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
            <h3 class="sbold uppercase">Why AstaGuru?</h3>

            <div class="row custom_row">
                <div class="col-md-8 extra-margin-top-30 custom_col">

                    @Html.Raw(ViewBag.CareerDesc)
                    <div class="hrline extra-margin-top-30"></div>
                    <h3 class="sbold uppercase extra-padding-top-40">Current Vacancy</h3>
                    <div class="accordion extra-margin-top-30" id="accordionExample">
                        @Html.Raw(ViewBag.CurrentVacancy)
           
                    </div>
                </div><!-- col -->
                <div class="col-md-4 extra-margin-top-40 custom_col text-right">
                    <div class="careers_form text-left" id="apply_now_form">
                        <h4 class="sbold">Apply Here</h4>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="form_label">Full Name</label>
                                <input type="text" class="form-control" />
                            </div><!-- col -->
                        </div><!-- form-group -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="form_label">Email Address</label>
                                <input type="text" class="form-control" />
                            </div><!-- col -->
                        </div><!-- form-group -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="form_label">Job Title</label>
                                <select class="select_search" name="ctl00$ContentPlaceHolder1$ddljobtitle" id="ctl00_ContentPlaceHolder1_ddljobtitle">
                                    <option value="0">Select</option>
                                    <option value="1">Client Relations Executive</option>
                                    <option value="2">Content &amp; Research Associate</option>
                                    <option value="3">Market Analyst</option>
                                    <option value="4">Graphic Designer</option>
                                    <option value="5">Admin Executive</option>
                                    <option value="6">Executive- Public Relations</option>
                                    <option value="7">Team Manager</option>
                                </select>
                            </div><!-- col -->
                        </div><!-- form-group -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="form_label">Upload your resume</label>
                                <div class="import_col">
                                    <input type="file" name="file-2[]" id="file-1" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple />
                                    <label class="upload_col" for="file-1">
                                        <span><img src="images/icon-upload-resume.svg" /><br>Browse File</span>
                                    </label>
                                </div><!-- import_col -->
                            </div><!-- col -->
                        </div><!-- form-group -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="form_label">Message</label>
                                <textarea rows="3" class="form_textarea"></textarea>
                            </div><!-- col -->
                        </div><!-- form-group -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="form_label">How did you hear about us?</label>
                                <select class="select_search" name="ctl00$ContentPlaceHolder1$ddlcategory" id="ctl00_ContentPlaceHolder1_ddlcategory">
                                    <option value="0">Select</option>
                                    <option value="1">Client Relations Executive</option>
                                    <option value="2">Content &amp; Research Associate</option>
                                    <option value="3">Market Analyst</option>
                                    <option value="4">Graphic Designer</option>
                                    <option value="5">Admin Executive</option>
                                    <option value="6">Executive- Public Relations</option>
                                    <option value="7">Team Manager</option>
                                </select>
                            </div><!-- col -->
                        </div><!-- form-group -->
                        <div class="form-group">
                            <div class="col-md-12 extra-margin-top-30">
                                <button type="submit" class="btn_grey_dark btn_min_width"><span>Send</span></button>
                            </div><!-- col -->
                        </div><!-- form-group -->
                    </div><!-- careers_form -->
                </div><!-- col -->
            </div><!-- row -->

        </div><!-- content -->

    @*</div>*@<!-- Wrapper -->

</body>
</html>
