﻿
@{
    Layout = null;
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="~/Content/favicon.jpg" type="image/jpg" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Prata|Roboto+Condensed:400,700" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css">
    <link rel="stylesheet" id="theme" href="~/Content/css/selectric.css">
    <link href="~/Content/css/sumoselect.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/easy-responsive-tabs.css " />
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css" />
    <link href="~/Content/css/lightslider.css" rel="stylesheet" />
    <link href="~/Content/css/photoviewer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style.css" />

    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/js/jquery-2.1.1.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/slick.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.selectric.js"></script>
    <script src="~/Content/js/jquery.sumoselect.js" type="text/javascript"></script>
    <script src="~/Content/js/easyResponsiveTabs.js"></script>

    <script src="~/Content/js/cloudzoom.js"></script>
    <script src="~/Content/js/thumbelina.js"></script>
    <script src="~/Content/js/jquery.fancybox.js"></script>
    <script src="~/Content/js/lightslider.js"></script>
    <script src="~/Content/js/photoviewer.js"></script>
    <script src="~/Content/js/readmore.js"></script>

    <script src="~/Content/js/commonJs.js"></script>
    <script src="~/Content/js/modernizr.js"></script>

    <script src="~/Content/js/jquery.time-to.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>

<body>
    @*<div id="wrapper" class="footer_pages_content">*@
        <div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
            <div class="title_flex">
                <h3 class="sbold uppercase">Classic & Vintage Automobile</h3>

                @*<a href="@baseUrlPath/MobileApp/Departments" class="link_back"><i class="icon-prev"></i> Back</a>*@
            </div>

            <div class="row custom_row">
                <div class="col-md-6 extra-margin-top-40 custom_col">
                    <p>Automobiles of the bygone era hold a contagious fascination among the enthusiasts. They are magnificent specimens entwining art, craftsmanship, design and engineering prevalent during that particular time in history. Vintage and classic cars reflect timeless élan and are suggestive of refined tastes and elegance. AstaGuru brings forth such classic masterpieces of legendary provenance and history to the forefront to be appreciated by the true devotees of the trade. </p>

                    <p class="color_light"><b>The GST on all sales under this segment will be charged as follows:</b> <br>
•	GST on sale of used goods procured from non-business entity under this segment will be charged at 18% rate on the margin value prescribed under Rule 32(5) of CGST rules. <br>
•	GST on sale of all goods other than those falling under above category will be charged at 18% on full sales value.
 <br><br>
<b>Lot categorized as Antique (over 100 years) under the antiquities and art treasures act, 1972 will be charged as-</b> <br>
•	GST on sale of used goods procured from non-business entity under this segment will be charged at 12% rate on the margin value prescribed under Rule 32(5) of CGST rules.<br>
•	GST on sale of all goods other than those falling under above category will be charged at 12% on full sales value.
</p>			</p>
                </div><!-- col -->
                <div class="col-md-6 extra-margin-top-40 custom_col text-right">
                    <div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/cWiHNgYD5IE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
                </div><!-- col -->
            </div><!-- row -->
            <div class="row">
                <div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/Jahangir.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Jehangir Bhoot</h5>
					<h6>Automobile</h6>						
					<a href="#" class="team_email">jehangir@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->			
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/Suhail.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Suhail Kazi</h5>
					<h6>Automobile</h6>						
					<a href="#" class="team_email">suhail@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->						
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/Raziya.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Razia Parveen</h5>
					<h6>Specialist</h6>						
					<a href="#" class="team_email">razia@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->	
            </div><!-- row -->
        </div><!-- content -->

    @*</div>*@<!-- Wrapper -->

</body>
</html>
