﻿
@{
    Layout = null;
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="~/Content/favicon.jpg" type="image/jpg" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Prata|Roboto+Condensed:400,700" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css">
        <link rel="stylesheet" id="theme" href="~/Content/css/selectric.css">
        <link href="~/Content/css/sumoselect.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/Content/css/easy-responsive-tabs.css " />
        <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css" />
        <link href="~/Content/css/lightslider.css" rel="stylesheet" />
        <link href="~/Content/css/photoviewer.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/Content/css/style.css" />

        <script src="~/Content/js/script.js"></script>
        <script src="~/Content/js/jquery-2.1.1.js"></script>
        <script src="~/Content/js/popper.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/slick.min.js" type="text/javascript"></script>
        <script src="~/Content/js/jquery.selectric.js"></script>
        <script src="~/Content/js/jquery.sumoselect.js" type="text/javascript"></script>
        <script src="~/Content/js/easyResponsiveTabs.js"></script>

        <script src="~/Content/js/cloudzoom.js"></script>
        <script src="~/Content/js/thumbelina.js"></script>
        <script src="~/Content/js/jquery.fancybox.js"></script>
        <script src="~/Content/js/lightslider.js"></script>
        <script src="~/Content/js/photoviewer.js"></script>
        <script src="~/Content/js/readmore.js"></script>

        <script src="~/Content/js/commonJs.js"></script>
        <script src="~/Content/js/modernizr.js"></script>

        <script src="~/Content/js/jquery.time-to.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    </head>

<body>

    @*<div id="wrapper" class="footer_pages_content">*@
        <div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
            <div class="title_flex">
                <h3 class="sbold uppercase">Rare Books & Manuscripts </h3>

                @*<a href="@baseUrlPath/MobileApp/Departments" class="link_back"><i class="icon-prev"></i> Back</a>*@
            </div>

            <div class="row custom_row">
                <div class="col-md-6 extra-margin-top-40 custom_col">
                    <p>From the ancient papyrus scrolls, medieval manuscripts to the modern day manuscripts, books are physical manifestations of the long-gone years. The art of book collection is the highest form of literary appreciation. AstaGuru prides itself in curating rare antiquarian books, first editions by literary masters, travel expeditions and limited publications, to name a few. Our collections are meticulously preened by our team of expert researchers giving focal importance to their subject matter and rarity.</p>

                    <p>Spanning across a plethora of topics such as Architecture, Attire, Civilization, Hunting, Music, Politics and Travels, our past auctions have presented works by Thomas and William Daniel and James Baillie Fraser, Edward Orme and many more. </p>


                    <p class="color_light">The GST on all sales under this segment is charged at 12% on full sale value in accordance with ‘Goods & Service Tax’ regulations.</p>
                    
                </div><!-- col -->
                <div class="col-md-6 extra-margin-top-40 custom_col text-right">
                    <div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/yATy2ch7RPk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
                </div><!-- col -->
            </div><!-- row -->

            <div class="row">
               
            </div><!-- row -->
        </div><!-- content -->

    @*</div>*@<!-- Wrapper -->

</body>
</html>
