﻿
@{
    Layout = null;
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="~/Content/favicon.jpg" type="image/jpg" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Prata|Roboto+Condensed:400,700" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css">
    <link rel="stylesheet" id="theme" href="~/Content/css/selectric.css">
    <link href="~/Content/css/sumoselect.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/easy-responsive-tabs.css " />
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css" />
    <link href="~/Content/css/lightslider.css" rel="stylesheet" />
    <link href="~/Content/css/photoviewer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style.css" />

    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/js/jquery-2.1.1.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/slick.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.selectric.js"></script>
    <script src="~/Content/js/jquery.sumoselect.js" type="text/javascript"></script>
    <script src="~/Content/js/easyResponsiveTabs.js"></script>

    <script src="~/Content/js/cloudzoom.js"></script>
    <script src="~/Content/js/thumbelina.js"></script>
    <script src="~/Content/js/jquery.fancybox.js"></script>
    <script src="~/Content/js/lightslider.js"></script>
    <script src="~/Content/js/photoviewer.js"></script>
    <script src="~/Content/js/readmore.js"></script>

    <script src="~/Content/js/commonJs.js"></script>
    <script src="~/Content/js/modernizr.js"></script>

    <script src="~/Content/js/jquery.time-to.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
    @*<div id="wrapper" class="footer_pages_content">*@
        <div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
            <div class="title_flex">
                <h3 class="sbold uppercase">Numismatic & Philatelic</h3>

                @*<a href="@baseUrlPath/MobileApp/Departments" class="link_back"><i class="icon-prev"></i> Back</a>*@
            </div>

            <div class="row custom_row">
                <div class="col-md-6 extra-margin-top-40 custom_col">
                    <p>Coins and Stamps are a visceral connection to the past that portray peculiar episodes in history. The governing authorities have produced antique pieces which are commemorative of the particular fragment of time. Collecting such keepsakes is like collecting pieces of time itself. </p>
                    <p>In past auctions, AstaGuru has showcased an assortment of over two thousand Indian commemorative stamps dating back to 1946. Another noteworthy collection has been of the worldwide collection of over three hundred Postal items of Mahatma Gandhi.</p>

                    <p class="color_light">The GST on all sales under this segment is charged at 5% on full sale value in accordance with ‘Goods & Service Tax’ regulations.</p>
                </div><!-- col -->
                <div class="col-md-6 extra-margin-top-40 custom_col text-right">
                    <div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/DqIKuNDpycM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
                </div><!-- col -->
            </div><!-- row -->
            <div class="row">
               
            </div><!-- row -->
        </div><!-- content -->

    @*</div>*@<!-- Wrapper -->

</body>
</html>
