﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="~/Content/favicon.jpg" type="image/jpg" />

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
 
    <link rel="stylesheet" href="~/Content/css/style.css" />

    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/js/jquery-2.1.1.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>


    <script src="~/Content/js/jquery.time-to.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/aos.css" rel="stylesheet" />
    <link href="~/Content/css/astaguru_inner_pages.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Content/js/aos.js"></script>


</head>
<body>
@using (Html.BeginForm("media", "MobileApp", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="container-fluid" id="media">
        <div class="row justify-content-between align-items-center mb-5">
            @*<div class="col-12 bgLight text-center">
                <h1 class="mb-0 py-4">Media Coverage</h1>
            </div>*@
            <div class="col-12 text-center">
                <h1 class="mb-0 py-4">Media Coverage</h1>
            </div>

            <div class="search-wrap">
                <div class="input-group">
                    <input type="text" id="txtsearch" placeholder="search" class="form-control" />
                    <input type="hidden" id="hiddenSearchvalue" name="hiddenSearchvalue" value="" />
                    <div class="input-group-append">
                        <button class="btn btn-secondary StoreDDLValueinhihhenfields" type="submit" value="Search" name="btnAction">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            @Html.Raw(ViewBag.media)
            @*<div class="row py-3 px-1 bg-light mb-5 aos-item" data-aos="fade-up">
                    <div class="col-lg-4 imageData">
                        <img src="images/media/1.jpg" class="img-fluid">
                    </div>

                    <div class="col-lg-8 matter">

                        <h2>Hacking a Car with an Ex-NSA Hacker: CYBERWAR</h2>
                        <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> January 16, 2016  /  TV18 </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="#" class="readMore">Read More</a>

                    </div>

                </div>

                <div class="row py-3 px-1 bg-light mb-5 aos-item" data-aos="fade-up">
                    <div class="col-lg-4 imageData">
                        <iframe src="https://www.youtube.com/embed/v6HFa4y6hgw?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="col-lg-8 matter">

                        <h2>Hacking a Car with an Ex-NSA Hacker: CYBERWAR</h2>
                        <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> January 16, 2016  /  TV18 </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="#" class="readMore">Read More</a>

                    </div>

                </div>

                <div class="row py-3 px-1 bg-light mb-5 aos-item" data-aos="fade-up">
                    <div class="col-lg-4 imageData">
                        <img src="images/media/2.jpg" class="img-fluid">
                    </div>

                    <div class="col-lg-8 matter">

                        <h2>Hacking a Car with an Ex-NSA Hacker: CYBERWAR</h2>
                        <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> January 16, 2016  /  TV18 </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="#" class="readMore">Read More</a>

                    </div>

                </div>*@
        </div>


    </div>
}
    <script>
      AOS.init({
        easing: 'ease-in-out-sine'
      });
    </script>

    <script>
    $('.StoreDDLValueinhihhenfields').click(function () {
        debugger;
        var searchtext = $("#txtsearch").val();
        $("#hiddenSearchvalue").val(searchtext);
    })
    </script>
</body>
</html>
