﻿
@{
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    double topFiveBidRs = Model.pricers;
    double topFiveBidUs = Model.pricers / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);
    int NextValidBid = Convert.ToInt32(Astaguru.Services.Common.getNextValidBidAmountForproxy(Model.pricers, 1));
    int usdNextValidPrice = NextValidBid / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);
}
<div id="containerNextFiveBid">
    <a href="javascript:avoid(0)" title="Bid Value" class="view_additional_link" data-popover="true" data-html=true data-content="
       @if (currency == 1) { for (int i = 0; i < 5; i++) { topFiveBidRs = Astaguru.Services.Common.getNextValidBidAmountForproxy(@topFiveBidRs, currency);
        <h5>₹ @Astaguru.Services.Common.rupeeFormat(topFiveBidRs.ToString())</h5>
}
}
else if (currency == 2)
{
    for (int i = 0; i < 5; i++)
    {
        topFiveBidUs = Astaguru.Services.Common.getNextValidBidAmountForproxy(@topFiveBidUs, 1);
        <h5>$ @Astaguru.Services.Common.DollerFormat(topFiveBidUs.ToString())</h5>
    }
}
else
{
    for (int i = 0; i < 5; i++)
    {
        topFiveBidRs = Astaguru.Services.Common.getNextValidBidAmountForproxy(@topFiveBidRs, currency);
    <h5>₹ @Astaguru.Services.Common.rupeeFormat(topFiveBidRs.ToString())</h5>
    }
}">Next Five Bids
</a>
</div>