﻿@model Astaguru.Models.Auction
@{ 
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    Astaguru.Services.UserService.FilterService FS = new Astaguru.Services.UserService.FilterService();
    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    string Bidclosingtime = string.Empty;
    int userid = Convert.ToInt32(Session["userid"]);

    int auctionstyle = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["auctionstyle"]);
    int auctionId = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["auctionId"]);
    int count = 0;
}

<input type="hidden" id="hiddenListReviewStatus" value="@Model.reviewStatus" />


<div id="divLoader" class="page_loader" style="display:none">
    <!-- <img src="~/Content/giphy.gif" alt="Loader" /> -->
</div>



    <div  id="container">
        <div class="container-fluid content extra-padding-bottom-100">

            @if (Model.GetReviewData.Count > 0)
        {
            foreach (var item in Model.GetReviewData)
            {
                //new created on 20-1-20
                #region
                int productcount = CAS.Getcountbidproduct(item.productid);
                #endregion

                int usdCurrentPrice = item.pricers / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);
                int NextValidBid = Convert.ToInt32(Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, 1));
                int usdNextValidPrice = NextValidBid / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);

                    <div class="box_col extra-margin-top-60 listView_wrapper">
                        <div class="img_list_view_row">
                            @if (item.isInternational == 1)
                            {
                                <span style="position: absolute;right: 7px;top: -3px;"><img src="~/Content/international.png" data-toggle="tooltip" data-placement="top" title="" data-original-title="International" /> </span>

                            }
                            else if (item.nonExportable == 1)
                            {
                                <span style="position: absolute;right: 7px;top: -3px;"><img src="~/Content/non-export.png" data-toggle="tooltip" data-placement="top" title="" data-original-title="Non Exportable" /> </span>

                            }
                            <div class="img_list_mxheight"><img src="https://www.astaguru.com/@item.listImage" class="img_responsive" /></div>
                            <a data-gallery="manual" data-index="@count" href="https://www.astaguru.com/@item.image" data-group="b"><span class="icon_expand"><i class="icon-fullscreen"></i></span></a>
                        </div><!-- img_col_auctions -->
                        @{
                        count++;
                        }

                        <div class="content_list_view_row">
                            <div class="row">
                                <div class="col-md-6 col-lg-4 col-xl-4">
                                    <div class="list_view_artist_details">
                                        <a href="@baseUrlPath/Artist/artistProfile?artistid=@item.artistid" target="_blank">
                                            <h3 class="uppercase sbold nowrap_text">@item.firstname  @item.lastname</h3>
                                        </a>
                                        <p><a href="@baseUrlPath/Home/LotDetails?productid=@item.productid&page=0"><span class="lotno">Lot @item.reference</span> @item.title</a></p>

                                        <div class="list_view_text">
                                            @if (item.auctionType == 1)
                                        {
                                                <h6>Medium</h6>
                                                <p>@item.medium</p>
                                                <h6>Size</h6>
                                                <p>@item.productsize in.</p>
                                                <h6>Year</h6>
                                                <p>@item.Date</p>
                                                <h6>Estimate</h6>
                                            if (currency == 1)
                                            {
                                                    <p>@item.collectors</p>
                                            }
                                            else if (currency == 2)
                                            {
                                                    <p>@item.estamiate</p>
                                            }
                                            else
                                            {
                                                    <p>@item.collectors</p>
                                            }
                                            //created on 28
                                            if (@productcount > 0)
                                            {
                                                    @*<p class="count_most">@productcount</p>*@
                                                    <h5 class="bold extra-margin-top-40 black"> No of Bids - @productcount</h5>
                                            }

                                        }
                                        else if (item.auctionType == 2)
                                        {
                                                <h6>Description</h6>
                                                <p class="hover_description">@Html.Raw(item.Prdescription)</p>
                                                <h6></h6>
                                                <p>@item.productsize</p>

                                                <h6>Estimate</h6>
                                            if (currency == 1)
                                            {
                                                    <p>@item.collectors</p>
                                            }
                                            else if (currency == 2)
                                            {
                                                    <p>@item.estamiate</p>
                                            }
                                            else
                                            {
                                                    <p>@item.collectors</p>
                                            }
                                            //created on 28
                                            if (@productcount > 0)
                                            {
                                                    @*<p class="count_most">@productcount</p>*@
                                                    <h5 class="bold extra-margin-top-40 black"> No of Bids - @productcount</h5>
                                            }
                                        }
                                        else
                                        {
                                                <h6>Medium</h6>
                                                <p>@item.medium</p>
                                                <h6>Size</h6>
                                                <p>@item.productsize in.</p>
                                                <h6>Year</h6>
                                                <p>@item.Date</p>
                                                <h6>Estimate</h6>
                                            if (currency == 1)
                                            {
                                                    <p>@item.collectors</p>
                                            }
                                            else if (currency == 2)
                                            {
                                                    <p>@item.estamiate</p>
                                            }
                                            else
                                            {
                                                    <p>@item.collectors</p>
                                            }
                                            //created on 28
                                            if (@productcount > 0)
                                            {
                                                    @*<p class="count_most">@productcount</p>*@
                                                    <h5 class="bold extra-margin-top-40 black"> No of Bids - @productcount</h5>
                                            }
                                        }
                                        </div><!-- list_view_text -->
                                    </div><!-- list_view_artist_details -->
                                </div><!-- col -->

                                <div class="col-md-6 col-lg-4 col-xl-5 extra-margin-top-60">
                                    <div class="row" id="SetCurentAuction_@item.productid">
                                        @if (currency == 1)
                                        {
                                            if (item.timeRemains < 0)
                                            {
                                                if (item.pricelow > item.pricers)
                                                {
                                                    <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                        <div class="price_live_auc price_current_next divider_right">
                                                            <h5>Bought In</h5>
                                                        </div><!-- price_live_auc -->
                                                    </div><!-- col -->
                                                }
                                                else
                                                {
                                                    //show pricers with 15% margin added after Bid Closed  

                                                    long pricers = item.pricers;    //use long for large pricers calculation
                                                    long margin = pricers * 15;
                                                    margin = margin / 100;
                                                    long margin_pricers = pricers + margin;

                                                    <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                        <div class="price_live_auc price_current_next divider_right">                                                  
                                                            <h5>₹ @Astaguru.Services.Common.rupeeFormat(margin_pricers.ToString())</h5>
                                                            <h6 class="">(Inclusive 15% margin)</h6>
                                                        </div><!-- price_live_auc -->
                                                    </div><!-- col -->

                                                }

                                            }
                                            else
                                            {
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6 ">
                                                    <div class="price_live_auc price_current_next divider_right">
                                                        <h6 class="uppercase">current bid</h6>
                                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->
                                            }


                                            if (item.timeRemains < 0)
                                            {
                                                if (userid == item.MyUserID && item.MyUserID != 0)
                                                {
                                                    if (item.pricelow < item.pricers)
                                                    {
                                                        <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                            <div class="price_live_auc price_current_next">
                                                                <h6 class="uppercase text_next_valid_bid current_leading">WON</h6>
                                                            </div><!-- price_live_auc -->
                                                        </div><!-- col -->
                                                    }
                                                    else
                                                    {
                                                        <div class="close_auction"><span>Bid Closed</span></div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="close_auction"><span>Bid Closed</span></div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                    <div class="price_live_auc price_current_next">
                                                        @if (userid == item.MyUserID && item.MyUserID != 0)
                                                    {
                                                            <h6 class="uppercase text_next_valid_bid current_leading">Currently <br> leading</h6>
                                                    }
                                                    else
                                                    {
                                                            <h6 class="uppercase">next valid bid</h6>
                                                            <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, currency).ToString())</h5>
                                                    }

                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->
                                            } 
                                        }
                                        else if (currency == 2)
                                        {
                                            if (item.timeRemains < 0)
                                            {
                                                if (item.pricelow > item.pricers)
                                                {
                                                    <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6 mt-md-0 ">
                                                        <div class="price_live_auc price_current_next divider_right">
                                                            <h5>Bought In</h5>
                                                        </div><!-- price_live_auc -->
                                                    </div><!-- col -->
                                                }
                                                else
                                                {
                                                    //show pricers with 15% margin added after Bid Closed
                                                    int margin = usdCurrentPrice * 15;
                                                    margin = margin / 100;
                                                    int margin_priceus = usdCurrentPrice + margin;

                                                    <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6 mt-md-0 ">
                                                        <div class="price_live_auc price_current_next divider_right">
                                                            <h5>$ @Astaguru.Services.Common.DollerFormat(margin_priceus.ToString())</h5>
                                                            <h6 class="">(Inclusive 15% margin)</h6>
                                                        </div><!-- price_live_auc -->
                                                    </div><!-- col -->

                                                }
                                            }
                                            else
                                            {
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6 mt-md-0 ">
                                                    <div class="price_live_auc price_current_next divider_right">
                                                        <h6 class="uppercase">current bid</h6>
                                                        @*<h5>$ @Astaguru.Services.Common.DollerFormat(@item.priceus.ToString())</h5>*@
                                                        <h5>$ @Astaguru.Services.Common.DollerFormat(usdCurrentPrice.ToString())</h5>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->
                                            }

                                            if (item.timeRemains < 0)
                                            {
                                                if (userid == item.MyUserID && item.MyUserID != 0)
                                                {
                                                    if (item.pricelow < item.pricers)
                                                    {
                                                        <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                            <div class="price_live_auc price_current_next">
                                                                <h6 class="uppercase text_next_valid_bid current_leading">WON</h6>
                                                            </div><!-- price_live_auc -->
                                                        </div><!-- col -->
                                                    }
                                                    else
                                                    {
                                                        <div class="close_auction"><span>Bid Closed</span></div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="close_auction"><span>Bid Closed</span></div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                    <div class="price_live_auc price_current_next">
                                                        @if (userid == item.MyUserID && item.MyUserID != 0)
                                                    {
                                                            <h6 class="uppercase text_next_valid_bid current_leading">Currently <br> leading</h6>
                                                    }
                                                    else
                                                    {
                                                            <h6 class="uppercase">next valid bid</h6>
                                                            <h5>$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getNextValidBidAmount(@item.priceus, currency).ToString())</h5>
                                                    }
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->
                                            }

                                        }
                                        else
                                        {
                                            if (item.timeRemains < 0)
                                            {
                                                if (item.pricelow > item.pricers)
                                                {
                                                    <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                        <div class="price_live_auc price_current_next divider_right">
                                                            <h5>Bought In</h5>
                                                        </div><!-- price_live_auc -->
                                                    </div><!-- col -->
                                                }
                                                else
                                                {
                                                    //show pricers with 15% margin added after Bid Closed  

                                                    long pricers = item.pricers;    //use long for large pricers calculation
                                                    long margin = pricers * 15;
                                                    margin = margin / 100;
                                                    long margin_pricers = pricers + margin;

                                                    <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                        <div class="price_live_auc price_current_next divider_right">
                                                            <h5>₹ @Astaguru.Services.Common.rupeeFormat(margin_pricers.ToString())</h5>
                                                            <h6 class="">(Inclusive 15% margin)</h6>
                                                        </div><!-- price_live_auc -->
                                                    </div><!-- col -->

                                                }

                                            }
                                            else
                                            {
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                    <div class="price_live_auc price_current_next divider_right">
                                                        <h6 class="uppercase">current bid</h6>
                                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->
                                            }

                                        if (item.timeRemains < 0)
                                        {
                                            if (userid == item.MyUserID && item.MyUserID != 0)
                                            {
                                                if (item.pricelow < item.pricers)
                                                {
                                                    <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                        <div class="price_live_auc price_current_next">
                                                            <h6 class="uppercase text_next_valid_bid current_leading">WON</h6>
                                                        </div><!-- price_live_auc -->
                                                    </div><!-- col -->
                                                }
                                                else
                                                {
                                                    <div class="close_auction"><span>Bid Closed</span></div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="close_auction"><span>Bid Closed</span></div>
                                            }
                                        }
                                        else
                                        {
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                    <div class="price_live_auc price_current_next">
                                                        @if (userid == item.MyUserID && item.MyUserID != 0)
                                                    {
                                                            <h6 class="uppercase text_next_valid_bid current_leading">Currently <br> leading</h6>
                                                    }
                                                    else
                                                    {
                                                            <h6 class="uppercase">next valid bid</h6>
                                                            <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, currency).ToString())</h5>
                                                    }
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->
                                        }

                                    }
                                    </div><!-- row -->
                                </div><!-- col -->

                                <div class="col-lg-4 col-xl-3 extra-margin-top-60">
                                    <div class="live_auction_timer list_view_timer" id="SetListButton_@item.productid">


                                        @if (item.timeRemains < 0)
                                    {
                                            @*<a href="JavaScript:Void(0);" class="btn_bid disabled">Bid</a>*@

                                    }
                                    else
                                    {
                                        if (userid == item.MyUserID && item.MyUserID != 0)
                                        {

                                        }
                                        else
                                        {
                                                <a href="JavaScript:Void(0);" class="btn_bid btnBidNow" data-id="@item.productid">Bid</a>

                                        }
                                            <div class="timer_wrap">
                                                <div class="timer_count">
                                                    <figure>
                                                        <ul>
                                                            <li>@item.hh</li>
                                                        </ul>
                                                        <p>Hours</p>
                                                    </figure>
                                                    <span>:</span>
                                                    <figure>
                                                        <ul>
                                                            <li>@item.mm</li>
                                                        </ul>
                                                        <p>Minute</p>
                                                    </figure>
                                                    <span>:</span>
                                                    <figure>
                                                        <ul>
                                                            <li>@item.ss</li>
                                                        </ul>
                                                        <p>Second</p>
                                                    </figure>
                                                </div>
                                            </div>

                                    }

                                        <div class="clear"></div>

                                        <input type="hidden" id="hiddenProductId_@item.productid" value="@item.productid" />
                                        <script>
                                        $('#btnBidNow_@item.productid').click(function () {
                                            $('#LoginForm').modal('toggle');
                                        });

                                        function BidNow1(productid) {
                                            $("#divLoader").show();

                                            var baseUrlPath = $('#hiddenbaseUrlPath').val();
                                            var productid = productid;//$(this).attr("data-id");
                                            var userId = $('#hiddenUserId').val();
                                            var isMobile = $('#hiddenMobileVerified').val();
                                            var isEmail = $('#hiddenEmailVerified').val();
                                            var isconfirmbid = $('#hiddenconfirmbid').val();
                                            if (userId > 0) {
                                                if (isMobile > 0 && isEmail > 0) {
                                                    // Apply For Bid
                                                    if (isconfirmbid > 0) {
                                                        $("#divLoader").hide();
                                                        window.location = baseUrlPath + '/Home/LotDetails?productid=' + productid + '&page=0';
                                                    }
                                                    else {
                                                        $("#divLoader").hide();
                                                        alert('You Dont have bidding access');
                                                    }
                                                }
                                                else {
                                                    $("#divLoader").hide();
                                                    alert('Mobile Number Or Email id is not verified');
                                                }

                                            }
                                            else {
                                                $("#divLoader").hide();
                                                $('#LoginForm').modal('toggle');
                                            }
                                        }

                                        $('#SetListButton_@item.productid').on('click', '.btnBidNow', function () {
                                            var productid = $(this).attr("data-id");
                                            BidNow1(productid);
                                        });
                                        </script>
                                    </div><!-- live_auction_timer -->

                                    <a href="javascript:avoid(0)" class="small_btn addToCart" data-productid="@item.productid"><i class="icon-star"></i>add to my gallery</a>
                                    <br />
                                    <span id="Success_@item.productid" style="color:green" class="clsClearGallary"></span>
                                    <span id="Err_@item.productid" style="color:red" class="clsClearGallary"></span>
                                </div><!-- col -->

                            </div><!-- Row -->
                        </div><!-- content_list_view_row -->

                        <div class="clear"></div>
                    </div><!-- box_col -->
                            }
                        }
                        else
                        {
                                <span class="no_data">No records found</span>
                        }


        </div><!-- content -->

    </div>


<script>
    $(document).ready(function () {
        sessionStorage.removeItem("ErrOutProxy");

        setInterval(function () {
            var dynamicBidDataArr;
            var SetAuction = {};
            SetAuction.Subquery = $("#hiddenSubquery").val();
            SetAuction.page = $("#hiddenPage").val();
            SetAuction.pageName = $("#hiddenListReviewStatus").val();  // 'LatestBid';

            $.ajax({
                url: "/Common/generateCurrentAuctionList",
                type: 'POST',
                dataType: 'json',
                data: SetAuction,
                traditional: true,
                success: function (ReturnData) {
                    if (ReturnData.Success) {
                        //var your_object = JSON.parse(ReturnData.Success);
                        dynamicBidDataArr = ReturnData.Success;
                        for (var i = 0; i < dynamicBidDataArr.length; i++) {

                            var SetCurentAuction = document.getElementById("SetCurentAuction_" + dynamicBidDataArr[i].productid);
                            SetCurentAuction.innerHTML = dynamicBidDataArr[i].dyanmicData;
                            // alert(dynamicBidDataArr[i].dyanmicData);
                        }


                        dynamicBidDataArrButton = ReturnData.Button;
                        for (var i = 0; i < dynamicBidDataArrButton.length; i++) {

                            var SetListButton = document.getElementById("SetListButton_" + dynamicBidDataArrButton[i].productid);
                            SetListButton.innerHTML = dynamicBidDataArrButton[i].dyanmicData;
                            // alert(dynamicBidDataArr[i].dyanmicData);
                        }
                        //alert(ReturnData.Success[0].productid);

                        //

                        //$('#Time').html(ReturnData.Success);
                    }
                },
            });
        }, 10000);


        setInterval(function () {
            var status = $("#hiddenListReviewStatus").val();
            $.ajax({
                url: '/Common/partialListAuctionReview',
                type: 'POST',
                cache: false,
                data: { status: status }
            }).done(function (result) {
                $('#container').html(result);
            });
        }, 10000);
    });
</script>