﻿<!DOCTYPE html>

<html>
<head>
    <meta name="theme-color" content="#bfc2d1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/Admin/Resource/website/images/logo.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/Admin/Resource/website/images/logo.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/Admin/Resource/website/images/logo.png")">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    @Styles.Render("~/Admin/css1")
    @Scripts.Render("~/Admin/js1")
    @Styles.Render("~/Admin/css2")

    @*@Scripts.Render("~/Admin/js2")*@

    <!-- Icon font-->
    <link rel="stylesheet" href="~/Content/Admin/Resource/website/css/icon-font.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/Resource/website/css/flaticon.css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body class="nav-md" style="height: 100%;">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Content("~/AdminCms/Index/")" class="site_title">
                            @*<i class="fa fa-paw"></i>*@
                            @*<img src="@Url.Content("~/Content/Admin/Resource/website/images/logo.jpg")" alt="Image Not Available" class="img-circle profile_img" style="height:34px;width:34px;margin-top: 2px;margin-left: 1px;">*@
                            <span>Super Admin</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="@Url.Content("~/Content/Admin/Resource/website/images/logo.png")" alt="Image Not Available" class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>AstaGuru</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />
                    
                   
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a href="~/AdminCms/Index/"><i class="fa fa-home"></i>Dashboard </a></li>

                                <li><a href="~/AdminCms/Category"><i class="fa fa-edit"></i>Manage Category</a></li>
                                <li><a href="~/AdminCms/Medium"><i class="fa fa-edit"></i>Manage Medium</a></li>
                                <li><a href="~/AdminCms/Style"><i class="fa fa-edit"></i>Manage Style</a></li>
                                <li><a href="~/AdminCms/AuctionList"><i class="fa fa-edit"></i>Manage Auction</a></li>
                                <li><a href="~/AdminCms/Artist"><i class="fa fa-edit"></i>Manage Artist</a></li>
                                <li>
                                    <a><i class="fa fa-edit"></i>Manage Users<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu">
                                            <a href="~/AdminCms/Users">All User</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/AppliedforBidding">Applied for Bidding</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/ConfirmforBidding">Confirm for Bidding</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/NotApplyforAuction ">Not Apply for Auction</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/UsersLog ">Users Log</a>
                                        </li>
                                    </ul>
                                </li>
                                
                                <li><a href="~/AdminCms/PaintingAndProduct"><i class="fa fa-edit"></i> Manage Painting And Product</a></li>
                                <li><a href="~/AdminCms/ProxyBidApproval"><i class="fa fa-edit"></i> Proxy Bid Approval</a></li>
                                <li>
                                    <a><i class="fa fa-edit"></i>Bidder Record<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu">
                                            @*<a href="~/AdminCms/RecentBid">Recent Bid List</a>*@
                                            <a href="~/AdminCms/RecentBid">Current list of Bidders </a>
                                        </li>
                                        <li class="sub_menu">
                                            <a href="~/AdminCms/UnderBidders">Under Bidders</a>
                                        </li>
                                        @*<li>
                                            <a href="~/AdminCms/Topbidvalue">Top Value Bid</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/MostNumberofBid">Most Number of Bid</a>
                                        </li>*@
                                    </ul>
                                </li>
                                <li><a href="~/AdminCms/SendEmailWinner"><i class="fa fa-edit"></i>Send Email Winner</a></li>
                                <li><a href="~/AdminCms/StartAuction"><i class="fa fa-edit"></i>Start Auction</a></li>
                                <li><a href="~/AdminCms/Notification"><i class="fa fa-edit"></i>Notification</a></li>
                                <li><a href="~/AdminCms/Invoice"><i class="fa fa-edit"></i>Generate Invoice</a></li>
                                <li><a href="~/AdminCms/GetProxyBidPaintings"><i class="fa fa-edit"></i>Get Proxy Bid Paintings</a></li>
                                <li><a href="~/AdminCms/UpdateFinalBidHistory"><i class="fa fa-edit"></i>Update Final Bid History</a></li>
                                <li><a href="~/AdminCms/Consign"><i class="fa fa-edit"></i>Consign</a></li>
                                <li>
                                    <a><i class="fa fa-edit"></i>CMS <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="~/AdminCms/CMS/1">About Us</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/CMS/2">Career Description</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/CurrentVacancy"> Current Vacancy</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/CMS/3">Valuation</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/CMS/4">Privacy Policy</a>
                                        </li>
                                        <li class="sub_menu">
                                            <a href="~/AdminCms/Addvideo">video</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/blog">Blog</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/MediaNews">Media News</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/CMSPage/1">Services</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/CMSPage/2">Terms And Conditions</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/CMSPage/3">How To Buy</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/CMSPage/4">How To Sell</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminCms/faq"> Faq</a>
                                        </li>

                                        <li>
                                            <a href="~/AdminCms/MetaTag">Add MetaTag</a>
                                        </li>


                                    </ul>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small" style="background-color: #4b5f71; padding: 15px 0px 0px 0px;">
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="@Url.Content("~/Content/Admin/Resource/website/images/img.jpg")" alt="Image not Available">User

                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="@Url.Content("~/AdminCms/UpdateProfile")">Profile</a></li>
                                    <li><a href="@Url.Content("~/AdminCms/ChangePassword")">Change Password</a></li>
                                    <li><a href="@Url.Action("LogOut", "Login", new { @Usertype = "SuperAdmin" })"><i class="fa fa-sign-out pull-right"></i>Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
          
            <!-- /top navigation -->

            @RenderBody()
           
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    © @DateTime.Now.Year  <a href="#">Astaguru.</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
            @Scripts.Render("~/Admin/js2")
        </div>
    </div>

</body>
</html>