﻿@model Astaguru.Models.User

@{
   
    Layout = null;

}

<script src="~/Content/Admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<div>

    <form id="myForm">
        <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

            @Html.HiddenFor(m => m.userid)

            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        User Name <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.username, new { @class = "form-control", @placeholder = "User Name", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                       Password<span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.password, new { @class = "form-control", @placeholder = "Password", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                         Name <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.name, new { @class = "form-control", @placeholder = "Name", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Last name <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.lastname, new { @class = "form-control", @placeholder = "Last Name", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.lastname, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                       Address_1 <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.address1, new { @class = "form-control", @placeholder = "Address_1", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.address1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Address_2 <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.address2, new { @class = "form-control", @placeholder = "Address_2", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.address2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        City <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.city, new { @class = "form-control", @placeholder = "City", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.city, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        State <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.state, new { @class = "form-control", @placeholder = "State", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.state, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Country <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.country, new { @class = "form-control", @placeholder = "Country", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.country, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Zip <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.zip, new { @class = "form-control", @placeholder = "Zip", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.zip, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Telephone <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.BillingTelephone, new { @class = "form-control", @placeholder = "Telephone", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.BillingTelephone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Mobile <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @placeholder = "Mobile", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Email <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "Email", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Billing Name <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.BillingName, new { @class = "form-control", @placeholder = "Billing Name", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.BillingName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Billing Address <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.BillingAddress, new { @class = "form-control", @placeholder = "Billing Address", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.BillingAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Billing City <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.BillingCity, new { @class = "form-control", @placeholder = "Billing City", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.BillingCity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Billing State <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.BillingState, new { @class = "form-control", @placeholder = "Billing State", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.BillingState, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Billing Country <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.BillingCountry, new { @class = "form-control", @placeholder = "Billing Country", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.BillingCountry, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Billing Zip <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.BillingZip, new { @class = "form-control", @placeholder = "Billing Zip", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.BillingZip, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        GSTIN <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.GSTIN, new { @class = "form-control", @placeholder = "GSTIN", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.GSTIN, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        panCard <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.panCard, new { @class = "form-control", @placeholder = "panCard", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.panCard, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        aadharCard <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.aadharCard, new { @class = "form-control", @placeholder = "aadharCard", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.aadharCard, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Confirm bid <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @if (Model.bconfirmbid == true)
                        {
                            @Html.CheckBoxFor(m => m.bconfirmbid, new { @checked = "checked" })
                        }
                        else
                        {
                            @Html.CheckBoxFor(m => m.bconfirmbid, new { @checked = "" })
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Amount Limit <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.amountlimt, new { @class = "form-control", @placeholder = "Amount Limit", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.amountlimt, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Apply Bid <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @if (Model.bapplyforbid == true)
                        {
                            @Html.CheckBoxFor(m => m.bapplyforbid, new { @checked = "checked" })
                        }
                        else
                        {
                            @Html.CheckBoxFor(m => m.bapplyforbid, new { @checked = "" })
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Mobile Verified <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @if (Model.bMobileVerified == true)
                        {
                            @Html.CheckBoxFor(m => m.bMobileVerified, new { @checked = "checked" })
                        }
                        else
                        {
                            @Html.CheckBoxFor(m => m.bMobileVerified, new { @checked = "" })
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Email Verified <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @if (Model.bEmailVerified == true)
                        {
                            @Html.CheckBoxFor(m => m.bEmailVerified, new { @checked = "checked" })
                        }
                        else
                        {
                            @Html.CheckBoxFor(m => m.bEmailVerified, new { @checked = "" })
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Unlimited Access (isOlduser) <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @if (Model.bisOldUser == true)
                        {
                            @Html.CheckBoxFor(m => m.bisOldUser, new { @checked = "checked" })
                        }
                        else
                        {
                            @Html.CheckBoxFor(m => m.bisOldUser, new { @checked = "" })
                        }
                    </div>
                </div>

                <div class="form-group">
                    @*<label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Fixed Amount Limit <span class="required" style="color:red">*</span>
                    </label>*@
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Original Bid Limit <span class="required" style="color:red">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.FixedAmountLimit, new { @class = "form-control", @placeholder = "Fixed Amount Limit", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.FixedAmountLimit, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Amountlimit Notification <span class="required" style="color:red"></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @if (Model.Notification == true)
                        {
                            @Html.CheckBoxFor(m => m.Notification, new { @checked = "checked" })
                        }
                        else
                        {
                            @Html.CheckBoxFor(m => m.Notification, new { @checked = "" })
                        }
                    </div>
                </div>


                <a href="#" id="btnSubmit" class="btn btn-success btn-block">
                    @*@if (Model.userid > 0)*@
                    <span>Update</span>

                </a>
                </div>
</form>

@*<div style="text-align:center;display:none" id="loaderDiv">
    <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
</div>*@

</div>


<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            $("#loaderDiv").show();

            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/AdminCms/Users",
                data: myformdata,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal_editUser").modal("hide");
                    window.location.href = "/AdminCms/Users";

                }

            })
        })

    })


</script>

