@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

html, body.homePage {height:100%}
body {font-family: 'Montserrat', sans-serif; font-weight:400;font-size:15px;}
.font_aladin {font-family: 'Aladin', cursive}

a, a:hover {color:inherit;text-decoration:none;}
input, textarea, button, a, :focus, button:focus {outline:0}
ol, ul, li {margin:0; list-style:none;}
input, input:focus, button:hover, button, button:focus, input[type="radio"]:focus {outline:none; border:0; box-shadow:none;}






.innerpageContainer {margin-top:100px;/*min-height:500px;*/padding-bottom:50px;min-height:calc(100vh - 139px);    background: #fafafa;}

.links a{ display:block; text-align:left; padding:20px 25px 20px 40px; border-bottom:1px solid #434343;}
.links a:hover{background:#434343;}
.links a.active{background:#ae893e;}
.border_0{border:0 !important;}


@media (max-width:991.98px) {
.innerpageContainer {margin-top:76px;min-height:calc(100vh - 115px)}
}

@media (max-width: 575.98px) {
.innerpageContainer {margin-top:62px;min-height:calc(100vh - 109px)}
}


/*[data-sticky_column] {-webkit-transition:all .1s ease;-moz-transition:all .1s ease;transition:all .1s ease}*/


.filterSort {font-size:14px}





@media (max-width:767.98px) {
.fix_filterSort.stick {position:fixed;width:100%;top:77px;left:0;z-index:5}
.fix_filterSort.stick .filterSort {line-height:30px;box-shadow:0 2px 5px #ddd}
.sticky-anchor {position:relative;top:-78px}
.fixHeight {height:53px}
.accountLinks{padding:30px 0;}
.links a{background:#3b3b3b; padding:12px 25px; border-bottom:0 !important; margin:5px;font-size: 13px;}

}

@media (max-width: 575.98px) {
.fix_filterSort.stick {top:61px}
}


.filterBox {border-bottom:1px solid #999;margin:0 0 15px}
.filterBox .filterHead {cursor:pointer;padding:0 0 15px;position:relative;text-transform:uppercase;font-weight:700;color:#333}
.filterBox .filterHead .accdIndicator {width:14px;height:14px;display:block;float:right;position:relative;margin:3px 5px 0}
.filterBox .filterHead .accdIndicator:before {width:14px;height:2px;background:#333;content:'';position:absolute;top:6px}
.filterBox .filterHead .accdIndicator:after {width:2px;height:14px;background:#333;content:'';position:absolute;left:6px;top:0;transition:all .1s ease}
.filterBox [aria-expanded="true"] .accdIndicator:after {opacity:0}

.filterBox ul {margin:10px 0 0 0;padding:0}
.filterBox ul li {list-style:none;margin-bottom:15px}
.filterBox ul.column2 li {width:48.5%;display:inline-block;vertical-align:top;}

.radioBtns label {display:block;position:relative;padding-left:35px;margin-bottom:0;cursor:pointer;font-size:14px;font-weight:500;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.radioBtns label:before {width:20px;height:20px;display:block;content:'\25cf';border:1px solid rgba(0,0,0,.6);border-radius:50%;position:absolute;top:0;left:0;line-height:17px;text-align:center;font-size:18px;opacity:.25}
.radioBtns input[type='radio'],
.radioBtns input[type='checkbox'] {width:20px;height:20px;position:absolute;opacity:0;}
.radioBtns input[type='radio']:checked+label:before,
.radioBtns input[type='checkbox']:checked+label:before {opacity:1}

/*.is_stuck {overflow:auto;max-height:calc(100vh - 140px);}*/

.filtersTop {font-size:16px;margin-bottom:15px;border-bottom:1px solid #999;display:none;background:#fff;}
.clearFilterBtn {background:transparent;border:0;font-size:12px;color:#ff3319;font-weight:500;float:right;display:none;}


.accountLinks{ background:#282831; color:#fff; padding:55px 0; text-align:center;}
    .accountLinks p { margin-bottom:5px!important;}
.profileName{ color:#ae893e; font-size:20px; font-weight:700; text-transform:uppercase; margin-bottom:40px;}

.dashTitle{ color:#282831; padding:20px 60px; background:#e7e7e7; margin-bottom:40px; font-size:18px; font-weight:500;}

.dashboard_profile{ width:100%; display: block;  overflow: hidden; position: relative; margin-bottom: 35px;font-family: 'Montserrat', sans-serif;}
.dashboard_profile ul.profile{ display:block; padding:0 60px; margin-bottom:40px;}
.dashboard_profile ul.profile li{float:left; margin-bottom:25px;}
.dashboard_profile ul.profile li:last-child{border-bottom:0;}
.dashboard_profile ul.profile li .criteria{ font-size:14px; position:relative; color: #282831; text-transform:uppercase; font-weight:500;
}
/*.dashboard_profile ul.profile li .criteria:after{ position:absolute; content:':'; right:20px; font-size:20px; top:15px; }*/
.dashboard_profile ul.profile li .details{ font-size:14px; /*padding-left:20px;*/}
.dashboard_profile ul.profile li .details input{  padding:10px 0;}
.dashboard_profile ul.profile li .details .edit_profile{ /*display:none;*/ background:none; border:0; /*color:#000;*/width:100%;border-bottom:1px solid #dedede; line-height:18px;}

.dashboard_profile ul.profile li .details select.edit_profile{ padding:10px 0px; outline:0;}
/*.dob select.edit_profile{border-bottom: 0 !important;}*/
.dashboard_profile ul.profile li .details .salectArrow select.edit_profile{ padding:10px 0; outline:0;} 
/*.dashboard_profile ul.profile li .details select.inputDisabled{ padding:10px 5px; outline:0;}*/
.dashboard_profile ul.profile li textarea.edit_profile{ padding:10px 0; height:45px;}


.form_wrap{/*max-width:800px; text-align:center;*/ position:relative;}
.form_wrap h2 {text-transform:uppercase; letter-spacing:1px; font-size:22px;margin-bottom:10px;}
.form_wrap p{color: #212529; font-family: 'Lato', sans-serif; font-size: 14px; line-height: 20px; font-style: normal; font-weight: 400;margin-bottom:10px;}
.form_wrap strong {color:#212529;font-weight:600}
.form_wrap a {color:#212529;text-decoration:underline;font-weight:400}
.form_wrap a:hover {color:#cc0000;text-decoration:none;}	

.form_wrap label{color:#212529; font-family: 'Lato', sans-serif; font-size: 14px; line-height: 24px; font-style: normal; font-weight: 400; margin-bottom:8px;}
.form_wrap .form-control{height: auto;color: #909090; font-family: 'Lato', sans-serif; font-size: 14px; line-height: 24px; font-style: normal; font-weight: 400; border:0; border-radius:0; box-shadow:0 0 0 ; padding:5px 10px !important; border:1px solid #b7b7b7;  color:#000; margin-bottom:15px; text-align:left; -webkit-transition: .3s ease-in-out; -moz-transit!importantion:.3s ease-in-out; transition:.3s ease-in-out;}

.form_wrap .form-control:focus{ border:1px solid #ddd;  background:#f1f1f1; }

.form_wrap .form-group{margin-bottom:0; padding:0 75px;}

.form_wrap .form-group button{ font-size:14px; font-weight:bold; background:#ae893e; padding:10px 35px; outline:0; border:0; color:#fff; min-width:150px; text-transform:uppercase; -webkit-transition: .3s ease-in-out; -moz-transition:.3s ease-in-out; transition:.3s ease-in-out;}
.form_wrap .form-group button:hover{ background:#282831;}
.form_wrap .form-group button.verify{ background:#d6d6d6; padding:10px; min-width:50px; width:100%; font-size:14px; font-weight:400; color:#000;}
.form_wrap .form-group button.verify:hover{ background:#000; color:#fff;}
.form_wrap .form-control.error {border-color:#cc0000;}
.form_wrap label.error{color:red !important;}

.dashboard_profile ul.profile li .details {position:relative; padding:0 -15px; }
.dashboard_profile ul.profile li .details .pwd_password{ position:absolute; right:15px; color:#fff; background:#ae893e; text-transform:none; text-decoration:none; padding:10px 20px;line-height:18px }
.dashboard_profile ul.profile li .details .pwd_password:hover{background:#282831;}
.dashboard_profile ul.profile li .details input[type="file"]{width:100%;position:absolute;z-index:1;opacity:0;cursor:pointer;}
.dashboard_profile ul.profile li .details .file_field {position:relative;  background:#f0f0f0;}

.dob{margin-top:8px;}
.dobCode, .salectArrow{position:relative;}
.dobCode:before{ position:absolute; left:-12px; top:10px; content:"/"; color:#f1f1f1;}
.dobCode .edit_profile{position:relative; }
.salectArrow:after{  position:absolute; right:5px; top: 17px; content:"";
width: 10px;
  height: 8px;
  border-top: solid 8px #fafafa;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}

.salectArrow2{margin-top:10px;}
.salectArrow2:after{  position:absolute; right:20px; top: 17px; content:"";
width: 10px;
  height: 8px;
  border-top: solid 8px #fafafa;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}

.dashboard_profile ul.profile li .details .file_field .edit_profile{padding:10px 10px;}

/*.dashboard_profile ul.profile li .details .phone_code{width:45px;}*/

.dashboard_profile .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #ae893e;
    background-color: #ae893e;
}

.dashboard_profile .custom-radio .custom-control-label::before {
    border-radius: 50%;
    background: #d4d4d4;
    border: 1px solid #d4d4d4;
}



@media (min-width:768px) {
.filtersContainer {display:block!important}
}
@media (max-width:767.98px) {
.filtersContainer {display:none;width:100%;height:100%;padding:60px 44px 44px;}
.filtersContainer .fancybox-close-small {position:fixed;top:6px!important;right:6px!important}
.filtersTop {display:block;position:fixed;top:6px;right:50px;left:50px;padding:10px 0;z-index:1}
.dashboard_profile ul.profile{padding:0 30px;}
.dashTitle{padding:20px 30px;}
}

@media (max-width:450px) {
.accountLinks{padding:25px 0;}
.profileName{margin-bottom:20px;}
}