@media(max-width: 1199px){
  :root {
    font-size: 14px;
    line-height:28px;
  }
}

@media(min-width: 1200px){
  :root {
    font-size: 14px;
    line-height:28px;
  }
}

@media(min-width: 1600px){
  :root {
    font-size: 16px;
    line-height:30px;
  }

}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?helhip');
  src:  url('../fonts/icomoon.eot?helhip#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?helhip') format('truetype'),
    url('../fonts/icomoon.woff?helhip') format('woff'),
    url('../fonts/icomoon.svg?helhip#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e001";
}
.icon-map-marker:before {
  content: "\e002";
}
.icon-phone-call:before {
  content: "\e003";
}
.icon-ellipsis:before {
  content: "\e901";
}
.icon-filter:before {
  content: "\e902";
}
.icon-next:before {
  content: "\e903";
}
.icon-pinterest:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e905";
}
.icon-plus-circle:before {
  content: "\e906";
}
.icon-prev:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
.icon-valuation:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e90d";
}
.icon-about:before {
  content: "\e90e";
}
.icon-buy:before {
  content: "\e90f";
}
.icon-contact:before {
  content: "\e910";
}
.icon-cross:before {
  content: "\e911";
}
.icon-department:before {
  content: "\e912";
}
.icon-down-arrow:before {
  content: "\e913";
}
.icon-facebook:before {
  content: "\e914";
}
.icon-fullscreen:before {
  content: "\e915";
}
.icon-grid-view:before {
  content: "\e916";
}
.icon-instagram:before {
  content: "\e917";
}
.icon-list-view:before {
  content: "\e918";
}
.icon-cross-circle:before {
  content: "\e900";
}



*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, body, div, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, img, label, li, nav, ol, p, section, select, span, strong, table, tbody, td, th, thead, tr, ul {
  outline: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{padding: 0; margin: 0; font-family: 'Montserrat', sans-serif;font-weight: 400; font-size: inherit; line-height: inherit; color: #444444;-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}

ul, li{list-style-type: none;}

a{text-decoration: none !important; color: inherit; display: inline-block; color: #c3a860;}

a:hover, a:focus{color: #c3a860;}

h1{font-size: 2rem; font-family: 'Prata', serif;}

h2{font-size: 1.5rem; color: #282831;font-family: 'Montserrat', sans-serif;}

h3{color: #282831; font-size: 1.3rem;}

.big_text{font-size: 2.5rem;}

.medium_text{font-size: 2rem;}

.title_font{font-family: 'Prata', serif;}

.uppercase{text-transform: uppercase;}

.sbold{font-weight: 600}

.bold{font-weight: 700}

h5{font-size: 1rem;}

.img_responsive{max-width: 100%;}

.extra-padding-top-30{padding-top: 20px;}

.extra-padding-bottom-30{padding-bottom: 20px;}

.extra-margin-top-30{margin-top: 20px;}

.extra-margin-bottom-30{margin-bottom: 20px;}

.extra-padding-top-40{padding-top: 30px;}

.extra-padding-bottom-40{padding-bottom: 30px;}

.extra-margin-top-40{margin-top: 30px;}

.extra-margin-bottom-40{margin-bottom: 30px;}

.extra-padding-top-20{padding-top: 20px;}

.extra-padding-bottom-20{padding-bottom: 20px;}

.extra-margin-top-60{margin-top: 30px;}

.extra-margin-bottom-60{margin-bottom: 30px;}

.extra-margin-top-100{margin-top: 60px;}

.extra-margin-bottom-100{margin-bottom: 60px;}

.extra-padding-top-100{padding-top: 60px;}

.extra-padding-bottom-100{padding-bottom: 60px;}

.form-control{border-width: 1px;
  border-color: rgb(192, 229, 239);
  border-style: solid;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px #eeeeee;
  min-height: 36px;
  padding-left: 15px; padding-right: 15px;}

.form-control:focus{border-width: 1px;
  border-color: rgb(172, 225, 249);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px #eeeeee;}

.login_fields .form-control{
  min-height: 44px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #979797 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #979797 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #979797 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #979797 !important;
}


.full_width{width: 100%;}


#header {
    background-color: #282831;    
    position: relative;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.header_inner{display: flex; align-items: center; justify-content: space-between;padding: 0 30px; max-width: 1600px; margin:auto;}

.header_inner ul li{display: inline-block; margin-left: 40px;}

.header_inner ul li i{font-size: 1.5rem; color: #fff}

.clear{clear: both;}

#logo{padding: 15px 0}

#logo img{height: 37px;}

.header_inner ul li{position: relative;}

.navigation{font-weight: 600; letter-spacing: 1px;}

.header_inner ul li a{color: #fff;}

.user_dropdown ul{white-space: normal;}

.user_dropdown {
position: absolute;
top: 45px;
right: 0;
width: 200px;
z-index: 2;
background: #ffffff;
border: 1px solid #e6e6e6;
display: none;
line-height: 30px;
padding: 5px 0;
border-radius: 3px;
box-shadow: 0 0 1px #ddd;
}
.user_dropdown:after, .user_dropdown:before {
  bottom: 100%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.user_dropdown:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 14px;
  margin-left: -14px;
}
.user_dropdown:before {
  border-color: rgba(212, 212, 212, 0);
  border-bottom-color: #e6e6e6;
  border-width: 15px;
  margin-left: -15px;
}

.user_dropdown li{border-bottom: 1px solid #f2f2f2; margin-right: 0 !important; width: 100%; margin-left: 0 !important;}

.user_dropdown li:last-child{border-bottom: 0;}

.user_dropdown a{padding: 0;padding: 7px 15px; color: #000; display: block;}

.navigation li > a{position: relative; padding-top: 17px; padding-bottom: 15px; padding-right: 20px;}

.navigation li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background-color: #bca25f;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navigation li > a:hover:before, .navigation li > a.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.inline_checkradio li{display: inline-block; margin-right: 25px;}

.inline_checkradio li:last-child{margin-right: 0;}

.custom-control-label{color: #606060; padding-left: 25px; cursor:pointer}

.hrline{background-color: #eeeeee; height: 1px;}

.form_textarea{border-width: 1px;
    border-color: rgb(192, 229, 239);
    border-style: solid;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px #eeeeee;
    min-height: 48px;
    padding-left: 15px; padding-right: 15px;
    display: block;
    width: 100%;
    padding: .375rem 15px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    outline: none !important;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}

.custom-control-label::after{top: .20rem;
    left: 0;
    display: block;
    width: 1.1rem;
    height: 1.1rem;}

.custom-control-label::before {
    position: absolute;
    top: .35rem;
    left: 0;
    display: block;
    width: 1.15rem;
    height: 1.15rem;    
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-width: 1px;
    border-color: #e9dab3;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
}

.custom-checkbox .custom-control-label::before{border-radius: 0 !important; line-height: 1;}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c3a860;border: 1px solid #c3a860;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c3a860;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #c3a860; 
}


.custom-control-input:checked~.custom-control-label::before {
     color: #fff;font-family: 'icomoon';
    background-color: #c3a860;
}

.custom-control{padding-left: 0 !important;padding-right: 1.5rem;;}
 

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    color: #172b71;
    content: "\e91f";
    font-size: 0.8rem;
    border: 1px solid #c3a860;
    font-family: 'icomoon';
    background-color: #ffffff;
    text-align: center;
    line-height: 1.1rem;
    z-index: 9;
}

.custom-radio .custom-control-label::before{border-radius: 50%;}

.custom-control-label::after {
    top: .45rem;
    left: 0.15rem;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    text-align: center;
    background-size: cover;
}

.form_label{margin-bottom: 0px; text-transform: capitalize;color: #888;}

.form_label2{text-transform: capitalize;color: #888;font-size: 0.83rem;}

.star{color: #f00;}

textarea{resize: none;}

.modal.show {
    overflow-x: hidden;
    overflow-y: auto;
    right: -15px;
}

.form_terms .custom-control-label{font-size: 0.83rem;}

.extra-margin-top-10{margin-top: 8px;}

.extra-margin-bottom-10{margin-bottom: 8px;}

/*****Responsive Menu*****/
.over_nav i{font-size: 2.25rem; margin-right: 1.75rem; color: #c3a860;}

.button_container {
  position: fixed;
  height: 24px;
  width: 32px;
  cursor: pointer;
  z-index: 100;
  top: 3px;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #fff;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #282831;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;  
  z-index: 5;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  overflow-y: auto;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
 /*height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);*/
  font-size: 2.5rem;
  font-family: 'Prata', serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  position: relative;
  max-width: 550px;
  width: 100%;
}
.overlay ul li {
  display: block;
  position: relative;
  opacity: 0;
  padding: 1.5rem 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  padding-top: 30px;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay .social_header ul li a{padding-top: 0;}
/*.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  background: #FFF;
  transition: .35s;
}*/


@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.right_icons{vertical-align: text-bottom;}

.social_header{max-width: 550px; width: 100%; margin: 0 auto}

.social_header p{color: #bcbcbc; font-size: 1.125rem;font-family: 'Montserrat', sans-serif;}

.social_header li{display: inline-block !important; margin-right:1.5rem; font-size: 1.5rem; padding: 10px 0 !important;}

.social_header li a{padding-bottom: 0 !important;}

.social_header li i{color: #747474;}


.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

  .sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0; }

    .sidebar-menu > li > a {
      padding: 1rem 0px;
      display: block;
      color: #fff; }

  .sidebar-menu > li > a span{margin-left: 1rem;}

    .sidebar-menu > li.active > a {
      color: #fff;
      transition: all 0.2s;}

    .sidebar-menu > li.active > a i{color: #fee241}

  .sidebar-menu li.sidebar-header {
    padding: 10px 25px 10px 15px;
    color: #4b646f;
    background: #2d2f3b; }

  .sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    color: #bbbbbe;
    font-size: 1.2rem;
    margin-right: 10px;
    transform: rotate(-90deg);
    margin-top: 3px;
    transition: all 0.3s;}

  .sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(90deg); }

  .sidebar-menu li.active > .sidebar-submenu {
    display: block; }

  .sidebar-menu a {
    text-decoration: none; color: #fff;}

  .sidebar-menu .sidebar-submenu {
    display: none;
    list-style: none;
    padding-left: 40px;}

    .sidebar-menu .sidebar-submenu .sidebar-submenu {
      padding-left: 20px; }

    .sidebar-menu .sidebar-submenu > li > a {
      padding: 5px 5px 5px 15px;
      display: block;  font-size: 2rem;}

.overlay.open li ul{padding-top: 20px;}

.overlay.open li ul li{padding-top: 0;}

.overlay ul li ul li a:after{background: none;}

.sidebar-menu-rtl {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #222d32; }

  .sidebar-menu-rtl > li {
    position: relative;
    margin: 0;
    padding: 0; }

    .sidebar-menu-rtl > li > a {
      padding: 12px 15px 12px 5px;
      display: block;
      border-left: 3px solid transparent;
      color: #fff; }

      .sidebar-menu-rtl > li > a > .fa {
        width: 20px; }

    .sidebar-menu-rtl > li:hover > a, .sidebar-menu-rtl > li.active > a {
      color: #fff;
      background: #1e282c;
      border-left-color: #3c8dbc; }

    .sidebar-menu-rtl > li .label,
    .sidebar-menu-rtl > li .badge {
      margin-top: 3px;
      margin-right: 5px; }
  
  .sidebar-menu li a .icon-circle{color: #9c9da2; font-size: 0.888rem; margin-right: 10px;}

 .sidebar-header {
    padding: 20px 30px;
    background: #2d2f3b; }

.sidebar-header a{display: block;}

.sidebar-header img{max-width: 100%;}

  .sidebar-menu-rtl li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }

  .sidebar-menu-rtl li.active > a > .fa-angle-left {
    transform: rotate(-90deg); }

  .sidebar-menu-rtl li.active > .sidebar-submenu {
    display: block; }

  .sidebar-menu-rtl a {
    color: #b8c7ce;
    text-decoration: none; }

  .sidebar-menu-rtl .sidebar-submenu {
    display: none;
    list-style: none;
    padding-right: 5px;
    margin: 0 1px;
    background: #2c3b41; }

.sidebar-menu-rtl .sidebar-submenu .sidebar-submenu {
padding-right: 20px; }

.sidebar-menu-rtl .sidebar-submenu > li > a {
padding: 5px 15px 5px 5px;
display: block;
font-size: 14px;
color: #8aa4af; }

.sidebar-menu-rtl .sidebar-submenu > li > a > .fa {
  width: 20px; }

.sidebar-menu-rtl .sidebar-submenu > li > a > .fa-angle-left,
.sidebar-menu-rtl .sidebar-submenu > li > a > .fa-angle-down {
  width: auto; }

.sidebar-menu-rtl .sidebar-submenu > li.active > a, .sidebar-menu-rtl .sidebar-submenu > li > a:hover {
color: #fff; }

.sidebar-menu li.subnav:before{content: "\e913";font-family: 'icomoon'; position: absolute; right: 0; top: 45px; color: #fff; font-size: 1.5rem; transition: all 0.3s;}

.sidebar-menu li.subnav.active:before  {
    transform: rotate(180deg); }

#wrapper{padding-top: 4.1875rem;}

.content{padding-left: 30px; padding-right:30px; max-width: 1600px; margin-left: auto;margin-right: auto;}

.flex_spbtn{display: flex; justify-content: space-between; align-items: center;}

.viewall{display: inline-block; color: #c3a860; font-weight: 600; text-transform: uppercase; font-size: 1rem;}

.viewall i{font-size: 1.7rem;vertical-align: middle;}

.box_shadow{position: relative;background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05); z-index: 1;}

.upc_auction_text h5{margin-top: 2rem; color: #747474; font-size: 1.125rem;}

.upc_auction_text span{font-size: 2rem; position: absolute; bottom: 40px; right: 40px;}

.record_price_text span{font-size: 2rem; margin-top: 20px; display: block;}

.img_record_price{max-height: 350px;}

.record_price_wrap{overflow:hidden;}

.upc_auction_text{position: absolute; left: -100%; bottom: 0%; background-color: #fff; padding: 40px; max-width: 395px; width: 100%; transition: all 0.5s;}

.before_hoverpa{display: block; height: 100%; width: 100%; position: relative; overflow:hidden;}

.before_hoverpa:hover .upc_auction_text{left: 0;bottom:0;}

.overlay_box{background-color: rgba(40, 40, 49, 0.55); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}

.recent_auction{position: relative;}

.recent_slide_item{position: relative; background-size: cover; height: 513px; padding:0 20px;}

.recent_auction_content{margin:auto; max-width: 1150px; display: flex; align-items: center; justify-content: space-between; height: 100%;}

.recent_auction_content h2{color: #fff;}

.recent_auction_content .big_text{margin-bottom: 15px;}

.recent_auction_content{position: relative; z-index: 99;}

.btn_lgrey{border-radius: 6px; background-color: #9e9e9e; padding: 1.5rem 30px; text-transform: uppercase; color: #fff !important; font-weight: 600; font-size: 1rem; text-align: center; letter-spacing: 2px; border: 0; cursor:pointer;position: relative; display: inline-block; overflow: hidden;-webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;}

.btn_grey{background-color: #7b7b7b;}

.btn_proxybid{font-size: 1.25rem;}

.btn_bidnow{font-size: 1.25rem;}

.btn_lgrey:before, .btn_lgrey:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-top: 2.5rem solid #494949;
  border-bottom: 2.5rem solid #494949;
}
.btn_lgrey:before {
  border-right: 2rem solid transparent;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.btn_lgrey:after {
  border-left: 2rem solid transparent;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.btn_lgrey:hover {
  color: #fff;
}
.btn_lgrey:hover:before {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}
.btn_lgrey:hover:after {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.btn_lgrey span{position: relative; z-index: 2;}

.btn_lorange{border-radius: 6px; background-color: rgb(195, 168, 96); padding: 0 30px; text-transform: uppercase; color: #fff !important; font-weight: 600; font-size: 1rem; text-align: center; letter-spacing: 2px; height: 4rem; border: 0; cursor:pointer;position: relative; display: inline-block; overflow: hidden;-webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;}

a.btn_lorange{line-height: 4rem;}

.btn_lorange:before, .btn_lorange:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-top: 2rem solid #f3972a;
  border-bottom: 2rem solid #f3972a;
}
.btn_lorange:before {
  border-right: 2rem solid transparent;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.btn_lorange:after {
  border-left: 2rem solid transparent;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.btn_lorange:hover {
  color: #fff;
}
.btn_lorange:hover:before {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}
.btn_lorange:hover:after {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.btn_lorange span{position: relative; z-index: 2;}

.recent_auction_text{padding-right: 30px; max-width: 560px;}

.recent_auction .btn_lorange{max-width: 260px; width: 100%;}

button{outline: none;}

.record_price_text{max-width: 350px; margin:auto; text-align: center; position: absolute; top: 0; bottom:0; left: 0;right: 0; background-color:#fff; height: 100%; padding: 15px 40px; display: flex;align-items: center;}

.record_price_text p{margin-top: 20px; color: #747474; font-size: 1.125rem;}

.video_text{position: absolute; left: 0; right: 0; margin:auto; top: 0; height: 100%; display: flex; align-items: center; justify-content: center; z-index: 2; text-align: center;}

.video_text i{font-size: 5.875rem; color: #fff; margin:30px 0; display: inline-block;}

.video_text h2{color: #fff;}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide_controls_outer{max-width: 920px; margin:auto; padding:0 100px;}

.slider_controls{padding:0 100px}

.bg_grey{background-color: rgb(250, 250, 250); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);}

.slide_controls_wrapper{max-width: 1175px; margin:auto; position: relative;}

#getin_touch{background: url(../images/bg-getintouch.jpg) center center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; padding-left: 15px; padding-right: 15px;position: relative; z-index: 1;}

.form_getin_touch{max-width: 1220px; margin:auto;}

#getin_touch h3{color: #fff;}

.custom_row{margin-left: -30px; margin-right: -30px;}

.custom_col{padding-left: 30px; padding-right: 30px;}

/***GET IN TOUCH**/
#getin_touch label.input {
  height: 50px;
  margin: 10px 0 0 0;
  position: relative;
  width: 100%;
  clear: both;
}
#getin_touch label.input span {
  width: 100%;
  height: 48px;
  line-height: 48px;
  position: absolute;
  left: 0;
  cursor: text;
}
#getin_touch label.input span span {
  position: absolute;
  top: 0;
  z-index: 1;
  font-size: 1rem;
  color: #fff;
  /*text-indent: 10px;*/
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
#getin_touch label.input span:before {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
#getin_touch label.input span:after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
#getin_touch .textfield {
  width: 100%;
  float: left;
  height: 48px;
  padding: 0 10px;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.30);
  background-color: transparent;
  color: #fff;
  font-size: 1.3rem;
  position: relative;
  z-index: 99;
}
#getin_touch .textfield:focus {
  outline: 0;
}
#getin_touch .textfield.white {
  background-color: #e74c3c;
}
#getin_touch .textfield:focus + span span {
  cursor: initial;
  position: absolute;
  top: -35px;
  color: #fff;
}
#getin_touch .textfield:focus + span:before {
  width: 50%;
}
#getin_touch .textfield:focus + span:after {
  width: 50%;
}
#getin_touch span.fixed span {
  top: -35px;
}

.btn_submit_center{margin:auto; text-align: center;}

.btn_submit_center .btn_lorange{width: 100%; max-width: 200px;}

/**Footer*/
#footer{text-align: center;background-color: rgb(250, 250, 250); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}

.footer_inner{padding: 0 15px; max-width: 1070px; margin:auto;}

.footer_inner h3{color: #747474; margin-top: 10px;}

.appstore a{margin-top: 30px; display: inline-block; margin-right: 30px;}

.appstore img{height: 4.3rem;}

.footer_social{padding-top: 40px;}

.footer_social li{display: inline-block; margin-right: 1.5rem; font-size: 2rem;}

.footer_nav{padding-top: 30px;}

.footer_nav li{display: inline-block; margin-left: 10px; font-size: 0.875rem;color: #747474;}

.footer_nav li a{color: #747474;}

.copyright{font-size: 0.875rem; padding-top: 30px;}

.copyright a, .copyright p{color: #747474}

.footer_logo{padding-top: 40px;}

.footer_logo img{height: 3.75rem;}

#banner_artist{background-size: cover; height: 250px; position: relative;}

.banner_overlay{background-color: rgba(0,0,0,0.50); height: 100%; width: 100%;}

.artist_content{max-width: 1160px;margin:auto; margin-top: -160px; position: relative;}

.img_artist{text-align: center;}

.img_artist img{border-radius: 10px; background-color: rgb(255, 255, 255); box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2); max-width: 200px;}

.img_artist h2{margin: 50px 0;}

.artist_content_wrap{box-shadow: 0px 20px 40px rgba(0,0,0,0.05); position: relative;}

.artist_arrow_btm{display: block;width: 4rem; height: 4rem; border-radius: 50%; line-height: 4rem; background-color:#fff; box-shadow: 0 0 5px rgba(0,0,0,0.10); text-align: center; color: #d0d0d0; font-size: 1.8rem; margin:auto; position: absolute; left: 0; right: 0; bottom: -1.875rem;overflow:hidden;}

.artist_arrow_btm i{color: #d0d0d0;  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; display: inline-block;}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.auction_box{background-color: rgb(255, 255, 255); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); padding: 30px; display: block;}

.auction_content{padding-top: 30px;}

.img_auction{text-align: center; display: flex;align-items:center; justify-content: center; /*height: 450px;*/}

.lotno{border-radius: 6px; background-color: rgb(183, 183, 183); display: inline-block; padding:0 10px; height: 20px; line-height: 20px; font-weight: 500; color: #fff;}

.auction_content h2{display: block; height: 4.4rem; display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}

.auction_content p{-webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #747474;}

.auction_analysis_text{display: flex; align-items: center;}

.auction_analysis_text .selectric{width: 80px !important;}

.auction_analysis_text .selectric .label{color: #747474; text-transform: uppercase;height: 36px;}

.auction_analysis_text .selectric-scroll li{text-transform: uppercase;}

.auction_analysis_text{text-transform: uppercase; font-weight: 500;}

.title_auction_analysis{margin-right: 50px;}

.col_auctions{background-color: rgb(255, 255, 255); box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);}

.img_col_auctions{position: relative;}

.img_col_auctions_overlay{background-color:rgba(0,0,0,0.5); width: 100%; height: 100%; position: absolute; left: 0; top: 0;}

.past_acution_col{max-width: 375px; margin:auto;}

.img_content{position: absolute;
    left: 0;
    bottom: 0;
    padding: 40px;}

.img_content img{height: 24px; margin-bottom: 40px;}

.img_content h2{color: #fff; 
    display: block;
    height: 4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}

.img_content h2 span{font-size: 1rem;font-family: 'Montserrat', sans-serif; font-weight: 400}

.col_auctions_content{padding: 40px;}

.col_auctions_content h6{text-transform: uppercase; color: #bcbcbc; font-size: 0.875rem; margin-top: 25px;}

.col_auctions_content h5{color: #282831; font-size: 1.125rem; font-weight: 500;}

.view_auction_link{display: inline-block; margin-top: 25px; font-weight: 500; text-transform: uppercase;}

.view_auction_link i{margin-left: 30px; font-size: 2rem; vertical-align: middle;}

.paging_wrap{display: flex; justify-content: center;}

.pagination li{margin-right: 10px;}

.page-link{color: #bcbcbc; background:none; border: 0px; padding: 0; width: 2.8125rem; height: 2.8125rem; border-radius: 50%; font-size: 1rem;font-weight: 500; line-height: 2.8125rem; text-align: center;}

.page-link:hover{background: #bcbcbc; color: #fff;}

.page-item:first-child .page-link, .page-item:last-child .page-link{background: none !important;color: #bcbcbc !important; font-size: 2.1rem;}

.page-link:focus{box-shadow: none !important;}

.page-item:first-child .page-link{margin-right: 2rem;}

.page-item:last-child .page-link{margin-left: 2rem;}
 
#banner_inner{position: relative; padding: 25px 15px;}

.banner_inner_overlay{background-color: rgba(40,40,49,0.9); height: 100%; width: 100%; position: absolute; left: 0; top: 0;}

.banner_inner_text{display: flex; align-items:center; color: #fff; position: relative;}

.banner_inner_text h1{color: #fff;}

.banner_inner_text p{font-size: 1.125rem; margin-top: 5px;}

.auctions_title{border-right: 1px solid rgba(255,255,255,0.3); padding-right:3rem; margin-right: 3rem;}

.watch_video a{display: flex;align-items: center; text-transform: uppercase; color: #c3a860; font-size: 1.125rem; font-weight: 500; line-height: 1.5rem;}

.watch_video a i{font-size: 2.75rem; color: #fff; margin-right: 1rem;}

#filter_wrap{background-color: rgb(255, 255, 255); box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15); padding: 10px 0;}

.filter_right{display: flex;align-items:center;}

#filter_wrap i{vertical-align: middle;}

#filter_wrap .icon-filter{color: #bcbcbc; font-size: 1.5rem;}

.filter_right .icon_list_grid li{display: inline-block; margin-left: 3rem; font-size: 1.5rem;}

.filter_right .icon_list_grid li i{color: #bcbcbc}

.filter_right .custom_select .selectric{margin-top: 0;}

#filter_wrap .flex_spbtn{align-items: center;}

.filter_right .icon_list_grid li .active i{color: #c3a860;}

.box_col{text-align: center; padding: 30px;background-color: rgb(255, 255, 255); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); display: block; position: relative;}

.listView_wrapper{position: relative;}

.box_col p{color: #747474;}

.col_box_content{padding-top: 25px;}

.col_box_content h3{font-weight: 500; font-size: 1.25rem;display: block; height: 3.2rem; display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}

.col_box_content p{margin-top: 10px; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.col_box_content h5{font-size: 1.125rem; color: #282831; font-weight: 500; margin-top: 20px;}

.col_box_content h6{color: #bcbcbc; font-size: 0.875rem; margin-top: 5px;}

.img_box_col{display: flex; align-items: center; justify-content: center; width: 100%; height: 220px; position: relative; overflow:hidden}

.img_box_col img{max-height: 100%;}

.icon_expand{position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin:auto; text-align: center; display: flex; align-items:center; justify-content: center; font-size: 1.3rem; transform:scale(0); transition: all 0.3s;}

.img_box_col:hover .icon_expand{transform:scale(1);}

.icon_expand i{border-radius: 50%; padding: 8px; box-shadow: 0 0 3px #ccc; background-color: #fff; color: #c3a860}

.popover{background-color: rgba(255, 255, 255, 0.95);font-family: 'Montserrat', sans-serif;border: 1px solid #f6d593; padding: 20px 15px; z-index: 2;}

.bs-popover-right{display: none;}

.popover-body h6{color: #bcbcbc; font-size: 0.875rem; margin-top: 5px;}

.popover-body p{
    font-size: 1.125rem;
    font-weight: 500;
    color: #747474
}

.bs-popover-auto[x-placement^=right] .arrow::after, .bs-popover-auto[x-placement^=right] .arrow::before, .bs-popover-right .arrow::after, .bs-popover-right .arrow::before {
    border-width: 1rem 1rem 1rem 0;
}

.bs-popover-auto[x-placement^=right] .arrow::before, .bs-popover-right .arrow::before {
    border-right-color: rgb(238, 203, 132);
}

.bs-popover-auto[x-placement^=right], .bs-popover-right {
    margin-left: 0;
}

.bs-popover-auto[x-placement^=right] .arrow, .bs-popover-right .arrow {
    left: calc((1rem + 0px) * -1);
    width: 1rem;
    height: 1rem;
    margin: 0rem 0;
}

.bs-popover-auto[x-placement^=left] .arrow, .bs-popover-left .arrow {
    right: calc((1rem + 0px) * -1);
    width: 1rem;
    height: 1rem;
    margin: 0rem 0;
}

.bs-popover-auto[x-placement^=left] .arrow::before, .bs-popover-left .arrow::before {
    right: 0;
    border-left-color: rgb(238, 203, 132);
}
.bs-popover-auto[x-placement^=left] .arrow::after, .bs-popover-auto[x-placement^=left] .arrow::before, .bs-popover-left .arrow::after, .bs-popover-left .arrow::before {
    border-width: 1rem 0 1rem 1rem;
}

.bs-popover-auto[x-placement^=left] .arrow::after, .bs-popover-auto[x-placement^=left] .arrow::before, .bs-popover-left .arrow::after, .bs-popover-left .arrow::before {
    border-width: 1rem 0 1rem 1rem;
}

.bs-popover-auto[x-placement^=bottom] .arrow::after, .bs-popover-auto[x-placement^=bottom] .arrow::before, .bs-popover-bottom .arrow::after, .bs-popover-bottom .arrow::before{border-width: 0 1rem 1rem 1rem;}

.bs-popover-auto[x-placement^=bottom] .arrow::after, .bs-popover-auto[x-placement^=bottom] .arrow::before, .bs-popover-bottom .arrow::after, .bs-popover-bottom .arrow::before {
    border-width: 0 1rem 1rem 1rem
  }

.bs-popover-auto[x-placement^=bottom] .arrow::before, .bs-popover-bottom .arrow::before {
    border-bottom-color: rgb(238, 203, 132);
}

.bs-popover-auto[x-placement^=bottom] .arrow, .bs-popover-bottom .arrow {
    top: calc((1rem + 0px) * -1);
}

.hover_zoom{transition: all 0.3s;transform: scale(1);}

.hover_zoom:hover{transform: scale(1.05);}

/**Counter Timer**/
.transition {
    -webkit-transition: top 400ms linear;
    -moz-transition: top 400ms linear;
    -ms-transition: top 400ms linear;
    -o-transition: top 400ms linear;
    transition: top 400ms linear;
}

.timeTo {
  font-size: 1.2rem;
  line-height: 108%;
  font-weight: bold;
  white-space: nowrap;
  height: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}


.timeTo span {
  vertical-align: top;color: #5B5B5B;
}

.timeTo.timeTo-white div {
  color: #5B5B5B;
}
.timeTo.timeTo-black div {
  color: #5B5B5B;
}

.timeTo figure {
  display: inline-block;
  margin: 0;
  padding: 0;
    max-width: inherit !important;
}
.timeTo figcaption {
  text-align: center;
  font-size: 0.75rem;
  line-height: 80%;
  font-weight: normal;
  color: #5B5B5B;
  margin-top: 3px;
  text-transform: uppercase;
}

.timeTo div {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 23px;
  line-height: 27px;
  border: 1px solid #7B7B7B;
  margin: 0 3px;
  overflow: hidden;
}

.timeTo div.first span{
  
}

.timeTo figure:first-child{margin-right: 3px !important;}

.timeTo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0 !important;
    text-align: center;
    right: 0;
    margin: auto;
}

.timeTo ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bdr_no{border:0 !important;}

.detail_content .timeTo{font-size: 1.4rem;}

/**Cloud Zoom**/
/* CSS for lens */
.cloudzoom-lens {
    border:5px solid #ddd;
    width:100px;
    height:100px;
    box-shadow: -0px -0px 10px rgba(0,0,0,0.15);
    cursor:crosshair;
    z-index: 9999;
}
/* CSS for zoom window. */
.cloudzoom-zoom {
    border:1px solid #ddd;
    width:600px;
    height:200px;
    box-shadow: -0px -0px 10px rgba(0,0,0,0.20);
  z-index: 9999;
}
/* CSS for zoom window in 'inside' mode. */
.cloudzoom-zoom-inside {
    border:none;
    box-shadow:none;
  z-index: 9999;
}

.cloudzoom-zoom + div{display: none;}

/* CSS for captions */
.cloudzoom-caption {
    display:none;   /* CSS captions should be hidden initially */
   
}

/* A blank image */
.cloudzoom-blank {
    background-image:url(blank.png);
}

/* The animated ajax loading image */
.cloudzoom-ajax-loader {
    background-image:url(ajax-loader.gif);
    width:32px;
    height:32px;
}

.cloudzoom-lens + div{
    display:none;
    visibility:hidden;
    z-index:-1;
    opacity:0;
    filter:  alpha(opacity=0);/* For IE fix */
}

/**Cloud Thumbnails**/
.detail_big_img_wrap{display: flex; align-items: flex-start; position: relative;}

.thumbelina {
    list-style:none;
    padding:0px;
    margin:0px;
    position:absolute;
    white-space:nowrap;
    /* font-size:0 stop gaps between display-inline li elemets */
    /* Either do this, or remove all white space in HTML beween li elements */
    font-size:0;    
    /* prevent annoying iPad cut/paste actions */
    -webkit-touch-callout: none; 
    -webkit-user-select: none;     
}

/* Style for the list items that surround the thumbnails */
.thumbelina li {
   /*padding:5px;*/
   line-height: 0px;
   margin:15px 1px;
   background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  display: flex !important; align-items: center; justify-content: center;
  width: 100px;
  height: 100px;
  text-align: center;
  cursor:pointer;
}

/* Add a border to the thumbnails. */
.thumbelina li img {
    max-width: 100%;
    max-height: 100%;
}

/* Hover effect for the images */
.thumbelina li img:hover {
     
}

/* Common style for the buttons */
.thumbelina-but {
   position: absolute;
    background-color: #9e9e9e;
    box-shadow: 0px 0px 2px #9e9e9e;
    z-index: 1;
    cursor: pointer;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

/* Hover style for active button */    
.thumbelina-but:hover {
    color:#fff;
    box-shadow: 0px 0px 3px #9e9e9e;
}

/* Disabled style when button is not active due to extents being reached. */
/* You could do other things e.g. make buttons dissapear completely. */
.thumbelina-but.disabled,
.thumbelina-but.disabled:hover {
    background-color: #efefef;
    color: #ccc;
    cursor:default;
    box-shadow:none;
    display: none;
}

/* Horizontal buttons. */
.thumbelina-but.horiz {
    width: 20px;
    height: 119px;
    line-height: 119px;
    top:-1px;

}
/* Left edge button. */
.thumbelina-but.horiz.left {
    left:-22px;
    border-radius: 5px 0px 0px 5px;
}
/* Right edge button */
.thumbelina-but.horiz.right {
    right:-22px;
    border-radius: 0px 5px 5px 0px;
}

/* Vertical buttons. */  
.thumbelina-but.vert {
    height: 20px;
    line-height: 20px;
    width:100px
}

/* Top edge button. */
.thumbelina-but.vert.top {
    border-radius: 5px 5px 0px 0px;
}

/* Bottom edge button. */
.thumbelina-but.vert.bottom {
    border-radius: 0px 0px 5px 5px;
    bottom: 0;
}

.cloudzoom{padding-right: 30px;}

.icon_zoom{position: absolute; right: 0; bottom: 0;border-radius: 50%;background-color: rgb(255, 255, 255); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15); display: block;}

.detail_content{font-size: 1.125rem;}

.detail_content_dl{padding-top: 40px;}

.detail_content_dl dt{font-weight: 400;}

.detail_content h3{margin-top: 10px;}

.view_additional_link{display: inline-block; font-weight: 500; text-transform: uppercase; font-size: 1rem;}

.medium_weight{font-weight: 500;}

.add_my_gallery{display: inline-block; text-transform: uppercase; font-size: 1rem; font-weight: 500;}

.add_my_gallery i{font-size: 2.5rem; margin-right: 10px; vertical-align: middle; color: #bcbcbc;}

.details_text .col-lg-6{align-self: flex-end;}

.btn_bidnow{height: auto !important; line-height: inherit !important; padding:1.5rem 30px;}

.btn_bidnow.btn_lorange:before, .btn_bidnow.btn_lorange:after{border-top: 2.5rem solid #f3972a; border-bottom: 2.5rem solid #f3972a;}

.timer_wrap{display: flex; align-content: center;}

.product_left{font-size: 1.35rem; font-weight: 400; vertical-align: top; margin-left: 1rem;color: #bcbcbc;}

.black{color: #282831;}

.addition_wrap{float: right; max-width: 1280px;}

.additional_info{border: 10px solid rgba(195, 168, 96, 0.30); padding:10rem 3rem;}

.additional_info p{margin-top: 2rem;}

.col_additional_img{max-width: 500px;}

.col_additional_img h5{color: #282831; font-size: 1.125rem;}

.col_additional_img img{margin-bottom: 3rem;}

.col_additional_img p{margin-top: 7px;}

.addition_wrap .col-md-6{align-self: center;}

.about_artist{max-width: 1110px; margin:auto;}

.about_artist p{margin-top: 30px;}

.about_artist h3{margin-bottom: 15px;}

.about_artist .link_readmore{margin-top: 15px; font-weight: 500; text-transform: uppercase;}

.live_action_menu li{display: inline-block; margin-left: 3rem;}

.live_action_menu li a{color: #747474; font-weight: 600;}

.nowrap_text{white-space:nowrap; overflow:hidden; text-overflow: ellipsis;height: inherit !important; display: block!important;}

.price_live_auc h5{margin-top: 3px;}

.timer_wrap .product_left{margin-right: 10px; font-size: 1rem;}

.live_auction_timer .timeTo {
    font-size: 1.2rem;
    height: 22px;
}

.live_auction_timer .timeTo div {
    width: 18px;
    height: 22px;
    line-height: 27px;
    margin:0 2px;
}

.live_auction_timer{float: right; margin-top: 10px;}

.btn_bid{border-radius: 10px;background-color: #282831;max-width: 120px; width: 100%; height: 34px; line-height: 33px; color: #fff !important; text-align: center; font-size: 1.125rem; font-weight: bold; display: block;float: right; margin-bottom: 10px; text-transform: uppercase;}

.add_tocart{position: absolute; right: -1.25rem; bottom: -20px; border-radius: 50%; z-index: 1; font-weight: 500; text-transform: uppercase; font-size: 1rem;}

.add_tocart i{font-size: 2.5rem; color: #bcbcbc; vertical-align: middle; margin-left: 7px;vertical-align: text-top; background-color: #fff;}

.remove_auction{border-radius: 50%; z-index: 1; border:2px solid #bcbcbc; background-color: #fff; text-align: center; width: 30px; height: 30px;}

.remove_auction i{font-size: 1rem; color: #bcbcbc; font-weight: 600}

.remove_auction2{border-radius: 50%; z-index: 1; border:2px solid #bcbcbc; background-color: #fff; text-align: center; width: 30px; height: 30px; display: inline-block; margin-left: 5px;}

.remove_auction2 i{font-size: 1rem; color: #bcbcbc; font-weight: 600; margin:0;}

.price_live_auc{margin-top: 10px;}

.click_ellipsis{display: none; color: #bcbcbc; font-size: 2rem;}

.ellipsis_nav{position: relative;}

.list_view_timer .btn_bid{max-width: 170px;}

.content_list_view_row{text-align: left;}

.list_view_row{display: flex; align-items: center;}

.img_list_view_row{float: left; width: 245px; margin-right: 50px;}

.content_list_view_row{width: calc(100% - 305px);float: left;}

.list_view_text{font-size: 1.125rem; font-weight: 500;}

.list_view_text h6{padding-top: 10px; font-size: 0.875rem; font-weight: 400;}

/*.price_current_next{width: 180px;margin-right: 40px;}*/

.price_current_next h6 {
    text-transform: uppercase;
    color: #bcbcbc;
    font-size: 1rem;
}


.price_current_next h5 {
    color: #282831;
    font-size: 1.375rem;
    font-weight: 500;
}

.content_list_view_row .row{align-items: center;}

.content_list_view_row .list_view_timer{float: none;display: flex; flex-direction: column;}

.content_list_view_row .product_left{margin-left: 10px;}

.listView_wrapper{display: flex; align-items: center;}

.slide_controls_wrapper p{font-size: 1.5rem; text-align: center; margin-top: 40px;}

.tooltip-inner{background-color: #c3a860;font-family: 'Montserrat', sans-serif;font-size: 0.85rem; font-weight: 500;}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before{border-top-color: #c9b070;}

.home_video_record_price{max-width: 1240px; padding-left: 15px; padding-right: 15px; margin:auto;}

.video_howto_register{height: 350px;}

.modal-backdrop.show{opacity: 0.95}

.modal-backdrop{background-color: #fff;}

.modal-content{border: 1px solid rgba(175, 175, 175, 0.2); box-shadow: 0 0 20px #ececec;}

.close{text-shadow: none;opacity: 1;}

.modal-header h5{color: #282831;}

.grpwith_bdr .input-group-text{background: #fff;
    border: 1px solid #c2e6f0;
    border-radius: 4px;
    position: relative;
    z-index: 99;
    padding: .11rem 15px;    
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;}

.grpwith_bdr .input-group-prepend {
    margin-left: -1px;
}

.input-group-text{background: #fff;
    border: 1px solid #c2e6f0;
    border-radius: 4px;
    border-right: 0;
    position: relative;
    z-index: 99;
    padding: .375rem 15px;}

/**Search expand**/
.search_dropdown{
  background: #fff;
  position: absolute;
  top: 60px;
  right: 0%;
  width: 100%;
  box-shadow: 0 0 12px rgba(181, 181, 181, 0.5);
  display: none;
  z-index: 2;
}

.search_dropdown input[type="text"]{
  width: 100%;
  height: 65px;
  border-radius: 4px;
  border: 0px;
  outline: none;
  font-size: 1.5rem;
}

.search_overlay{position: fixed; background-color: rgba(0,0,0,0.2); width: 100%; height: 100%; left: 0; top: 0; display: none; z-index: 1}

button{outline: none !important;}

.modal-header{padding: 15px 30px;}

.modal-body{padding: 1rem 30px;}

.modal-body .btn_lorange{height: 44px; font-size: 0.83rem;}

.form_terms h6, .form_terms p{margin-top: 15px; line-height: 24px;}

.modal-body .btn_lorange:after{border-left: 1rem solid transparent;}

.notetext{font-size: 0.83rem;}

.form_terms .hrline{margin-top: 15px;}

.btn_search{background: none;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;}

@media(max-width: 1099px){
.nav_auction{display: block;}

.navigation{display: none;}

.add_tocart{right: 0;}

.header_inner{padding:0 15px;}

.content{padding-left: 15px;padding-right: 15px;}

a.btn_lorange {
    line-height: 3.2rem;
}
.btn_lorange {
    font-size: 0.833rem;
    height: 3.2rem;
}

.custom_row{margin-left: -15px; margin-right: -15px;}

.custom_col{padding-left: 15px; padding-right: 15px;}

.recent_auction .btn_lorange{max-width: 180px;}

.button_container{height: 20px;  width: 26px;}

#getin_touch{padding-left: 0; padding-right: 0;}

.button_container span{height: 2px;}

.button_container span:nth-of-type(2) {
    top: 9px;
}

.button_container span:nth-of-type(3) {
    top: 19px;
}

.overlay ul li{padding: 10px 0;}

.overlay .social_header li a{padding-top: 0;} 

.social_header{padding-top: 30px;}

.button_container.active .top{-webkit-transform: translateY(9px) translateX(0) rotate(45deg);
    transform: translateY(9px) translateX(0) rotate(45deg);}

.slide_controls_outer{max-width: 920px; margin:auto; padding:0 50px;}

.slider_controls{padding:0 50px}

.upc_auction_text{padding: 30px;}
}

@media(max-width: 991px){
.cloudzoom-zoom{display: none;}

.detail_big_img_wrap{overflow:hidden;}

.detail_content{margin-top: 40px;}

.click_ellipsis{display: inline-block; margin: 0 20px;}

.live_action_menu{display: none; position: absolute; left:-16%;top: 100%; width: 200px; border: 1px solid #c3a860; border-radius: 4px; background: #fff; z-index: 2;margin-top: 8px;}

.live_action_menu li{display: block; margin-left: 0; padding: 10px 15px; border-bottom: 1px solid #ddd;}

.live_action_menu:after, .live_action_menu:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.live_action_menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 12px;
  margin-left: -12px;
}
.live_action_menu:before {
  border-color: rgba(195, 168, 96, 0);
  border-bottom-color: #c3a860;
  border-width: 13px;
  margin-left: -13px;
}

.search_dropdown input[type="text"]{
  height: 50px;
  font-size: 1rem;
}
}

@media(max-width: 767px){
.video_howto_register{height: 220px;}

.recent_slide_item{height: auto; padding: 60px 20px;}

.recent_auction_content{display: block;}

.recent_auction .btn_lorange{margin:30px 0;}

.header_inner ul li{margin-left: 15px;}

.overlay ul li a:after{background: none;}

.overlay nav{font-size: 1.7rem;padding: 20px 15px;}

.over_nav i{margin-right: 0.7rem;}

.sidebar-menu .sidebar-submenu > li > a{font-size: 1.4rem;}

.overlay.open li ul{padding-top: 0;}

.overlay ul li{padding: 0;}

.content_list_view_row .list_view_timer{align-items: start;}

.video_text i {
    font-size: 3rem;
    color: #fff;
    margin: 10px 0;
    display: inline-block;
}

#logo img {
    height: 30px;
}

.header_inner ul li i {
    font-size: 1.2rem;
}

.button_container {
    width: 22px;
}

.button_container span:nth-of-type(3) {
    top: 17px;
}

.button_container span:nth-of-type(2) {
    top: 8px;
}

.button_container.active .top {
    -webkit-transform: translateY(9px) translateX(0) rotate(45deg);
    transform: translateY(9px) translateX(0) rotate(45deg);
}

.button_container.active .bottom {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
    transform: translateY(-8px) translateX(0) rotate(-45deg);
    background: #FFF;
}

.footer_logo img {
    height: 2.75rem;
}

.appstore img {
    height: 3.2rem;
}

#banner_artist{height:200px;}

#banner_inner {
    position: relative;
    padding: 20px 15px;
}

}

@media(max-width: 640px){
  .title_auction_analysis {
      margin-right: 30px;
  }

.title_viewall_right .flex_spbtn{display: block;}

.title_viewall_right h3{text-align: left !important;}

.title_auction_analysis{margin-right: 30px;}

.col_box_content{padding-top: 15px;}

.img_box_col{height: 180px;}

.box_col{padding: 15px; padding-bottom: 30px;}

.filter_right .icon_list_grid li{margin-left: 1.5rem;}

.filter_right .title_auction_analysis{display: none;}
}

@media(max-width: 575px){
/*.img_box_col{height: auto;}*/

.banner_inner_text{display: block;}

.record_price_text p{line-height: 22px; margin-top: 5px;}

.record_price_text span{margin-top: 5px;}

.auctions_title {
    border-right: 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding-right: 0;
    margin-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.content_list_view_row {
    width: 100%;
    float: none;
    margin-top: 40px;
}

.img_list_view_row {
    float: none;
    width: 100%; 
    margin-right: 0px;
}

.listView_wrapper{display: block;}

.pagination li{margin-right: 0;}

.page-item:first-child .page-link{margin-right: 1rem;}

.page-item:last-child .page-link {
    margin-left: 1rem;
}

.col_box_content .col-xs-6{float: left; padding-left: 15px; padding-right: 15px; width: 50%;}

.btn_bid{max-width: 110px;width: 100%; height: 28px; font-size: 1rem; line-height: 28px;}

.content_list_view_row .col-xs-6{float: left; padding-left: 15px; padding-right: 15px; width: 50%;}

.modal_footer_text .extra-margin-top-30{margin-top: 10px;}

.modal-body {
    padding: 1rem 20px;
}

.modal.show{right: 0;}
}

.modal_footer_text .col-xs-6{float: left; width: 50%;}

@media(min-width: 576px){
#LoginForm .modal-dialog{max-width: 350px;}
}

@media(min-width: 1100px){
.nav_auction{display: none;}

.navigation{display: block;}

.overlay ul li a{padding: 1rem 0px;}

.overlay .social_header ul li a{padding: 0rem 0px;}
}

@media(min-width: 768px){
.close{position: absolute; right: -25px; top: -20px;}

.video_modal .modal-dialog{max-width: 720px;}

.video_modal .modal-body {
      padding:15px;
  }
}


@media(min-width: 1200px){
h1{font-size: 2rem;}

h2{font-size: 1.7rem;}

h3{font-size: 1.3rem;}

.extra-margin-top-60{margin-top: 60px;}

.extra-margin-bottom-60{margin-bottom: 60px;}

.navigation li > a{padding-top: 1.4rem;}

h1{font-size: 2.5rem; font-family: 'Prata', serif;}

h2{font-size: 1.7rem; color: #282831;font-family: 'Montserrat', sans-serif;}

h3{color: #282831; font-size: 1.4rem;}

.big_text{font-size:3rem;}

.medium_text{font-size: 2.5rem;}
}

@media(min-width: 1600px){
.extra-margin-top-100{margin-top: 90px;}

.extra-margin-bottom-100{margin-bottom: 90px;}

.extra-padding-top-100{padding-top: 90px;}

.extra-padding-bottom-100{padding-bottom: 90px;}

.extra-padding-top-30{padding-top: 30px;}

.extra-padding-bottom-30{padding-bottom: 30px;}

.extra-margin-top-30{margin-top: 30px;}

.extra-margin-bottom-30{margin-bottom: 30px;}

.extra-padding-top-40{padding-top: 40px;}

.extra-padding-bottom-40{padding-bottom: 40px;}

.extra-margin-top-40{margin-top: 40px;}

.extra-margin-bottom-40{margin-bottom: 40px;}

.navigation li > a{padding-top: 1.09rem;}

h1{font-size: 3rem; font-family: 'Prata', serif;}

h2{font-size: 1.875rem; color: #282831;font-family: 'Montserrat', sans-serif;}

h3{color: #282831; font-size: 1.5rem;}

.big_text{font-size: 3.75rem;}

.medium_text{font-size: 3rem;}

.upc_auction_text h5{margin-top: 3.125rem;}

.record_price_text p{margin-top: 30px;}

.record_price_text span{margin-top: 30px;}

.img_box_col{height: 310px;}

}

/**********ABOUT US************/
.about_row{background: #46464d; background: linear-gradient(273deg, rgba(40,40,49,1) 0%, rgba(120,120,133,1) 50%, rgba(40,40,49,1) 100%);color: #fff; font-size: 1.1rem; padding-top: 30px;}

.about_row h2{color: #fff;}

#banner_about{max-width: 1200px; margin:auto;}

.footer_pages_content p{margin-bottom: 30px;}

.closing_schedule p{margin-bottom: 15px;}

.team_col{text-align: center;}

.img_team{margin-bottom: 30px;}

.img_team img{max-width: 160px; max-height: 160px; border-radius: 50%;}

.team_col h5{color: #282831}

.team_col h6{color: #606060; margin-top: 5px; font-size: 0.83rem;}

.title_team{position: relative; display: inline-block;}

.title_team:after{background-color: #c3a860; height: 3px; width: 100px; content:""; display: block; margin:auto; margin-top: 15px;}

.team_email{display: inline-block;margin-top: 10px; font-size: 0.83rem;}

.card-body{padding: 30px 15px;padding-top: 20px;}

.accordion .btn-link {
    font-weight: 600;
    color: #282831;
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
    transition: all 0.3s;
    padding: 0.15rem 0;
}


.accordion .btn-link:after{content: "\e913";
    font-family: 'icomoon';
    display: block;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -15px;
    color: #979797;
    font-size: 1.3rem;
    font-weight: 200;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 0.3s;
  }

.accordion .btn-link.collapsed:after{content: "\e913";
    font-family: 'icomoon';
    display: block;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -15px;
    color: #979797;
    font-size: 1.3rem;
    font-weight: 200;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  transition: all 0.3s;}

.accordion .btn-link:hover, .btn-link:focus{text-decoration: none;}

.accordion .card-header{box-shadow: 0 0 1px #c1c1c1; background: #fff; border-bottom: 0; margin-bottom: 10px;padding: 6px 1.1rem;border-radius: 0;}

.accordion .card{border:0;}

.depart_link{display: block; box-shadow: 0 0 20px #eaeaea; border-radius: 10px;padding: 20px; color: #282831; font-weight: 600; text-align: center; font-size: 0.9rem; transition: all 0.3s; line-height: 1.2rem;}

.depart_link:hover{background-color: #494949; color: #fff; box-shadow: 0 0 20px #ccc;;}

.medium_content{max-width: 980px; margin-left: auto;margin-right: auto;}

.video_department iframe{height: 360px;}

.video_department{padding-left: 40px;}

.hr_line{background:#e7e7e7; height: 2px;}

.list_numbers{padding-left: 15px;}

.list_numbers li{list-style-type: decimal; color: #c3a860; line-height: 24px;margin-top: 10px;}

.list_numbers li span{color: #606060}

.list_points li{position: relative; padding-left: 20px; line-height: 24px;margin-top: 10px;}

.list_points li:before {
  content: "\2605";
  margin-right: 5px;
  color: #c3a860;
  font-size: 0.83rem;
  position: absolute;
  left: 0;
}

.careers_form .selectric{border-width: 1px;
    border-color: rgb(192, 229, 239);
    border-style: solid;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px #eeeeee;}

.careers_form{box-shadow: 0 0 10px #e7e7e7; border-radius: 6px; padding: 20px;}

.careers_form h4{text-align: center; margin-bottom: 20px; color: #282831; font-size: 1.2rem;}

.careers_form .form-group {
    margin-bottom: 7px;
}

/**Upload File**/
.import_col{border-style: dashed;
    border-width: 2px;
    border-color: #ece5d2;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    text-align: center;}

.inputfile + label span{color: #979797; display: block; overflow: hidden;text-overflow: ellipsis; white-space:nowrap;}

.inputfile + label span img{margin-bottom: 5px;}

/**Upload Files**/
.import_col input{display: none;}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;    
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label img {
    height: 28px;
    vertical-align: middle;
    fill: currentColor;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile + label i{font-size: 3rem;}

/* style 2 */

.inputfile-2 + label {
    color: #243b7a;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #243b7a;
}

.selectric .label{color: #979797}

.form-control {
    border-width: 1px;
    border-color: #ece5d2;
    border-style: solid;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px #eeeeee;
    min-height: 36px;
    padding-left: 15px;
    padding-right: 15px;
}

.careers_form .selectric{border-color: #ece5d2;}

.form_textarea{border-color: #ece5d2;}

.form_label{font-size: 0.83rem;}

.btn_min_width{min-width: 170px;}

.medium_content_text{max-width: 980px;}

.modal-header .close{margin:0;}

.pwd_password{display: inline-block; font-size: 11px; color: #999;font-weight: 500;}

.create_acc{display: inline-block; font-size: 11px; font-weight: 500;}

.signform input, .signform select, .signform textarea{font-size: 0.8rem;}

.modal-header .close{padding: 0 !important;}

.resend_otp{margin-left: 10px;}

.btn_black{background: #282831; color: #fff; border:0; border-radius: 4px; padding: 4px 20px; cursor: pointer; font-size: 13px; font-weight: 500;}

.otp_ver_resend{display: flex; align-content: center; justify-content: space-between; width: 100%}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0,0,0,.04);;
}

.table_head{background: #949292; color: #fff; font-weight: 500;}

.table thead.table_head th{border-bottom: 0;}

.table td, .table th{padding: 10px 20px; line-height: 20px;border-top: 1px solid #e8e8e8;font-size: 0.93rem;}

.table_box{box-shadow: 0 2px 3px #ddd;}

.table_box .table{margin-bottom: 0;}

.flex_flex_end{justify-content: flex-end; display: flex;}

.flex_flex_end .filter_right{margin-top: 4px;}

.title_small_text{font-size: 0.9rem; color: #606060; text-transform: capitalize;}

.title_spbtn{display: flex; justify-content: space-between; width: 100%;}

.see_video{display: inline-block;}

.see_video i{font-size: 2rem; vertical-align: middle;}

.red{color: #f00;}

.form_label .red{font-size: 0.93rem;}

.extra-margin-top-20{margin-top: 20px;}

.extra-margin-bottom-20{margin-bottom: 20px;}

.profile_form_grey{background-color: #f9f9f9; box-shadow: 0 0 3px #ccc; padding: 30px; border-radius: 3px;margin-top: 15px;}

.btn_max_width{max-width: 200px;}

.filter_artist{position: relative;}

.filter_artist_dropdown{position: absolute; left: 0;top: 35px; width: 210px; height: 300px; overflow-y:auto; background-color: #fff; box-shadow: 0px 3px 3px #ddd; font-size: 0.93rem;line-height: 18px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px; z-index: 2; display: none;}

.filter_artist_dropdown li a{color: #606060; border-bottom: 1px solid #f2f2f2; padding: 10px 10px; display: block; width: 100%; transition: all 0.3s;}

.filter_artist_dropdown li a:hover{background-color: #c3a860; color: #fff; font-weight: 600;padding: 10px 15px;}

.filter_artist_dropdown::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
  border-radius: 6px;
  -webkit-overflow-scrolling: touch;
}

.filter_artist_dropdown::-webkit-scrollbar-track
{
  background-color: rgba(255,255,255,1);-webkit-box-shadow: inset 0 0 6px rgba(57,58,69,0.2);  -webkit-overflow-scrolling: touch;
}

.filter_artist_dropdown::-webkit-scrollbar-thumb
{
  background-color: rgb(151, 151, 151);  -webkit-overflow-scrolling: touch;
}

    .flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

}

  .flip-container:hover .flipper,  
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

.flip-container, .front, .after_flipe {
   
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .after_flipe {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
 
}

.front {
  z-index: 2;
}

.after_flipe {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  position:absolute;
  top:0;
  text-align:left;
  display:flex;
  align-items:center;
}


.after_flipe h6 {
    color: #bcbcbc;
    font-size: 0.875rem;
    margin-top: 5px;
}

.after_flipe p {
    font-size: 1.125rem;
    font-weight: 500;
    color: #747474;
}

.hover_zoom{transform: inherit;}

.hover_zoom:hover{transform: inherit;}

.icon_expand{position:relative; transform: inherit; font-size:1.3rem;border-radius: 50%; margin-bottom:10px; dispaly:block;
  background-color: rgb(255, 255, 255); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);width: 42px; height: 42px;}

.icon_expand i{border-radius: 0%; padding: 0; box-shadow: none; color:#bcbcbc;}

.col_box_content {
    padding-top: 15px;
}

.close_auction{text-align: center; color: #f13030;font-size: 0.85rem; font-weight: 600;}

.disabled_btn{opacity: 0.45; cursor:default; margin-top: 10px;}

.product_img_zoom{position: relative; display: inline-block; padding: 7px 0;}

.product_img_zoom .img_responsive{max-width: 140px; max-height: 200px;}

.product_img_zoom .icon_expand{position: absolute; top: 50%; margin-top: -18px; left: 50%; margin-left: -18px; width: 36px; height: 36px; font-size: 1.1rem;}

.description_text p{font-weight: 500; color: #747474; margin:0; line-height: 32px;}

.description_text p span{color: #bcbcbc;}

.billing_address{max-width: 1400px;}

.total_price{font-weight: 600; color: #000;}

.total_price p{padding: 15px 0;margin:0;}

.img_list_view_row{position: relative;}

.img_list_view_row .icon_expand{position: absolute; top: 50%; left: 50%; margin-top: -21px; margin-left: -21px;}

.list_view_artist_details dl{font-size: 0.93rem;}

.list_view_artist_details dl dd, .list_view_artist_details dl dt{line-height: 22px;}

.table_bid_history p{margin-bottom: 5px;}

.btn_lorange_small{border-radius: 6px;
    background-color: rgb(195, 168, 96);
    padding: 0 30px;
    text-transform: uppercase;
    color: #fff !important;
    font-weight: 600;
    font-size: 0.83rem;
    text-align: center;
    letter-spacing: 2px;
    height: 3.2rem;
    border: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;}

dt {
    font-weight: 600;
}

.valign_cell td{vertical-align: middle;}

.link_readmore i{vertical-align: middle; font-size: 1.1rem; font-weight: 600; margin-right: 5px;}

.contact_address{background: url(../images/contact.jpg) left center no-repeat fixed; float: left; width: 50%; background-size: contain; display: flex; align-items: center; justify-content: center; height: 80vh;}

.address_inner{color: #fff; padding: 15px 50px;font-size: 1.2rem;}

.address_inner h5{font-size: 1.25rem; margin-bottom: 10px;}

.address_row{margin-top: 30px; display: flex; line-height: 28px;}

.contact_map{float: left; width: 50%;}

.icon_add{margin-right: 15px; font-size: 1.5rem;}

.address_col a{color: #fff;}

.address_col p{margin-bottom: 0;}

.gmap_content {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #dae6fa;
}

.gm-style-mtc, .gm-style-cc, .gm-fullscreen-control{display: none !important;}

.profile_billing_add{background-color: #f9f9f9; box-shadow: 0px 0px 3px 0px rgba(1, 1, 1, 0.16); padding: 30px; border-radius: 3px;}

.profile_billing_add h4{font-size: 1.2rem; color: #333;}

.img_artist_profile{float: left; width: 140px; margin-right: 30px;}

.img_artist_profile img{max-width: 100%;}

.content_artist_profile{float: left;width: calc(100% - 170px);}

.outline_link {
    display: inline-block;
    border: 1px solid #c3a860;
    padding: 5px 25px;
    border-radius: 20px;
    transition:all 0.3s;
    font-weight: 500;
}

.outline_link:hover{background: #c3a860; color: #fff;}

@media(max-width: 900px){
.gmap_content{height: 320px;}

.contact_address{height: inherit; padding: 30px;background: url(../images/contact.jpg) left center no-repeat;}

.contact_map, .contact_address{width: 100%; float: none;}
}

@media(max-width: 767px){
.mobile_order_1{order:1;}
.mobile_order_2{order:2;}

.video_modal .close{text-align: right;
    margin-right: 10px;
    margin-top: 10px;}
}

@media(max-width: 640px){
.title_spbtn{display: block;}

.see_video{margin-top: 10px;}
}

@media(max-width: 991px){
.careers_form{padding: 10px; padding-top: 30px;}
}