﻿
@{
    ViewBag.Title = "aboutUs";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
    <div class="about_row">
        <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
            @*<div class="row align-items-center">
                <div class="col-md-3"><h2 class="sbold uppercase">About AstaGuru</h2></div><!-- col -->
                <div class="col-md-9">
                    <p>AstaGuru was conceptualised in the year 2008 with the sole purpose of creating a safe and secure platform to conduct online auctions for Modern Indian and Contemporary art. The word AstaGuru is a thoughtful conjugation of ‘Asta’, of Italian origin, which translates to auction and ‘Guru’,  the Sanskrit connotation for ‘master’ that indicates our distinguished finesse at being the leaders of auctioneering art and artefacts in India as well as globally. AstaGuru has strived to successfully bridge the gap between prospective buyers and consignors by transcending the limitations of live auctions. </p>
                    <p>We started the journey by focusing on modern and contemporary Indian art. AstaGuru not only delivers finely curated auction catalogues but also cultivates a promising market for Indian art. Over the years we have added a range of other segments. Our diverse portfolio includes categories such as Jewellery & Fine Silver, Timepieces, Textiles, Celebrity Memorabilia, Rare Books, Numismatic, Philately and Vintage Cars. The latest addition to our portfolio has been that of the furniture and home decor segment. </p>
                    <p>What sets AstaGuru apart in each category is the fine attention to detail and the unique and rare collectibles we offer our clients. We strongly believe in research-based curation and our auction catalogues are a reflection of that. AstaGuru’s mobile app enables our esteemed bidders to follow and participate in our auctions seamlessly, and in real time. We impart effortless transparency to the process of acquiring and selling art and rare collectibles.</p>                  
                </div><!-- col -->
            </div>*@<!-- row -->
        @Html.Raw(ViewBag.Description)
        </div><!-- content -->
    </div><!-- about_row -->
    <div class="our_team">
        <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
            <h2 class="sbold uppercase">Our Team</h2>
            <div class="row justify-content-center">
                <div class="col-md-12 text-center extra-margin-top-40 extra-margin-bottom-30"><h3 class="sbold title_team">Management</h3></div>
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Vikran Sir.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Vickram Sethi</h5>
                        <h6>Chairman</h6>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Tushar.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Tushar Sethi</h5>
                        <h6>CEO</h6>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Digi.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Digamber Sethi</h5>
                        <h6>COO</h6>
                    </div>
                </div><!-- col -->
            </div><!-- row -->
            <div class="hrline extra-margin-top-60"></div>
            <div class="row justify-content-center">
                <div class="col-md-12 text-center extra-margin-top-40 extra-margin-bottom-30"><h3 class="sbold title_team">Specialists</h3></div>
               <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/sunny.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Sunny Chandiramani</h5>
                        <h6>Vice President</h6>
                        <a href="#" class="team_email">sunny@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Sneha.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Sneha Gautam</h5>
                        <h6>Vice President</h6>
                        <a href="#" class="team_email">sneha@astaguru.com</a>
                    </div>
                </div><!-- col -->
				  <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Mamta.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Mamta Rahate</h5>
                        <h6>Vice President</h6>
                        <a href="#" class="team_email">mamta@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Tami.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Tahmina Lakhani</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">tahmina@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Raziya.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Razia Parveen</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">razia@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/ankita.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Ankita Talreja</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">ankita@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/rakshanda.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Rakshanda Hussain</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">rakshanda@astaguru.com</a>
                    </div>
                </div><!-- col -->
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Trisha.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Trisha Mohan</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">trisha@astaguru.com</a>
                    </div>
                </div><!-- col -->				 			
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Riddhi.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Riddhi Gandhi</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">riddhi@astaguru.com</a>
                    </div>
                </div><!-- col -->
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Soumya.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Soumya Vajpeyi</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">soumya@astaguru.com</a>
                    </div>
                </div><!-- col -->
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/radhika.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Radhika Kerkar</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">radhika@astaguru.com</a>
                    </div>
                </div><!-- col -->
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Amee-Sodha.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Amee Sodha</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">amee@astaguru.com</a>
                    </div>
                </div><!-- col -->
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Deelip.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Deelip Jagasia</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">deelip@astaguru.com</a>
                    </div>
                </div><!-- col -->
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Sagar.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Jay Sagar</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">jay@astaguru.com</a>
                    </div>
                </div><!-- col -->
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/anthony.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Anthony Diniz</h5>
                        <h6>V.P. Operations</h6>
                        <a href="#" class="team_email">anthony@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Sidhant.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Siddanth Shetty</h5>
                        <h6>V.P. Business Strategy & Operations</h6>
                        <a href="#" class="team_email">siddanth@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Sarvesh.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Sarvesh Tiwadi</h5>
                        <h6>Strategy</h6>
                        <a href="#" class="team_email">sarvesh@astaguru.com</a>
                    </div>
                </div><!-- col -->				 
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Jahangir.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Jehangir Bhoot</h5>
                        <h6>Automobile</h6>
                        <a href="#" class="team_email">jehangir@astaguru.com</a>
                    </div>
                </div><!-- col -->
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Suhail.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Suhail Kazi</h5>
                        <h6>Automobile</h6>
                        <a href="#" class="team_email">suhail@astaguru.com</a>
                    </div>
                </div><!-- col -->
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Dipak.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Deepak Moorthy</h5>
                        <h6>Timepieces</h6>
                        <a href="#" class="team_email">deepak@astaguru.com</a>
                    </div>
                </div><!-- col -->
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Gopika-Mirchandani.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Gopika Mirchandani</h5>
                        <h6>Research</h6>
                        <a href="#" class="team_email">gopika@astaguru.com</a>
                    </div>
                </div><!-- col -->	
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Uzma2.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Uzma Poonawalla</h5>
                        <h6>Business Development</h6>
                        <a href="#" class="team_email">uzma@astaguru.com</a>
                    </div>
                </div><!-- col -->				 	
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/PRIYANSHI-SAKSENA.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Priyanshi Saksena</h5>
                        <h6>Marketing</h6>
                        <a href="#" class="team_email">priyanshi@astaguru.com</a>
                    </div>
                </div><!-- col -->			
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/kamran.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Kamran Chaudhary</h5>
                        <h6>Digital Marketing</h6>
                        <a href="#" class="team_email">kamran@astaguru.com</a>
                    </div>
                </div><!-- col -->		
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Simone.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Simone Mody</h5>
                        <h6>Digital Marketing</h6>
                        <a href="#" class="team_email">simone@astaguru.com</a>
                    </div>
                </div><!-- col -->	
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Rhea.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Rhea Jacinto</h5>
                        <h6>Executive- PR</h6>
                        <a href="#" class="team_email">rhea@astaguru.com</a>
                    </div>
                </div><!-- col -->	
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/sid.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Sidhant Nayangara</h5>
                        <h6>Content Editor</h6>
                        <a href="#" class="team_email">s.nayangara@astaguru.com</a>
                    </div>
                </div><!-- col -->
	                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Kartik.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Karthik Lynch</h5>
                        <h6>Logistics</h6>
                        <a href="#" class="team_email">karthik@astaguru.com</a>
                    </div>
                </div><!-- col -->
               <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/jitu.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Jitu Nath</h5>
                        <h6>Logistics</h6>
                        <a href="#" class="team_email">jitu@theartstrust.com</a>
                    </div>
                </div><!-- col -->		
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/piyush.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Piyush Gupta</h5>
                        <h6>Logistics</h6>
                        <a href="#" class="team_email">piyush@astaguru.com</a>
                    </div>
                </div><!-- col -->						 
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Prem.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Prem Mahyavanshi</h5>
                        <h6>Market Analyst</h6>
                        <a href="#" class="team_email">prem@theartstrust.com</a>
                    </div>
                </div><!-- col -->               
               <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Aish.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Aishwarya Chandurkar</h5>
                        <h6>Restoration Department</h6>
                        <a href="#" class="team_email">aishwarya@theartstrust.com</a>
                    </div>
                </div><!-- col -->
               <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Enna.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Enna Kathrecha</h5>
                        <h6>Restoration Department</h6>
                        <a href="#" class="team_email">enna@theartstrust.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/snehal.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Snehal Pednekar</h5>
                        <h6>Human Resource</h6>
                        <a href="#" class="team_email">snehal@theartstrust.com</a>
                    </div>
                </div><!-- col -->	
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/ANKITA-KAMBLI.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Ankita Kambli</h5>
                        <h6>Human Resource</h6>
                        <a href="#" class="team_email">ankitakambli@theartstrust.com</a>
                    </div>
                </div><!-- col -->	
               
                
            </div><!-- row -->
        </div><!-- content -->
    </div><!-- our_team -->
</div><!-- Wrapper -->
