﻿@model Astaguru.Models.Auction
@{
    ViewBag.Title = "artistProfile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    Astaguru.Services.UserService.ArtistService AS = new Astaguru.Services.UserService.ArtistService();
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    /*AUC.Auctionid = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["auctionId"]); */              //commented on 6_3_2020

    int currentauctionid = CAS.GetCurrentAuctionId();
    AUC.Auctionid = currentauctionid;
    AUC.artistid = Convert.ToInt32(Request.QueryString["artistid"]);
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    int currentCount = 0;
    int pastCount = 0;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper">
    <div id="banner_artist" style="background:url(/Content/images/banner-artist.jpg) center center no-repeat;">
        <div class="banner_overlay"></div>
    </div><!-- banner Home -->
    <div class="artist_content_wrap extra-padding-bottom-100">
        <div class="artist_content">
            <div class="content">
                <div class="img_artist">
                    @if(Model.Picture == null || Model.Picture == "")
                    {
                    <img src="~/Content/pixel.jpg"   class="img_responsive" />
                    }
                    else
                    {
                        <img src="https://www.astaguru.com/@Model.Picture" class="img_responsive" />
                    }
                    
                    <h2 class="sbold uppercase">@Model.firstname @Model.lastname</h2>
                </div>

                <p>
                    @Html.Raw(Model.Profile);
                </p>
            </div>
        </div>
        <a href="#HorizontalTab" class="artist_arrow_btm a_scroll"><i class="icon-down-arrow"></i></a>
    </div><!-- artist_content_wrap -->

    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
        <div id="HorizontalTab">
            <ul class="resp-tabs-list hor_1">
                <li>past auctions</li>
                <li>current auction</li>
            </ul>
            <div class="resp-tabs-container hor_1">

                <div>
                    <div class="row">

                        @foreach (var item in AS.getArtistPastAuction(AUC))
                        {
                            pastCount++;

                            if (pastCount < 4)
                            {
                                <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                                <a href="@baseUrlPath/Past/PastDetails?productid=@item.productid" class="auction_box">
                                    <div class="img_auction panel-body">
                                        <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                    </div><!-- img auction -->
                                    <div class="auction_content">
                                        <h2 class="title_font">@Html.Raw(@item.Auctionname)</h2>
                                        <div class="lotno">Lot @item.reference</div>
                                        <p>@item.title</p>
                                    </div><!-- auction_content -->
                                </a><!-- Auction box -->
                            </div><!-- col -->    
                            }
                            
                        }

                    </div><!-- row -->
                    @if (pastCount > 3)
                    {
                        <div class="text-center extra-margin-top-30"><a href="@baseUrlPath/Home/searchArtist?artistid=@AUC.artistid" class="outline_link">View More</a></div>
                    }
                </div><!-- Tab 1 -->

                <div>
                    <div class="row match_all">

                        @foreach (var item in AS.getArtistCurrentAuction(AUC))
                        {
                            currentCount++;

                            if (currentCount < 4)
                            {
                                <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                                    <a href="@baseUrlPath/Home/LotDetails?productid=@item.productid&page=0" class="auction_box">
                                        <div class="img_auction panel-body">
                                            <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                        </div><!-- img auction -->
                                        <div class="auction_content">
                                            <h2 class="title_font">@Html.Raw(@item.Auctionname)</h2>
                                            <div class="lotno">Lot @item.reference</div>
                                            <p>@item.title</p>
                                        </div><!-- auction_content -->
                                    </a><!-- Auction box -->
                                </div><!-- col -->
                            }

                        }
                    </div><!-- row -->
                    @if (currentCount > 3)
                    {
                        <div class="text-center extra-margin-top-30"><a href="@baseUrlPath/Home/searchArtist?artistid=@AUC.artistid" class="outline_link">View More</a></div>
                    }
                    
                @if (currentCount == 0)
                {
                    <span class="no_data">There is no auction live </span>
                }

                </div><!-- Tab 2 -->

            </div><!-- resp-tabs-container -->
        </div><!-- parentHorizontalTab -->

        <!-- <a href="@baseUrlPath/Home/searchArtist?artistid=@AUC.artistid" target="_blank">View All</a> -->
        
    </div><!-- content -->
</div><!-- Wrapper -->

