﻿@model Astaguru.Models.Careers
@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}



<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
        <h3 class="sbold uppercase">Why AstaGuru?</h3>

        <div class="row custom_row">
            <div class="col-md-8 extra-margin-top-30 custom_col">
                <p>AstaGuru was established by art connoisseurs and collectors Mr Vickram Sethi & Mr Tushar Sethi in the year 2008, we are India's premium online art auction house. We constantly innovate and have been venturing into newer terrains such as antiques & collectibles. Modern & Contemporary Indian art is gaining attention globally, creating jobs for individuals who are inclined towards this dynamic world of colours.</p>
                <p>AstaGuru is growing and we are keen on exchanging ideas and working with likeminded individuals. Being a part of our institution gets you well acquainted with this booming industry and provides you with an opportunity to learn about the intangible process of creating art through imagination. Our team comprises of driven individuals and our work culture revolves around having fun while learning and working. So if you see yourself as a person who would enjoy being surrounded by art & antique artifacts, AstaGuru is just the place for you. Be part of this thriving industry and strike a balance between job satisfaction and soul satisfaction. Share your details with us and upload an updated resume.</p>
                <div class="hrline extra-margin-top-30"></div>
                <h3 class="sbold uppercase extra-padding-top-40">Current Vacancy</h3>
                <div class="accordion extra-margin-top-30" id="accordionExample">

				 <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Executive/Manager Client Relations
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Executive/Manager Client Relations</p>
								<h5 class="sbold black">Level</h5>
								<p>Junior and Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>To Ensure This position is responsible for achieving profitability as well as end to end client
management objectives, typically from new clients or accounts. Explore marketplace opportunities,
prospect and engage new clients, develop proposals, and manage the contract process right from initiation
to shipping and ensure repeat business from existing clients.</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">                                   
                                    <li><span>Research, identify, connect and tenaciously generate new potential clients</span></li>
                                    <li><span>Methodically qualify, build, and manage an accurate sales funnel</span></li>
                                    <li><span>Strategically plan and achieve sales target annually</span></li>
                                    <li><span>Maintain a high volume of activity including outbound calls, emails and ensure continuous client interaction.</span></li>
                                    <li><span>Responsible for managing the end-to-end sales process for the artworks and collectibles through private sales & auctions.</span></li>
									<li><b>This profile involves travelling within the city, across the cities in the country and international for Client Meetings as and when required.</b></li>
									<li><b>Mid-Level- Should have managed a team of 2-5 members</b></li>
                                </ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Junior Level- Min 3-6 years</li>                                  
									<li>Mid-Level- 7+ years</li>                                  
									<li>Industry- Luxury Retail Brands (Louis Vuitton, Gucci, Chanel, Hermes, Burberry), Wealth Management sector</li>                                  
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA is mandatory (Preferred MBA in Luxury Management or MBA from international university)</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Junior-Level- 21-26 yrs<br>
								Mid-Level- 27- 32 yrs</p>
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Luxury Sales, Client Relations & Retention.</span></li>                                                               
                                </ul>
								<p><h5 class="sbold black">Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Excellent communication skills<br>
 <li><span> Excellent interpersonal skills</span></li> 
 <li><span> Good business & negotiation skills</span></li> 
<li><span> Prospecting & client management</span></li> 
 <li><span> Mid-Level- Leadership skills</span></li> </ul>
</p>
<p>
<h5 class="sbold black">Personal attributes</h5> <ul class="list_numbers extra-padding-bottom-30"> <li><span> Pleasing personality</span></li>
 <li><span>Self-Motivator</span></li>
 <li><span> Presentation skills</span></li>
 <li><span> Independent thinker</span></li>
 </ul>
</p>
	<p><h5 class="sbold black">Technical Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Proficient in MS Office suite of Programs</span></li></ul></p>

                                
                                <p><h5 class="sbold black">Career Path :</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span>Junior- Level- Executive- Client Relations</span></li>
 <li><span> Sr. Executive- Client Relations</span></li>
 <li><span>Mid- Level Deputy Manager- Client Relations</span></li>
 <li><span> Manager- Client Relations</span></li>
 <li><span> Sr. Manager- Client Relations</span></li></ul>
</p>                        


                            </div>
                        </div>
                    </div>
				<div class="card">
                        <div class="card-header" id="headingEight">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                                    Watch Expert
                                </button>
                            </h5>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Watch Expert</p>
								<h5 class="sbold black">Level</h5>
								<p>Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>Manage the entire Watch Auction- Research, sourcing and ensuring sales. Explore
marketplace opportunities, prospect and engage new clients, develop proposals, and manage the contract
process right from initiation to shipping and ensure repeat business from existing clients.</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span> To find rare and limited-edition timepieces, and has an extensive network of watch dealers, wholesalers
and jewellers to track down even the most unique pieces.</span></li>
                                    <li><span>Research, identify, connect and tenaciously generate new potential clients</span></li>
                                    <li><span>Methodically qualify, build, and manage an accurate sales funnel</span></li>
                                    <li><span>Strategically plan and achieve sales target annually</span></li>
                                    <li><span>Maintain a high volume of activity including outbound calls, emails and ensure continuous client interaction.</span></li>
                                    <li><span> Looking for high performing sales candidates with work experience in vintage and rare timepieces for more than 7+yrs.</span></li>
									<li><b>This profile involves travelling within the city, across the cities in the country and international for Client Meetings as and when required.</b></li>
									<li><b>Should have managed a team of 2-5 members</b></li>
                                </ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Mid-Level- 7+ years in luxury watch segment (For Eg- Brands like Rolex, Patek Philippe)</li>                                  
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA is mandatory (Preferred MBA in Luxury Management or MBA from international university)</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Mid-Level- 27- 35 yrs</p>
								<p></p>
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Knowledge on luxury watches, Luxury Sales, Client Relations & Retention. </span></li>                                                               
                                </ul>
								<p><h5 class="sbold black">Skills</h5> <ul class="list_numbers extra-padding-bottom-30">  <li><span> Excellent communication skills</span></li>
  <li><span> Excellent interpersonal skills</span></li>
  <li><span> Good business & negotiation skills</span></li>
  <li><span> Prospecting & client management</span></li>
  <li><span> Leadership skills</span></li> </ul>
</p>
<p>
<h5 class="sbold black">Personal attributes</h5> <ul class="list_numbers extra-padding-bottom-30">  <li><span> Pleasing personality</span></li>
  <li><span>Presentation skills</span></li>
 <li><span> Independent thinker</span></li>
 <li><span>Self-Motivator</span></li> </ul>
</p>
	<p><h5 class="sbold black">Technical Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Proficient in MS Office suite of Programs</span></li></ul></p>

                                
                                <p><h5 class="sbold black">Career Path:</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span>Watch Expert</span></li>
<li><span>Advisor</span></li></ul>
</p>                        
                            </div>
                        </div>
                    </div>

					<div class="card">
                        <div class="card-header" id="headingNine">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    Cars Expert
                                </button>
                            </h5>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Cars Expert</p>
								<h5 class="sbold black">Level</h5>
								<p>Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>Manage the entire Cars Auction- Research, sourcing and ensuring sales. Explore marketplace
opportunities, prospect and engage new clients, develop proposals, and manage the contract process right
from initiation to shipping and ensure repeat business from existing clients.</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span> To source vintage, classical and royal antique cars, has an extensive network of antique car dealers, car
enthusiasts and collectors, knowledge of the value, heritage and significance of vintage and classic cars
and competence to track down a superior network of cars and aficionados. </span></li>
                                    <li><span>Research, identify, connect and tenaciously generate new potential clients</span></li>
                                    <li><span>Methodically qualify, build, and manage an accurate sales funnel</span></li>
                                    <li><span>Strategically plan and achieve sales target annually</span></li>
                                    <li><span>Maintain a high volume of activity including outbound calls, emails and ensure continuous client interaction.</span></li>
                                    <li><span>Looking for high performing sales candidates with work experience in vintage and classic cars for more than 7+yrs.</span></li>
									<li><b>This profile involves travelling within the city, across the cities in the country and international for Client Meetings as and when required.</b></li>
									<li><b>Should have managed a team of 2-5 members</b></li>

                                </ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Mid-Level- 7+ years’ experience in vintage and luxury cars segment</li>                                  
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA is mandatory (Preferred MBA in Luxury Management or MBA from international university)</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Mid-Level- 27- 35 yrs</p>
								<p></p>
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Luxury Sales, Client Relations & Retention.</span></li>                                                               
                                </ul>
								<p><h5 class="sbold black">Skills</h5><ul class="list_numbers extra-padding-bottom-30">  <li><span> Excellent communication skills</span></li>  
  <li><span> Excellent interpersonal skills</span></li>  
  <li><span>Good business & negotiation skills</span></li>  
  <li><span> Prospecting & client management</span></li>  
 <li><span> Leadership skills</span></li>  </ul>
</p>
<p>
<h5 class="sbold black">Personal attributes</h5><ul class="list_numbers extra-padding-bottom-30">  <li><span> Independent thinker</span></li>  
 <li><span> Self-Motivator</span></li>  
  <li><span> Car Enthusiastic</span></li>  
 <li><span> Pleasing personality</span></li>  
 <li><span> Presentation skills</span></li>  </ul>
</p>
	<p><h5 class="sbold black">Technical Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Proficient in MS Office suite of Programs</span></li></ul> </p> 
                                <p><h5 class="sbold black">Career Path:</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span>Car Expert</span></li>
 <li><span>Advisor</span></li></ul>
</p>                        
 
                            </div>
                        </div>
                    </div>
					<div class="card">
                        <div class="card-header" id="headingTen">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    Jewellery Specialist
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Jewellery Specialist</p>
								<h5 class="sbold black">Level</h5>
								<p>Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>Manage the entire Jewellery Auction- Research, sourcing and ensuring sales. Explore
marketplace opportunities, prospect and engage new clients, develop proposals, and manage the contract
process right from initiation to shipping and ensure repeat business from existing clients.</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>To find exquisite pieces of jewellery of high value and rarity has an extensive network of jewellers and
clientele with interest for acquiring collectable pieces of luxury ornaments, having deep knowledge of
regalia and heirloom collections of fine jewellery, and competence to track down even the most unique
pieces.</span></li>
                                    <li><span>Research, identify, connect and tenaciously generate new potential clients</span></li>
                                    <li><span>Methodically qualify, build, and manage an accurate sales funnel</span></li>
                                    <li><span>Strategically plan and achieve sales target annually</span></li>
                                    <li><span>Maintain a high volume of activity including outbound calls, emails and ensure continuous client interaction.</span></li>
                                    <li><span>Looking for high performing sales candidates with work experience in vintage and classic cars for more than 7+yrs.</span></li>
									<li><span>Have contact with royal lineage</span></li>
									<li><b>This profile involves travelling within the city, across the cities in the country and international for Client Meetings as and when required.</b></li>
									<li><b>Should have managed a team of 2-5 members</b></li>

                                </ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Mid-Level- 7+ years in vintage or luxury jewellery segment</li>                                  
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA is mandatory (Preferred MBA in Luxury Management or MBA from international university)</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Mid-Level- 27- 35 yrs</p>
								<p></p>
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Knowledge on vintage jewellery,Luxury Sales, Client Relations & Retention.</span></li>                                                               
                                </ul>
								<p><h5 class="sbold black">Skills</h5><ul class="list_numbers extra-padding-bottom-30"><li><span> Excellent communication skills</span></li>
<li><span> Excellent interpersonal skills</span></li>
<li><span> Good business & negotiation skills</span></li>
<li><span> Prospecting & client management</span></li>
 <li><span> Leadership skills</span></li> </ul>
</p>
<p><h5 class="sbold black">Personal attributes</h5><ul class="list_numbers extra-padding-bottom-30"><li><span> Independent thinker</span></li>
<li><span> Self-Motivator</span></li>
 <li><span> Car Enthusiastic</span></li>
<li><span> Pleasing personality</span></li>
<li><span> Presentation skills</span></li> </ul>
</p>
	<p><h5 class="sbold black">Technical Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Proficient in MS Office suite of Programs</span></li></ul></p>

                               
                                <p> <h5 class="sbold black">Career Path:</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span>Jewellery Specialist</span></li>
<li><span>Advisor</span></li></ul>
</p>                        
 
                            </div>
                        </div>
                    </div>

					<div class="card">
                        <div class="card-header" id="headingEleven">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    Manager International PR
                                </button>
                            </h5>
                        </div>
                        <div id="collapseEleven" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Manager International PR</p>
								<h5 class="sbold black">Level</h5>
								<p>Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>This position is responsible to plan, strategize and manage international public relations and
handle all aspects of planned PR campaigns and PR activities.</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span> Develop and maintain relationships with decision makers of new and existing clients, and media
outlets/companies on an international platform</span></li>
                                    <li><span>Research and analyse target market at an international level to develop strategic and tactical plans to grow the business.</span></li>
                                    <li><span>Plan, direct and set the strategic direction of marketing and business development initiatives within an organization</span></li>
                                    <li><span> Develop and maintain relationships with media outlets.</span></li>
                                    <li><span>Develop pricing strategies and media relations plan, balancing firm objectives and customer satisfaction.</span></li></ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Mid-Level- 5+ years</li>                                  
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA is mandatory</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Mid-Level- 27- 35 yrs</p>
								<p></p>
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Knowledge on vintage jewellery,Luxury Sales, Client Relations & Retention.</span></li>    
									        <li><span> Knowledge of social media (blogs, Facebook, Twitter, etc.) </span></li> 
											        <li><span> Have strong network/contacts with media house, newspapers and magazines on an international platform</span></li> 
                                </ul>
								<p><h5 class="sbold black">Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Excellent communication skills</span></li>
<li><span>  Excellent interpersonal skills</span></li>
 <li><span>  Good business & negotiation skills</span></li>
 <li><span> Leadership skills</span></li> </ul>
</p>
<p>
<h5 class="sbold black">Personal attributes</h5><ul class="list_numbers extra-padding-bottom-30">
<li><span>  Pleasing personality</span></li>
<li><span>  Presentation skills</span></li> </ul>
</p>
	<p><h5 class="sbold black">Technical Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Proficient in MS Office suite of Programs</span></li></ul></p>

                               
                                <p> <h5 class="sbold black">Career Path:</h5><ul class="list_numbers extra-padding-bottom-30"><li><span> Manager- PR</span></li>
<li><span> Sr. Manager- PR</span></li> </ul>
</p>                        
 
                            </div>
                        </div>
                    </div>
					<div class="card">
                        <div class="card-header" id="headingTwelve">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                   Executive Editor
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwelve" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Executive Editor</p>
								<h5 class="sbold black">Level</h5>
								<p>Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>This position will be in-charge of copy editing and will anchor all editorial content and will be responsible for seamlessly managing production from catalogues to the in-house Magazine as well As social media, the executive editor will closely monitor all aspects</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Oversee content production and pay attention to details as the editor will need to edit every single piece of writing</span></li>
                                    <li><span>Organized and ensuring completion of projects within deadlines</span></li>
                                    <li><span>Editing copy and improving on it, educate writers on best practices, identify ways to improve the flow of materials, and advise writers on content pieces</span></li>
									<li><span>Develop a content calendar</span></li>
									<li><span>Develop ideas for content</span></li>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Executive Editor- 10-15 years</li>                                  
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- Bachelor's degree in journalism or English<br>Diploma graduate in journalism or English</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Mid-Level- 32+ yrs</p>
								<p>
                                <h5 class="sbold black">Competencies</h5> <ul class="list_numbers extra-padding-bottom-30">
                                 <li><span> Knowledge- Strong writing and proofreading skills</span></li>
<li><span> Experience with content management systems</span></li>
<li><span> Great attention to detail</span></li>
<li><span> Ability to give constructive feedback</span></li>
<li><span> Conceptual creative abilities</span></li>
<li><span> Skills- Excellent communication skills</span></li>
<li><span> Excellent interpersonal skills</span></li>
<li><span> Strong Decision making skills</span></li>
<li><span> Personal attributes- Ability to work independently</span></li>
<li><span>Additionally for Executive Editor- Leadership Skills </span></li></b>
</ul></p><p>
<h5 class="sbold black">Technical Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Proficient in MS Office suite of Programs</span></li></ul></p>

  <p><h5 class="sbold black">Career Path:</h5><ul class="list_numbers extra-padding-bottom-30"><li><span>Executive Editor</span></li>
<li><span>Sr. Editor</span></li></ul>
</p>                        
 
                            </div>
                        </div>
                    </div>
					 <div class="card">
                        <div class="card-header" id="headingfourteen">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefourteen" aria-expanded="false" aria-controls="collapsefourteen">
                                    Executive/Manager Public Relations
                                </button>
                            </h5>
                        </div>
                        <div id="collapsefourteen" class="collapse" aria-labelledby="headingfourteen" data-parent="#accordionExample">
                            <div class="card-body">
                                 <h5 class="sbold black">Job Title:</h5>
                                <p>Executive/Manager Public Relations</p>
								<h5 class="sbold black">Level</h5>
								<p>Junior and Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>This position is responsible for developing effective PR plans using appropriate strategies and tactics, organizing and coordinating PR activities and campaigns</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Ensure smooth Co-ordination of with Media houses, newspapers, magazines</span></li>
                                    <li><span>Responsible for PR Strategy Planning & Execution</span></li>
                                    <li><span> Promote new stories</span></li>
                                    <li><span> Build strong relationships and networks with colleagues, clients</span></li>
                                    <li><span>Seamless managing of PR activities for the group company</span></li>
                                    <li><span>Ensure effective campaigning for the company</span></li>
                                </ul>
								<h5 class="sbold black">Mid- Level- Should have managed a team of 2-5 members</h5><br>
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Junior Level- Min 3-4 years</li>
                                    <li>Mid-Level- 5+ years</li>
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA is mandatory</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Junior-Level- 21-26 yrs<br>Mid-Level- 27- 35 yrs</p>
								<p></p>
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Co-ordinating and managing effective PR campaigns through various channels</span></li>
                                    <li><span>Knowledge of social media (blogs, Facebook, Twitter, etc.)</span></li>
                                    <li><span> Have strong network/contacts with media house, newspapers and magazines</span></li>                                    
                                </ul>
								<p><h5 class="sbold black">Skills</h5><ul class="list_numbers extra-padding-bottom-30"><li><span> Excellent communication skills</span></li><li><span>Excellent interpersonal skills</span></li> 
								<li><span>Mid- Level- Leadership Skills</span></li> </ul><br><br>
<h5 class="sbold black">Personal attributes</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span>Pleasing personality</span></li> 
 <li><span>Presentation skills</span></li> 
 <li><span>Independent thinker</span></li> 
 <li><span>Self- Motivator</span></li> </ul>
</p>
	<p><h5 class="sbold black">Technical Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Proficient in MS Office suite of Programs</span></li></ul></p>

                                
                                <p><h5 class="sbold black">Career Path:</h5><ul class="list_numbers extra-padding-bottom-30"><li><span>Junior- Level- Executive-PR</span></li> 
 <li><span>Sr. Executive- PR</span></li> 
<li><span>Mid- Level Deputy Manager- PR</span></li> 
 <li><span>Manager- PR</span></li> 
 <li><span>Sr. Manager- PR</span></li> </ul></p>              
                            </div>
                        </div>
                    </div>

					<div class="card">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                    Billing and Administration 
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Billing and Administration</p>
								<h5 class="sbold black">Level</h5>
								<p>Junior Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>This position is responsible to prepare bills/invoices on a daily basis and ensure smooth execution of daily administrative activities</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Prepare client bills and mail to clients</span></li>
                                    <li><span>Review invoices to identify any errors before invoice delivery and ensure error-free delivery of invoices</span></li>
                                    <li><span>Compile and maintain documents and records of all billings.</span></li>
                                    <li><span>Prepare invoices on E-way billing system and E-invoicing on GST web portal</span></li>
                                    <li><span>Responsible to do the follow up calls for payment and contracts with the clients</span></li>
                                    <li><span>Responsible to smoothly complete administrative tasks </span></li>				
									 <li><span>Coordinate and oversee all office admin related activities</span></li>									
                                </ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Junior-Level- 4+ years</li>  
									<li>Industry- Accounting</li>                                
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- Graduate is Mandatory</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Junior-Level- 24- 30 yrs</p>
								<p></p>
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Knowledge of preparing invoices on E-way billing system </span></li>
									<li><span>Knowledge on GST and E-invoicing on GST web portal</span></li>
									<li><span>Knowledge on administrative skills</span></li>
									 <li><span>Knowledge on Book- Keeping</li>
									                                 </ul>
								<p><h5 class="sbold black">Skills</h5> <ul class="list_numbers extra-padding-bottom-30"><li><span> Excellent written and verbal communication skills</span></li>
 <li><span> Very Good communication skills- As they need to co-ordinate with the clients regarding the invoices</span></li>
            <li><span>Excellent interpersonal skills</span></li> </ul>
</p>
<p>
<h5 class="sbold black">Personal attributes</h5> <ul class="list_numbers extra-padding-bottom-30"> <li><span> Ability to work independently </span></li>
     <li><span> Good time management skills, including prioritizing work</span></li> </ul>

</p>
	<p><h5 class="sbold black">Technical Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Proficient in MS Office suite of Programs</span></li></ul></p>

                                
                                <p><h5 class="sbold black">Career Path:</h5> <ul class="list_numbers extra-padding-bottom-30"><li><span> Executive- Billing and Administration</span></li>
									<li><span>Sr. Executive- Billing and Administration</span></li> </ul>
</p>                        
                            </div>
                        </div>
                    </div>

<div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    Market Analyst
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Market Analyst</p>
								<h5 class="sbold black">Level</h5>
								<p>Junior Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>This position is responsible to do market analysis and write analytical reports/narrative reports related to the fine art industry & luxury brands</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>In charge of writing, analysing, tabulating & formulating reports on various fine art & luxury brand subjects.</span></li>
                                    <li><span>Responsible of writing narrative reports on newspaper article, blogs & T.V show segments throughout the year.</span></li>
                                    <li><span>Broad understanding of the fine art and luxury brand industry, the structure of industry, operations and economic aspects such as markets.</span></li>
                                    <li><span>Develop Reports and Presentation on Industry trends throughout the year.</span></li>
                                   								
                                </ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Junior-Level- 2+ years</li>                                
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA (Specially a MBA from any foreign university is preferred)</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Junior-Level- 22- 28 yrs</p>
								
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Knowledge of preparing industry reports</span></li>
									<li><span>Sharp Analytical report writing skills </span></li>
									 </ul>
								<p><h5 class="sbold black">Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Excellent written and verbal communication skills</span></li>
 <li><span> Excellent communication skills</span></li>
                      <li><span>Excellent interpersonal skills</span></li></ul>
</p>
<p>
<h5 class="sbold black">Personal attributes</h5><ul class="list_numbers extra-padding-bottom-30"><li><span> Ability to work independently</span></li>
      <li><span> Good time management skills, including prioritizing, scheduling, and adapting as necessary</span></li></ul>

</p>
	<p><h5 class="sbold black">Technical Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Proficient in MS Office suite of Programs</span></li></ul></p>

                               
                                <p> <h5 class="sbold black">Career Path:</h5><ul class="list_numbers extra-padding-bottom-30"><li><span> Market Analyst</span></li>
									<li><span>Sr. Market Analyst</span></li></ul>
</p>                        
                            </div>
                        </div>
                    </div>

					<div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                    Copy Writer
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Copy Writer</p>
								<h5 class="sbold black">Level</h5>
								<p>Junior Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>This position will be responsible to develop digital content for the company that accurately reflects company ideals, also do research on the different auction segments to create content for digital platform and write each article in adherence to the same. </p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Creation of all marketing content – online and offline (e.g. digital ads, social media content, website content, blogs, press releases, brand video scripts, brand AVs).</span></li>
                                    <li><span>Write clear, channel specific copy with a distinct voice. Interpret copywriting briefs to understand project requirements.</span></li>
                                    <li><span>Needs to keep abreast of the art universe in India and globally, latest digital trends.</span></li>
                                    <li><span>Strategically develop, deploy and optimize SEM/PPC campaigns around marketing goals</span></li>
                                   	 <li><span>Needs a clear understanding of brand tone and voice; along with competition understanding</span></li>
                                   	<li><span>Shall liaise with design and other teams for day-to-day work.</span></li>
                                   	 </ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Junior-Level- 2+ years</li>                                
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education-</h5> Bachelor’s degree (preferably in English, journalism or a related field) and 2-5 years of strong work experience, preferably in an advertising or interactive agency with an impressive portfolio to put forward.<br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Junior-Level- 22- 26 yrs</p>
								
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Sharp writing skills and experience developing copy for large cross-channel and/or direct-marketing initiatives across media.</span></li>
									<li><span>Impeccable grasp of the English language, including idioms</span></li>
									 </ul>
								<p><h5 class="sbold black">Skills</h5><ul class="list_numbers extra-padding-bottom-30"><li><span> Excellent communication skills</span></li>
                     <li><span>Excellent interpersonal skills</span></li> </ul>
</p>
<p>
<h5 class="sbold black">Personal attributes</h5> <ul class="list_numbers extra-padding-bottom-30"><li><span>Ability to work independently  </span></li>
          <li><span>Good time management skills, including prioritizing, scheduling, and adapting as necessary</span></li> </ul>

</p>
	<p><h5 class="sbold black">Technical Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Proficient in MS Office suite of Programs</span></li></ul></p>

                                
                                <p><h5 class="sbold black">Career Path:</h5><ul class="list_numbers extra-padding-bottom-30"><li><span> Copy Writer</span></li>
									<li><span>Sr. Copy Writer</span></li> </ul>
</p>                        
                            </div>
                        </div>
                    </div>

					<div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Graphic Designer
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Graphic Designer</p>
								<h5 class="sbold black">Level</h5>
								<p>Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>This position is responsible to conceptualize and visualize creative designs and ensure delivery of the final output of all marketing collateral</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Development of digital collateral such as web ads, print ads, email marketing campaigns, banners, social posts, blogs, and other brand, offline and digital collateral.</span></li>
                                    <li><span>Should be able to create unique key visuals for all auctions and their catalogues respectively</span></li>
                                    <li><span>Refresh brand guidelines basis direction from the head of department and other senior stakeholders</span></li>
                                    <li><span>Should be able to maintain quality consistency and control in the creatives across various mediums, for all the works. </span></li>
                                   	<li><span>Must be able to prioritize projects, create a seamless work pipeline basis deadlines.</span></li>
                                   	<li><span>Should have managed a team of min 2 members</span></li>
                                   	 </ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Mid-Level- Min 3+ years’ experience in visualizing and conceptualizing</li>                                
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- </h5>Diploma/Degree in Graphic Designing Preferably from an Advertising agency/Publishing house/E-Commerce sector/Branding & Promotions agencies<br>
                                
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Knowledge of Photoshop, Illustrator, In-design, Corel Draw</span></li>
																	 </ul>
								<p><h5 class="sbold black">Skills</h5><ul class="list_numbers extra-padding-bottom-30"><li><span> Conceptualizing skills</span></li>
                      <li><span>Strong eye for visual composition</span></li><li><span> Good communication skills</span></li><li><span>Good communication skills</span></li></ul>
</p>
<p>
<h5 class="sbold black">Personal attributes</h5><ul class="list_numbers extra-padding-bottom-30"><li><span>Independent thinker<br><li><span>Self-Motivator</span></li><li><span> Attention to Detail</span></li> <li><span>Presentation skills</span></li>
<li><span>Should understand the luxury segment and market and execute designs accordingly</span></li></ul>

</p>
	<p><h5 class="sbold black">Technical Skills</h5><ul class="list_numbers extra-padding-bottom-30"> <li><span> Proficient in MS Office suite of Programs</span></li></ul></p>

                                
                                <p><h5 class="sbold black">Career Path:</h5> <ul class="list_numbers extra-padding-bottom-30"><li><span> Graphic Designer </span></li>
									<li><span>Sr. Graphic Designer </span></li></ul>
</p>                        
                            </div>
                        </div>
                    </div>

					<div class="card">
                        <div class="card-header" id="headingNineteen">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="true" aria-controls="collapseNineteen">
                                    Manager/Sr. Manager- BD & Strategic Alliances 
                                </button>
                            </h5>
                        </div>
                        <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Manager/Sr. Manager- Business Development and Strategic Alliances </p>
								<h5 class="sbold black">Level</h5>
								<p>Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>This position is primarily responsible to achieve sponsorship sales target; to develop and deliver clear and measurable advertising / sponsorship sales for multiple products across Events, Print publications and Digital platforms for the company </p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Strategize to achieve set sponsorship target annually (INR 5 Crores)</span></li>
                                    <li><span>Identify sales leads and opportunities across categories and maximize the revenue potential</span></li>
                                    <li><span>Prospect and engage new clients, develop proposals, manage the contract process and ensure repeat business from the clients</span></li>
                                    <li><span>Brainstorm with marketing and content teams on concepts and ideas for brand integrations</span></li>
                                   	 <li><span>Plan, manage and execute events</span></li>
                                   	<li><span>Travel within the city, across cities in the country and abroad for Client Meetings as and when required.</span></li>
                                   	 </ul>

									 <h5 class="sbold black">Requirements:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>·	Having connects and inroads into luxury, life style brands and agencies who handle luxury brands for advertising / sponsorship</span></li>
                                    <li><span>·	Strong understanding of the advertising markets,  sponsorship and events models</span></li>
                                    <li><span>·	Proven experience of media sales including print, event and online properties</span></li>
                                    <li><span>·	Excellence in managing and maintaining client relationships, beyond business, is paramount.</span></li>                                   	 
                                   	 </ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Mid-Level- 3- 7+ years</li>  
									<li>Industry-  Advertising, Media sales, TV ad sales (handled luxury segment / serviced luxury brands)</li>  
									<li>Worked with publication houses and handled ad sales for magazines like Vogue, Grazia, Harper’s Bazar, Cosmo, Fortune, Business World, etc.</li>  
									<li>Candidates with experience in sales from a Television background is also fine </li>  
									                              
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education-</h5> MBA is mandatory<br><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Mid-Level- 25 - 32 yrs</p>
								
                                                   
                            </div>
                        </div>
                    </div>

                     </div>
            </div><!-- col -->

            <div class="col-md-4 extra-margin-top-40 custom_col text-right">

@using (@Html.BeginForm("Careers", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{

    if (TempData["Message"] != null)
                {
                    if (TempData["Message"].ToString() == "Success")
                    {
            <script type="text/javascript">

            window.onload = function () {
                //alert("Your career appilication form submitted successfully");
                alert("@TempData["Message1"]");
            };
            </script>
        }
    }
                <div class="careers_form text-left" id="apply_now_form">
                    <h4 class="sbold">Apply Here</h4>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Full Name</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "txtName", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })                      
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Email Address</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "txtEmail", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Job Title</label>

                            @Html.DropDownListFor(m => m.JobTitle, new List<SelectListItem>
                                         {   new SelectListItem {Text="Executive/Manager Client Relations",Value="Executive/Manager Client Relations" },
										     new SelectListItem {Text="Watch Expert",Value="Watch Expert" },
										     new SelectListItem {Text="Cars Expert",Value="Cars Expert" },
											 new SelectListItem {Text="Jewellery Specialist",Value="Jewellery Specialist" },
											 new SelectListItem {Text="Manager International PR",Value="Manager International PR" },
											  new SelectListItem {Text="Executive Editor",Value="Executive Editor" },
											  new SelectListItem {Text="Executive/Manager Public Relations",Value="Executive/Manager Public Relations" },
                                         new SelectListItem {Text="Billing and Administration",Value="Billing and Administration" },
                                         new SelectListItem {Text="Market Analyst",Value="Market Analyst" },
										  new SelectListItem {Text="Copy Writer",Value="Copy Writer" },
                                         new SelectListItem {Text="Graphic Designer",Value="Graphic Designer" },
										 new SelectListItem {Text="Business Development ",Value="Business Development" },
                                        }, "Select", new { @class = "select_search", title = "ddlJobTitle" })
                            @Html.ValidationMessageFor(m => m.JobTitle, "", new { @class = "text-danger" })

                            @*<select class="select_search" name="ctl00$ContentPlaceHolder1$ddljobtitle" id="ctl00_ContentPlaceHolder1_ddljobtitle">
                                <option value="0">Select</option>
                                <option value="1">Executive/Manager Client Relations</option>
                                <option value="2">Content &amp; Research Associate</option>
                                <option value="3">Market Analyst</option>
                                <option value="4">Graphic Designer</option>
                                <option value="5">Admin Executive</option>
                                <option value="6">Executive- Public Relations</option>
                                <option value="7">Team Manager</option>
								<option value="8">Watch Expert</option>
								<option value="9">Cars Expert</option>
								<option value="10">Jewellery Specialist</option>
								<option value="11">Manager International PR</option>
								<option value="12">Manager Logistics</option>
							<option value="13">Manager Logistics</option>


                            </select>*@
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Upload your resume</label>
                            <div class="custom-file-upload form-group">
                                @Html.TextBoxFor(m => m.Resume, new { @class = "myFile form-control", placeholder = "Resume", @type = "file", @id = "fileResume" })
                                @Html.ValidationMessageFor(m => m.Resume, "", new { @class = "text-danger" })
                                <label id="lblfileUploadResume" class="fileUpload"></label>                          
                            </div>
                            @*<div class="import_col">
                                <input type="file" name="file-2[]" id="file-1" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple />
                                <label class="upload_col" for="file-1">
                                    <span><img src="images/icon-upload-resume.svg" /><br>Browse File</span>
                                </label>
                            </div>*@<!-- import_col -->
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Message</label>
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.Message, new { @class = "form_textarea", placeholder = "Message", @autocomplete = "off", @rows = "3" })
                                @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                            </div>
                            @*<textarea rows="3" class="form_textarea"></textarea>*@
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">How did you hear about us?</label>
                            @Html.DropDownListFor(m => m.aboutus, new List<SelectListItem>
                                         {   new SelectListItem {Text="News Paper",Value="News Paper" },
                                             new SelectListItem {Text="Social Media", Value="Social Media" },
                                             new SelectListItem {Text="Social Networking", Value="Social Networking" },
                                             new SelectListItem {Text="Friend", Value="Friend" }}, "Select", new { @class = "select_search", title = "ddlJobTitle" })
                            @Html.ValidationMessageFor(m => m.aboutus, "", new { @class = "text-danger" })

                            @*<select class="select_search" name="ctl00$ContentPlaceHolder1$ddlcategory" id="ctl00_ContentPlaceHolder1_ddlcategory">
                                <option value="0">Select</option>                         
                                <option value="1">News Paper</option>
                                <option value="2">Social Media</option>
                                <option value="3">Social Networking</option>
                                <option value="4">Friend</option> 
                            </select>*@
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12 extra-margin-top-30">
                            <button type="submit" class="btn_grey_dark btn_min_width"><span>Send</span></button>
                        </div><!-- col -->
                    </div><!-- form-group -->
                </div><!-- careers_form -->
                }
            </div><!-- col -->

        </div><!-- row -->

    </div><!-- content -->

</div><!-- Wrapper -->



