﻿
@{
    ViewBag.Title = "closingSchedule";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

<div id="wrapper" class="footer_pages_content closing_schedule">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <h3 class="sbold uppercase extra-margin-bottom-30">Closing Schedule For Modern Indian Art, March 31, 2021</h3>
        <p>
            Auction Closing<br>
            For your convenience, especially if you are bidding on multiple lots are scheduled to close at different times on March 31, 2021.
        </p>
        <p>Pre-determined groups of lots will close according to the bid-closing schedule unless a bid is recorded within a span of 3 minutes prior to the lot's scheduled closing time. In this case, the lot closing time will be extended by 3 minutes from the time of the last bid. If this time extension takes place, bidding on any lot will only end if there is no bid recorded for a span of 3 minutes. Bidders are requested to refresh the page for updates on latest bids and time extension if any.</p>
        <p>Lots have been allotted into groups, and the closing schedule for the various groups is follows:</p>

        <div class="table-responsive table_box extra-margin-top-30">
            <table class="table table-striped text-center">
                <thead class="table_head">
                    <tr>
                        <th>Groups</th>
                        <th>Lot Numbers</th>
                        <th>Closing Time <br>(IST)</th>
                        <th>Closing Time <br>(US Eastern Time)</th>
                        <th>Closing Time <br>(US Western  Time)</th>
                        <th>Closing Time <br>(UK Time)</th>
                        <th>Closing Time <br>(Japan Time)</th>
                        <th>Closing Time <br>(Hong Kong Time)</th>
                    </tr>
                </thead>
                <tbody>
                 <tr>
                        <td>1</td>
                        <td>1 - 10</td>
                        <td>8:00 PM</td>
                        <td>9:30 AM</td>
                        <td>6:30 AM</td>
                        <td>2:30 PM</td>
                        <td>11:30 PM</td>
                        <td>10:30 PM</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>11 - 20</td>
                        <td>8:30 PM</td>
                        <td>10:00 AM</td>
                        <td>7:00 AM</td>
                        <td>3:00 PM</td>
                        <td>12:00 AM</td>
                        <td>11:00 PM</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>21 - 30</td>
                        <td>9:00 PM</td>
                        <td>10:30 AM</td>
                        <td>7:30 AM</td>
                        <td>3:30 PM</td>
                        <td>12:30 AM</td>
                        <td>11:30 PM</td>
                    </tr>
					

                </tbody>
            </table>
        </div>
      <!--  <p class="extra-margin-top-30"><a href="@baseUrlPath/LiveAuction" class="link_readmore"><i class="icon-prev"></i> Back to Live Auction</a></p> -->

    </div><!-- content -->

</div><!-- Wrapper -->

