﻿@{
    ViewBag.Title = "Consignwithus";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
        <div class="container-fluid landing">
            <div class="row">
                <div class="col-12 px-0 d-flex landingImgContainer">
                    <div class="textContainer">
                        <h1>Sell With <span>Astaguru</span></h1>
                        <a href="@baseUrlPath/SellNow">Sell Now</a>
                    </div>
                    <img src="/Content/images/Consign_landing.jpg">
                </div>
            </div>

        </div>
    </div>



