﻿@model Astaguru.Models.consign
@{
//Layout = "~/Views/Shared/_LayoutUser.cshtml";

}


<div id="wrapper" class="footer_pages_content">

    <div class="my-5">

        <div class="container">

            <div class="row justify-content-center">

                <div class="col-md-6">
@using (Html.BeginForm("consign", "Home", FormMethod.Post, new { @enctype = "multipart/form-data",@id= "msform" }))
{
                    @*<form id="msform">*@

                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active">categories</li>
                            <li>Description</li>
                            <li>Upload Photos</li>
                        </ul>
                        <!-- fieldsets -->

                        <fieldset>

                            <h2 class="fs-title">Kindly select your desired category</h2>
                           
                            <div class="row">
                                @*<div class="col-12 form-group">
                                    <label class="form_label2" for="FirstName">category</label>
                                    @Html.TextBoxFor(model => Model.Artist, new { @class = "form-control", @id = "txtConsignArtist" })
                                </div>*@
                                <div class="col-12 form-group">
                                  
                                    <label class="form_label2" for="FirstName">CATEGORY</label>
                                    @Html.DropDownListFor(model => model.categoryid, Model.CategoryList, "-- Select Category --", new { @id = "ddlCategorylist", @class = "form-control" })
                                    <span id="ErrorCategary" class="ErrorValidation">* Required</span>
                                    <input type="hidden" id="hdncategory" name="hdncategory" value="" />
                                    <input type="hidden" id="hdnuserid" name="hdnuserid" value="" />
                               
                                </div>
                              
                            </div>

                            <button type="button" class="next action-button btn_grey_dark btn_min_width" id="btncategorynext"><span>Next</span></button>

                        </fieldset>

                        <fieldset>
                            <h2 class="fs-title">Enter details about the work</h2>
                            <h3 class="fs-subtitle">To ensure a quick response please provide as much information as possible.</h3>

                            <div class="row">

                                <div class="col-12 form-group">
                                    <label class="form_label2" for="FirstName">TITLE</label>
                                    @Html.TextBoxFor(model => Model.Title, new { @class = "form-control", @id = "txtTitle", @maxlength = "100" })
                                    <span id="ErrorTitle" class="ErrorValidation">* Required</span>
                                </div>


                                @*<div class="col-sm-6 form-group">
                <label class="form_label2" for="FirstName">CATEGORY</label>
                @Html.DropDownListFor(model => model.categoryid, Model.CategoryList, "Categories", new { @id = "ddlCategorylist", @class = "form-control" })
            </div>*@

                                <div class="col-sm-6 form-group">
                                    <label class="form_label2" for="FirstName">YEAR</label>
                                    @Html.TextBoxFor(model => Model.Year, new { @class = "form-control", @id = "txtYear" })
                                    <span id="ErrorYear" class="ErrorValidation">* Required</span>
                                </div>


                                <div class="col-sm-6 form-group">
                                    <label class="form_label2" for="FirstName">MEDIUM</label>
                                    @Html.TextBoxFor(model => Model.Medium, new { @class = "form-control", @id = "txtMedium" })
                                    <span id="ErrorMedium" class="ErrorValidation">* Required</span>
                                </div>


                                <div class="col-sm-6 col-md-3 form-group">
                                    <label class="form_label2" for="FirstName">HEIGHT</label>
                                    @Html.TextBoxFor(model => Model.Height, new { @class = "form-control", @id = "txtHeight" })
                                    <span id="ErrorHeight" class="ErrorValidation">* Required</span>
                                </div>

                                <div class="col-sm-6 col-md-3 form-group">
                                    <label class="form_label2" for="FirstName">WIDTH</label>
                                    @Html.TextBoxFor(model => Model.Width, new { @class = "form-control", @id = "txtwidth" })
                                    <span id="ErrorWidth" class="ErrorValidation">* Required</span>
                                </div>

                                <div class="col-sm-6 col-md-3 form-group">
                                    <label class="form_label2" for="FirstName">DEPTH</label>
                                    @Html.TextBoxFor(model => Model.Depth, new { @class = "form-control", @id = "txtDepth" })
                                </div>

                                <div class="col-sm-6 col-md-3 form-group">
                                    <label class="form_label2" for="FirstName">UNITS</label>
                                    @Html.DropDownListFor(m => m.Units, new List<SelectListItem>{

                                       new SelectListItem{ Text="in", Value="in"},
                                       new SelectListItem{ Text="cm", Value="cm"},
                                        }, new { @id = "ddlUnits", @class = "form-control" })
                                </div>

                                <div id="actions" hidden="" class="col-12 form-group">

                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label class="form_label2" for="FirstName">EDITION NUMBER</label>
                                            @Html.TextBoxFor(model => Model.EditionNumaber, new { @class = "form-control", @id = "txtEditionNumaber" })
                                            <span id="ErrorEditionNumaber" class="ErrorValidation">* Required</span>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label class="form_label2" for="FirstName">SIZE OF EDITION</label>
                                            @Html.TextBoxFor(model => Model.EditionSize, new { @class = "form-control", @id = "txtEditionSize" })
                                            <span id="ErrorEditionSize" class="ErrorValidation">* Required</span>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-12 form-group">
                                    <input type="checkbox" name="colorCheckbox" id="ckEdition"> <label for="option-1"> <span>THIS IS AN EDITION</span></label>
                                </div>

                                <div class="col-12 form-group">

                                    <div class="row justify-content-between">

                                        <div class="col-auto"><label class="form_label2">Is this work signed?</label></div>

                                        <div class="col-auto">

                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <div class="custom-control custom-radio">
                                                        @Html.RadioButtonFor(model => model.WorkSign, "Yes", new { @class = "custom-control-input isGender", @id = "Interested", @name = "InterestedInBidding", @checked = true })
                                                        <label class="custom-control-label" for="Interested">Yes</label>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="custom-control custom-radio">
                                                        @Html.RadioButtonFor(model => model.WorkSign, "No", new { @class = "custom-control-input isGender", @id = "NotInterested", @name = "InterestedInBidding" })
                                                        <label class="custom-control-label" for="NotInterested">No</label>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-12 form-group">

                                    <label class="form_label2">Does this work come with a certificate of authenticity</label>

                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <div class="custom-control custom-radio">
                                                @Html.RadioButtonFor(model => model.CertificateOfAuthencity, "Yes", new { @class = "custom-control-input", @id = "authenticityY", @name = "authenticity", @checked = true })
                                                <label class="custom-control-label" for="authenticityY">Yes</label>
                                            </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="custom-control custom-radio">
                                                @Html.RadioButtonFor(model => model.CertificateOfAuthencity, "No", new { @class = "custom-control-input", @id = "authenticityN", @name = "authenticity" })
                                                <label class="custom-control-label" for="authenticityN">No</label>
                                            </div>
                                        </li>
                                    </ul>

                                </div>

                                <div class="col-12 form-group">
                                    <label class="form_label2" for="FirstName">Where did you acquire this work?</label>
                                    @Html.TextBoxFor(model => Model.AquireWork, new { @class = "form-control", @id = "txtAquireWork", @maxlength = "100" })
                                </div>

                                <div class="col-12 form-group">
                                    <label class="form_label2" for="FirstName">What city is the work located in?</label>
                                    @Html.TextBoxFor(model => Model.CityLocated, new { @class = "form-control", @id = "txtCityLocated", @maxlength = "100" })
                                    <span id="ErrorCityLocated" class="ErrorValidation">* Required</span>
                                </div>

                                <div class="col-12 form-group">

                                    <div class="row justify-content-between">

                                        <div class="col-auto"><label class="form_label2">Do you have a price in mind?</label></div>

                                        <div class="col-auto">

                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <div class="custom-control custom-radio">
                                                        @Html.RadioButtonFor(model => model.Pricemind, "Yes", new { @class = "custom-control-input isGender", @id = "mindY", @name = "InterestedInBidding" })
                                                        <label class="custom-control-label" for="mindY">Yes</label>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="custom-control custom-radio">
                                                        @Html.RadioButtonFor(model => model.Pricemind, "No", new { @class = "custom-control-input isGender", @id = "mindN", @name = "InterestedInBidding" })
                                                        <label class="custom-control-label" for="mindN">No</label>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-12" id="PriceShow" style="display:none;" >
                                    <label class="form_label2" for="FirstName">Price</label>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            @Html.DropDownListFor(m => m.PriceCurrency, new List<SelectListItem>{

                                       new SelectListItem{ Text="USD", Value="USD"},
                                       new SelectListItem{ Text="Rs", Value="Rs"},
                                        }, new { @id = "ddlPriceCurrency", @class = "form-control" })
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            @Html.TextBoxFor(model => Model.Price, new { @class = "form-control", @id = "txtPrice" })
                                            <span id="ErrorPrice" class="ErrorValidation">* Required</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 form-group">
                                    <label class="form_label2">Mobile Number</label>
                                    @Html.TextBoxFor(model => Model.MobileNumber, new { @class = "form-control", @id = "txtMobileNumber" })
                                    <span id="ErrorMobileNumber" class="ErrorValidation">* Required</span>
                                </div>

                                <div class="col-12 form-group">
                                    <label class="form_label2">Please add details here if not an artwork</label>
                                    @Html.TextAreaFor(model => Model.MoreInformation, new { @class = "form-control", @id = "txtMoreInformation", @maxlength = "500", @rows = "3" })
                                </div>

                            </div>

                            <button type="button" class="next action-button btn_grey_dark btn_min_width" id="btndetail"><span>Next</span></button>

                        </fieldset>

                        <fieldset>
                            <h2 class="fs-title">Upload photos</h2>
                            <h3 class="fs-subtitle">
                                Take a quick snapshot of the work so we can better assess the condition of the work. We suggest uploading photos of the front and back of the work, any signatures, and certificates of authenticity.
                            </h3>

                            <div class="row">

                                <div class="col-12 form-group">

                                    <div class="row">

                                        <div class="imgAdd">Upload Multiple Images </div>
                                        <span id="ErrorImages" class="ErrorValidation">* Required</span>

                                        <div class="col-sm-6 col-md-4 imgUp">
                                            <!-- <div class="imagePreview"></div>
                                        <label class="upload_btn"> Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                        </label> -->
                                       
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <button type="submit" class="action-button btn_grey_dark btn_min_width StoreDDLValueinhihhenfields submit1" id="btnSubmit"><span>Submit</span></button>
                        </fieldset>

                    @*</form>*@
}

                    <!-- Modal -->
                    <div class="container">
                        <div class="row">
                            <div class="modal fade" id="SuccessPopup" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="icon-cross"></i></span>
                                            </button>
                                        </div>

                                        <div class="modal-body">

                                            <div class="thank-you-pop">
                                                <h1 style="text-align:center">Thank You!</h1>
                                                <p style="font-size:20px;color:#5C5C5C;margin-bottom: 27px;text-align:center">Your submission is received and we will contact you soon</p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- modal -->


                </div>

            </div>

        </div>
       
    </div>


    </div><!-- Wrapper -->

<style>
    .ErrorValidation {
        display: none;
        color: #dc3545 !important;
        margin-bottom: 10px;
    }
</style>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>



<script>
//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

//$(".next").click(function(){
//	if(animating) return false;
//	animating = true;

//	current_fs = $(this).parent();
//	next_fs = $(this).parent().next();

//	//activate next step on progressbar using the index of next_fs
//	$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

//	//show the next fieldset
//	next_fs.show();
//	//hide the current fieldset with style
//	current_fs.animate({opacity: 0}, {
//		step: function(now, mx) {
//			//as the opacity of current_fs reduces to 0 - stored in "now"
//			//1. scale current_fs down to 80%
//			scale = 1 - (1 - now) * 0.2;
//			//2. bring next_fs from the right(50%)
//			left = (now * 50)+"%";
//			//3. increase opacity of next_fs to 1 as it moves in
//			opacity = 1 - now;
//			current_fs.css({
//        'transform': 'scale('+scale+')',
//        'position': 'absolute'
//      });
//			next_fs.css({'left': left, 'opacity': opacity});
//		},
//		duration: 800,
//		complete: function(){
//			current_fs.hide();
//			animating = false;
//		},
//		//this comes from the custom easing plugin
//		easing: 'easeInOutBack'
//	});
//});



$(".submit").click(function(){
	return false;
})


$( document ).ready(function() {

    var checkboxes = $("input[type='checkbox']"),
    actions = $("#actions");

    checkboxes.click(function() {

       actions.attr("hidden", !checkboxes.is(":checked"));

    });


    $('input[type="radio"]').click(function () {
        if ($(this).attr('id') == 'mindY') {
            
            $('#PriceShow').show();
          
        }

        else {
            $('#PriceShow').hide();
        }
    });

});




var arr = [];
$(".imgAdd").click(function(){
    $(this).closest(".row").find('.imgAdd').before('<div class="col-sm-6 col-md-4 imgUp"><div class="imagePreview"></div><label class="upload_btn">Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width:0px;height:0px;overflow:hidden;"></label><i class="icon-cross del"></i></div>');
});
$(document).on("click", "i.del" , function() {
// 	to remove card
    $(this).parent().remove();
    var htmlString = $(this).parent().children().attr('style');
    var img = htmlString.substring(23, htmlString.length - 3);

    arr = arr.filter(function (item) {
        return item !== img
    })
// to clear image
  // $(this).parent().find('.imagePreview').css("background-image","url('')");
});


$(function () {   
    $(document).on("change",".uploadFile", function()
    {
        var uploadFile = $(this);
        var files = !!this.files ? this.files : [];
        if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
      
        if (/^image/.test( files[0].type)){ // only image file
            var reader = new FileReader(); // instance of the FileReader
            reader.readAsDataURL(files[0]); // read the local file

            reader.onloadend = function(){ // set image data as background of div
                //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                arr.push(this.result);
               
            }
        } else {
            $('#ErrorImages').css('display', 'block');
            $('#ErrorImages').html('Only image files allowed!');
        }
    });
});
    
$('.submit1').click(function () {
    //debugger;
    var Blank1 = false;
    var message = "";

    if (arr.length > 0) {
        $('#ErrorImages').css('display', 'none');
    }
    else {
        $('#ErrorImages').css('display', 'block');
        Blank1 = true;
    }
    if (Blank1) {

        return false;

    }
    else {
        //send images to controller
        var postData = { MultiImage: arr };
        $.ajax({
            type: "POST",
            url: "/Home/InsertMultipleImages",
            data: postData,
            success: function (data) {
                console.log(data);
            },
            dataType: "json",
            traditional: true
        });
    }

    console.log(arr.length);



})


    //$('#document').ready(function () {
    //    //$('#LoginForm').modal({ backdrop: 'static', keyboard: false })

    //        var baseUrlPath = $('#hiddenbaseUrlPath').val();
    //        //var productid = $(this).attr("data-id");
    //        var userId = $('#hiddenUserId').val();
           
    //        var isMobile = $('#hiddenMobileVerified').val();
    //        var isEmail = $('#hiddenEmailVerified').val();
    //        var isconfirmbid = $('#hiddenconfirmbid').val();

 

    //        if (userId > 0) {              
    //           $("#divLoader").hide();         
    //            //window.location = baseUrlPath + '/Home/consign
    //            $('#LoginForm').hide();
                
    //        }
    //        else {
    //            $("#divLoader").hide();
    //            $('#LoginForm').modal('toggle');
    //        }

    //});

    //$('#ddlCategorylist').click(function () {
    //    var userId = $('#hiddenUserId').val();
    //    if (userId > 0) {
    //    }
    //    else {
    //        $("#divLoader").hide();
    //        $('#LoginForm').modal('toggle');
    //    }
    //});


   

    $("#btncategorynext").click(function () {

        var category = $("#ddlCategorylist").val();
        var Blank1 = false;
        var message = "";

        if (category=="") {
            $('#ErrorCategary').css('display', 'block');
            Blank1 = true;
        }
        else
        {
            $('#ErrorCategary').css('display', 'none');
            
        }
        if (Blank1) {
            return false;
        }
        else {
            var userId = $('#hiddenUserId').val();
            if (userId > 0) {
                if (animating) return false;
                animating = true;

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //activate next step on progressbar using the index of next_fs
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale current_fs down to 80%
                        scale = 1 - (1 - now) * 0.2;
                        //2. bring next_fs from the right(50%)
                        left = (now * 50) + "%";
                        //3. increase opacity of next_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({
                            'transform': 'scale(' + scale + ')',
                            'position': 'absolute'
                        });
                        next_fs.css({ 'left': left, 'opacity': opacity });
                    },
                    duration: 800,
                    complete: function () {
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
                }
                else {
                    $("#divLoader").hide();
                    $('#LoginForm').modal('toggle');
                }


         
        }
    });


    $("#btndetail").click(function () {

        var Title = $("#txtTitle").val();
        var Year = $("#txtYear").val();
        var Medium = $("#txtMedium").val();
        var Height = $("#txtHeight").val();
        var Width = $("#txtwidth").val();
        var EditionNumaber = $("#txtEditionNumaber").val();
        var EditionSize = $("#txtEditionSize").val();
        var City = $("#txtCityLocated").val();
        var MobileNumber = $("#txtMobileNumber").val();
        var Price = $("#txtPrice").val();



        var Blank1 = false;
        var message = "";

        if (Title == '') {
            $('#ErrorTitle').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorTitle').css('display', 'none');
        }

        if (Year == '') {
            $('#ErrorYear').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorYear').css('display', 'none');
        }

        if (Medium == '') {
            $('#ErrorMedium').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorMediumr').css('display', 'none');
        }

        if (Height == '') {
            $('#ErrorHeight').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorHeight').css('display', 'none');
        }

        if (Width == '') {
            $('#ErrorWidth').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorWidth').css('display', 'none');
        }

        if ($('#ckEdition').is(":checked"))
        {
            if (EditionNumaber == '') {
                $('#ErrorEditionNumaber').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrorEditionNumaber').css('display', 'none');
            }

            if (EditionSize == '') {
                $('#ErrorEditionSize').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrorEditionSize').css('display', 'none');
            }
        }

        if (City == '') {
            $('#ErrorCityLocated').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorCityLocated').css('display', 'none');
        }

        if ($('#mindY').is(":checked")) {
            if (Price == '') {
                $('#ErrorPrice').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrorPrice').css('display', 'none');
            }
        }


        if (MobileNumber == '') {
            $('#ErrorMobileNumber').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorMobileNumber').css('display', 'none');
        }
    
        if (Blank1) {

            return false;

        }
        else
        {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'position': 'absolute'
                    });
                    next_fs.css({ 'left': left, 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        }
    });




        // Auto Suggestion Artist Search
        $("#txtConsignArtist").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Artist/AutoArtist",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        if (data.Status) {

                            //alert('Artist name is not available');
                            document.getElementById("txtConsignArtist").style.borderColor = "Red";
                            //document.getElementById('ErrProjectName').innerHTML = "* This Project Name is not available";
                        }
                        else {
                            document.getElementById("txtConsignArtist").style.borderColor = "";
                            //document.getElementById('ErrProjectName').innerHTML = "";
                            response($.map(data, function (item) {
                                return { value: item.name, id: item.artistid };
                            }))
                        }

                    }
                })
            }
        });

        $('.StoreDDLValueinhihhenfields').click(function () {

            var Category = $("#ddlCategorylist option:selected").text();
            $("#hdncategory").val(Category);

            var userId = $("#hiddenUserId").val();
            $("#hdnuserid").val(userId);
        });


    // only numeric value can enter
        $('#txtYear').keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            var textBox = document.getElementById('txtYear').value.length;
            if (charCode > 31 && (charCode < 48 || charCode > 57) || textBox > 3)
                return false;

            return true;
        });


        $('#txtHeight').keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            var textBox = document.getElementById('txtHeight').value.length;
            if (charCode > 31 && (charCode < 48 || charCode > 57) || textBox > 2)
                return false;

            return true;
        });

        $('#txtwidth').keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            var textBox = document.getElementById('txtwidth').value.length;
            if (charCode > 31 && (charCode < 48 || charCode > 57) || textBox > 2)
                return false;

            return true;
        });

        $('#txtDepth').keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            var textBox = document.getElementById('txtDepth').value.length;
            if (charCode > 31 && (charCode < 48 || charCode > 57) || textBox > 2)
                return false;

            return true;
        });

        $('#txtPrice').keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            var textBox = document.getElementById('txtPrice').value.length;
            if (charCode > 31 && (charCode < 48 || charCode > 57) || textBox > 9)
                return false;

            return true;
        });

        $('#txtMobileNumber').keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            var textBox = document.getElementById('txtMobileNumber').value.length;
            if (charCode > 31 && (charCode < 48 || charCode > 57) || textBox > 14)
                return false;

            return true;
        });

        $(document).ready(function () {
            if ('@TempData["Message"]' != "") {
                $("#SuccessPopup").modal('show');
            }
            else {
                $("#SuccessPopup").modal('hide');
            }
        });

    $(document).ready(function () {

        // variables 
        var toTop = $('.action-button');
        // logic
        toTop.on('click', function () {
            $('html, body').animate({
                scrollTop: $('html, body').offset().top,
            });
        });

    });

</script>
