﻿
@{
    ViewBag.Title = "departmentDetail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}


@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}




<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-top-40">
        <div class="title_flex">
            <h3 class="sbold uppercase extra-padding-bottom-20">Collectible Details</h3>
            <a href="@baseUrlPath/Home/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
        </div>
        <div class="row custom_row">
            <div class="col-md-6 extra-margin-top-40 custom_col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div><!-- col -->
            <div class="col-md-6 extra-margin-top-40 custom_col text-right">
                <div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/-V9WmhujSx4?rel=0&enablejsapi=1&autoplay=0&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1"></iframe></div>
            </div><!-- col -->
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-4 col-md-3 extra-margin-top-20">
                <div class="team_col">
                    <div class="img_team">
                        <img src="https://www.astaguru.com/Content/images/siddhanth.jpg" class="img_responsive">
                    </div>
                    <h5 class="sbold">Siddanth Shetty</h5>
                    <h6>V.P. Business Strategy and Operations</h6>
                    <a href="#" class="team_email">siddanth@theartstrust.com</a>
                    <h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
                </div>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- content -->
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
        <div id="HorizontalTab">
            <ul class="resp-tabs-list hor_1">
                <li>current auction</li>
                <li>past auctions</li>
            </ul>
            <div class="resp-tabs-container hor_1">
                <div>
                    <div class="row match_all">
                        <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                            <a href="#" class="auction_box">
                                <div class="img_auction panel-body">
                                    <img src="https://www.astaguru.com/Content/images/img-east-asian.jpg" class="img_responsive" />
                                </div><!-- img auction -->
                                <div class="auction_content">
                                    <h2 class="title_font">South East Asian Contemporary Art</h2>
                                    <div class="lotno">Lot 1</div>
                                    <p>India Shining | (Gandhi and the Laptop)</p>
                                </div><!-- auction_content -->
                            </a><!-- Auction box -->
                        </div><!-- col -->
                        <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                            <a href="#" class="auction_box">
                                <div class="img_auction panel-body">
                                    <img src="https://www.astaguru.com/Content/images/img-mcontemporary.jpg" class="img_responsive" />
                                </div><!-- img auction -->
                                <div class="auction_content">
                                    <h2 class="title_font">Modern & Contemporary Indian Art</h2>
                                    <div class="lotno">Lot 47</div>
                                    <p>Gandhi With Ipod</p>
                                </div><!-- auction_content -->
                            </a><!-- Auction box -->
                        </div><!-- col -->
                        <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                            <a href="#" class="auction_box">
                                <div class="img_auction panel-body">
                                    <img src="https://www.astaguru.com/Content/images/img-contemporary.jpg" class="img_responsive" />
                                </div><!-- img auction -->
                                <div class="auction_content">
                                    <h2 class="title_font">Contemporary Indian Art</h2>
                                    <div class="lotno">Lot 7</div>
                                    <p>India Shining Vl (Gandhi Walking Dog)</p>
                                </div><!-- auction_content -->
                            </a><!-- Auction box -->
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- Tab 1 -->
                <div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                            <a href="#" class="auction_box">
                                <div class="img_auction panel-body">
                                    <img src="https://www.astaguru.com/Content/images/img-mcontemporary.jpg" class="img_responsive" />
                                </div><!-- img auction -->
                                <div class="auction_content">
                                    <h2 class="title_font">Modern & Contemporary Indian Art</h2>
                                    <div class="lotno">Lot 47</div>
                                    <p>Gandhi With Ipod</p>
                                </div><!-- auction_content -->
                            </a><!-- Auction box -->
                        </div><!-- col -->
                        <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                            <a href="#" class="auction_box">
                                <div class="img_auction panel-body">
                                    <img src="https://www.astaguru.com/Content/images/img-contemporary.jpg" class="img_responsive" />
                                </div><!-- img auction -->
                                <div class="auction_content">
                                    <h2 class="title_font">Contemporary Indian Art</h2>
                                    <div class="lotno">Lot 7</div>
                                    <p>India Shining Vl (Gandhi Walking Dog)</p>
                                </div><!-- auction_content -->
                            </a><!-- Auction box -->
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- Tab 1 -->
            </div><!-- resp-tabs-container -->
        </div><!-- parentHorizontalTab -->

        <div class="text-center extra-margin-top-30"><a href="@baseUrlPath/Home/CurrentAuction" class="outline_link">View More</a></div>
    </div><!-- content -->

</div><!-- Wrapper -->
