﻿
@{
    ViewBag.Title = "departments";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}


@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content departments_page">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <div class="medium_content">
            <h3 class="sbold uppercase extra-padding-bottom-20 text-center">List of collectibles</h3>
            <div class="hr_line"></div>
        </div>
        <div class="row justify-content-center extra-padding-top-20">
            <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/EstateSales" class="depart_link">
                    Estate Sales
                </a>
            </div><!-- col -->
			 <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/FineWritingInstruments" class="depart_link">
                    Fine Writing Instruments
                </a>
            </div><!-- col -->
           
			 <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/FurnitureAndDecorativeArt" class="depart_link">
                    Furniture & Decorative Art
                </a>
            </div><!-- col -->
			 <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/IndianAntiques" class="depart_link">
                    Indian Antiques
                </a>
            </div><!-- col -->
			 <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/IndianModernArt" class="depart_link">
                    Indian Modern Art
                </a>
            </div><!-- col -->
			 <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/JewelleryAndSilver" class="depart_link">
                    Jewellery & Silver
                </a>
            </div><!-- col -->
			 <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/Memorabilia" class="depart_link">
                    Memorabilia
                </a>
            </div><!-- col -->
			  <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/NumismaticAndPhilatelic" class="depart_link">
                    Numismatic & Philatelic
                </a>
            </div><!-- col -->
			 <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/RareBooksAndManuscripts" class="depart_link">
                    Rare Books & Manuscripts 
                </a>
            </div><!-- col -->
			<div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/ScienceAndNaturalHistory" class="depart_link">
                    Science & Natural History
                </a>
            </div><!-- col -->
			  <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/SouthEastAsianContemporaryArt" class="depart_link">
                    Southeast Asia Contemporary Art
                </a>
            </div><!-- col -->
			 <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/Textiles" class="depart_link">
                    Textiles (Carpets & Shawls)
                </a>
            </div><!-- col -->
			   <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/Timepieces" class="depart_link">
                    Timepieces
                </a>
            </div><!-- col -->
            <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                <a href="@baseUrlPath/Departments/VintageClassicCars" class="depart_link">
                  Vintage & Classic Cars
                </a>
            </div><!-- col -->            
           </div><!-- Row -->
        <h6 class="text-center extra-padding-top-30">The GST is applicable on all sales within India.</h6>
    </div><!-- content -->

</div><!-- Wrapper -->

