﻿
@{
    ViewBag.Title = "deptTexilesView1";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;

    Astaguru.Services.UserService.DepartmentService DS = new Astaguru.Services.UserService.DepartmentService();
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    string categoryid = "24";

    int currentauctionid = CAS.GetCurrentAuctionId();
    AUC.Auctionid = currentauctionid;
    int currentCount = 0;
    int pastCount = 0;
}


@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
	<div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
		<div class="title_flex">
			<h3 class="sbold uppercase">Textiles (carpets & shawls)</h3>

			<a href="@baseUrlPath/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
			</div>

		<div class="row custom_row">
			<div class="col-md-6 extra-margin-top-40 custom_col">
				<p>Humans have been creating textiles for a thousands of years. Over the period time, once a mere object of necessity has shaped into an art form and heritage symbol. Various rugs, carpets and shawls have been created by implementing intricate techniques and opulent materials making them creations that invoke wonder and appreciation. AstaGuru has had the privilege of auctioning authentic ‘Jaamevar’ shawls made by using the kanni technique, famed Pashmina shawls and Afghani carpets. Our team of experts, hand-picks the lots and evaluates them for authenticity and rareness, making the collection a truly remarkable one. </p>					
				
				<p class="color_light">•	GST on sale of used goods procured from non-business entity under this segment will be charged at 12% rate on the margin value prescribed under Rule 32(5) of CGST rules. <br>
•	GST on sale of all goods other than those falling under above category will be charged at 12% on full sales value
</p>		
				<p>For further details, please contact:</p>		
			</div><!-- col -->
			<div class="col-md-6 extra-margin-top-40 custom_col text-right">
				<div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/OjJvw0-DU7k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
			</div><!-- col -->
			
		</div><!-- row -->	
		<div class="row">
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/Tami.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Tahmina Lakhani</h5>
					<h6>Specialist</h6>						
					<a href="mailto:tahmina@astaguru.com" class="team_email">tahmina@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->
			
		</div><!-- row -->
    
        <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
            <div id="HorizontalTab">
                <ul class="resp-tabs-list hor_1">
                    <li>past auctions</li>
                    <li>current auction</li>
                </ul>
                <div class="resp-tabs-container hor_1">

                    <div>
                        <div class="row">

                            @foreach (var item in DS.getPastAuctionByDepartment(categoryid))
                            {
                                pastCount++;

                                if (pastCount < 4)
                                {
                                    <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                                        <a href="@baseUrlPath/Past/PastDetails?productid=@item.productid" class="auction_box">
                                            <div class="img_auction panel-body">
                                                <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                            </div><!-- img auction -->
                                            <div class="auction_content">
                                                <h2 class="title_font">@Html.Raw(@item.Auctionname)</h2>
                                                <div class="lotno">Lot @item.reference</div>
                                                <p>@item.title</p>
                                            </div><!-- auction_content -->
                                        </a><!-- Auction box -->
                                    </div><!-- col -->
                                }

                            }

                        </div><!-- row -->
                        @if (pastCount > 3)
                        {
                            <div class="text-center extra-margin-top-30"><a href="@baseUrlPath/Home/ShowProductByDepartment?categoryid=@categoryid" class="outline_link">View More</a></div>
                        }
                    </div><!-- Tab 1 -->

                    <div>
                        <div class="row match_all">

                            @foreach (var item in DS.getCurrentAuctionByDepartment(categoryid))
                            {
                                currentCount++;

                                if (currentCount < 4)
                                {
                                    <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                                        <a href="@baseUrlPath/Home/LotDetails?productid=@item.productid&page=0" class="auction_box">
                                            <div class="img_auction panel-body">
                                                <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                            </div><!-- img auction -->
                                            <div class="auction_content">
                                                <h2 class="title_font">@Html.Raw(@item.Auctionname)</h2>
                                                <div class="lotno">Lot @item.reference</div>
                                                <p>@item.title</p>
                                            </div><!-- auction_content -->
                                        </a><!-- Auction box -->
                                    </div><!-- col -->
                                }

                            }
                        </div><!-- row -->
                        @if (currentCount > 3)
                        {
                            <div class="text-center extra-margin-top-30"><a href="@baseUrlPath/Home/ShowProductByDepartment?categoryid=@categoryid" class="outline_link">View More</a></div>
                        }

                        @if (currentCount == 0)
                        {
                            <span class="no_data">There is no auction live </span>
                        }

                    </div><!-- Tab 2 -->

                </div><!-- resp-tabs-container -->
            </div><!-- parentHorizontalTab -->
            <!-- <a href="@baseUrlPath/Home/searchArtist?artistid=@AUC.artistid" target="_blank">View All</a> -->

        </div><!-- content -->

    	
	</div><!-- content -->

</div><!-- Wrapper -->

