﻿
@{
    ViewBag.Title = "deptEstate";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;

    Astaguru.Services.UserService.DepartmentService DS = new Astaguru.Services.UserService.DepartmentService();
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    string categoryid = "";

    int currentauctionid = CAS.GetCurrentAuctionId();
    AUC.Auctionid = currentauctionid;
    int currentCount = 0;
    int pastCount = 0;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
	<div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
		<div class="title_flex">
			<h3 class="sbold uppercase">Estate Sales</h3>

			<a href="@baseUrlPath/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
			</div>

		<div class="row custom_row">
			<div class="col-md-6 extra-margin-top-40 custom_col">
				<p>Estate sales are auctions held in order to liquidate the possessions of individuals, families or estates. Through a meticulous evaluation and selection process, our team of experts helps curate the best collections for estate auctions. We provide a wholesome package of services - right from the initial proposal to cataloguing through to the auction and marketing of the items on various platforms.</p>

				<p class="color_light">GST applicable in this segment will vary based on commodity categorization.</p>				
			</div><!-- col -->
			<div class="col-md-6 extra-margin-top-40 custom_col text-right">
				<div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/DqIKuNDpycM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
			</div><!-- col -->
		</div><!-- row -->	
    
        @*<div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
            <div id="HorizontalTab">
                <ul class="resp-tabs-list hor_1">
                    <li>past auctions</li>
                    <li>current auction</li>
                </ul>
                <div class="resp-tabs-container hor_1">

                    <div>
                        <div class="row">

                            @foreach (var item in DS.getPastAuctionByDepartment(categoryid))
                            {
                                pastCount++;

                                if (pastCount < 4)
                                {
                                    <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                                        <a href="@baseUrlPath/Past/PastDetails?productid=@item.productid" class="auction_box">
                                            <div class="img_auction panel-body">
                                                <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                            </div><!-- img auction -->
                                            <div class="auction_content">
                                                <h2 class="title_font">@Html.Raw(@item.Auctionname)</h2>
                                                <div class="lotno">Lot @item.reference</div>
                                                <p>@item.title</p>
                                            </div><!-- auction_content -->
                                        </a><!-- Auction box -->
                                    </div><!-- col -->
                                }

                            }

                        </div><!-- row -->
                        @if (pastCount > 3)
                        {
                            <div class="text-center extra-margin-top-30"><a href="@baseUrlPath/Home/ShowProductByDepartment?categoryid=@categoryid" class="outline_link">View More</a></div>
                        }
                    </div><!-- Tab 1 -->

                    <div>
                        <div class="row match_all">

                            @foreach (var item in DS.getCurrentAuctionByDepartment(categoryid))
                            {
                                currentCount++;

                                if (currentCount < 4)
                                {
                                    <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                                        <a href="@baseUrlPath/Home/LotDetails?productid=@item.productid&page=0" class="auction_box">
                                            <div class="img_auction panel-body">
                                                <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                            </div><!-- img auction -->
                                            <div class="auction_content">
                                                <h2 class="title_font">@Html.Raw(@item.Auctionname)</h2>
                                                <div class="lotno">Lot @item.reference</div>
                                                <p>@item.title</p>
                                            </div><!-- auction_content -->
                                        </a><!-- Auction box -->
                                    </div><!-- col -->
                                }

                            }
                        </div><!-- row -->
                        @if (currentCount > 3)
                        {
                            <div class="text-center extra-margin-top-30"><a href="@baseUrlPath/Home/ShowProductByDepartment?categoryid=@categoryid" class="outline_link">View More</a></div>
                        }

                        @if (currentCount == 0)
                        {
                            <span class="no_data">There is no auction live </span>
                        }

                    </div><!-- Tab 2 -->

                </div><!-- resp-tabs-container -->
            </div><!-- parentHorizontalTab -->

        </div><!-- content -->*@

    	
	</div><!-- content -->

</div><!-- Wrapper -->

