﻿
@{
    ViewBag.Title = "deptMemorabilia";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
	<div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
		<div class="title_flex">
			<h3 class="sbold uppercase">Memorabilia</h3>

			<a href="@baseUrlPath/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
			</div>

		<div class="row custom_row">
			<div class="col-md-6 extra-margin-top-40 custom_col">
				<p>Iconic moments and occurrences in history have been immortalized in the form of tangible memorabilia. These souvenirs are of wide-ranging significance such as celebrity and movie keepsakes - be it Hollywood or Bollywood themed, autographed and signed items, limited edition merchandise, rare mementos of famous personalities and much more.</p>
				<p>AstaGuru is the leading auction house in India to commemorate Indian Cinema and glorify it at such a grand scale.  AstaGuru’s collections are truly one of a kind as each lot is a priceless and memorial token of history, to be cherished for eons to come.</p>
				<p class="color_light">The GST on all sales under this segment is charged at 18% on full sale value in accordance with ‘Goods & Service Tax’ regulations.</p>
				<p>For further details, please contact:</p>				
			</div><!-- col -->
			<div class="col-md-6 extra-margin-top-40 custom_col text-right">
				<div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/JnjVIVopyqU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
			</div><!-- col -->
		</div><!-- row -->	

		<div class="row">
		
		<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/Tami.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Tahmina Lakhani</h5>
					<h6>Specialist</h6>						
					<a href="mailto:tahmina@astaguru.com" class="team_email">tahmina@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->			
		</div><!-- row -->	
	</div><!-- content -->

</div><!-- Wrapper -->

