﻿
@{
    ViewBag.Title = "deptIndian";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;

    Astaguru.Services.UserService.DepartmentService DS = new Astaguru.Services.UserService.DepartmentService();
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    string categoryid = "28";

    int currentauctionid = CAS.GetCurrentAuctionId();
    AUC.Auctionid = currentauctionid;
    int currentCount = 0;
    int pastCount = 0;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}


<div id="wrapper" class="footer_pages_content">
	<div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
		<div class="title_flex">
			<h3 class="sbold uppercase">Indian Antiques</h3>

			<a href="@baseUrlPath/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
			</div>

		<div class="row custom_row">
			<div class="col-md-6 extra-margin-top-40 custom_col">
				<p>India’s kinship with all things art is as old as time itself. It is safe to say that their art is as diverse as the people who call the subcontinent their home. An ode to the influences of the dynasties of the past, India has been a hotspot for many cultures, constantly adapting & improvising and making it their own. One can easily distinguish the features that separate each craft indigenous to different regions of the country and no two styles are alike. But somehow they are all characteristically Indian. Various art works in the form of sculptures, paintings, etc. serve as eternalized examples of the rich cultural heritage of India today.</p>
				<p>AstaGuru’s mastery at curating antiques of such striking significance has been evident in our past auctions. Our expert team has conducted auctions for exquisitely rare pieces such as the 12th century granite slabs depicting Dwarapalakas carved in fine Chola style and a stone statue of Goddess Parvati dating back to the 14th century, among many others.</p>					 

				<p class="color_light">• GST on sale of used goods procured from non-business entity under this segment will be charged at 12% rate on the margin value prescribed under Rule 32(5) of CGST rules. <br><br>
• GST on sale of all goods other than those falling under above category will be charged at 12% on full sales value
</p>
							
			</div><!-- col -->
			<div class="col-md-6 extra-margin-top-40 custom_col text-right">
				<div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/DqIKuNDpycM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
			</div><!-- col -->
		</div><!-- row -->	

		<div class="row">
			
		</div><!-- row -->	

        <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
            <div id="HorizontalTab">
                <ul class="resp-tabs-list hor_1">
                    <li>past auctions</li>
                    <li>current auction</li>
                </ul>
                <div class="resp-tabs-container hor_1">

                    <div>
                        <div class="row">

                            @foreach (var item in DS.getPastAuctionByDepartment(categoryid))
                            {
                                pastCount++;

                                if (pastCount < 4)
                                {
                                    <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                                        <a href="@baseUrlPath/Past/PastDetails?productid=@item.productid" class="auction_box">
                                            <div class="img_auction panel-body">
                                                <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                            </div><!-- img auction -->
                                            <div class="auction_content">
                                                <h2 class="title_font">@Html.Raw(@item.Auctionname)</h2>
                                                <div class="lotno">Lot @item.reference</div>
                                                <p>@item.title</p>
                                            </div><!-- auction_content -->
                                        </a><!-- Auction box -->
                                    </div><!-- col -->
                                }

                            }

                        </div><!-- row -->
                        @if (pastCount > 3)
                        {
                            <div class="text-center extra-margin-top-30"><a href="@baseUrlPath/Home/ShowProductByDepartment?categoryid=@categoryid" class="outline_link">View More</a></div>
                        }
                    </div><!-- Tab 1 -->

                    <div>
                        <div class="row match_all">

                            @foreach (var item in DS.getCurrentAuctionByDepartment(categoryid))
                            {
                                currentCount++;

                                if (currentCount < 4)
                                {
                                    <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                                        <a href="@baseUrlPath/Home/LotDetails?productid=@item.productid&page=0" class="auction_box">
                                            <div class="img_auction panel-body">
                                                <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                            </div><!-- img auction -->
                                            <div class="auction_content">
                                                <h2 class="title_font">@Html.Raw(@item.Auctionname)</h2>
                                                <div class="lotno">Lot @item.reference</div>
                                                <p>@item.title</p>
                                            </div><!-- auction_content -->
                                        </a><!-- Auction box -->
                                    </div><!-- col -->
                                }

                            }
                        </div><!-- row -->
                        @if (currentCount > 3)
                        {
                            <div class="text-center extra-margin-top-30"><a href="@baseUrlPath/Home/ShowProductByDepartment?categoryid=@categoryid" class="outline_link">View More</a></div>
                        }

                        @if (currentCount == 0)
                        {
                            <span class="no_data">There is no auction live </span>
                        }

                    </div><!-- Tab 2 -->

                </div><!-- resp-tabs-container -->
            </div><!-- parentHorizontalTab -->
            <!-- <a href="@baseUrlPath/Home/searchArtist?artistid=@AUC.artistid" target="_blank">View All</a> -->

        </div><!-- content -->


	</div><!-- content -->

</div><!-- Wrapper -->

