﻿
@{
    ViewBag.Title = "deptPrints";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
	<div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
		<div class="title_flex">
			<h3 class="sbold uppercase">Prints</h3>

			<a href="@baseUrlPath/Home/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
			</div>

		<div class="row custom_row">
			<div class="col-md-6 extra-margin-top-40 custom_col">
				<p>Printmaking is an art form that replicates the artwork in a way that preserves a part of originality from the art work and makes it much more than just a photographic replication. Past auctions include such works by artists such as Riyaz Komu, K. Laxma Goud and Akbar Padamsee.</p>					 
				
				<p class="color_light">The GST on all sales under this segment is charged at 12%.</p>				
			</div><!-- col -->
			<div class="col-md-6 extra-margin-top-40 custom_col text-right">
				<div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/v6HFa4y6hgw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
			</div><!-- col -->
		</div><!-- row -->	
	</div><!-- content -->

</div><!-- Wrapper -->

