﻿
@{
    ViewBag.Title = "deptNumismatic";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;

    Astaguru.Services.UserService.DepartmentService DS = new Astaguru.Services.UserService.DepartmentService();
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    string categoryid = "47,48";

    int currentauctionid = CAS.GetCurrentAuctionId();
    AUC.Auctionid = currentauctionid;
    int currentCount = 0;
    int pastCount = 0;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
	<div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
		<div class="title_flex">
			<h3 class="sbold uppercase">Numismatic & Philatelic</h3>

			<a href="@baseUrlPath/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
			</div>

		<div class="row custom_row">
			<div class="col-md-6 extra-margin-top-40 custom_col">
				<p>Coins and Stamps are a visceral connection to the past that portray peculiar episodes in history. The governing authorities have produced antique pieces which are commemorative of the particular fragment of time. Collecting such keepsakes is like collecting pieces of time itself. </p>
				<p>In past auctions, AstaGuru has showcased an assortment of over two thousand Indian commemorative stamps dating back to 1946. Another noteworthy collection has been of the worldwide collection of over three hundred Postal items of Mahatma Gandhi.</p>
				
				<p class="color_light">The GST on all sales under this segment is charged at 5% on full sale value in accordance with ‘Goods & Service Tax’ regulations.</p>				
			</div><!-- col -->
			<div class="col-md-6 extra-margin-top-40 custom_col text-right">
				<div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/DqIKuNDpycM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
			</div><!-- col -->
		</div><!-- row -->	
			<div class="row">
				
		</div><!-- row -->	

        <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
            <div id="HorizontalTab">
                <ul class="resp-tabs-list hor_1">
                    <li>past auctions</li>
                    <li>current auction</li>
                </ul>
                <div class="resp-tabs-container hor_1">

                    <div>
                        <div class="row">

                            @foreach (var item in DS.getPastAuctionByDepartment(categoryid))
                            {
                                pastCount++;

                                if (pastCount < 4)
                                {
                                    <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                                        <a href="@baseUrlPath/Past/PastDetails?productid=@item.productid" class="auction_box">
                                            <div class="img_auction panel-body">
                                                <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                            </div><!-- img auction -->
                                            <div class="auction_content">
                                                <h2 class="title_font">@Html.Raw(@item.Auctionname)</h2>
                                                <div class="lotno">Lot @item.reference</div>
                                                <p>@item.title</p>
                                            </div><!-- auction_content -->
                                        </a><!-- Auction box -->
                                    </div><!-- col -->
                                }

                            }

                        </div><!-- row -->
                        @if (pastCount > 3)
                        {
                            <div class="text-center extra-margin-top-30"><a href="@baseUrlPath/Home/ShowProductByDepartment?categoryid=@categoryid" class="outline_link">View More</a></div>
                        }
                    </div><!-- Tab 1 -->

                    <div>
                        <div class="row match_all">

                            @foreach (var item in DS.getCurrentAuctionByDepartment(categoryid))
                            {
                                currentCount++;

                                if (currentCount < 4)
                                {
                                    <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                                        <a href="@baseUrlPath/Home/LotDetails?productid=@item.productid&page=0" class="auction_box">
                                            <div class="img_auction panel-body">
                                                <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                            </div><!-- img auction -->
                                            <div class="auction_content">
                                                <h2 class="title_font">@Html.Raw(@item.Auctionname)</h2>
                                                <div class="lotno">Lot @item.reference</div>
                                                <p>@item.title</p>
                                            </div><!-- auction_content -->
                                        </a><!-- Auction box -->
                                    </div><!-- col -->
                                }

                            }
                        </div><!-- row -->
                        @if (currentCount > 3)
                        {
                            <div class="text-center extra-margin-top-30"><a href="@baseUrlPath/Home/ShowProductByDepartment?categoryid=@categoryid" class="outline_link">View More</a></div>
                        }

                        @if (currentCount == 0)
                        {
                            <span class="no_data">There is no auction live </span>
                        }

                    </div><!-- Tab 2 -->

                </div><!-- resp-tabs-container -->
            </div><!-- parentHorizontalTab -->
            <!-- <a href="@baseUrlPath/Home/searchArtist?artistid=@AUC.artistid" target="_blank">View All</a> -->

        </div><!-- content -->


	</div><!-- content -->

</div><!-- Wrapper -->
