﻿
@{
    ViewBag.Title = "emailVerification";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string activationcode = Request.QueryString["activationcode"].ToString();
 Astaguru.Services.UserService.UserService US = new Astaguru.Services.UserService.UserService();
 Astaguru.Models.User UR = new Astaguru.Models.User();
  UR = US.GetEmailVerified(activationcode);

  Astaguru.Controllers.CommonController COMController = new Astaguru.Controllers.CommonController();

    
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">

    @if(UR.userid > 0)
    {
        try
        {
         US.UpdateEmailVerified(UR.userid);
        <span class="email_verify_sms"><i>&#10004;</i>Email Successfully Verified</span>   
        
         if(UR.MobileVerified == 1)
         {
             // Email And Mobile Both Verified Then Send the mail
           string Result = COMController.mailFunction(UR);
            if(Result == "Success")
            {
                
            }
            else
            {
                <Span>@Result</Span>
            }
             
         }
        }
        catch(Exception Ex)
        {
            <span>@Ex.Message</span>
        }

    }
    else
    {
        <span class="no_data">Email Not Verified</span>
    }
    
</div>
<script>
  gtag('event', 'conversion', {'send_to': 'AW-942532584/kORoCPGTgMoBEOjPt8ED'});
</script>