﻿
@{
    ViewBag.Title = "faq";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <div class="container pt-4" id="faq">
            <div class="row justify-content-between align-items-center mb-4">
                <div class="col-lg-12">
                    <h1 class="mb-0">FAQ's</h1>
                </div>
            </div>

            <div class="row">
                @*<div class="col-md-4 tabList">
                    <ul>*@
                        @*<li class="active"><a href="#buyer">Buyer</a></li>
                        <li><a href="#seller">Seller</a></li>
                        <li><a href="#auction">Auction</a></li>
                        <li><a href="#bidding">Bidding</a></li>*@
                        @*@Html.Raw(ViewBag.Menu)*@
                    @*</ul>
                </div>*@

                <div class="col-md-12 questionList">
                 @* @Html.Raw(ViewBag.Faqdetail)*@


                   <div id="buyer">
                      @* <h2 class="text-uppercase">Buyer</h2>*@

                        <ul>
                            <li class="active">
                                <a class="head">What is a Condition Report?</a>

                                <div>
                                    <p>
                                       All Lot are dispatched in its ‘present/current condition’, furthermore the lots are sold and shipped in their respective original form, which includes any flaws or age oriented wear and tear. AstaGuru strongly urges all bidders to inspect the lots to their satisfaction and not be dependent on the illustrations and description stated in the catalogue, which may be deemed as AstaGuru’s opinionated statements in their truest form. 
                                    </p>

                                </div>

                            </li>

                            <li>
                                <a class="head">What are the various Modes to Bid?</a>

                                <div>
                                    <p>
                                      <b>A: Bidding Online:</b><br> All bidders can select and add the lots of their interest in ‘My Auction Gallery’ and place bids upon the relevant notification (in case they have been out bid in a lot that is being pursued).<br><br>
<b>B: Phone Bidding:</b><br> AstaGuru will provide Phone Bidding facility based on the availability of phone lines and available staff capacity. While bidding telephonically a team member will assist the bidder and place bids on their behalf, once we have received a confirmation.<br><br>
	For quality control reasons the calls may be recorded for future reference. <br><br>
<b>C: Mobile App Bidding:</b><br>
	All bidders can download the AstaGuru App from i Tunes App store or Google Play store.  <br><br>
	AstaGuru App is available without any charge. <br><br>
	Once the App is downloaded and account verified bidders may place their bids via Astaguru’s Mobile App. <br><br>
<b>D: Written/Proxy Bids:</b><br>
	Bidders can place bids on lots of their interest by submitting the written bids form (available at the final section of the catalogue) or by updating their account online on AstaGuru’s website/Mobile App. <br><br>
	All form of written bids need to be communicated 24 hours prior to the auction’s start time. 

                                    </p>

                                </div>

                            </li>

                            <li>
                                <a class="head">What are the applicable additional charges?</a>

                                <div>
                                    <p>
                                       All post sales charges are borne by the buyer, this includes packaging, insurance, shipping and handling charges. <br>
	Shipping will be charged as per all the applicable parameters such as weight and distance. <br>
	Lot winners can arrange for their lots to be handled at their own discretion, however all required formalities and documentation must be completed prior to taking possession. 

                                    </p>

                                </div>

                            </li>

                            <li>
                                <a class="head">What are the various Duties & Taxes applicable?</a>

                                <div>
                                    <p>
                                        All applicable Duties & Taxes are borne by the Buyer.<br>
	I: All sales in India will attract GST.<br>
	II: No GST applicable on International Sale.<br>
	III: Import Duties if applicable are specified explicitly in the description section. 

                                    </p>

                                </div>

                            </li>

                            <li>
                                <a class="head">Procedure in case goods/lots are damaged in transit?</a>

                                <div>
                                    <p>
                                        Bidders are requested to inform AstaGuru about any damage incurred while the goods/lots are being shipped. Intimation about the same must be communicated within 2 days of taking custody of the goods/lots. Any grievances after the stipulated timeframe will not have any validation as per AstaGuru’s liability and will be considered as a null and void claim. 
	<br><br>Please contact AstaGuru for any further clarification.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </div>

               





                </div>

            </div>
        </div>
    </div>
</div>


<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/aos.css" rel="stylesheet" />
<link href="~/Content/css/astaguru_inner_pages.css" rel="stylesheet" />
<link href="~/Content/css/faq.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Content/js/aos.js"></script>


<script>
    AOS.init({
        easing: 'ease-in-out-sine'
    });
</script>

<script>
    var winWidth = $(window).width();
    if (winWidth > 767) {
        var tabWidth = $('.tabList').width();
        // console.log(tabWidth);

        $(window).resize(function () {
            tabWidth = $('.tabList').width();
            $('.tabList ul').width(tabWidth);
        })

        $('.tabList ul').width(tabWidth);
    } else {
        var topOffset = $('.tabList ul').offset().top;
        $(window).scroll(function () {
            var myScroll = $(window).scrollTop();

            console.log(topOffset);
            console.log(myScroll);

            if (myScroll > topOffset) {
                $('.tabList ul').addClass('fixedMenu');
            } else {
                $('.tabList ul').removeClass('fixedMenu');
                //$('.tabList ul').css('top':'98px');
            }
        })
    }

    /**************************/

    $('.tabList li').click(function () {
        $(this).siblings('li').removeClass('active');
        $(this).addClass('active');
        var id = $(this).children('a').attr('href');
        $('html, body').animate({ scrollTop: $(id).offset().top - 150 }, 'slow');
    })

  

</script>
<script>
    /***********************************************/
    $(document).ready(function () { 
    $('.questionList ul li.active div').show();

    $('.questionList ul li').click(function () {
        $('.questionList ul li > div').slideUp();
        $(this).children('div').slideToggle();
        $('.questionList ul li').removeClass('active');
        $(this).addClass('active');

        $(this).children('a').click(function (event) {
            event.preventDefault();
        })
    })
    })
</script>



