﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;

    List<Astaguru.Models.Home> HomeBanners = null;
    HomeBanners = COM.GetHomeBanner();

    Astaguru.Services.UserService.UpcomingAuctionService UAS = new Astaguru.Services.UserService.UpcomingAuctionService();

    Astaguru.Services.UserService.BlogService PAS = new Astaguru.Services.UserService.BlogService();
    List<Astaguru.Models.Blog> Bloglist = null;
    Bloglist = PAS.GetHomeBlog();


}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="divLoader" class="page_loader_form" style="display:none">
    <!-- <img src="~/Content/giphy.gif" alt="Loader" /> -->
</div>
<div id="wrapper">
    <div id="banner_home">
        <div id="banner_home_slider">

            @foreach (var item in HomeBanners)
            {
                if (item.type == 1) // Top Banner
                {
                    <div>
                        <div class="image map_link_wrap">
                            @if (item.auctionsName == "Current")
                            {
                                @*<a href="@baseUrlPath/Home/CurrentAuction"><img src="https://www.astaguru.com/Content/webImages/@item.webImages" class="img_responsive" /></a>*@
                                <a href="@baseUrlPath/LiveAuction"><img src="https://www.astaguru.com/Content/webImages/@item.webImages" class="img_responsive" /></a>
                            }
                            else if (item.auctionsName == "Upcomming")
                            {
                                @*<a href="@baseUrlPath/Upcoming/UpcomingPreview?AuctionId=@item.auctionId"><img src="https://www.astaguru.com/Content/webImages/@item.webImages" class="img_responsive" /></a>*@
                                <a href="@baseUrlPath/Upcoming/UpcomingPreview/@item.slug"><img src="https://www.astaguru.com/Content/webImages/@item.webImages" class="img_responsive" /></a>

                            }
                            else if (item.auctionsName == "Past")
                            {
                                @*<a href="@baseUrlPath/Past/PastAuctionResult?AuctionId=@item.auctionId"><img src="https://www.astaguru.com/Content/webImages/@item.webImages" class="img_responsive" /></a>*@
                                <a href="@baseUrlPath/Past/PastAuctionResult/@item.slug"><img src="https://www.astaguru.com/Content/webImages/@item.webImages" class="img_responsive" /></a>
                          
							}
                            else if (item.auctionsName == "Register")
                            {
                                <a href="https://www.astaguru.com:84/ModernIndianart-walkthrough1.html" target="_blank"><img src="https://www.astaguru.com/Content/webImages/@item.webImages" class="img_responsive" /></a>
                            }
                            else if (item.auctionsName == "Default")
                            {
                                <a href="JavaScript:Void(0);">
                                    <img src="https://www.astaguru.com/Content/webImages/@item.webImages" usemap="#image-map" class="img_responsive" />


                                    <map name="image-map" id="map_link">
                                        <area target="_blank" alt="AstaGuru IOS App Store" title="AstaGuru IOS App Store" href="https://apps.apple.com/app/id1483891832" coords="1427, 307, 1714, 355" shape="rect">
                                        <area target="_blank" alt="AstaGuru Android App Store" title="AstaGuru Android App Store" href="https://play.google.com/store/apps/details?id=com.astaguru&hl=en" coords="1486, 450, 1525, 475" shape="rect">
                                    </map>

                                </a>
                            }
                            else
                            {
                                <a href="JavaScript:Void(0);"><img src="@item.homebannerImg" class="img_responsive" /></a>
                            }
                            @*extra Link for ios And Android Mobile*@



                        </div>
                    </div>
                }

            }

        </div>
    </div><!-- banner Home -->

    <div class="container-fluid content extra-padding-top-100">
        <div class="title_viewall_right">
            <div class="flex_spbtn">
                <h3 class="uppercase text-center sbold">Upcoming Auctions</h3>
                <a href="@baseUrlPath/Upcoming/UpcomingAuctions" class="viewall">View All <i class="icon-next"></i></a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">

            @foreach (var item in UAS.GetUpcomingAuctionListForHome())
            {


                <div class="col-sm-6 col-md-4 extra-padding-top-40">
                    <div class="box_shadow">
                        @*<a href="@baseUrlPath/Upcoming/UpcomingPreview?AuctionId=@item.Auctionid" class="before_hoverpa">*@
                        <a href="@baseUrlPath/Upcoming/UpcomingPreview/@item.Slug" class="before_hoverpa">
                            <img src="https://www.astaguru.com/Content/webImages/@item.auctionWebImage" class="img_responsive" />
                            <div class="upc_auction_text">
                                <h2 class="title_font">@item.Auctionname</h2>
                                @*<h5>@item.auctiondate</h5>*@
                                <span class="icon-next"></span>
                            </div><!-- upc_auction_text -->
                        </a>
                    </div><!-- box_shadow -->
                </div><!-- col -->


            }

        </div><!-- row -->
        <div class="title_viewall_right extra-margin-top-100">
            <div class="flex_spbtn">
                <h3 class="uppercase text-center sbold">recent Auctions</h3>
                <a href="@baseUrlPath/Past/PastAuctions" class="viewall">View All <i class="icon-next"></i></a>
            </div>
        </div>
        <div class="clear"></div>

        <div class="recent_auction box_shadow extra-margin-top-40">
            <div id="recent_auction">

                @foreach (var item in COM.GetRecentAuctionList())
                {
                    string imageURl = string.Empty;

                    if (item.recentAuctionBanner != null)
                    {
                        imageURl = Uri.EscapeUriString(@item.recentAuctionBanner);
                    }

                    <div class="recent_slide_item" style="background: url(/Content/webImages/@imageURl) center center no-repeat;">
                        <div class="recent_auction_content">
                            <div class="recent_auction_text">
                                <h2 class="big_text title_font"></h2>
                                <h2></h2>
                            </div>
                            @*<a href="@baseUrlPath/Past/PastAuctionResult?AuctionId=@item.Auctionid" class="btn_white"><span>view result</span></a>*@
                            <a href="@baseUrlPath/Past/PastAuctionResult/@item.Slug" class="btn_white"><span>view result</span></a>
                        </div><!-- recent_auction_content -->
                    </div><!-- recent_slide_item -->
                }

            </div><!-- recent_auction -->
        </div><!-- Recent Auction -->

        <div class="title_viewall_right extra-margin-top-100">
            <div class="">

            </div>
        </div>
        <div class="clear"></div>

        <div class="home_video_record_price">
            <div class="row">
                <div class="col-md-6 extra-padding-top-40">
                    <h3 class="uppercase sbold extra-margin-bottom-30">Record Price Artworks</h3>
                    <div class="box_shadow record_price_wrap">
                        <a href="@baseUrlPath/Home/recordPriceArtwork">
                            @foreach (var item in HomeBanners)
                            {
                                if (item.type == 3)
                                {
                                    <div class="img_record_price"><img src="https://www.astaguru.com/Content/webImages/@item.webImages" class="img_responsive" /></div>
                                    <!-- <div class="record_price_text">
                                        <div>
                                            <h2 class="title_font">Record Price<br>Artworks</h2>
                                            <p>@item.homebannerTitle</p>
                                            <span class="icon-next"></span>
                                        </div>
                                    </div> -->
                                    <!-- upc_auction_text -->
                                }
                            }

                        </a>
                    </div><!-- box_shadow -->
                </div><!-- col -->
                <div class="col-md-6 extra-padding-top-40">
                    <h3 class="uppercase sbold extra-margin-bottom-30">Video</h3>
                    <div class="box_shadow">
                        @*<iframe width="100%" class="video_howto_register" src="https://www.youtube.com/embed/-V9WmhujSx4?rel=0&enablejsapi=1&autoplay=0&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1"></iframe>*@
                        <iframe width="100%" height="290" src="https://www.youtube.com/embed/_Wt1QNFrLPc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><!-- box_shadow -->
                </div><!-- col -->
            </div><!-- row -->
        </div>

    </div><!-- content -->
    <div class="container">
        @*Blog*@
        <div class="row justify-content-center pt-5">
            <div class="col-12 mb-4">
                <h3 class="uppercase sbold blog">Blogs</h3>
            </div>
           @if (Bloglist.Count > 0)
           {
               foreach (var item in Bloglist)
               {

                <div class="col-sm-6 col-lg-4 mb-5">
                    <a href="/blogdetailpage/@item.Slug" class="rounded borderLight box fadeAnim">
                        <div class="imageData">
                            <img src="/Content/uploads/Blog/@item.Image" class="img-fluid fadeAnim">
                        </div>

                        <div class="matter p-4">
                            <h2>@item.Title</h2>
                            <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i>@item.PostDate</div>
                            @Html.Raw(item.Description)
                        </div>
                        <div class="authorName">
                           @item.CreatedBy
                        </div>

                    </a>
                </div>

               }
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <a href="/blog"><button class="buttonH">VIEW ALL </button></a>
                </div>
            </div>
           }

          

        </div>


    </div>

    @*media coverage*@
    <div class="container-fluid" id="media">
        <div class="container">
            <div class="col-12 mb-4">
                <h3 class="uppercase text-center sbold mt-5 MediA">MEDIA COVERAGE</h3>
            </div>
@if (COM.GetHomeMediaCoverage().Count > 0)
{
    foreach (var item in COM.GetHomeMediaCoverage())
    {
            <div class="row py-3 mb-5 aos-item">
                <div class="col-lg-4 imageData">
                    @if (item.Type.ToString() == "Image")
                    {
                        <img src="/Content/uploads/MediaNews/@item.Image" class="img-fluid">
                    }
                    else
                    {
                        <iframe src="@item.VideoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    }
                </div>
           
                    <div class="col-lg-8 matter">

                        <h2 class="homehead">@item.Title</h2>
                        <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> @item.Date </div>
                        @Html.Raw(@item.Description)
                        @*<a href="mediadetail/@item.Slug" class="readMore">Read More</a>*@
                        <a href="/mediadetail/@item.Slug.ToString()" class='readMore'>Read More</a>

                    </div>
   

</div>


    }
    <div class="row mb-5">
        <div class="col-12 text-center">
            <a href="/media"><button class="buttonH">VIEW ALL </button></a>
        </div>
    </div>

}
        </div>
    </div>

       <!--  <div class="bg_grey extra-padding-bottom-100 extra-padding-top-100 extra-margin-top-100">
            <div class="container-fluid content slide_controls_wrapper">
                <div class="slide_controls_outer">
                    <div id="video_slider">
                        <div>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/DqIKuNDpycM?rel=0&enablejsapi=1&autoplay=0&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  -->

        <div id="getin_touch" class="extra-padding-bottom-100 extra-padding-top-100">
            <div class="container-fluid content">
                <div class="form_getin_touch">
                    <h3 class="sbold uppercase text-center">Get in touch</h3>
                    <div class="row custom_row custom_form">
                        <div class="col-sm-6 custom_col extra-margin-top-40">
                            <div class="wrap-input2">
                                <input class="input2 textfield" type="text" id="txtName">
                                <span class="focus-input2" data-placeholder="Name"></span>
                            </div>
                            <span style="color:red;font-size: 13px;" id="ErrName"></span>
                        </div><!-- col -->
                        <div class="col-sm-6 custom_col extra-margin-top-40">
                            <div class="wrap-input2">
                                <input class="input2 textfield" type="text" id="txtEmail">
                                <span class="focus-input2" data-placeholder="Email ID"></span>
                            </div>
                            <span style="color:red;font-size: 13px;" id="ErrEmail"></span>
                        </div><!-- col -->
                        <div class="col-sm-6 custom_col extra-margin-top-40">
                            <div class="wrap-input2">
                                <input class="input2 textfield" type="text" id="txtPhone">
                                <span class="focus-input2" data-placeholder="Phone Number"></span>
                            </div>
                            <span style="color:red;font-size: 13px;" id="ErrPhone"></span>
                        </div><!-- col -->
                        <div class="col-sm-6 custom_col custom_select extra-margin-top-40">
                            <select class="select_search" id="ddlCategory">
                                <option value="0">All</option>
                                @foreach (var item in COM.GetCategory())
                                {
                                    <option value="@item.categoryid">@item.category</option>
                                }
                            </select>
                        </div><!-- col -->
                    </div><!-- row -->
                    <div class="row custom_form">
                        <div class="col-sm-12 extra-margin-top-40">
                            <div class="wrap-input2">
                                <textarea type="text" class="input2 textfield" id="txtMessage"></textarea>
                                <span class="focus-input2" data-placeholder="Your Message"></span>
                            </div>
                            <span style="color:red;font-size: 13px;" id="ErrMessage"></span>
                        </div><!-- col -->
                    </div><!-- row -->
                    <div class="btn_submit_center extra-padding-top-40">
                        <button type="submit" class="btn_white" id="btnSave"><span>Submit</span></button>
                    </div>

                </div><!-- form_getin_touch -->
            </div><!-- content -->
        </div><!-- bg grey -->
    </div><!-- Wrapper -->

<!-- Modal -->
<div class="modal fade" id="ModelGetInTouch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Thank you for choosing AstaGuru.</h5>
            </div>

            <div class="modal-body signform">
                <div class="row">

                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark full_width" id="btnGetInTouchOkay"><span>OK</span></button>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->

<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/aos.css" rel="stylesheet" />
<link href="~/Content/css/astaguru_inner_pages.css" rel="stylesheet" />
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
<script src="~/Content/js/aos.js"></script>


<script>
    $('#btnGetInTouchOkay').click(function () {
        var basePathUrl = $('#hiddenbaseUrlPath').val();
        window.location = basePathUrl + '/Home/Home';
    });


    function Clear() {
        document.getElementById("txtName").style.borderColor = "";
        document.getElementById('ErrName').innerHTML = "";
        document.getElementById("txtMessage").style.borderColor = "";
        document.getElementById('ErrMessage').innerHTML = "";
    }

    function fieldValidation(inputvalue, errId, msg, validationMsg) {
        if (validationMsg == 'Email') {

            if (/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i.test(inputvalue.val())) {
                errId.html('');
                inputvalue.css("border-color", '');
                return true;
            } else {
                errId.html(msg);
                inputvalue.css("border-color", "red");
                return false;
            }
        }
        else if (validationMsg == 'Mobile') {

            if (/^\d{10}$/.test(inputvalue.val())) {
                errId.html('');
                inputvalue.css("border-color", '');
                return true;
            } else {
                errId.html(msg);
                inputvalue.css("border-color", "red");
                return false;
            }
        }
    }


    $('#btnSave').click(function () {
        Clear();

        if ($('#txtName').val().length <= 0) {
            document.getElementById("txtName").style.borderColor = "Red";
            document.getElementById('ErrName').innerHTML = "* Enter Your Name";
            return false;
        }

        var Email = fieldValidation($('#txtEmail'), $('#ErrEmail'), 'Invalid Email Id', 'Email')
        if (Email == false) { return false; }

        var Phone = fieldValidation($('#txtPhone'), $('#ErrPhone'), 'Enter Valid Phone Number', 'Mobile')
        if (Phone == false) { return false; }

        if ($('#txtMessage').val().length <= 0) {
            document.getElementById("txtMessage").style.borderColor = "Red";
            document.getElementById('ErrMessage').innerHTML = "* Please Enter Message";
            return false;
        }


        $("#divLoader").show();

        var GetInTouch = {};
        GetInTouch.name = $('#txtName').val();
        GetInTouch.Email = $('#txtEmail').val();
        GetInTouch.Phone = $('#txtPhone').val();
        GetInTouch.Category = $('#ddlCategory option:selected').text();
        GetInTouch.Message = $('#txtMessage').val();

        $.ajax({
            url: "/Common/GetInTouch",
            type: 'POST',
            dataType: 'json',
            data: GetInTouch,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {
                    $("#divLoader").hide();
                    $('#ModelGetInTouch').modal('toggle');
                }
                else if (ReturnData.status == 'Error') {
                }
            },
            error: function (err) {
                alert('Actual error' + err);
            }
        });



    });


(function ($) {
    "use strict";


    /*==================================================================
    [ Focus Contact2 ]*/
    $('.input2').each(function(){
        $(this).on('blur', function(){
            if($(this).val().trim() != "") {
                $(this).addClass('has-val');
            }
            else {
                $(this).removeClass('has-val');
            }
        })
    })

})(jQuery);
</script>


@*<script>
      AOS.init({
        easing: 'ease-in-out-sine'
      });
</script>*@


