﻿@{
    ViewBag.Title = "howtobuy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <div class="title_spbtn">
            <h3 class="sbold uppercase">How to buy</h3>
            <a href="#" class="see_video" data-toggle="modal" data-target="#SeeVideoModal" data-thevideo="https://www.youtube.com/embed/-V9WmhujSx4"><i class="icon-play"></i> Click here to see the video</a>
        </div>
        <div class="accordion extra-margin-top-40" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Estimates
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>Estimates are based on an average market value of the lot, determined at AstaGuru’s discretion.</li>
                            <li>These are provided only as a guide for Buyers.</li>
                            <li>Buyers should not rely on estimates as a prediction of actual price. Buyers are advised to carry out an independent research exercise.</li>
                            <li>Estimates do not include margin, packing, insurance, shipping, handling charges and any other taxes.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Reserves
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>The Reserve price is the minimum price at which the lot shall be sold.</li>
                            <li>The Reserve price is confidential and will not be disclosed.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           Margin
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>In addition to the hammer price, the buyer agrees to pay AstaGuru a margin calculated at [15%] of the winning bid value on each lot.</li>
                            <li>For all lots, taxes are payable on the final price which includes the Auction House Margin at the applicable rate, included in the invoice.</li>
                        </ul>
                    </div>
                </div>
            </div><!-- card -->
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Bidding
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <h5 class="bold">Pre -Registration and Verification.</h5>
                        <ul class="list_points">
                            <li>Prospective buyers should be registered and verified by AstaGuru in order to bid.</li>
                            <li>If you have already registered before, you will still need to login and accept the terms and conditions for the sale. (Use your previous login Id).</li>
                            <li>Fill the form online in order to pre-register, or call AstaGuru.</li>
                            <li>Once you have pre-registered, a representative will call you to verify your details.</li>
                            <li>If the representative cannot reach you, an email will be sent.</li>
                            <li>AstaGuru may (i) request a deposit of [INR 5,00,000 or its equivalent in USD (in the event the buyer is a non-resident)] (i) request additional information from the bidders, including PAN and Aadhar details to verify any information in the registration form; (ii) request any additional bank references or guarantees.</li>
                            <li>In case of pre-registration has been applied on behalf of a corporate entity upon the completion of verification all first time corporate users will require to update the relevant ‘Articles of Incorporation’ and ‘Memorandum of Association’.</li>
                            <li>All bidders should obtain bidding access 24 hours before the auction.</li>
                            <li>Once your application for bidding access has been accepted you shall receive an email confirming your bidding access along with your login Id and password.</li>
                            <li>AstaGuru reserves the right to give bidding access at its discretion.</li>                            
                        </ul>
                        <h5 class="bold extra-margin-top-40">Absentee Bids</h5>
                        <ul class="list_points">
                            <li>You may place an absentee bid, by faxing the written bid form available online and in the printed catalogue.</li>
                            <li>All bids must come in 24 hours before the auction.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Proxy Bids</h5>
                        <ul class="list_points">
                            <li>You may place proxy bids on the website once the auction catalogue goes live and will be available until the end of the auction.</li>
                            <li>Once you have identified the lot that you would like to bid on, click on "Proxy bid" and enter desired amount (10% more than the “next valid” bid) and confirm your bid at the value submitted.</li>
                            <li>In case of the "No Reserve" auction all proxy bid values start at Rs 20,000.</li>
                            <li>Proxy bid placed on a lot before an auction cannot be resubmitted online. Bidders can update such proxy bids by submitting a duly signed written bid form provided on the website.</li>
                            <li>In case a bidder is outbid on their proxy bid, they will be intimated of the same and can update the proxy online if they wish to so.</li>
                            <li>AstaGuru reserves the right to reject any proxy bid at its discretion without having to provide any explanation. </li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Opening Bid</h5>
                        <ul class="list_points">
                            <li>Opening Bid is the value at which the auction house starts the bidding of each lot.</li>
                            <li>Opening bid is 20% lower than value of the lower estimate.</li>
                            <li>In case of the "No Reserve”, auctions all bids start at [INR 20,000].</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Bidding Online</h5>
                        <ul class="list_points">
                            <li>Once you have identified the lot that you would like to bid on, click on "Bid" to confirm your bid at the value listed.</li>
                            <li>You may participate in the bidding process, by entering the next valid bid each time you are out-bid.</li>
                            <li>In the event a bid is placed under three minutes from the closing schedule of the lot, the closing time for that particular lot will be extended by three minutes. The extension will continue until such time that the last bid is not placed under three minutes from the closing time.</li>
                            <li>All lots bid history will be made available to be viewed by valid bidders.</li>                            
                        </ul>
                        <h5 class="bold extra-margin-top-40">Modes of Bidding</h5>
                        <ul class="list_points">
                            <li>Online bidding access, access to bid through Astaguru’s Mobile App and telephone bidding facility, shall be given at our discretion.</li>
                            <li>We may set limits on the number of bids that may be made by a bidder.</li>
                            <li>Bidders/Participants shall be informed of their bidding limits if applicable.</li>
                            <li>Upon exhausting the respective bidding limit any further bid will be restricted at AstaGuru’s behest.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Bid Increments</h5>
                        <ul class="list_points">
                            <li>All bids will have an increment of 10% of the current valid bid. Once the bid value exceeds the Rupees one crore (equivalent value USD $151,500) the increment will be of 5%.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Personalized Bid Notifications</h5>
                        <ul class="list_points">
                            <li>By clicking on ‘My Bid Summary’, which is your personalized bid page, you may choose how frequent you would like to be notified of a change on your bid status.</li>
                            <li>You may also be notified on your registered email address and mobile number, if:<br />
                                o	You are outbid on a particular lot;<br />
                                o	You have won a particular lot in an auction.
                                </li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Bid History</h5>
                        <ul class="list_points">
                            <li>Bid history indicates the value recorded for each lot since the start of the auction.</li>
                            <li>The bid history, current bid and countdown shall be accurate at the time of downloading/refreshing the page.</li>
                            <li>However, such information shall not reflect during the data transmission/processing period as to when the information is being relayed from the bidder’s computer to our server and vice versa.</li>
                            <li>The most recent/updated bid values will reflect only when the information on bid values is refreshed, which shall happen either automatically, or when a bidder clicks on the “Refresh” icon on the website/mobile App page.</li>
                            <li>After the values on the page have been refreshed, any further progress with regards to the bid will reflect on the bid history page only once the bidder refreshes the page again.</li>
                            <li>The page may also refresh automatically on the website.</li>
                            <li>Bid History will not be displayed once the auction has closed.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Bid Extension</h5>
                        <ul class="list_points">
                            <li>Bidding terminates for the specified lot groups in accordance with the bid closing schedule. However, if a bid has been placed by the participant and is duly received by Astaguru 3 minutes prior to the closing time slot of the lot, there shall be an extension of 3 minutes allotted/extended in case of that specific lot.</li>
                            <li>The closing time for such lot will hereby get extended by 3 minutes from the time that last bid was made.</li>
                            <li>Under such circumstances of closing extension, bidding on the lot shall only end if no bid is recorded during the duration of the granted extension.</li>
                            <li>Bidders are advised to click on the ‘Refresh’ button icon on AstaGuru’s website page.</li>
                            <li>It is of Utmost importance to ‘Refresh’ the website page at regular intervals in order to ensure updates on the latest bids and time extensions get corresponded effectively.</li>                            
                        </ul>
                        <h5 class="bold extra-margin-top-40">Currency of Bidding</h5>
                        <ul class="list_points">
                            <li>Bids can be placed in US Dollars (USD) or Indian Rupees (INR).</li>
                            <li>Buyers in India must pay for their purchase in INR and all other buyers must pay in USD.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Closing and Winning Bid</h5>
                        <ul class="list_points">
                            <li>Winning bid is the last and highest bid at which the lot has closed.</li>
                            <li>No new bids can be placed after the Winning Bid</li>
                            <li>The closing bid is considered the winning bid only if such bid exceeds the reserve price.</li>
                            <li>All winning bids shall be posted on the website after the close of the auction.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Bid Cancellation</h5>
                        <ul class="list_points">
                            <li>Once a bid / proxy bid has been placed, the Bidder cannot cancel it. AstaGuru reserves the rights to cancel any bid, as determined in its discretion.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Margin</h5>
                        <ul class="list_points">
                            <li>In addition to the hammer price, a margin calculated at 15% of the winning bid value is added on each lot and is payable by the buyer, exclusive of packing, insurance, shipping, handling charges and any taxes as may be payable.</li>
                        </ul>
                    </div>
                </div>
            </div><!-- card -->
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                           After Sale
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>If you have won a lot you shall be informed via email after the auction has closed.</li>
                            <li>You shall thereafter receive an email with the invoice stating the final purchase price payable for the lot.</li>
                            <li>If you are the winning bidder, you are legally bound to purchase the lot from AstaGuru.</li>
                            <li>No purchased lots will be shipped out until full payment has been received and cleared by AstaGuru.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Invoicing</h5>
                        <ul class="list_points">
                            <li>All details for the invoice are to be provided prior to the auction accurately, in the online registration form.</li>
                            <li>After the sale, the Buyer as invoiced is required to pay the final purchase price in full (including additional charges as may be applicable).</li>
                            <li>No lots shall be dispatched to the Buyer without receipt of payment in full by AstaGuru.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Shipping and Insurance</h5>
                        <ul class="list_points">
                            <li>All packing, insurance, shipping or handling charges will be borne by the buyer.</li>
                            <li>Unless the description of the lot stipulates otherwise, all purchased lots are framed and dispatched. However if the buyer prefers an alternative, the same may be implemented, at AstaGuru’s discretion and at the buyers cost. AstaGuru will invoice the buyer for costs incurred in relation to the foregoing.</li>
                            <li>Shipping charges are charged on courier rates and are determined on basis of the size, weight and destination of the package.</li>
                            <li>In case of international shipments the additional charges calculated are only till the destination port. Import-related duties, taxes delivery and any other charges, wherever applicable, will be directly paid by the buyer.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Duties & Taxes</h5>
                        <ul class="list_points">
                            <li>All duties and taxes shall be borne by the buyer.</li>
                            <li>All sales in India shall attract the applicable GST on the winning bid, including margin.</li>
                            <li>12% GST is applicable on lots more than 100 years old (Calculated on the final total)</li>
                            <li>12% GST is applicable for lots less than 100 years old.</li>
                            <li>There shall be no GST in International sales.</li>
                        </ul>
                    </div>
                </div>
            </div><!-- card -->
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Payment
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>Buyers will be required to complete payment of the final purchase price within a period of 7 business days from the receipt of the invoice via e-mail.</li>
                            <li>Any delay in payment will be liable for a 2% interest charged per month.</li>
                        </ul>
                    </div>
                </div>
            </div><!-- card -->
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Delivery / collection of purchase
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>Purchased lots will be shipped within 7 days of the payment being cleared. Buyers may choose to collect their purchase from AstaGuru in Mumbai within 7 days from date of the payment being cleared.</li>
                            <li>Buyers who have duly completed payment formalities, but have not taken delivery of their purchased lots from AstaGuru within 30 days of the date of payment will be charged interest 2% per month on the value of the lot.</li>
                        </ul>
                    </div>
                </div>
            </div><!-- card -->
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Participate in our next auction
                        </button>
                    </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>If you are interested in consigning works from your collection to our next sale, please contact us at contact@astaguru.com or at the auction help desk +91 22 69014800.</li>                            
                        </ul>
                    </div>
                </div>
            </div><!-- card -->
        </div>
    </div><!-- content -->

</div><!-- Wrapper -->
