﻿
@{
    ViewBag.Title = "howToSell";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <h3 class="sbold uppercase extra-padding-bottom-20">How to Sell</h3>

        <div class="row custom_row">
            <div class="col-md-8 extra-margin-top-20 custom_col">
                <div class="accordion" id="accordionExample">
                    @Html.Raw(ViewBag.howToSell)
                    @*<div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Evaluation
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>The first step in the process is to arrange a consultation with one of our representatives. You can contact us or email us with details of your property. We shall then study the property and give you a valuation on the same. We will respond to your auction estimate request within 3 working days. It is very important to AstaGuru to provide the highest level of service; accordingly, we cannot rush valuations.</p>
                                <a href="#apply_now_form" class="a_scroll btn_grey_dark mobile_only extra-margin-top-20"><span>Apply Now</span></a>
                            </div>
                        </div>
                    </div><!-- Card -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Decision to sell
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Based on the valuation result, you and AstaGuru' s experts will decide whether your property is appropriate for sale at auction. We will also recommend an appropriate venue and possible sale timing. If you decide to proceed, you will sign a contract, and AstaGuru will take the property in for cataloguing and photography.Please note that, restoration or another action required such as reframing, stretching and so on in order to enhance the artwork's final presentation will be invoiced to the consignor, irrespective of the final auction outcome.</p>
                                <a href="#apply_now_form" class="a_scroll btn_grey_dark mobile_only extra-margin-top-20"><span>Apply Now</span></a>
                            </div>
                        </div>
                    </div><!-- Card -->
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    logistics
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Our Art Transport or Shipping Department can help you arrange to have your property delivered to our offices, if necessary. As the consignor, you are responsible for packing, shipping and insurance charges.</p>
                                <a href="#apply_now_form" class="a_scroll btn_grey_dark mobile_only extra-margin-top-20"><span>Apply Now</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                   Reserve Price
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>The reserve is the confidential minimum selling price to which a consignor (you) and AstaGuru agree before the sale - your property's "floor" price, below which no bid will be accepted. If bidding on your item fails to reach the reserve, we will not sell the piece and will advise you of your options. It is important to consider the reserve price in light of the fact that AstaGuru will assess fees and handling costs for unsold lots.</p>
                                <a href="#apply_now_form" class="a_scroll btn_grey_dark mobile_only extra-margin-top-20"><span>Apply Now</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Seller’s Contract
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>The seller contract covers two important issues that will affect your bottom line: the reserve price and AstaGuru's commissions.</p>
                                <h5 class="sbold black">Reserve price.</h5>
                                <p>The reserve is the confidential minimum selling price to which a consignor (you) and AstaGuru agree before the sale - your property's "floor" price, below which no bid will be accepted. If bidding on your item fails to reach the reserve, we will not sell the piece and will advise you of your options. It is important to consider the reserve price in light of the fact that AstaGuru will assess fees and handling costs for unsold lots.</p>
                                <h5 class="sbold black">Seller's commission.</h5>
                                <p>Sellers pay a commission that is deducted, along with any agreed-upon expenses, from the hammer price. Should you have any specific questions regarding the selling commission, please call the appropriate representative for more information.</p>
                                <a href="#apply_now_form" class="a_scroll btn_grey_dark mobile_only extra-margin-top-20"><span>Apply Now</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Payment
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Shortly after the sale, you will receive a listing of the final hammer price for each item you consigned. We will issue the payment within 40 days from the day of the sale provided we are in receipt of the buyer's payment.</p>
                                <a href="#apply_now_form" class="a_scroll btn_grey_dark mobile_only extra-margin-top-20"><span>Apply Now</span></a>
                            </div>
                        </div>
                    </div>*@

                </div>
            </div><!-- col -->
            @*<div class="col-md-4 extra-margin-top-20 custom_col text-right">
                <div class="careers_form text-left" id="apply_now_form">
                    <h4 class="sbold">Fill Details</h4>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Full Name</label>
                            <input type="text" class="form-control" />
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Email Address</label>
                            <input type="text" class="form-control" />
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Description</label>
                            <input type="text" class="form-control" />
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">How did you hear about us?</label>
                            <select class="select_drop">
                                <option value="0">Select Source</option>
                                <option value="1">News Paper</option>
                                <option value="2">Social Media</option>
                                <option value="3">Social Networking</option>
                                <option value="4">Friend</option>
                            </select>
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Upload your file</label>
                            <div class="import_col">
                                <input type="file" name="file-2[]" id="file-1" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple />
                                <label class="upload_col" for="file-1">
                                    <span><img src="images/icon-upload-resume.svg" /><br>Browse File</span>
                                </label>
                            </div><!-- import_col -->
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Subject</label>
                            <input type="text" class="form-control" />
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Contact Details</label>
                            <input type="text" class="form-control" />
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Note</label>
                            <textarea rows="2" class="form_textarea"></textarea>
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12 extra-margin-top-30">
                            <button type="submit" class="btn_grey_dark btn_min_width"><span>Submit</span></button>
                        </div><!-- col -->
                    </div><!-- form-group -->
                </div><!-- careers_form -->
            </div><!-- col -->*@
        </div><!-- row -->

    </div><!-- content -->

</div><!-- Wrapper -->
