﻿@{
    ViewBag.Title = "listCurrentAuction";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    Astaguru.Services.UserService.FilterService FS = new Astaguru.Services.UserService.FilterService();
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    string Bidclosingtime = string.Empty;
    int userid = Convert.ToInt32(Session["userid"]);
    string Subquery = string.Empty;

    if (@HttpContext.Current.Session["Subquery"] != null)
    {
        Subquery = @HttpContext.Current.Session["Subquery"].ToString();
    }

    List<string>
    FilterArtist;
    FilterArtist = (List<string>
        )Session["FilterArtist"];
    List<string>
        FilterMedium;
    FilterMedium = (List<string>
        )Session["FilterMedium"];
    List<string>
        FilterDept;
    FilterDept = (List<string>
        )Session["FilterDept"];

    int count = 0;

    int page = 0;
    double PrePage = 0;
    double NextPage = 0;
    if (string.IsNullOrEmpty(Request.QueryString["page"]))
    {

    }
    else
    {
        page = Convert.ToInt32(Request["page"].ToString());
        PrePage = Convert.ToInt32(Request["page"].ToString());
        NextPage = Convert.ToInt32(Request["page"].ToString());
    }

    double TotalPaginationCount = CAS.GetCurrentAuctionCount(Subquery);

    double pagenationOffSet = TotalPaginationCount / Convert.ToDouble(20);
    pagenationOffSet = Astaguru.Services.Common.getPaginationRoundupValue(pagenationOffSet);


    List<Astaguru.Models.Auction>
        CurrentAuction = null;
    CurrentAuction = CAS.GetCurrentAuctionList(Subquery, page);

    int Auctionid = 0;

    // Baner Detail
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    Astaguru.Models.Auction Baner = new Astaguru.Models.Auction();

    string imageURl = string.Empty;
    if (CurrentAuction.Count > 0)
    {
        Auctionid = CurrentAuction[0].Online; // Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["auctionId"]);
        Baner = COM.GetBannerDetails(Auctionid);
        imageURl = Uri.EscapeUriString(@Baner.auctionBanner);
    }



}


@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

@if (CurrentAuction.Count > 0)
{
    <meta name="description" content="@CurrentAuction[0].Auctionname">
}


<meta http-equiv="refresh" content="240">
<div id="wrapper">
    @*<div id="banner_inner" style="background: url(https://www.astaguru.com/images/banner/jew-oct20-webin.jpg) center center no-repeat; background-size: cover;">*@
    <div id="banner_inner" style="background: url(https://www.astaguru.com/images/banner/jew-oct20-webin.jpg) center center no-repeat; background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="banner_inner_text">
                <div class="auctions_title">
                    <h1 class="title_font medium_text">@Baner.auctiontitle</h1>
                    <p>@Baner.auctiondate</p>
                </div>
                <div class="watch_video">
                  <!--  <a href="https://www.astaguru.com/ModernIndianart-walkthrough1.html" target="_blank">
                       <img src="/Content/images/3dicon.jpg" style="float:left;padding-right:15px">
                        <span>CLICK HERE<br>FOR VIRTUAL PREVIEW<br>OF THE CATALOGUE</span>-->
                    </a>
                </div>
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->
    <div id="filter_wrap">
        <div class="content">
            <div class="filter_drop" id="filter_drop">
                <div class="row filter_row">
                    @if (CurrentAuction.Count > 0)
                    {
                        if (CurrentAuction[0].auctionType == 1)
                        {

                            <div class="col-sm-4">
                                <h5>Artists</h5>
                                @foreach (var item in FS.GetFilterArtist(Auctionid))
                                {
                                    if (FilterArtist != null)
                                    {
                                        bool ischecked = FilterArtist.Contains(Convert.ToString(item.id));

                                        if (ischecked)
                                        {
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input chk setArtist" id="Artist_@item.id" data-id="@item.id" checked>
                                                <label class="custom-control-label" for="Artist_@item.id">@item.name</label>
                                            </div><!-- checkbox -->
                                        }
                                        else
                                        {
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input chk setArtist" id="Artist_@item.id" data-id="@item.id">
                                                <label class="custom-control-label" for="Artist_@item.id">@item.name</label>
                                            </div><!-- checkbox -->
                                        }
                                    }
                                    else
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input chk setArtist" id="Artist_@item.id" data-id="@item.id">
                                            <label class="custom-control-label" for="Artist_@item.id">@item.name</label>
                                        </div><!-- checkbox -->
                                    }
                                }
                            </div><!-- col -->
                            <div class="col-sm-4 depart_col">
                                <h5>Departments</h5>
                                @foreach (var item in FS.GetFilterDepartment(Auctionid))
                                {
                                    if (FilterDept != null)
                                    {
                                        bool ischecked = FilterDept.Contains(Convert.ToString(item.categoryid));

                                        if (ischecked)
                                        {
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid" checked>
                                                <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                            </div><!-- checkbox -->
                                        }
                                        else
                                        {
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid">
                                                <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                            </div><!-- checkbox -->
                                        }
                                    }
                                    else
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid">
                                            <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                        </div><!-- checkbox -->
                                    }


                                }

                            </div><!-- col -->
                            <div class="col-sm-4">
                                <h5>Medium</h5>
                                @foreach (var item in FS.GetFilterMedium(Auctionid))
                                {
                                    if (FilterMedium != null)
                                    {
                                        bool ischecked = FilterMedium.Contains(Convert.ToString(item.mediumid));

                                        if (ischecked)
                                        {
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input chk setMedium" id="Medim_@item.mediumid" data-id="@item.mediumid" checked>
                                                <label class="custom-control-label" for="Medim_@item.mediumid">@item.medium</label>
                                            </div><!-- checkbox -->
                                        }
                                        else
                                        {
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input chk setMedium" id="Medim_@item.mediumid" data-id="@item.mediumid">
                                                <label class="custom-control-label" for="Medim_@item.mediumid">@item.medium</label>
                                            </div><!-- checkbox -->
                                        }
                                    }
                                    else
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input chk setMedium" id="Medim_@item.mediumid" data-id="@item.mediumid">
                                            <label class="custom-control-label" for="Medim_@item.mediumid">@item.medium</label>
                                        </div><!-- checkbox -->
                                    }


                                }


                            </div><!-- col -->
                        }
                        else
                        {
                            <div class="col-sm-4 depart_col">
                                <h5>Departments</h5>
                                @foreach (var item in FS.GetFilterDepartment(Auctionid))
                                {
                                    if (FilterDept != null)
                                    {
                                        bool ischecked = FilterDept.Contains(Convert.ToString(item.categoryid));

                                        if (ischecked)
                                        {
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid" checked>
                                                <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                            </div><!-- checkbox -->
                                        }
                                        else
                                        {
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid">
                                                <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                            </div><!-- checkbox -->
                                        }
                                    }
                                    else
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid">
                                            <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                        </div><!-- checkbox -->
                                    }


                                }

                            </div><!-- col -->
                        }
                    }
                </div><!-- filter_row -->
                <div class="filter_button">
                    <button class="btn_black" id="btnApply"><span>Apply</span></button>
                    <a href="JavaScript:Void(0);" class="link_cancel" id="btn_Clear">Cancel</a>
                </div><!-- filter_button -->
            </div><!-- filter drop -->

            <div class="flex_spbtn">
                <div class="filter_artist">
                    <a href="javascript:avoid(0)" id="click_filter"><i class="icon-filter"></i></a>
                </div><!-- filter_artist -->

                <div class="ellipsis_nav">
                    <a href="#nav_dropdown" class="click_ellipsis"><i class="icon-ellipsis"></i></a>
                    <ul class="live_action_menu">
                        <li><a target="_blank" href="@baseUrlPath/Home/closingSchedule">Closing Schedule</a></li>
                        <li><a href="javascript:avoid(0)" id="tabAuctionGallary">My Auction Gallery</a></li>
                        <li><a target="_blank" href="@baseUrlPath/Home/liveAuctionReview">Live Auction Review</a></li>
						<!--<li><a target="_blank" href="https://www.astaguru.com/ModernIndianart-walkthrough.html">Virtual Preview</a></li>-->
                    </ul>
                </div>
                <div class="filter_right">
                    <div class="auction_analysis_text custom_select">
                        <select class="select_drop" id="ddlCurrency">
                            <option value="1">inr</option>
                            <option value="2">usd</option>
                        </select>
                    </div><!-- custom_select -->
                    <ul class="icon_list_grid">
                        @if (@HttpContext.Current.Session["Subquery"] != null)
                        {
                            <li><a href="@baseUrlPath/Home/FilterCurrentAuction?page=@page"><i class="icon-grid-view"></i></a></li>
                                                    <li><a href="@baseUrlPath/Home/ListFilterCurrentAuction?page=@page" class="active"><i class="icon-list-view"></i></a></li>
                        }
                        else
                        {
                            <li><a href="@baseUrlPath/LiveAuction?page=@page"><i class="icon-grid-view"></i></a></li>
                                                    <li><a href="@baseUrlPath/ListLiveAuction?page=@page" class="active"><i class="icon-list-view"></i></a></li>
                        }


                    </ul>
                </div><!-- filter_right -->
            </div><!-- flex_spbtn -->
        </div><!-- content -->
    </div><!-- filter_wrap -->
    <div class="container-fluid content extra-padding-bottom-100">

        @if (CurrentAuction.Count > 0)
        {
            foreach (var item in CurrentAuction)
            {
                //DateTime CurrentDate = DateTime.Now;
                //Bidclosingtime = @item.Bidclosingtime.ToString("yyyy-MM-dd HH:mm:ss");
                //DateTime date_Bidclosingtime = DateTime.ParseExact(Bidclosingtime, "yyyy-MM-dd HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture);

                //Check user Current Lead Or Not
                //  int leadUserId = CAS.GetUserBiderOwner(item.reference);
                ///  count++;

                int usdCurrentPrice = item.pricers / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);
                int NextValidBid = Convert.ToInt32(Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, 1));
                int usdNextValidPrice = NextValidBid / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);

                <div class="box_col extra-margin-top-60 listView_wrapper">
                    <div class="img_list_view_row">
                        @if (item.isInternational == 1)
                        {
                            <span style="position: absolute;right: 7px;top: -18px;"><img src="~/Content/international.png" data-toggle="tooltip" data-placement="top" title="" data-original-title="International" /> </span>

                        }
                        else if (item.nonExportable == 1)
                        {
                            <span style="position: absolute;right: 7px;top: -18px;"><img src="~/Content/non-export.png" data-toggle="tooltip" data-placement="top" title="" data-original-title="Non Exportable" /> </span>

                        }
                        <ul class="listing_slider">
                            <li> <div class="front img_box_col"><img src="https://www.astaguru.com/@item.listImage" class="img_responsive" /></div></li>

                            @if (item.view1 != null || item.view2 != null || item.view3 != null || item.view4 != null)
                            {
                                if (item.view1 != null)
                                {
                                    <li> <div class="front img_box_col"><img src="https://www.astaguru.com/@item.view1" class="img_responsive" /></div></li>
                                }
                                if (item.view2 != null)
                                {
                                    <li> <div class="front img_box_col"><img src="https://www.astaguru.com/@item.view2" class="img_responsive" /></div></li>
                                }
                                if (item.view3 != null)
                                {
                                    <li> <div class="front img_box_col"><img src="https://www.astaguru.com/@item.view3" class="img_responsive" /></div></li>
                                }
                                if (item.view4 != null)
                                {
                                    <li> <div class="front img_box_col"><img src="https://www.astaguru.com/@item.view4" class="img_responsive" /></div></li>
                                }
                            }

                        </ul>
                        <div class="col_box_content">
                            <a data-gallery="manual" data-index="@count" href="https://www.astaguru.com/@item.image" data-group="b"><span class="icon_expand"><i class="icon-fullscreen"></i></span></a>
                        </div>
                    </div><!-- img_col_auctions -->
                    @{
                        count++;
                    }


                    <div class="content_list_view_row">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 col-xl-4">
                                <div class="list_view_artist_details">
                                    @if (item.auctionType == 1)
                                    {
                                        <a href="@baseUrlPath/Artist/artistProfile?artistid=@item.artistid" target="_blank">
                                            <h3 class="uppercase sbold nowrap_text">@item.firstname  @item.lastname</h3>
                                        </a>
                                                        <p><a href="@baseUrlPath/Home/LotDetails?productid=@item.productid&page=@page"><span class="lotno">Lot @item.reference</span> @item.title</a></p>
                                    }
                                    else if (item.auctionType == 2)
                                    {
                                        <h3><p><a href="@baseUrlPath/Home/LotDetails?productid=@item.productid&page=@page"><span class="lotno">Lot @item.reference</span> @item.title</a></p></h3>
                                    }



                                    <div class="list_view_text">
                                        @if (item.auctionType == 1)
                                        {
                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.Date</p>
                                                            <h6>Estimate</h6>
                                            if (currency == 1)
                                            {
                                                <p>@item.collectors</p>
                                            }
                                            else if (currency == 2)
                                            {
                                                <p>@item.estamiate</p>
                                            }
                                            else
                                            {
                                                <p>@item.collectors</p>
                                            }
                                        }
                                        else if (item.auctionType == 2)
                                        {
                                            <h6>Description</h6>
                                                            <p class="hover_description">@Html.Raw(item.Prdescription)</p>
                                                            <h6></h6>
                                                            <p>@item.productsize</p>

                                                            <h6>Estimate</h6>
                                            if (currency == 1)
                                            {
                                                <p>@item.collectors</p>
                                            }
                                            else if (currency == 2)
                                            {
                                                <p>@item.estamiate</p>
                                            }
                                            else
                                            {
                                                <p>@item.collectors</p>
                                            }
                                        }
                                        else
                                        {
                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.Date</p>
                                                            <h6>Estimate</h6>
                                            if (currency == 1)
                                            {
                                                <p>@item.collectors</p>
                                            }
                                            else if (currency == 2)
                                            {
                                                <p>@item.estamiate</p>
                                            }
                                            else
                                            {
                                                <p>@item.collectors</p>
                                            }
                                        }

                                    </div><!-- list_view_text -->
                                </div><!-- list_view_artist_details -->
                            </div><!-- col -->

                            <div class="col-md-12 col-lg-4 col-xl-5 extra-margin-top-60 mt-md-0">
                                <div class="row" id="SetCurentAuction_@item.productid">
                                    @if (currency == 1)
                                    {
                                        if (item.timeRemains < 0)
                                        {
                                            if (item.pricelow > item.pricers)
                                            {
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                    <div class="price_live_auc price_current_next divider_right">
                                                        <h5>Bought In</h5>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->
                                            }
                                            else
                                            {
                                                //show pricers with 15% margin added after Bid Closed  

                                                long pricers = item.pricers;    //use long for large pricers calculation
                                                long margin = pricers * 15;
                                                margin = margin / 100;
                                                long margin_pricers = pricers + margin;

                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                    <div class="price_live_auc price_current_next divider_right">                                                     
                                                       <h5>₹ @Astaguru.Services.Common.rupeeFormat(margin_pricers.ToString())</h5>
                                                        <h6 class="">(Inclusive 15% margin)</h6>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->

                                            }

                                        }
                                        else
                                        {
                                            <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                <div class="price_live_auc price_current_next divider_right">
                                                    <h6 class="uppercase">current bid</h6>
                                                    <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                                </div><!-- price_live_auc -->
                                            </div><!-- col -->
                                        }
                                  
                                    if (item.timeRemains < 0)
                                    {
                                        if (userid == item.MyUserID && item.MyUserID != 0)
                                        {
                                            if (item.pricelow < item.pricers)
                                            {
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                    <div class="price_live_auc price_current_next">
                                                        <h6 class="uppercase text_next_valid_bid current_leading">WON</h6>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->
                                            }
                                            else
                                            {
                                                <div class="close_auction"><span>Bid Closed</span></div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="close_auction"><span>Bid Closed</span></div>
                                        }
                                    }
                                    else
                                    {
                                            <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                <div class="price_live_auc price_current_next">
                                                    @if (userid == item.MyUserID && item.MyUserID != 0)
                                                    {
                                                        <h6 class="uppercase text_next_valid_bid current_leading">Currently <br> leading</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="uppercase">next valid bid</h6>
                                                                <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, currency).ToString())</h5>
                                                    }

                                                </div><!-- price_live_auc -->
                                            </div><!-- col -->
                                        }


                                    }
                                    else if (currency == 2)
                                    {
                                        if (item.timeRemains < 0)
                                        {
                                            if (item.pricelow > item.pricers)
                                            {                                              
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6 mt-md-0 ">
                                                    <div class="price_live_auc price_current_next divider_right">
                                                        <h5>Bought In</h5>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->
                                            } 
                                            else
                                            {
                                                //show pricers with 15% margin added after Bid Closed
                                                int margin = usdCurrentPrice * 15;
                                                margin = margin / 100;
                                                int margin_priceus = usdCurrentPrice + margin;

                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6 mt-md-0 ">
                                                    <div class="price_live_auc price_current_next divider_right">
                                                        <h5>$ @Astaguru.Services.Common.DollerFormat(margin_priceus.ToString())</h5>
                                                        <h6 class="">(Inclusive 15% margin)</h6>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->

                                            }
                                        }
                                        else
                                        {
                                            <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6 mt-md-0 ">
                                                <div class="price_live_auc price_current_next divider_right">
                                                    <h6 class="uppercase">current bid</h6>
                                                    <h5>$ @Astaguru.Services.Common.DollerFormat(@item.priceus.ToString())</h5>
                                                </div><!-- price_live_auc -->
                                            </div><!-- col -->
                                        }

                                    if (item.timeRemains < 0)
                                    {
                                        if (userid == item.MyUserID && item.MyUserID != 0)
                                        {
                                            if (item.pricelow < item.pricers)
                                            {
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                    <div class="price_live_auc price_current_next">
                                                        <h6 class="uppercase text_next_valid_bid current_leading">WON</h6>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->
                                            }
                                            else
                                            {
                                                <div class="close_auction"><span>Bid Closed</span></div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="close_auction"><span>Bid Closed</span></div>
                                        }
                                    }
                                    else
                                    {
                                            <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                <div class="price_live_auc price_current_next">
                                                    @if (userid == item.MyUserID && item.MyUserID != 0)
                                                    {
                                                        <h6 class="uppercase text_next_valid_bid current_leading">Currently <br> leading</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="uppercase">next valid bid</h6>
                                                                <h5>$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getNextValidBidAmount(@item.priceus, currency).ToString())</h5>
                                                    }
                                                </div><!-- price_live_auc -->
                                            </div><!-- col -->
                                        }

                                    }
                                    else
                                    {

                                        if (item.timeRemains < 0)
                                        {
                                            if (item.pricelow > item.pricers)
                                            {
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                    <div class="price_live_auc price_current_next divider_right">
                                                        <h5>Bought In</h5>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->
                                            }
                                            else
                                            {
                                                //show pricers with 15% margin added after Bid Closed  

                                                long pricers = item.pricers;    //use long for large pricers calculation
                                                long margin = pricers * 15;
                                                margin = margin / 100;
                                                long margin_pricers = pricers + margin;

                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                    <div class="price_live_auc price_current_next divider_right">                                                      
                                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(margin_pricers.ToString())</h5>
                                                        <h6 class="">(Inclusive 15% margin)</h6>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->

                                            }

                                        }
                                        else
                                        {
                                            <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                <div class="price_live_auc price_current_next divider_right">
                                                    <h6 class="uppercase">current bid</h6>
                                                    <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                                </div><!-- price_live_auc -->
                                            </div><!-- col -->
                                        }


                                        if (item.timeRemains < 0)
                                        {
                                            if (userid == item.MyUserID && item.MyUserID != 0)
                                            {
                                                if (item.pricelow < item.pricers)
                                                {
                                                    <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                        <div class="price_live_auc price_current_next">
                                                            <h6 class="uppercase text_next_valid_bid current_leading">WON</h6>
                                                        </div><!-- price_live_auc -->
                                                    </div><!-- col -->
                                                }
                                                else
                                                {
                                                    <div class="close_auction"><span>Bid Closed</span></div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="close_auction"><span>Bid Closed</span></div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                <div class="price_live_auc price_current_next">
                                                    @if (userid == item.MyUserID && item.MyUserID != 0)
                                                    {
                                                        <h6 class="uppercase text_next_valid_bid current_leading">Currently <br> leading</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="uppercase">next valid bid</h6>
                                                                <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, currency).ToString())</h5>
                                                    }
                                                </div><!-- price_live_auc -->
                                            </div><!-- col -->
                                        }
                                    }
                                </div><!-- row -->
                            </div><!-- col -->

                            <div class="col-lg-4 col-md-12 col-xl-3 extra-margin-top-60 mt-md-0">
                                <div class="live_auction_timer list_view_timer" id="SetListButton_@item.productid">


                                    @if (item.timeRemains < 0)
                                    {
                                        @*<a href="JavaScript:Void(0);" class="btn_bid disabled">Bid</a>*@

                                    }
                                    else
                                    {
                                        if (userid == item.MyUserID)
                                        {

                                        }
                                        else
                                        {
                                            <a href="JavaScript:Void(0);" class="btn_bid btnBidNow" data-id="@item.productid">Bid</a>

                                        }
                                        <div class="timer_wrap">
                                            <div class="timer_count">
                                                <figure>
                                                    <ul>
                                                        <li>@item.hh</li>
                                                    </ul>
                                                    <p>Hours</p>
                                                </figure>
                                                <span>:</span>
                                                <figure>
                                                    <ul>
                                                        <li>@item.mm</li>
                                                    </ul>
                                                    <p>Minute</p>
                                                </figure>
                                                <span>:</span>
                                                <figure>
                                                    <ul>
                                                        <li>@item.ss</li>
                                                    </ul>
                                                    <p>Second</p>
                                                </figure>
                                            </div>
                                        </div>

                                    }

                                    <div class="clear"></div>

                                    <input type="hidden" id="hiddenProductId_@item.productid" value="@item.productid" />
                                    <script>
                                        $('#btnBidNow_@item.productid').click(function () {
                                            $('#LoginForm').modal('toggle');
                                        });

                                        function BidNow1(productid) {
                                            $("#divLoader").show();

                                            var baseUrlPath = $('#hiddenbaseUrlPath').val();
                                            var productid = productid;//$(this).attr("data-id");
                                            var userId = $('#hiddenUserId').val();
                                            var isMobile = $('#hiddenMobileVerified').val();
                                            var isEmail = $('#hiddenEmailVerified').val();
                                            var isconfirmbid = $('#hiddenconfirmbid').val();
                                            if (userId > 0) {
                                                if (isMobile > 0 && isEmail > 0) {
                                                    // Apply For Bid
                                                    if (isconfirmbid > 0) {
                                                        $("#divLoader").hide();
                                                        window.location = baseUrlPath + '/Home/LotDetails?productid=' + productid+'&page='+ @page;
                                                    }
                                                    else {
                                                        $("#divLoader").hide();
                                                        alert('You Dont have bidding access');
                                                    }
                                                }
                                                else {
                                                    $("#divLoader").hide();
                                                    alert('Mobile Number Or Email id is not verified');
                                                }

                                            }
                                            else {
                                                $("#divLoader").hide();
                                                $('#LoginForm').modal('toggle');
                                            }
                                        }

                                        $('#SetListButton_@item.productid').on('click', '.btnBidNow', function () {
                                            var productid = $(this).attr("data-id");
                                            BidNow1(productid);
                                        });
                                    </script>
                                </div><!-- live_auction_timer -->

                                <a href="javascript:avoid(0)" class="small_btn addToCart" data-productid="@item.productid"><i class="icon-star"></i>add to my gallery</a>
                                <br />
                                <span id="Success_@item.productid" style="color:green" class="clsClearGallary"></span>
                                <span id="Err_@item.productid" style="color:red" class="clsClearGallary"></span>
                            </div><!-- col -->

                        </div><!-- Row -->
                    </div><!-- content_list_view_row -->

                    <div class="clear"></div>
                </div><!-- box_col -->
                            }
                        }
                        else if (Subquery.Length > 0)
                        {
                            <span class="no_data">No record found, please try some other filter option. </span>
                        }
                        else
                        {
                            <span class="no_data">No Live Auction Currently</span>
                        }
        @if (TotalPaginationCount > 20)
        {
            <nav aria-label="Page navigation example" class="paging_wrap extra-margin-top-100">
                <ul class="pagination">
                    <li class="page-item">
                        @if (PrePage > 0)
                        {
                            PrePage = PrePage - 20;
                            <a class="page-link" href="@baseUrlPath/ListLiveAuction?page=@PrePage" aria-label="Previous">
                                <span aria-hidden="true"><i class="icon-prev"></i></span>
                                <span class="sr-only">Previous</span>
                            </a>
                        }

                    </li>

                    @{
                        int pagination = 0;
                        for (int i = 1; i <= pagenationOffSet; i++)
                        {

                            if (page == pagination)
                            {
                                <li class="page-item  active"><a class="page-link" href="@baseUrlPath/ListLiveAuction?page=@pagination">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="@baseUrlPath/ListLiveAuction?page=@pagination">@i</a></li>
                            }
                            pagination = pagination + 20;
                        }
                    }

                    @{
                        NextPage = TotalPaginationCount - NextPage;
                        NextPage = NextPage - 20;
                        <li class="page-item">
                            @if (NextPage > 0)
                            {
                                page = page + 20;
                                <a class="page-link" href="@baseUrlPath/ListLiveAuction?page=@page" aria-label="Next">
                                    <span aria-hidden="true"><i class="icon-next"></i></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            }
                            else
                            {

                            }
                        </li>

                    }

                </ul>
            </nav>
                        }


    </div><!-- content -->
    <div class="hrline"></div>
   <!--  <div class="container-fluid content slide_controls_wrapper extra-padding-top-100 extra-padding-bottom-100">
        <div class="slider_controls">
            <div id="video_slider">
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/Ae5N9zohseY?rel=0&enablejsapi=1&autoplay=0&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1"></iframe>
                    </div>
                    <p class="videoSlide_text">Highlights of Southeast Asian Contemporary Art Auction</p>
                </div>
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/EzswaDJ__rw?rel=0&enablejsapi=1&autoplay=0&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1"></iframe>
                    </div>
                    <p class="videoSlide_text">Highlights of Southeast Asian Contemporary Art Auction</p>
                </div>
            </div>
        </div>
    </div> -->

</div><!-- Wrapper -->
<!--Modal-->
<div class="modal fade video_modal" id="SeeVideoModal" tabindex="-1" role="dialog" aria-labelledby="SeeVideoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cross"></i></span>
                </button>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="100%" height="350" src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //$('#ddlCurrency').change(function () {
    //    debugger;
    //    var baseUrlPath = $('#hiddenbaseUrlPath').val();
    //    currency = $('#ddlCurrency').val();
    //    if (currency == 1) {
    //        window.location = baseUrlPath + '/Home/ListCurrentAuction?currency=' + currency
    //    }
    //    else if (currency == 2) {
    //        window.location = baseUrlPath + '/Home/ListCurrentAuction?currency=' + currency
    //    }
    //});


    // A $( document ).ready() block.
    $(document).ready(function () {
        var currencyType = $('#hiddenCurrency').val();
        if (currencyType == 1) {
            $('#ddlCurrency').val(1);
        }
        else if (currencyType == 2) {
            $('#ddlCurrency').val(2);
        }

        setInterval(function () {
            var dynamicBidDataArr;
            var dynamicBidDataArrButton;
            var SetAuction = {};
            SetAuction.Subquery = $("#hiddenSubquery").val();
            SetAuction.page = $("#hiddenPage").val();
            SetAuction.pageName = 'Current';

            $.ajax({
                url: "/Common/generateCurrentAuctionList",
                type: 'POST',
                dataType: 'json',
                data: SetAuction,
                traditional: true,
                success: function (ReturnData) {
                    if (ReturnData.Success) {
                        //var your_object = JSON.parse(ReturnData.Success);
                        dynamicBidDataArr = ReturnData.Success;
                        for (var i = 0; i < dynamicBidDataArr.length; i++) {

                            var SetCurentAuction = document.getElementById("SetCurentAuction_" + dynamicBidDataArr[i].productid);
                            SetCurentAuction.innerHTML = dynamicBidDataArr[i].dyanmicData;
                            // alert(dynamicBidDataArr[i].dyanmicData);
                        }


                        dynamicBidDataArrButton = ReturnData.Button;
                        for (var i = 0; i < dynamicBidDataArrButton.length; i++) {

                            var SetListButton = document.getElementById("SetListButton_" + dynamicBidDataArrButton[i].productid);
                            SetListButton.innerHTML = dynamicBidDataArrButton[i].dyanmicData;
                            // alert(dynamicBidDataArr[i].dyanmicData);
                        }
                        //alert(ReturnData.Success[0].productid);

                        //

                        //$('#Time').html(ReturnData.Success);
                    }
                },
            });
        }, 1000);


        ////$("#btn1").click(function () {
        ////    hideDiv(1, 30);
        ////    hideClass("libtn1");
        ////});

        ////$("#btn2").click(function () {
        ////    hideDiv(31, 60);
        ////    hideClass("libtn2");
        ////});

        ////$("#btn3").click(function () {
        ////    hideDiv(61, 90);
        ////    hideClass("libtn3");
        ////});

        ////$("#btn4").click(function () {
        ////    hideDiv(91, 100);
        ////    hideClass("libtn4");
        ////});

        ////function hideDiv(start, end) {

        ////    for (var i = 1; i <= 100; i++) {
        ////        $("#" + i).hide(500);



        ////    }

        ////    for (var i = start; i <= end; i++) {
        ////        $("#" + i).show(500);


        ////    }

        //}

        //function hideClass(btn) {
        //    $("#libtn1").removeClass("active");
        //    $("#libtn2").removeClass("active");
        //    $("#libtn3").removeClass("active");
        //    $("#libtn4").removeClass("active");
        //    $("#" + btn).addClass("active");
        //}


    });

    $('.btnBidNow').click(function () {
        var productid = $(this).attr("data-id");
        var baseUrlPath = $('#hiddenbaseUrlPath').val();
        var userId = $('#hiddenUserId').val();
        var isMobile = $('#hiddenMobileVerified').val();
        var isEmail = $('#hiddenEmailVerified').val();
        var isconfirmbid = $('#hiddenconfirmbid').val();



        if (userId > 0) {
            if (isMobile > 0 && isEmail > 0) {
                // Apply For Bid
                if (isconfirmbid > 0) {
                    window.location = baseUrlPath + '/Home/LotDetails?productid=' + productid+'&page='+ @page;
                }
                else {
                    $("#divLoader").hide();
                    alert('You Dont have bidding access');
                }
            }
            else {
                alert('Mobile Number Or Email id is not verified');
            }

        }
        else {
            $('#LoginForm').modal('toggle');
        }

    });

    $('#btnApply').click(function () {
        var baseUrlPath = $("#hiddenbaseUrlPath").val();
        var j = 0;
        //document.getElementById('ErrFilter').innerHTML = "";

        $('.chk:checkbox:checked').each(function (i, obj) {
            j++;
        });

        if (j == 0) {
            var Clear = {};
            Clear.productid = 0;
            $.ajax({
                url: "/Filter/FilterClear",
                type: 'POST',
                dataType: 'json',
                data: Clear,
                traditional: true,
                success: function (ReturnData) {
                    if (ReturnData.Success) {
                        window.location.reload();
                    }
                },
            });
        }
        else {
            var MyFilter;
            MyFilter = {
                "chkArtist": [],
                "chkDept": [],
                "chkMedium": []
            };


            $('.setArtist:checkbox:checked').each(function (i, obj) {
                MyFilter.chkArtist[i] = $(this).attr("data-id");
            });

            $('.setDept:checkbox:checked').each(function (i, obj) {
                MyFilter.chkDept[i] = $(this).attr("data-id");
            });

            $('.setMedium:checkbox:checked').each(function (i, obj) {
                MyFilter.chkMedium[i] = $(this).attr("data-id");
            });

            // AJAX CALL


            $.ajax({
                url: "/Filter/Filter",
                type: 'POST',
                dataType: 'json',
                data: MyFilter,
                traditional: true,
                success: function (ReturnData) {
                    if (ReturnData.Success) {
                        //location.reload();
                        window.location = baseUrlPath + '/Home/ListFilterCurrentAuction'
                    }
                },
            });
        }

    });

    $('#btn_Clear').click(function () {
        //document.getElementById('ErrFilter').innerHTML = "";
        $('.chk:checkbox:checked').each(function (i, obj) {
            $('.chk').prop('checked', false);
        });

        //var Clear = {};
        //Clear.productid = 0;
        //$.ajax({
        //    url: "/Filter/FilterClear",
        //    type: 'POST',
        //    dataType: 'json',
        //    data: Clear,
        //    traditional: true,
        //    success: function (ReturnData) {
        //        if (ReturnData.Success) {
        //            window.location.reload();
        //        }
        //    },
        //});

    });
</script>







@*<script type="text/javascript">
        $(document).ready(function() {
            $(".listing_slider").lightSlider({
                item: 1,
                autoWidth: false,
                slideMove: 1, // slidemove will be 1 if loop is true


            });
        });
    </script>*@


<script type="text/javascript">
    $(document).ready(function() {
        var slider = $(".listing_slider").lightSlider({
            item: 1,
            autoWidth: false,
            slideMove: 1, // slidemove will be 1 if loop is true

            onAfterSlide: function (el) {
                var imgPath = $(el).find("li.active img").attr('src');
                console.log(imgPath);
                $('.col_box_content a').attr('href',imgPath);
                // $("#content-slider li.active").eq()
            }

        });



    });
</script>
