﻿
@{
    ViewBag.Title = "listRecordPriceArtwork";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    int artistid = Convert.ToInt32(Request.QueryString["artistid"]);
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    int currency = Convert.ToInt32(Session["GetCurrency"]);

    List<Astaguru.Models.Auction> RecordPriceArtwork = null;
    RecordPriceArtwork = COM.getRecordPriceArtwork();
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper">
   
    <div id="filter_wrap">
        <div class="content">
            <div class="flex_flex_end">
                <div class="filter_right">
                    <div class="auction_analysis_text custom_select">
                        <select class="select_drop" id="ddlCurrency">
                            <option value="1">inr</option>
                            <option value="2">usd</option>
                        </select>
                    </div><!-- custom_select -->
                    <ul class="icon_list_grid">
                        <li><a href="@baseUrlPath/Home/recordPriceArtwork" ><i class="icon-grid-view"></i></a></li>
                        <li><a href="@baseUrlPath/Home/listRecordPriceArtwork" class="active"><i class="icon-list-view"></i></a></li>
                    </ul>
                </div><!-- filter_right -->
            </div><!-- flex_spbtn -->
        </div><!-- content -->
    </div><!-- filter_wrap -->

    <div class="container-fluid content extra-padding-bottom-100 extra-margin-top-40">
        <h3 class="sbold uppercase">Record Price Artworks <a href="JavaScript:Void(0);" class="title_small_text">Top twenty works</a></h3>

        @if (RecordPriceArtwork.Count > 0)
        {
            foreach (var item in RecordPriceArtwork)
            {
                int usdCurrentPrice = item.pricers / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);
                
                <div class="box_col extra-margin-top-60 listView_wrapper">
                    <div class="img_list_view_row">
                        <div class="img_list_mxheight"><img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" /></div>
                        <a href="https://www.astaguru.com/@item.image" class="fancybox" rel="gallery2"><span class="icon_expand"><i class="icon-fullscreen"></i></span></a>
                    </div><!-- img_col_auctions -->

                    <div class="content_list_view_row">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-4 col-xl-4">
                                <div class="list_view_artist_details">
                                    <a href="@baseUrlPath/Artist/artistProfile?artistid=@item.artistid" target="_blank">
                                        <h3 class="uppercase sbold nowrap_text">@item.firstname  @item.lastname</h3>
                                    </a>
                                    <p><a href="@baseUrlPath/Past/PastDetails?productid=@item.productid&Record=Top"><span class="lotno">Lot @item.reference</span> @item.title</a></p>

                                    <div class="list_view_text">
                                        <h6>Medium</h6>
                                        <p>@item.medium</p>
                                        <h6>Size</h6>
                                        <p>@item.productsize</p>
                                        <h6>Year</h6>
                                        <p>@item.productdate</p>
                                        <h6>Estimate</h6>
                                        @if (currency == 1)
                                        {
                                        <p>@item.collectors</p>
                                        }
                                        else if (currency == 2)
                                        {
                                        <p>@item.estamiate</p>
                                        }
                                        else
                                        {
                                        <p>@item.collectors</p>
                                        }
                                    </div><!-- list_view_text -->
                                </div><!-- list_view_artist_details -->
                            </div><!-- col -->

                            <div class="col-md-6 col-lg-4 col-xl-5">
                                <div class="row">
                                    @if (currency == 1)
                                    {
                                        <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                            <div class="price_live_auc price_current_next divider_right">
                                                <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 15).ToString())</h5>
                                                <h6>(inclusive of 15% Buyers Premium)</h6>
                                            </div><!-- price_live_auc -->
                                        </div><!-- col -->

                                        <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                            <div class="price_live_auc price_current_next">
                                                <div class="btn_proxy_bid_row"><a href="@baseUrlPath/Past/PastDetails?productid=@item.productid&Record=Top" class="outline_link">Detail Page</a></div>
                                            </div><!-- price_live_auc -->
                                        </div><!-- col -->

                                    }
                                    else if (currency == 2)
                                    {
                                        <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                            <div class="price_live_auc price_current_next divider_right">
                                                <h5>$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.priceus, currency, 15).ToString())</h5>
                                                <h6>(inclusive of 15% Buyers Premium)</h6>
                                            </div><!-- price_live_auc -->
                                        </div><!-- col -->

                                        <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                            <div class="price_live_auc price_current_next">
                                                <div class="btn_proxy_bid_row"><a href="@baseUrlPath/Past/PastDetails?productid=@item.productid&Record=Top" class="outline_link">Detail Page</a></div>
                                            </div><!-- price_live_auc -->
                                        </div><!-- col -->
                                    }
                                    else
                                    {
                                       <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                            <div class="price_live_auc price_current_next divider_right">
                                                <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 15).ToString())</h5>
                                                <h6>(inclusive of 15% Buyers Premium)</h6>
                                            </div><!-- price_live_auc -->
                                        </div><!-- col -->

                                        <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                            <div class="price_live_auc price_current_next">
                                                <div class="btn_proxy_bid_row"><a href="@baseUrlPath/Past/PastDetails?productid=@item.productid&Record=Top" class="outline_link">Detail Page</a></div>
                                            </div><!-- price_live_auc -->
                                        </div><!-- col -->

                                        
                                    }

                                </div><!-- row -->

                            </div><!-- col -->

                            <div class="col-lg-4 col-xl-3">

                                <br />
                                <span id="Success_@item.productid" style="color:green" class="clsClearGallary"></span>
                                <span id="Err_@item.productid" style="color:red" class="clsClearGallary"></span>
                            </div><!-- col -->

                        </div><!-- Row -->
                    </div><!-- content_list_view_row -->

                    <div class="clear"></div>
                </div><!-- box_col -->
            }
        }


    </div><!-- content -->
    <div class="hrline"></div>
</div><!-- Wrapper -->
<!--Modal-->
<div class="modal fade video_modal" id="SeeVideoModal" tabindex="-1" role="dialog" aria-labelledby="SeeVideoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cross"></i></span>
                </button>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="100%" height="350" src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //$('#ddlCurrency').change(function () {
    //    debugger;
    //    var baseUrlPath = $('#hiddenbaseUrlPath').val();
    //    currency = $('#ddlCurrency').val();
    //    if (currency == 1) {
    //        window.location = baseUrlPath + '/Home/ListCurrentAuction?currency=' + currency
    //    }
    //    else if (currency == 2) {
    //        window.location = baseUrlPath + '/Home/ListCurrentAuction?currency=' + currency
    //    }
    //});


    // A $( document ).ready() block.
    $(document).ready(function () {
        var currencyType = $('#hiddenCurrency').val();
        if (currencyType == 1) {
            $('#ddlCurrency').val(1);
        }
        else if (currencyType == 2) {
            $('#ddlCurrency').val(2);
        }



     


    });
</script>





