﻿@model Astaguru.Models.Search
@{
    ViewBag.Title = "listSearchArtist";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    int artistid = Convert.ToInt32(Request.QueryString["artistid"]);

    if (artistid != 0)
    {
        TempData["artistid"] = artistid;

    }

    if (artistid == 0)
    {
        artistid = Model.artistid;
    }



    string SearchType = "";

    if (ViewBag.category != null || ViewBag.category != "")
    {
        SearchType = ViewBag.category;
    }


    Astaguru.Services.UserService.ArtistService AS = new Astaguru.Services.UserService.ArtistService();
    int currency = Convert.ToInt32(Session["GetCurrency"]);

    List<Astaguru.Models.Auction> ArtistResult = null;
    ArtistResult = AS.getArtistResult(artistid, SearchType);
    int count = 0;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper">
    <div id="filter_wrap">
        <div class="content">
            <div class="flex_flex_end">
                <div class="filter_right">
                    <div class="auction_analysis_text custom_select">
                        <select class="select_drop" id="ddlCurrency">
                            <option value="1">inr</option>
                            <option value="2">usd</option>
                        </select>
                    </div><!-- custom_select -->
                    @if (ArtistResult.Count > 0)
                    {
                        <ul class="icon_list_grid">
                            <li><a href="@baseUrlPath/Home/searchArtist?artistid=@artistid"><i class="icon-grid-view"></i></a></li>
                            <li><a href="@baseUrlPath/Home/listSearchArtist?artistid=@artistid" class="active"><i class="icon-list-view"></i></a></li>
                        </ul>
                    }
                </div><!-- filter_right -->
            </div><!-- flex_spbtn -->
        </div><!-- content -->
    </div><!-- filter_wrap -->

    <div class="container-fluid content extra-padding-bottom-100 extra-margin-top-40">
        <div class="row justify-content-between">
            @if (ArtistResult.Count > 0)
            {
                <h3 class="sbold uppercase">@ArtistResult[0].firstname  @ArtistResult[0].lastname <a href="@baseUrlPath/Artist/artistProfile?artistid=@artistid" class="title_small_text">View Profile</a></h3>
            }

            @using (Html.BeginForm("listSearchArtist", "Home", FormMethod.Post, new { id = "myform" }))
            {
                <div>
                    @Html.HiddenFor(m => m.artistid, new { id = "artistid" })
                    View:
                    @Html.RadioButtonFor(model => model.SearchType, "Art", new { @name = "SearchType" })
                    Art

                    @Html.RadioButtonFor(model => model.SearchType, "Jewelry, Antiques & Collectibles", new { @name = "SearchType" })
                    Jewelry, Antiques & Collectibles

                    @Html.RadioButtonFor(model => model.SearchType, "All", new { @name = "SearchType" })
                    All

                </div>
            }
        </div>

            @if (ArtistResult.Count > 0)
            {
                foreach (var item in ArtistResult)
                {
                    int usdCurrentPrice = item.pricers / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);

                    <div class="box_col extra-margin-top-60 listView_wrapper">
                        <div class="img_list_view_row">
                            <div class="img_list_mxheight"><img src="https://www.astaguru.com/@item.listImage" class="img_responsive" /></div>
                            <a data-gallery="manual" data-index="@count" href="https://www.astaguru.com/@item.image" data-group="b"><span class="icon_expand"><i class="icon-fullscreen"></i></span></a>
                        </div><!-- img_col_auctions -->
                        @{
                            count++;
                        }

                        <div class="content_list_view_row">
                            <div class="row align-items-center">
                                <div class="col-md-6 col-lg-4 col-xl-4">
                                    <div class="list_view_artist_details">
                                        @if (item.auctionType == 1)
                                        {


                                            <a href="@baseUrlPath/Artist/artistProfile?artistid=@item.artistid" target="_blank">
                                                <h3 class="uppercase sbold nowrap_text">@item.firstname  @item.lastname</h3>
                                            </a>
                                        }
                                        else if (item.auctionType == 2)
                                        {

                                        }
                                        @if (item.status == "Past")
                                        {
                                            <p><a href="@baseUrlPath/Past/PastDetails?productid=@item.productid"><span class="lotno">Lot @item.reference</span> @item.title</a></p>
                                        }
                                        else if (item.status == "Current")
                                        {
                                            <p><a href="@baseUrlPath/Home/LotDetails?productid=@item.productid"><span class="lotno">Lot @item.reference</span> @item.title</a></p>
                                        }
                                        else if (item.status == "Upcomming")
                                        {
                                            <p><a href="@baseUrlPath/Upcoming/UpcomingDetails?productid=@item.productid"><span class="lotno">Lot @item.reference</span> @item.title</a></p>
                                        }

                                        <div class="list_view_text">
                                            @if (item.auctionType == 1)
                                            {
                                                <h6>Medium</h6>
                                                <p>@item.medium</p>
                                                <h6>Size</h6>
                                                <p>@item.productsize in.</p>
                                                <h6>Year</h6>
                                                <p>@item.Date</p>
                                                <h6>Estimate</h6>
                                                if (currency == 1)
                                                {
                                                    <p>@item.collectors</p>
                                                }
                                                else if (currency == 2)
                                                {
                                                    <p>@item.estamiate</p>
                                                }
                                                else
                                                {
                                                    <p>@item.collectors</p>
                                                }
                                            }
                                            else if (item.auctionType == 2)
                                            {
                                                <h6>Description</h6>
                                                <p class="hover_description">@Html.Raw(item.Prdescription)</p>
                                                <h6></h6>
                                                <p>@item.productsize</p>
                                                <h6>Estimate</h6>
                                                if (currency == 1)
                                                {
                                                    <p>@item.collectors</p>
                                                }
                                                else if (currency == 2)
                                                {
                                                    <p>@item.estamiate</p>
                                                }
                                                else
                                                {
                                                    <p>@item.collectors</p>
                                                }
                                            }
                                            else
                                            {
                                                <h6>Medium</h6>
                                                <p>@item.medium</p>
                                                <h6>Size</h6>
                                                <p>@item.productsize in.</p>
                                                <h6>Year</h6>
                                                <p>@item.Date</p>
                                                <h6>Estimate</h6>
                                                if (currency == 1)
                                                {
                                                    <p>@item.collectors</p>
                                                }
                                                else if (currency == 2)
                                                {
                                                    <p>@item.estamiate</p>
                                                }
                                                else
                                                {
                                                    <p>@item.collectors</p>
                                                }
                                            }
                                        </div><!-- list_view_text -->
                                    </div><!-- list_view_artist_details -->
                                </div><!-- col -->

                                <div class="col-md-6 col-lg-4 col-xl-5">
                                    <div class="row">
                                        @if (item.status == "Past")
                                        {
                                            <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                <div class="price_live_auc price_current_next divider_right">

                                                    @if (item.pricelow > item.pricers)
                                                    {

                                                        <h5>Bought In</h5>
                                                        <h6></h6>
                                                    }
                                                    else
                                                    {
                                                        if (currency == 1)
                                                        {
                                                            if (item.Auctionid == 1 || item.Auctionid == 2 || item.Auctionid == 3)
                                                            {
                                                                <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 10).ToString())</h5>
                                                                <h6>(Inclusive 10% margin)</h6>
                                                            }
                                                            else
                                                            {
                                                                <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 15).ToString())</h5>
                                                                <h6>(Inclusive 15% margin)</h6>
                                                            }
                                                        }
                                                        else if (currency == 2)
                                                        {
                                                            if (item.Auctionid == 1 || item.Auctionid == 2 || item.Auctionid == 3)
                                                            {
                                                                <h5>$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.priceus, currency, 10).ToString())</h5>
                                                                <h6>(Inclusive 15% margin)</h6>
                                                            }
                                                            else
                                                            {
                                                                <h5>$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.priceus, currency, 15).ToString())</h5>
                                                                <h6>(Inclusive 15% margin)</h6>
                                                            }


                                                        }
                                                        else
                                                        {
                                                            if (item.Auctionid == 1 || item.Auctionid == 2 || item.Auctionid == 3)
                                                            {
                                                                <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 10).ToString())</h5>
                                                                <h6>(Inclusive 10% margin)</h6>
                                                            }
                                                            else
                                                            {
                                                                <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 15).ToString())</h5>
                                                                <h6>(Inclusive 15% margin)</h6>
                                                            }
                                                        }
                                                    }
                                                </div><!-- price_live_auc -->
                                            </div><!-- col -->

                                        }
                                        else if (item.status == "Current")
                                        {

                                            <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                <div class="price_live_auc price_current_next divider_right">
                                                    <h5>In current auction</h5>
                                                    <h6></h6>
                                                </div><!-- price_live_auc -->
                                            </div><!-- col -->
                                        }
                                        else if (item.status == "Upcomming")
                                        {
                                            <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                <div class="price_live_auc price_current_next divider_right">
                                                    @if (currency == 1)
                                                    {
                                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                                        <h6>&nbsp;</h6>
                                                    }
                                                    else if (currency == 2)
                                                    {
                                                        <h5>$ @Astaguru.Services.Common.DollerFormat(@item.priceus.ToString())</h5>
                                                        <h6>&nbsp;</h6>
                                                    }
                                                    else
                                                    {
                                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                                        <h6>&nbsp;</h6>
                                                    }
                                                </div><!-- price_live_auc -->
                                            </div><!-- col -->
                                        }

                                    </div><!-- row -->

                                </div><!-- col -->

                                <div class="col-lg-4 col-xl-3">

                                    <br />
                                    <span id="Success_@item.productid" style="color:green" class="clsClearGallary"></span>
                                    <span id="Err_@item.productid" style="color:red" class="clsClearGallary"></span>
                                </div><!-- col -->

                            </div><!-- Row -->
                        </div><!-- content_list_view_row -->

                        <div class="clear"></div>
                    </div><!-- box_col -->
                                }
                            }


                            else
                            {
                                <div>
                                    <h1 style="color:red">No Data Found</h1>
                                </div>
                            }

        </div><!-- content -->

</div><!-- Wrapper -->

<script>
    $(document).ready(function () {
        var currencyType = $('#hiddenCurrency').val();
        if (currencyType == 1) {
            $('#ddlCurrency').val(1);
        }
        else if (currencyType == 2) {
            $('#ddlCurrency').val(2);
        }

    });
</script>

<script>
    $(function () {
        $('input[type=radio][name=SearchType]').change(function () {
            $('#myform').submit();
        });
    });
</script>

