﻿@model Astaguru.Models.Auction
@{
    ViewBag.Title = "lotDetails";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    string Bidclosingtime = string.Empty;
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    int userid = Convert.ToInt32(Session["userid"]);
    int DollarRate = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);

    int usdCurrentPrice = Model.pricers / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);
    int NextValidBid = Convert.ToInt32(Astaguru.Services.Common.getNextValidBidAmount(Model.pricers, 1));
    int k = 0;
    int usdNextValidPrice = NextValidBid / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);

    //Check user Current Lead Or Not

    // int leadUserId = CAS.GetUserBiderOwner(Model.reference);

    double topFiveBidRs = Astaguru.Services.Common.getNextValidBidAmount(Model.pricers, currency);
    double topFiveBidUs = usdNextValidPrice; //Model.pricers / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);
    string image = "zoomImage:\"https://www.astaguru.com/" + Model.image + " \", zoomSizeMode: \"image\", tintColor:\"#000\", tintOpacity:0.25, captionPosition:\"bottom\", maxMagnification:4, autoInside:750";

    // Baner Detail
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    Astaguru.Models.Auction Baner = new Astaguru.Models.Auction();

    string imageURl = string.Empty;

    if (Baner.auctionBanner != null)
    {
        imageURl = Uri.EscapeUriString(@Baner.auctionBanner);
    }
    Baner = COM.GetBannerDetails(Model.Online);


    int page = Convert.ToInt32(Request["page"].ToString());
    //string imageURl = Uri.EscapeUriString(@Baner.auctionBanner);

    Astaguru.Services.UserService.UserService US = new Astaguru.Services.UserService.UserService();

    var usercheck = CAS.Gethighestproxybytime(Model.productid);

    var a = 0;

}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<script src="https://maps.google.com/maps/api/js?key=AIzaSyDtbYyXPxSlYRAI6AG_WZUKXnzoEcnRePE"></script>
<input type="hidden" id="hiddenProductId" value="@Model.productid" />
<input type="hidden" id="hiddenCurrency" value="@currency" />
<input type="hidden" id="hiddenDollarRate" value="@DollarRate" />
<input type="hidden" id="hiddenBrowser" />
<input type="hidden" id="hiddenIP" />
<input type="hidden" id="hiddenlatitude" />
<input type="hidden" id="hiddenlongitude" />
<input type="hidden" id="hiddenAddress" />
<input type="hidden" id="hiddenUserLocation" />
<input type="hidden" id="hiddenLastBidId" />

<input type="hidden" id="hiddenBidCountInternet" value="0" />
<input type="hidden" id="hiddenProxyBidCount" value="0" />

<div id="divLoader" class="page_loader" style="display:none">
    <!-- <img src="~/Content/giphy.gif" alt="Loader" /> -->
</div>

<div id="wrapper">
    <div id="banner_inner" style="background: url(http://www.astaguru.com/@imageURl) center center no-repeat; background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="banner_inner_text">
                <div class="auctions_title bdr_no">
                    <h1 class="title_font medium_text">@Baner.auctiontitle</h1>
                    <p>@Baner.auctiondate</p>
                </div>
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->
    <div id="filter_wrap">
        <div class="content">
            <div class="flex_spbtn">
                <ul class="icon_list_grid btn_proxy_bid_row">
                    @*
                        <li><a href="@baseUrlPath/Home/CurrentAuction?page=@page" class="outline_link">Back to Live Auction</a></li>*@
                    <li><a href="@baseUrlPath/LiveAuction?page=@page" class="outline_link">Back to Live Auction</a></li>
                </ul>
                <div class="ellipsis_nav">
                    <a href="#nav_dropdown" class="click_ellipsis"><i class="icon-ellipsis"></i></a>
                    <ul class="live_action_menu">
                        <li><a target="_blank" href="@baseUrlPath/Home/closingSchedule">Closing Schedule</a></li>
                        <li><a href="javascript:avoid(0)" id="tabAuctionGallary">My Auction Gallery</a></li>
                        <li><a target="_blank" href="@baseUrlPath/Home/liveAuctionReview">Live Auction Review</a></li>
                    </ul>
                </div>
                <div class="filter_right">
                    <div class="auction_analysis_text custom_select">
                        <select class="select_drop" id="ddlCurrency">
                            <option value="1">inr</option>
                            <option value="2">usd</option>
                        </select>
                    </div><!-- custom_select -->
                </div><!-- filter_right -->
            </div><!-- flex_spbtn -->
        </div><!-- content -->
    </div><!-- filter_wrap -->

    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
        <div class="row">
            <div class="col-lg-6" id="newImg">
                <div class="" style="position:relative">

                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                        <li data-thumb="https://www.astaguru.com/@Model.thumbnail">
                            <a data-gallery="manual" data-index="0" href="https://www.astaguru.com/@Model.image" data-group="b" style="display:block"><img src="https://www.astaguru.com/@Model.thumbnail" /></a>
                        </li>

                        @if (Model.view1 != null || Model.view2 != null || Model.view3 != null || Model.view4 != null)
                        {
                            if (Model.view1 != null)
                            {
                                <li data-thumb="https://www.astaguru.com/@Model.view1">
                                    <a data-gallery="manual" data-index="1" href="https://www.astaguru.com/@Model.view1" data-group="b"><img src="https://www.astaguru.com/@Model.view1" /></a>
                                </li>
                            }
                            if (Model.view2 != null)
                            {
                                <li data-thumb="https://www.astaguru.com/@Model.view2">
                                    <a data-gallery="manual" data-index="2" href="https://www.astaguru.com/@Model.view2" data-group="b"><img src="https://www.astaguru.com/@Model.view2" /></a>
                                </li>
                            }
                            if (Model.view3 != null)
                            {
                                <li data-thumb="https://www.astaguru.com/@Model.view3">
                                    <a data-gallery="manual" data-index="3" href="https://www.astaguru.com/@Model.view3" data-group="b"><img src="https://www.astaguru.com/@Model.view3" /></a>
                                </li>
                            }
                            if (Model.view4 != null)
                            {
                                <li data-thumb="https://www.astaguru.com/@Model.view4">
                                    <a data-gallery="manual" data-index="4" href="https://www.astaguru.com/@Model.view4" data-group="b"><img src="https://www.astaguru.com/@Model.view4" /></a>
                                </li>
                            }


                        }

                    </ul>

                    <a href="javascript:avoid(0)" class="small_btn addToCart" data-productid="@Model.productid"><i class=" icon-star"></i>add to my gallery</a>
                    <br />
                    <span id="Success_@Model.productid" style="color:green" class="clsClearGallary"></span>
                    <span id="Err_@Model.productid" style="color:red" class="clsClearGallary"></span>
                </div>
            </div><!-- col -->

            <div class="col-lg-6">
                <div class="detail_content">

                    @if (Model.auctionType == 1)
                    {
                        <a href="@baseUrlPath/Artist/artistProfile?artistid=@Model.artistid" target="_blank">

                            @*<a href="@baseUrlPath/Artist/artistProfile/@Model.firstname-@Model.lastname" target="_blank">
                            *@
                            <h2 class="uppercase sbold">
                                @Model.firstname @Model.lastname

                            </h2>
                        </a>
                        if (Model.isInternational == 1)
                        {
                            <span><img src="~/Content/international_inner_icon.png" style="margin-top:-8px;margin-left:5px;" /> </span>
                        }
                        else if (Model.nonExportable == 1)
                        {
                            <span><img src="~/Content/non-export_inner_icon.png" style="margin-top:-8px;margin-left:5px;" /> </span>


                        }

                        <h3>@Model.title</h3>
                    }
                    else if (Model.auctionType == 2)
                    {
                        <h2 class="uppercase sbold">
                            @Model.title
                        </h2>

                        if (Model.isInternational == 1)
                        {
                            <span><img src="~/Content/international_inner_icon.png" style="margin-top:-8px;margin-left:5px;" /> </span>
                        }
                        else if (Model.nonExportable == 1)
                        {
                            <span><img src="~/Content/non-export_inner_icon.png" style="margin-top:-8px;margin-left:5px;" /> </span>


                        }
                    }

                    <dl class="row detail_content_dl">
                        <dt class="col-sm-3 col-lg-2">Lot No</dt>
                        <dd class="col-sm-9 col-lg-10 sbold">@Model.reference</dd>

                        @if (Model.auctionType == 1)
                        {
                            <dt class="col-sm-3 col-lg-2">Medium</dt>
                            <dd class="col-sm-9 col-lg-10 sbold">@Model.medium</dd>

                            <dt class="col-sm-3 col-lg-2">Year</dt>
                            <dd class="col-sm-9 col-lg-10 sbold">
                                @Model.Date
                            </dd>

                            <dt class="col-sm-3 col-lg-2">Size</dt>
                            <dd class="col-sm-9 col-lg-10 sbold">@Model.productsize in.</dd>

                        }
                        else if (Model.auctionType == 2)
                        {
                            <dt class="col-sm-3 col-lg-2">Description</dt>
                            <dd class="col-sm-9 col-lg-10 sbold">@Html.Raw(@Model.Prdescription)</dd>

                            <dt class="col-sm-3 col-lg-2"></dt>
                            <dd class="col-sm-9 col-lg-10 sbold">@Model.productsize</dd>
                        }


                        <dt class="col-sm-3 col-lg-2">Estimate</dt>
                        @if (currency == 1)
                        {
                            <dd class="col-sm-9 col-lg-10 sbold">@Model.collectors</dd>
                        }
                        else if (currency == 2)
                        {
                            <dd class="col-sm-9 col-lg-10 sbold">@Model.estamiate</dd>
                        }
                        else
                        {
                            <dd class="col-sm-9 col-lg-10 sbold">@Model.collectors</dd>
                        }


                        <dt class="col-sm-3 col-lg-2"></dt>
                        <dd class="col-sm-9 col-lg-10">
                            @if (Model.timeRemains < 0)
                            {
                                if (Model.pricelow < Model.pricers)
                                {
                                    if (userid == Model.MyUserID && Model.MyUserID != 0)
                                    {
                                    <a href="@baseUrlPath/Home/billingAddress?productid=@Model.productid" class="view_additional_link" target="_blank"><img src="~/Content/images/icon-tag.png" height="15" /> view additional charges</a>
                                    }
                                }
                            }
                            else
                            {
                                <a href="@baseUrlPath/Home/billingAddress?productid=@Model.productid" class="view_additional_link" target="_blank"><img src="~/Content/images/icon-tag.png" height="15" /> view additional charges</a>
                            }
                            @if (Model.Conditiondetails != null && Model.Conditiondetails != "")
                            {
                                <a href="https://www.astaguru.com/Content/Condition_Reports/@Model.Conditiondetails" class="view_additional_link" target="_blank"><img src="~/Content/images/condition_report.png" height="15" />Condition Report</a>
                            }

                        </dd>


                    </dl>

                    @*Currency Current / Next valid*@

                    <div id="SetDynamicCurrency">
                        @if (currency == 1)
                        {
                            <div class="row custom_row details_text mobile_view_2 extra-margin-top-30" style="max-width:460px;">

                                @if (Model.timeRemains < 0)
                                {
                                    if (Model.pricelow > Model.pricers)
                                    {
                                        <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                            <h3 class="sbold">Bought In</h3>
                                        </div><!-- col -->
                                    }
                                    else
                                    {
                                        //show price with 15% margin added after Bid Closed

                                        long pricers = Model.pricers;    //use long for large pricers calculation
                                        long margin = pricers * 15;
                                        margin = margin / 100;
                                        long margin_pricers = pricers + margin;

                                        <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                            <h3 class="sbold">₹ @Astaguru.Services.Common.rupeeFormat(margin_pricers.ToString())</h3>
                                            <p class="" style="font-size:14px;">(Inclusive 15% margin)</p>
                                        </div><!-- col -->
                                    }
                                }
                                else
                                {
                                    <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                        <p class="uppercase">current bid</p>
                                        <h3 class="sbold">₹ @Astaguru.Services.Common.rupeeFormat(@Model.pricers.ToString())</h3>
                                    </div><!-- col -->
                                }

                                @if (Model.timeRemains < 0)
                                {
                                    if (Model.pricelow < Model.pricers)
                                    {
                                        if (userid == Model.MyUserID && Model.MyUserID != 0)
                                        {

                                            <div class="col-sm-6 col-lg-6 custom_col">
                                                <p class="uppercase text_next_valid_bid current_leading">Won</p>
                                            </div><!-- col -->
                                        }
                                        else
                                        {
                                            <div class="close_auction"><span>Bid Closed</span></div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="close_auction"><span>Bid Closed</span></div>
                                    }

                          
                                }
                                else
                                {
                                    <div class="col-sm-6 col-lg-6 custom_col">
                                        @if (userid == Model.MyUserID && Model.MyUserID != 0)
                                        {
                                            <p class="uppercase text_next_valid_bid current_leading">Currently leading</p>
                                        }
                                        else
                                        {
                                            <p class="uppercase">next valid bid</p>
                                            <h3 class="sbold">₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency).ToString())</h3>
                                            <input type="hidden" id="checknextvalidbid" value="@Model.pricers" />

                                        }
                                    </div><!-- col -->
                                }

                                                             
                            </div><!-- row -->
                        }
                        else if (currency == 2)
                        {
                            <div class="row custom_row details_text mobile_view_2 extra-margin-top-30" style="max-width:460px;">

                                @if (Model.timeRemains < 0)
                                {
                                    if (Model.pricelow > Model.pricers)
                                    {
                                        <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                            <h3 class="sbold">Bought In</h3>
                                        </div><!-- col -->
                                    }
                                    else
                                    {
                                        //show pricers with 15% margin added after Bid Closed
                                        int margin = usdCurrentPrice * 15;
                                        margin = margin / 100;
                                        int margin_priceus = usdCurrentPrice + margin;

                                        <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                            <h3 class="sbold">$ @Astaguru.Services.Common.DollerFormat(margin_priceus.ToString())</h3>
                                            <p class="" style="font-size:14px;">(Inclusive 15% margin)</p>
                                        </div><!-- col -->
                                    }
                                }
                                else
                                {
                                    <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                        <p class="uppercase">current bid</p>
                                        <h3 class="sbold">$ @Astaguru.Services.Common.DollerFormat(usdCurrentPrice.ToString())</h3>
                                    </div><!-- col -->
                                }


                                @if (Model.timeRemains < 0)
                                {
                                    if (Model.pricelow < Model.pricers)
                                    {
                                        if (userid == Model.MyUserID && Model.MyUserID != 0)
                                        {

                                            <div class="col-sm-6 col-lg-6 custom_col">
                                                <p class="uppercase text_next_valid_bid current_leading">Won</p>
                                            </div><!-- col -->
                                        }
                                        else
                                        {
                                            <div class="close_auction"><span>Bid Closed</span></div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="close_auction"><span>Bid Closed</span></div>
                                    }
                                }
                                else
                                {
                                    <div class="col-sm-6 col-lg-6 custom_col">
                                        @if (userid == Model.MyUserID && Model.MyUserID != 0)
                                        {
                                            <p class="uppercase text_next_valid_bid current_leading">Currently leading</p>
                                        }
                                        else
                                        {
                                            <p class="uppercase text_next_valid_bid">next valid bid</p>

                                            <h3 class="sbold">$ @Astaguru.Services.Common.DollerFormat(usdNextValidPrice.ToString())</h3>

                                            <input type="hidden" id="checknextvalidbid" value="@Model.pricers" />
                                        }

                                    </div><!-- col -->
                                }
                            </div><!-- row -->
                        }
                        else
                        {

                            <div class="row custom_row details_text mobile_view_2 extra-margin-top-30" style="max-width:460px;">
                                @if (Model.timeRemains < 0)
                                {
                                    if (Model.pricelow > Model.pricers)
                                    {
                                        <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                            <h3 class="sbold">Bought In</h3>
                                        </div><!-- col -->
                                    }
                                    else
                                    {
                                        //show pricers with 15% margin added after Bid Closed

                                        long pricers = Model.pricers;    //use long for large pricers calculation
                                        long margin = pricers * 15;
                                        margin = margin / 100;
                                        long margin_pricers = pricers + margin;

                                        <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                            <h3 class="sbold">₹ @Astaguru.Services.Common.rupeeFormat(margin_pricers.ToString())</h3>
                                            <p class="" style="font-size:14px;">(Inclusive 15% margin)</p>
                                        </div><!-- col -->
                                    }
                                }
                                else
                                {
                                    <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                        <p class="uppercase">current bid</p>
                                        <h3 class="sbold">₹ @Astaguru.Services.Common.rupeeFormat(@Model.pricers.ToString())</h3>
                                    </div><!-- col -->
                                }
                   
         
                                @if (Model.timeRemains < 0)
                                {
                                    if (Model.pricelow < Model.pricers)
                                    {
                                        if (userid == Model.MyUserID && Model.MyUserID != 0)
                                        {

                                            <div class="col-sm-6 col-lg-6 custom_col">
                                                <p class="uppercase text_next_valid_bid current_leading">Won</p>
                                            </div><!-- col -->
                                        }
                                        else
                                        {
                                            <div class="close_auction"><span>Bid Closed</span></div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="close_auction"><span>Bid Closed</span></div>
                                    }
                                }
                                else
                                {
                                    <div class="col-sm-6 col-lg-6 custom_col">
                                        @if (userid == Model.MyUserID && Model.MyUserID != 0)
                                        {
                                            <p class="uppercase text_next_valid_bid current_leading">Currently leading</p>
                                        }
                                        else
                                        {
                                            <p class="uppercase">next valid bid</p>

                                            <h3 class="sbold">₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency).ToString())</h3>

                                            <input type="hidden" id="checknextvalidbid" value="@Model.pricers" />
                                        }
                                    </div><!-- col -->
                                }         
                               
                  
                    
                            </div><!-- row -->
                        }
                    </div>


                    @if (Model.timeRemains < 0)
                    {
                        
                    }
                    else
                    {
                        <div id="setDetailTimer">
                            <div class="timer_count extra-margin-top-30">
                                <figure>
                                    <ul>
                                        <li>@Model.hh</li>
                                    </ul>
                                    <p>Hours</p>
                                </figure>
                                <span>:</span>
                                <figure>
                                    <ul>
                                        <li>@Model.mm</li>
                                    </ul>
                                    <p>Minute</p>
                                </figure>
                                <span>:</span>
                                <figure>
                                    <ul>
                                        <li>@Model.ss</li>
                                    </ul>
                                    <p>Second</p>
                                </figure>
                            </div>
                        </div>
                    }




                    @*<span id="errBid" style="color:red"></span>*@
                    <span id="errBid"></span>

                    <div id="setButton">

                        @if (userid == Model.MyUserID)
                        {

                        }
                        else
                        {
                            if (Model.timeRemains < 0)
                            {
                                
                            }
                            else
                            {
                                <div class="row custom_row details_text mobile_view_2">
                                    <div class="col-sm-12 custom_col">
                                        <a href="javascript:avoid(0)" class="btn_lgrey btn_proxybid full_width" id="btnProxyBid" style="display:none"><span data-toggle="tooltip" data-placement="top" title="Proxy Bid">Proxy Bid</span></a>
                                        @if (userid == Model.MyUserID)
                                        {

                                        }
                                        else
                                        {
                                            <a href="javascript:avoid(0)" title="Bid Value" class="btn_lgrey btn_grey btn_bidnow full_width" id="btnBidNow" style="display:none"><span>bid now</span></a>
                                        }
                                    </div><!-- Col -->

                                </div><!-- row -->
                            }
                        }

                    </div>

                    <div>
                        <div class="popover_price">
                            <a href="javascript:avoid(0)" title="Bid Value" class="view_additional_link" data-toggle="popover" data-popover="true" data-html="true" data-content="
                            <div id='pop'>
                                @if (currency == 1)
                                {
                                    for (int i = 0; i < 5; i++)
                                    {
                                        topFiveBidRs = Astaguru.Services.Common.getNextValidBidAmount(@topFiveBidRs, currency);
                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(topFiveBidRs.ToString())</h5>
                                    }


                                }
                                else if (currency == 2)
                                {


                                    for (int i = 0; i < 5; i++)
                                    {
                                        topFiveBidUs = Astaguru.Services.Common.getNextValidBidAmount(@topFiveBidUs, 1);
                                        <h5>$ @Astaguru.Services.Common.DollerFormat(topFiveBidUs.ToString())</h5>
                                    }

                                }
                                else
                                {
                                    for (int i = 0; i < 5; i++)
                                    {
                                        topFiveBidRs = Astaguru.Services.Common.getNextValidBidAmount(@topFiveBidRs, currency);
                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(topFiveBidRs.ToString())</h5>
                                    }

                                }
                            </div>">Next Five Bids
                        </a>

                        </div>

                    </div>
                </div><!-- detail_content -->

            </div><!-- col -->
        </div><!-- Row -->
        <div class="about_artist">
            <h5 class="bold extra-margin-top-40 black">Bid History (No of Bids - <span id="lblNoOfBids"></span>)</h5>
            <div id="setBidHistory">
                <div class="table-responsive table_box table_bid_history valign_cell extra-margin-top-20">
                    <table class="table table-striped">
                        <thead class="table_head">
                            <tr>
                                <th>Nick Name</th>
                                <th>Amount ($)</th>
                                <th>Amount (₹)</th>
                                <th>Date & Time (UTC)</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in CAS.GetBidHistory(Model.productid))
                            {
                                k++;
                                <tr>
                                    <td>@item.anoname</td>
                                    <td>@Astaguru.Services.Common.DollerFormat(@item.Bidpriceus.ToString())</td>
                                    <td>@Astaguru.Services.Common.rupeeFormat(@item.Bidpricers.ToString())</td>

                                    <td>
                                        @*@if (item.proxy1 == "1")
                                            {
                                            <p>@item.daterec proxy</p>
                                            }
                                            else
                                            {
                                            <p>@item.daterec</p>
                                            }*@

                                        @if (item.proxy1 == "1")
                                        {

                                            if (a == 0)
                                            {
                                                if (item.userid == usercheck)
                                                {
                                                    <p>@item.daterec proxy <img src='/Content/images/info2.png' data-toggle='tooltip' data-placement='top' title='In case of the same proxy amount,user to place the first bid has the claim on the artwork.' /></p>
                                                    a++;
                                                }
                                                else
                                                {
                                                    <p>@item.daterec</p>
                                                }
                                            }
                                            else
                                            {
                                                <p>@item.daterec</p>
                                            }
                                        }
                                        else
                                        {
                                            <p>@item.daterec</p>
                                        }
                                        @*<p>Proxy</p>*@
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

                <input type="hidden" id="hiddenBidCount" value="@k" />
            </div>

            <div>
                <div id="LoginForBidHistory">
                    <h5 id="loginBtn" class="bold extra-margin-top-40 black"><u><a href="#" data-toggle="modal" data-target="#LoginForm">* please login to view bid history</a></u></h5>
                </div>

            </div>

            <div class="about_artist">
                <div class="row custom_row">
                    <div class="col-md-6 custom_col extra-margin-top-100">
                        <div class="additional_info">
                            <h3 class="uppercase sbold">additional information</h3>
                            <p> @Html.Raw(@Model.description)</p>
                        </div>
                    </div><!-- col -->
                    @if (Model.auctionType == 1)
                    {
                        if (Model.HumanFigure != null && Model.HumanFigure != "")
                        {
                            <div class="col-md-6 custom_col extra-margin-top-100">
                                <div class="col_additional_img">
                                    <img src="https://www.astaguru.com/@Model.HumanFigure" class="img_responsive" />
                                    <h5 class="medium_weight">Artwork Size</h5>
                                    <p>Height of the figure - 6ft</p>
                                </div><!-- col_additional_img -->
                            </div><!-- col -->
                        }
                    }
                    else
                    {

                    }
                </div><!-- row -->
            </div><!-- addition_wrap -->


            <div class="clear"></div>
        </div><!-- content -->

        <div class="hrline"></div>

        @if (Model.auctionType == 1)
        {
            <div class="container-fluid content extra-margin-bottom-100 extra-margin-top-100">
                <div class="about_artist">
                    <h3 class="uppercase sbold">about artist</h3>
                    <div class="read_more">
                        <p>
                            @Html.Raw(@Model.Profile)
                        </p>
                    </div>
                </div><!-- about_artist -->
            </div><!-- content -->
        }
        else if (Model.auctionType == 2)
        {

        }

    </div><!-- Wrapper -->
    <!-- Modal -->
    @{
        Model.userid = userid;
        Html.RenderPartial("_partialproxyBid", Model);

    }


    <!-- Modal -->
    <div class="modal fade" id="ModelAmountLimitExceeded" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">You have exceeded your bidding limit. Please contact our office for support</h5>
                </div>

                <div class="modal-body signform">
                    <div class="row">

                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark full_width" id="btnAmountLimitOkay"><span>OK</span></button>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->
    <!-- Modal -->
    <div class="modal fade" id="ModelOwnerPainting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">Sorry, you're not permitted to bid on this lot. Please contact our office for support.</h5>
                </div>

                <div class="modal-body signform">
                    <div class="row">

                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark full_width" id="btnOwnerPaintingOkay"><span>OK</span></button>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->
    <!-- Modal -->
    <div class="modal fade" id="ModelBidExist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">Sorry, Someone already Bid current value, please try again.</h5>
                </div>

                <div class="modal-body signform">
                    <div class="row">

                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark full_width" id="btnBidExistOkay"><span>OK</span></button>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->
    <!-- Modal -->
    <div class="modal fade" id="ModelBidpriceincrease" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">Bid value has changed.Please refresh the page.</h5>
                </div>

                <div class="modal-body signform">
                    <div class="row">

                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark full_width" id="btnBidpriceincreaseOkay"><span>OK</span></button>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->

    @*created on n 20-10-21*@
    <!-- Modal -->
    <div class="modal fade" id="ModelBiddingAccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">You do not have Bidding Access. Please contact Astaguru..</h5>
                </div>

                <div class="modal-body signform">
                    <div class="row">

                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark full_width" id="btnBiddingAccessOkay"><span>OK</span></button>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->

    @*created on n 08-06-21*@
    <!-- Modal -->
    <div class="modal fade" id="ModelBidClosed" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">Bid closed</h5>
                </div>

                <div class="modal-body signform">
                    <div class="row">

                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark full_width" id="btnBidclosedOkay"><span>OK</span></button>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->
    <style>
        #newImg .cS-hidden {
            height: auto;
            opacity: 1;
            filter: alpha(opacity=100);
            overflow: hidden;
        }
    </style>

    <script>
        //created on 10_11_2020

        //script for get location using co-ordinates
        $(document).ready(function () {

            if (navigator.userAgent.match(/Edge/i) || navigator.userAgent.match(/Trident.*rv[ :]*11\./i)) {            /*check for Internet explorer browser*/
                locationOptions = {
                    enableHighAccuracy: false,
                    maximumAge: 50000
                }
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition, showError, locationOptions);
                } else {
                    console.log("Geolocation is not supported by this browser.");
                }
            }
            else {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition, showError);
                } else {
                    console.log("Geolocation is not supported by this browser.");
                }
            }
        });


        //store location from all browser
        function showPosition(position) {
            var locapi = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + position.coords.latitude + "," + position.coords.longitude + "&key=AIzaSyC8IOnswlrA9IEn0crKUMV7ZaD2QRydIXc";
            $.ajax({
                url: locapi,
                type: 'GET',
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    // $("#<%=hdncity.ClientID%>").val(data.results[0].address_components[4].long_name);
                    // $("#<%=hdnstate.ClientID%>").val(data.results[0].address_components[5].long_name);
                    // $("#<%=hdncountry.ClientID%>").val(data.results[0].address_components[6].long_name);

                    for (i in data.results[0].address_components) {
                        if (data.results[0].address_components[i].types[0] == "locality") {

                            $('#hiddenUserLocation').val(data.results[0].address_components[i].long_name);


                        }



                    }

                    $('#hiddenAddress').val(data.results[0].formatted_address);
                    $('#hiddenlatitude').val(position.coords.latitude);
                    $('#hiddenlongitude').val(position.coords.longitude);

                }
            });


        }


        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    console.log = "User denied the request for Geolocation."
                    break;
                case error.POSITION_UNAVAILABLE:
                    console.log = "Location information is unavailable."
                    break;
                case error.TIMEOUT:
                    console.log = "The request to get user location timed out."
                    break;
                case error.UNKNOWN_ERROR:
                    console.log = "An unknown error occurred."
                    break;
            }
        }

    </script>



    <script>
        $(document).ready(function () {
            var currencyType = $('#hiddenCurrency').val();
            if (currencyType == 1) {
                $('#ddlCurrency').val(1);
            }
            else if (currencyType == 2) {
                $('#ddlCurrency').val(2);
            }

        });

        $('#btnAmountLimitOkay').click(function () {
            var basePathUrl = $('#hiddenbaseUrlPath').val();
            //window.location = basePathUrl + '/Home/Home';
            window.location = basePathUrl + '/Home/LotDetails?productid=@Model.productid&page=@page';
        });

        $('#btnOwnerPaintingOkay').click(function () {
            var basePathUrl = $('#hiddenbaseUrlPath').val();
            //window.location = basePathUrl + '/Home/Home';
            window.location = basePathUrl + '/Home/LotDetails?productid=@Model.productid&page=@page';
        });

        $('#btnBidExistOkay').click(function () {
            var basePathUrl = $('#hiddenbaseUrlPath').val();
            //window.location = basePathUrl + '/Home/Home';
            window.location = basePathUrl + '/Home/LotDetails?productid=@Model.productid&page=@page';
        });
        $('#btnBidpriceincreaseOkay').click(function () {
            var basePathUrl = $('#hiddenbaseUrlPath').val();
            //window.location = basePathUrl + '/Home/Home';
            @*window.location = basePathUrl + '/Home/LotDetails?productid=@Model.productid&page=@page';*@
            location.reload(true);
        });

        //Created on 08-06-21

        $('#btnBidclosedOkay').click(function () {
            var basePathUrl = $('#hiddenbaseUrlPath').val();
            //window.location = basePathUrl + '/Home/Home';
         @*window.location = basePathUrl + '/Home/LotDetails?productid=@Model.productid&page=@page';*@
         location.reload(true);
        });

        //Created on 20-10-21

        $('#btnBiddingAccessOkay').click(function () {
            var basePathUrl = $('#hiddenbaseUrlPath').val();
            //window.location = basePathUrl + '/Home/Home';
         window.location = basePathUrl + '/Home/LotDetails?productid=@Model.productid&page=@page';
         location.reload(true);
        });




        function fieldValidation(inputvalue, errId, msg, validationMsg) {
            if (typeof inputvalue.val() === "undefined") {
                errId.html('');
                inputvalue.css("border-color", '');
                return true;
            }
            else if (inputvalue.val().length <= 0) {
                errId.html('');
                inputvalue.css("border-color", '');
                return true;
            }
            else {
                if (validationMsg == 'Number') {
                    if (/^[0-9]*$/.test(inputvalue.val())) {
                        // value is ok, use it
                        errId.html('');
                        inputvalue.css("border-color", '');
                        return true;
                    } else {
                        errId.html(msg);
                        inputvalue.css("border-color", "red");
                        return false;
                    }
                }


            }
        }

        function BidNow() {

            $('#errBid').html('');
            sessionStorage.setItem("ErrOutProxy", '');
            var userId = $('#hiddenUserId').val();
            var isMobile = $('#hiddenMobileVerified').val();
            var isEmail = $('#hiddenEmailVerified').val();
            var isconfirmbid = $('#hiddenconfirmbid').val();



            $("#divLoader").show();

            var Bid = {};
            Bid.productid = $('#hiddenProductId').val();
            Bid.userid = $('#hiddenUserId').val();
            Bid.browserName = $('#hiddenBrowser').val();
            Bid.latitude = $('#hiddenlatitude').val();
            Bid.longitude = $('#hiddenlongitude').val();
            Bid.amountlimt = $('#hiddenBidLimit').val();
            Bid.isOldUser = $('#hiddenIsOldUser').val();
            Bid.country = $('#hiddenBidCountry').val();
            Bid.checknextvalidbid = $('#checknextvalidbid').val();

            Bid.userLocation = $('#hiddenUserLocation').val();
            Bid.fullAddress = $('#hiddenAddress').val();

            if (userId > 0) {
                if (isMobile > 0 && isEmail > 0) {
                    // Apply For Bid
                    //if (isconfirmbid > 0) {

                        //You Can Bid Now

                        $.ajax({
                            //url: "/Bid/saveBid",
                            url: "/Bid/saveBidAsync",
                            type: 'POST',
                            dataType: 'json',
                            data: Bid,
                            //traditional: true,
                            success: function (ReturnData) {
                                if (ReturnData.status == 'Success') {
                                    $("#hiddenBidCount").val(0);
                                    location.reload(true);
                                    document.getElementById("btnBidNow").disabled = false;
                                }
                                else if (ReturnData.status == 'Exception') {
                                    $("#hiddenBidCount").val(0);
                                    $("#divLoader").hide();
                                    document.getElementById("btnBidNow").disabled = false;

                                }
                                else if (ReturnData.status == 'Out') {
                                    $("#hiddenBidCount").val(0);
                                    sessionStorage.setItem("ErrOutProxy", 'Sorry you have been outbid by a higher proxy bid. Would you like to place another bid?.');
                                    location.reload(true);
                                    //$('#errBid').html('You have been out bid due to proxy. Kindly bid again.');
                                    document.getElementById("btnBidNow").disabled = false;
                                    return false;
                                }
                                else if (ReturnData.status == 'SessionExpired') {
                                    $("#divLoader").hide();
                                    $("#hiddenBidCount").val(0);
                                    $('#SessionExpired').modal('toggle');
                                    document.getElementById("btnBidNow").disabled = false;
                                }
                                else if (ReturnData.status == 'AmountLimitExceeded') {
                                    $("#divLoader").hide();
                                    $('#ModelAmountLimitExceeded').modal('toggle');
                                    document.getElementById("btnBidNow").disabled = false;
                                }
                                else if (ReturnData.status == 'Ownerpainting') {
                                    $("#divLoader").hide();
                                    $('#ModelOwnerPainting').modal('toggle');
                                    document.getElementById("btnBidNow").disabled = false;
                                }
                                else if (ReturnData.status == 'BidExist') {
                                    $("#divLoader").hide();
                                    $('#ModelBidExist').modal('toggle');
                                    document.getElementById("btnBidNow").disabled = false;
                                }
                                else if (ReturnData.status == 'Bidpriceincrease') {
                                    $("#divLoader").hide();
                                    $('#ModelBidpriceincrease').modal('toggle');
                                    document.getElementById("btnBidNow").disabled = false;

                                }
                                else if (ReturnData.status == 'BiddingAccess') {
                                    $("#divLoader").hide();
                                    $('#ModelBiddingAccess').modal('toggle');
                                    document.getElementById("btnBidNow").disabled = false;

                                }
                                else if (ReturnData.status == 'BidClosed') {
                                    $("#divLoader").hide();
                                    $('#ModelBidClosed').modal('toggle');
                                    //document.getElementById("btnBidNow").disabled = false;

                                }

                            },
                            error: function (err) {
                                $("#divLoader").hide();
                                $("#hiddenBidCount").val(0);
                                alert('Actual error' + err);
                            }
                        });
                    //}
                    //else {
                    //    $("#divLoader").hide();
                    //    alert('You do not have Bidding Access. Please contact Astaguru.');
                    //}
                }
                else {
                    $("#divLoader").hide();
                    alert('Mobile Number Or Email id is not verified');
                }

            }
            else {
                $("#divLoader").hide();
                $('#LoginForm').modal('toggle');
            }
        }

        $('#btnBidNow').click(function () {
            document.getElementById("btnBidNow").disabled = true;
            var clickCount = $("#hiddenBidCountInternet").val();
            if (clickCount == 0) {
                clickCount++;
                $("#hiddenBidCountInternet").val(clickCount);
                BidNow();
            }
        });


        function proxyBid() {
            sessionStorage.setItem("ErrOutProxy", '');
            $("#divLoader").show();

            var userId = $('#hiddenUserId').val();
            var isMobile = $('#hiddenMobileVerified').val();
            var isEmail = $('#hiddenEmailVerified').val();
            var isconfirmbid = $('#hiddenconfirmbid').val();

            // Ajax Call



            if (userId > 0) {
                if (isMobile > 0 && isEmail > 0) {
                    // Apply For Bid
                    //if (isconfirmbid > 0) {

                        //You Can Bid Now
                        $("#divLoader").hide();
                        var productid = $("#hiddenProductId").val();
                        $.ajax({
                            url: '/Common/MeterInfoPartial',
                            type: 'POST',
                            cache: false,
                            data: { productid: productid }
                        }).done(function (result) {
                            $('#container').html(result);
                            $("#hiddenProxyBidCount").val(0);
                            $('#ProxyBid_modal').modal('toggle');
                        });

                    //}
                    //else {
                    //    $("#divLoader").hide();
                    //    $("#hiddenProxyBidCount").val(0);
                    //    alert('You do not have Bidding Access. Please contact Astaguru.');
                    //}
                }
                else {
                    $("#divLoader").hide();
                    $("#hiddenProxyBidCount").val(0);
                    alert('Mobile Number Or Email id is not verified');
                }

            }
            else {
                $("#divLoader").hide();
                $("#hiddenProxyBidCount").val(0);
                $('#LoginForm').modal('toggle');
            }
        }


        $('#btnProxyBid').click(function () {

            var clickProxyCount = $("#hiddenProxyBidCount").val();
            if (clickProxyCount == 0) {
                clickProxyCount++;
                $("#hiddenProxyBidCount").val(clickProxyCount);
                proxyBid();
            }
        });



        $('#setButton').on('click', '#btnProxyBid', function () {
            var clickProxyCount = $("#hiddenProxyBidCount").val();
            if (clickProxyCount == 0) {
                clickProxyCount++;
                $("#hiddenProxyBidCount").val(clickProxyCount);
                proxyBid();
            }
        });

        $('#setButton').on('click', '#btnBidNow', function () {
            var clickCount = $("#hiddenBidCountInternet").val();
            if (clickCount == 0) {
                clickCount++;
                $("#hiddenBidCountInternet").val(clickCount);
                BidNow();
            }
        });



    </script>


    <script>


        $(document).ready(function () {

            $('#btnProxyBid').show(500);
            $('#btnBidNow').show(500);


            $('#errBid').html('');
            var value = sessionStorage.getItem("ErrOutProxy");
            if (value == '' || value == null) {
                $('#errBid').html('');
            }
            else {
                $('#errBid').html('Sorry you have been outbid by a higher proxy bid. Would you like to place another bid?');

                //created on 19_01_2021
                //$("#errBid").css("background-color", "lightgoldenrodyellow");
                //$("#errBid").css("padding", "15px");
                //$("#setDetailTimer").css("margin-bottom", "15px");
                //$("#setButton").css("margin-top", "20px");


            }

            var totalBid = $("#hiddenBidCount").val();
            document.getElementById('lblNoOfBids').innerHTML = totalBid;

            // created on 21_12_2020
            var userId = $('#hiddenUserId').val();
            if (userId <= 0 || userId == '') {
                $('#GetBidcount').hide();
                $('#setBidHistory').hide();
                $('#LoginForBidHistory').show();

            }
            else {
                $('#LoginForBidHistory').hide();
            }
            //


            setInterval(function () {
                var SetAuction = {};
                SetAuction.productid = $("#hiddenProductId").val(); //Model.productid;
                SetAuction.pageName = 'Detail';

                $.ajax({
                    url: "/Common/generateCurrentDetail",
                    type: 'POST',
                    dataType: 'json',
                    data: SetAuction,
                    traditional: true,
                    success: function (ReturnData) {
                        if (ReturnData.Success) {
                            //var your_object = JSON.parse(ReturnData.Success);

                            //if (ReturnData.timer < -1)
                            //{
                            //   $("#setDetailTimer").hide();
                            //}
                            //else
                            //{
                            var setDetailTimer = document.getElementById("setDetailTimer");
                            setDetailTimer.innerHTML = ReturnData.Success;
                            //  }


                            var SetDynamicCurrency = document.getElementById("SetDynamicCurrency");
                            SetDynamicCurrency.innerHTML = ReturnData.Currency;

                            var SetDynamicCurrency = document.getElementById("setButton");
                            SetDynamicCurrency.innerHTML = ReturnData.dynamicButtons;


                            var setBidHistory = document.getElementById("setBidHistory");
                            setBidHistory.innerHTML = ReturnData.BidHistory;

                            //document.getElementById('errBid').innerHTML = ReturnData.dynamicoutbid;

                            var pop = document.getElementById("pop");
                            pop.innerHTML = ReturnData.dynamicNextFiveBid;


                            document.getElementById('lblNoOfBids').innerHTML = ReturnData.BidCount;

                            $("#hiddenLastBidId").val(ReturnData.lastuserId)

                        }
                    },
                });


            }, 1000);




            var closeButtonClicked = false;

            $('.close').on('click', function () {
                closeButtonClicked = true;
            });




        });



    </script>





    @*
        <script>
                $(document).ready(function () {
                    // get Browser Details
                    function get_browser_info() {
                        var ua = navigator.userAgent, tem, M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
                        if (/trident/i.test(M[1])) {
                            tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
                            return { name: 'IE ', version: (tem[1] || '') };
                        }
                        if (M[1] === 'Chrome') {
                            tem = ua.match(/\bOPR\/(\d+)/)
                            if (tem != null) { return { name: 'Opera', version: tem[1] }; }
                        }
                        M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
                        if ((tem = ua.match(/version\/(\d+)/i)) != null) { M.splice(1, 1, tem[1]); }
                        return {
                            name: M[0],
                            version: M[1]
                        };
                    }
                    var browserVersion = get_browser_info();

                    var browser;
                    // Opera 8.0+
                    var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

                    // Firefox 1.0+
                    var isFirefox = typeof InstallTrigger !== 'undefined';

                    // Safari 3.0+ "[object HTMLElementConstructor]"
                    var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification);

                    // Internet Explorer 6-11
                    var isIE = 0; //cc_on!/false || !!document.documentMode;

                    // Edge 20+
                    var isEdge = !isIE && !!window.StyleMedia;

                    // Chrome 1+
                    var isChrome = !!window.chrome && !!window.chrome.webstore;

                    // Blink engine detection
                    var isBlink = (isChrome || isOpera) && !!window.CSS;

                    if (isFirefox == true) {
                        browser = 'Firefox';
                    }
                    else if (isChrome == true) {
                        browser = 'Chrome';
                    }
                    else if (isSafari == true) {
                        browser = 'Safari';
                    }
                    else if (isOpera == true) {
                        browser = 'Opera';
                    }
                    else if (isIE == true) {
                        browser = 'Internet Explore';
                    }
                    //output += 'isEdge: ' + isEdge + '<br>';
                    //output += 'isBlink: ' + isBlink + '<br>';

                    //$("#hiddenBrowser").val(browser.name + ' Version ' + browser.version);
                    $('#hiddenBrowser').val(browser + ' Version ' + browserVersion.version);

                    // Get IP address

                    //<%--var ipinfo;
                    //$.getJSON("https://ipinfo.io", function (data) {
                    //    alert(data.ip);
                    //    $('#' + '<%=hiddenIP.ClientID%>').val(data.ip);
                    //})--%>





                    // GET latitude And longitude
                    if ("geolocation" in navigator) {
                        // check if geolocation is supported/enabled on current browser
                        var location_timeout = setTimeout("geolocFail()", 20000);
                        navigator.geolocation.getCurrentPosition(
                         function success(position) {
                             // for when getting location is a success
                             $('#hiddenlatitude').val(position.coords.latitude);
                             $('#hiddenlongitude').val(position.coords.longitude);
                             var geocoder = new google.maps.Geocoder();
                             var latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                             if (geocoder) {
                                 geocoder.geocode({ 'latLng': latLng }, function (results, status) {
                                     if (status == google.maps.GeocoderStatus.OK) {
                                         $('#hiddenAddress').val(results[0].formatted_address);
                                         if (results[1]) {
                                             for (var i = 0; i < results.length; i++) {
                                                 if (results[i].types[0] === "locality") {
                                                     var city = results[i].address_components[0].short_name;
                                                     $('#' + '<%=hiddenUserLocation.ClientID%>').val(city);
                                                 }
                                             }
                                         }
                                         //$('#address').html('Address:' + results[0].formatted_address);
                                     }
                                     else {
                                         $('#address').html('Geocoding failed: ' + status);
                                         console.log("Geocoding failed: " + status);
                                     }
                                 }); //geocoder.geocode()
                             }
                         },
                          function error(error_message) {
                              // for when getting location results in an error
                             // console.error('An error has occured while retrieving location', error_message)
                          }
                    );
                    } else {
                        // geolocation is not supported
                        // get your location some other way
                        console.log('geolocation is not enabled on this browser')
                    }

                    //setInterval(function () {
                    //    alert('Browser : ' + $("#hiddenBrowser").val());
                    //    alert('Browser : ' + $("#hiddenIP").val());
                    //    alert('Browser : ' + $("#hiddenlatitude").val());
                    //    alert('Browser : ' + $("#hiddenlongitude").val());
                    //    alert('Browser : ' + $("#hiddenAddress").val());
                    //    alert('Browser : ' + $("#hiddenUserLocation").val());
                    //}, 5000);

                });
        </script>*@

