﻿@model Astaguru.Models.Marketing
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AstaGuru Online Auction House - Modern Indian Art &amp; More.</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/Content/Marketing/assets/css/bootstrap.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/Content/Marketing/assets/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="/Content/Marketing/assets/css/slicknav.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="/Content/Marketing/assets/css/nivo-lightbox.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/Content/Marketing/assets/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/Content/Marketing/assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/Content/Marketing/assets/css/responsive.css">

</head>
<body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                    </button>
                    <a href="index.html" class="navbar-brand"><img src="/Content/Marketing/assets/img/logo.png" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item active">
                            <a class="nav-link" href="#header-wrap">
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#event-slides">
                                About Us
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#about">
                                Past Auctions
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="#gallery">
                                Our Record Artworks
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#services">
                                Why Pre Register ?
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="#contact-map">
                                Pre Register
                            </a>
                        </li>
                    </ul>
                </div>
            </div>



            <!-- Mobile Menu Start -->
            <ul class="mobile-menu">
                <li>
                    <a class="page-scrool" href="#header-wrap">Home</a>
                </li>

                <li>
                    <a class="page-scroll" href="#event-slides">About Us</a>
                </li>

                <li>
                    <a class="page-scroll" href="#about">Past Auctions</a>
                </li>

                <li>
                    <a class="page-scroll" href="#gallery">Our Record Artworks</a>
                </li>
                <li>
                    <a class="page-scrool" href="#services">Why Pre Register ?</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact-map">Pre Register</a>
                </li>
            </ul>
            <!-- Mobile Menu End -->

        </nav>
        <!-- Navbar End -->
        <!-- Main Carousel Section Start -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                <li data-target="#main-slide" data-slide-to="1"></li>
                <li data-target="#main-slide" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/Content/Marketing/assets/img/slider/slide1.jpg" alt="First slide">

                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/Content/Marketing/assets/img/slider/slide2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/Content/Marketing/assets/img/slider/slide3.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#main-slide" role="button" data-slide="prev">
                <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-left"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#main-slide" role="button" data-slide="next">
                <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-right"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Main Carousel Section End -->

    </header>
    <!-- Header Area wrapper End -->
    <!-- Event Slides Section Start -->
    <section id="event-slides" class="section-padding">
        <!-- Modal -->
        <div class="container">
            <div class="row">
                <div class="modal fade" id="SuccessPopup" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="icon-cross"></i></span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="thank-you-pop">
                                    @*<h1 style="text-align:center">Thank You!</h1>*@
                                    <p style="font-size:20px;color:#5C5C5C;margin-bottom: 27px;text-align:center">Thank you for registering with AstaGuru. One of our specialists will get in touch with you soon to discuss the next steps.</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- modal -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-header text-center">
                        <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">ABOUT ASTAGURU </h1>
                    </div>
                </div>

                <div class="section-title-header text-center" data-wow-delay="0.3s">
                    <p>AstaGuru was founded in  the year 2008 with the sole purpose of creating a safe and secure online  platform for conducting online auctions for various categories like Modern and  Contemporary Indian art, Vintage Cars, Heirloom Jewellery and more.</p>
                    <p>AstaGuru imparts  effortless transparency to the process of acquiring and selling art and rare  collectibles. We have specialists onboard for each category, that will assist  you in every manner possible. We strongly believe in research-based curation  and our auction catalogues are a reflection of that. </p>
                    <p>Pre-registering with us  will give you bidding access to buy your favourite lots and a chance to  participate in our auctions. AstaGuru will also ensure that you get a copy of  the catalogue before the upcoming auction. All you need to do is follow the  steps given below to complete the pre-registration process. </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Event Slides Section End -->
    <!-- About Section Start -->
    <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-header text-center">
                        <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Past Auctions</h1>
                        <p class="wow fadeInDown" data-wow-delay="0.2s">We have three decades of experience in successful art management, coupled with a sincere passion for the craft and ingenuity, enabling us to transform our knowledge into a fully functional online structure. AstaGuru aims at diminishing the challenges of live auctions by elevating the platform into the digital realm.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="about-item">
                        <a href="https://www.youtube.com/watch?v=_Wt1QNFrLPc" target="_blank"><img src="/Content/Marketing/assets/img/about/img1.jpg" alt="" border="0" class="img-fluid"></a>
                        <div class="about-text">
                            <h3><a href="#">MODERN INDIAN ART AUCTION </a></h3>
                            <p>December 19 - 20, 2020</p>
                            <a href="https://astaguru.com/Past/PastAuctionResult/Modern-IndianArt" target="_blank" class="btn btn-common btn-rm">View Lots</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="about-item">
                        <a href="https://www.youtube.com/watch?v=ImhhMCgWY1Y" target="_blank"><img src="/Content/Marketing/assets/img/about/img2.jpg" alt="" border="0" class="img-fluid"></a>
                        <div class="about-text">
                            <h3><a href="#">HEIRLOOM JEWELLERY </a></h3>
                            <p>October 20 - 21, 2020</p>
                            <a href="https://astaguru.com/Past/PastAuctionResult/HeirloomJewellery-Timepieces" target="_blank" class="btn btn-common btn-rm">View Lots</a>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="about-item">
                        <a href="https://www.youtube.com/watch?v=cWiHNgYD5IE" target="_blank"><img src="/Content/Marketing/assets/img/about/img3.jpg" alt="" border="0" class="img-fluid"></a>
                        <div class="about-text">
                            <h3><a href="#">VINTAGE &amp; CLASSIC CAR AUCTION </a></h3>
                            <p>November 27 - 28, 2020</p>
                            <a href="https://astaguru.com/Past/PastAuctionResult/Vintage-ClassicCars" target="_blank" class="btn btn-common btn-rm">View Lots</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->
    <!-- Gallary Section Start -->
    <section id="gallery" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-header text-center">
                        <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">OUR RECORD ARTWORKS </h1>
                        <p class="wow fadeInDown" data-wow-delay="0.2s">Our skilled experts and research team ensure that only the best and most unique collectibles are part of our auction by grounding our catalogues in research-based curation.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <div class="gallery-box">
                        <div class="img-thumb">
                            <img class="img-fluid" src="/Content/Marketing/assets/img/gallery/img-1.jpg" alt="">
                        </div>
                        <div class="overlay-box text-center">
                            <a class="lightbox" href="/Content/Marketing/assets/img/gallery/img-1.jpg">
                                <i class="lni-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ccol-md-6 col-sm-6 col-lg-4">
                    <div class="gallery-box">
                        <div class="img-thumb">
                            <img class="img-fluid" src="/Content/Marketing/assets/img/gallery/img-2.jpg" alt="">
                        </div>
                        <div class="overlay-box text-center">
                            <a class="lightbox" href="/Content/Marketing/assets/img/gallery/img-2.jpg">
                                <i class="lni-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ccol-md-6 col-sm-6 col-lg-4">
                    <div class="gallery-box">
                        <div class="img-thumb">
                            <img class="img-fluid" src="/Content/Marketing/assets/img/gallery/img-3.jpg" alt="">
                        </div>
                        <div class="overlay-box text-center">
                            <a class="lightbox" href="/Content/Marketing/assets/img/gallery/img-3.jpg">
                                <i class="lni-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ccol-md-6 col-sm-6 col-lg-4">
                    <div class="gallery-box">
                        <div class="img-thumb">
                            <img class="img-fluid" src="/Content/Marketing/assets/img/gallery/img-4.jpg" alt="">
                        </div>
                        <div class="overlay-box text-center">
                            <a class="lightbox" href="/Content/Marketing/assets/img/gallery/img-4.jpg">
                                <i class="lni-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ccol-md-6 col-sm-6 col-lg-4">
                    <div class="gallery-box">
                        <div class="img-thumb">
                            <img class="img-fluid" src="/Content/Marketing/assets/img/gallery/img-5.jpg" alt="">
                        </div>
                        <div class="overlay-box text-center">
                            <a class="lightbox" href="/Content/Marketing/assets/img/gallery/img-5.jpg">
                                <i class="lni-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ccol-md-6 col-sm-6 col-lg-4">
                    <div class="gallery-box">
                        <div class="img-thumb">
                            <img class="img-fluid" src="/Content/Marketing/assets/img/gallery/img-6.jpg" alt="">
                        </div>
                        <div class="overlay-box text-center">
                            <a class="lightbox" href="/Content/Marketing/assets/img/gallery/img-6.jpg">
                                <i class="lni-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-xs-12">
                    <a href="https://astaguru.com/Home/recordPriceArtwork" target="_blank" class="btn btn-common">Browse All</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallary Section End -->
    <!-- Services Section Start -->
    <section id="services" class="services section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-header text-center">
                        <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Why Pre Register? </h1>

                    </div>
                </div>
            </div>
            <div class="row services-wrapper">
                <!-- Services item -->
                <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                    <div class="services-item wow fadeInDown" data-wow-delay="0.2s">
                        <div class="icon">
                            <img src="/Content/Marketing/assets/img/bid_icon.png">
                        </div>
                        <div class="services-content">
                            <h3><a href="#">Bid access </a></h3>
                            <p>Get bidding access to bi on your favourite lots  </p>
                        </div>
                    </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                    <div class="services-item wow fadeInDown" data-wow-delay="0.4s">
                        <div class="icon">
                            <img src="/Content/Marketing/assets/img/catalog.png">
                        </div>
                        <div class="services-content">
                            <h3><a href="#">Early Notifications </a></h3>
                            <p>Be notified about upcoming auctions and preview events </p>
                        </div>
                    </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                    <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                        <div class="icon"><img src="/Content/Marketing/assets/img/bid_icon.png"></div>
                        <div class="services-content">
                            <h3><a href="#">Place proxy Bids </a></h3>
                            <p>An opportunity to place proxy bids on any lots once catalogue goes live </p>
                        </div>
                    </div>
                </div>
                <!-- Services item --><!-- Services item -->
                <!-- Services item -->
            </div>
        </div>

        </div>
    </section>
    <!-- Services Section End -->
    <!-- Contact Us Section -->
    <section id="contact-map" class="section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title-header text-center">
                        <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">PRE REGISTER HERE </h1>
                        <p>Please note that to get bidding access, there's a stipulated security deposit of ₹ 5,00,000. AstaGuru will adjust this security  amount in case you have won any lot. If you have not acquired any lot, the  amount will be credited to your respective bank account within seven working  days.</p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-xs-12">
                    <div class="container-form wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="form-wrapper">
                            @using (@Html.BeginForm("Marketing", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                            {
                                <div class="row">
                                    <div class="col-md-12 form-line">
                                        <div class="form-group">
                                   
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "txtName", @autocomplete = "off", @placeholder = "Name" })
                                            @*@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })*@
                                            <span id="ErrorName" class="ErrorValidation">* Required</span> 
                                      
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-line">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "txtEmail", @autocomplete = "off", @placeholder = "Email" })
                                            @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                                            <span id="ErrorEmail" class="ErrorValidation">* Required</span> 
                                 
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-line">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @id = "txtMobile", @autocomplete = "off", @placeholder = "Mobile No." })
                                            @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                                            <span id="ErrorMobile" class="ErrorValidation">* Required</span>

                                        </div>
                                    </div>
                                    <div class="col-md-12 form-line">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Country, new { @class = "form-control", @id = "txtCountry", @autocomplete = "off", @placeholder = "Country" })
                                            @*@Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })*@
                                            <span id="ErrorCountry" class="ErrorValidation">* Required</span> 
                         
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-line">
                                        <div class="form-group">
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", @id = "txtCity", @autocomplete = "off", @placeholder = "City" })
                                        @*@Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })*@
                                            <span id="ErrorCity" class="ErrorValidation">* Required</span> 
                                           
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-line">
                                        <div class="form-group">

                                            @*<select name="Interested In" class="form-control" placeholder="Subject" required data-error="Please enter your message subject">
                                                <option value="Interested In">Interested In</option>
                                                <option value="Modern India Art">Modern India Art</option>
                                                <option value="Jewellery">Jewellery</option>
                                                <option value="Watches">Watches</option>
                                            </select>*@
                                            @Html.DropDownListFor(m => m.Interested_In, new List<SelectListItem>
                                         {   new SelectListItem {Text="Modern India Art",Value="Modern India Art" },
                                             new SelectListItem {Text="Jewellery", Value="Jewellery" },
                                             new SelectListItem {Text="Watches", Value="Watches" }}, "Interested In", new { @class = "form-control", @id = "ddlInterested_Inlist" })
                                            @*@Html.ValidationMessageFor(m => m.Interested_In, "", new { @class = "text-danger" })*@
                                            <span id="ErrorInterested_In" class="ErrorValidation">* Required</span>
                                         
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-line">
                                        <div class="form-group">

                                            @*<select name="Hear About Us" class="form-control" placeholder="Subject" required data-error="Please enter your message subject">
                                                <option value="Where did you hear about us">Where did you hear about us</option>
                                                <option value="Printed Catalogue">Printed Catalogue</option>
                                                <option value="Online Ads">Online Ads</option>
                                                <option value="Facebook / Instagram / LinkedIn">Facebook / Instagram / LinkedIn</option>
                                                <option value="Emailer">Emailer</option>
                                                <option value="Newspaper / Online News Articles">Newspaper / Online News Articles</option>
                                                <option value="Word of mouth / referal">Word of mouth / referal</option>
                                            </select>*@
                                            @Html.DropDownListFor(m => m.About_Us, new List<SelectListItem>
                                         {   new SelectListItem {Text="Printed Catalogue",Value="Printed Catalogue" },
                                             new SelectListItem {Text="Online Ads", Value="Online Ads" },
                                              new SelectListItem {Text="Facebook / Instagram / LinkedIn", Value="Facebook / Instagram / LinkedIn" },
                                               new SelectListItem {Text="Emailer", Value="Emailer" },
                                                new SelectListItem {Text="Newspaper / Online News Articles", Value="Newspaper / Online News Articles" },
                                                 new SelectListItem {Text="Word of mouth / referal", Value="Word of mouth / referal" }}, "Where did you hear about us", new { @class = "form-control", @id = "ddlAbout_Uslist" })
                                            @Html.ValidationMessageFor(m => m.About_Us, "", new { @class = "text-danger" }) 
                                            <span id="ErrorAbout_Us" class="ErrorValidation">* Required</span>                   
                                        </div>
                                    </div>
                                    <div class="form-submit" style="margin:auto;">
                                        <button type="submit" class="btn btn-common" id="btnSubmit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Submit</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    </div>
                                </div>
                            }

                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us Section End -->

    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info">
                        <p>© AstaGuru 2021 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>

    <div id="preloader">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/Content/Marketing/assets/js/jquery-min.js"></script>
    <script src="/Content/Marketing/assets/js/popper.min.js"></script>
    <script src="/Content/Marketing/assets/js/bootstrap.min.js"></script>
    <script src="/Content/Marketing/assets/js/jquery.countdown.min.js"></script>
    <script src="/Content/Marketing/assets/js/jquery.nav.js"></script>
    <script src="/Content/Marketing/assets/js/jquery.easing.min.js"></script>
    <script src="/Content/Marketing/assets/js/wow.js"></script>
    <script src="/Content/Marketing/assets/js/jquery.slicknav.js"></script>
    <script src="/Content/Marketing/assets/js/nivo-lightbox.js"></script>
    <script src="/Content/Marketing/assets/js/main.js"></script>
    <script src="/Content/Marketing/assets/js/form-validator.min.js"></script>
    <script src="/Content/Marketing/assets/js/contact-form-script.min.js"></script>
    <script src="/Content/Marketing/assets/js/map.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
    <script src="~/Content/js/jquery.fancybox.js"></script>

    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css" />


    <script>
        $('#btnSubmit').click(function () {
            var Name = $("#txtName").val();
            var Email = $("#txtEmail").val();
            var Country = $("#txtCountry").val();
            var City = $("#txtCity").val();
            var Interested = $("#ddlInterested_Inlist").val();
            var About_us = $("#ddlAbout_Uslist").val();

            var Mobile = $("#txtMobile").val();


            var Blank1 = false;
            var message = "";

            if (Name == "") {
                $('#ErrorName').css('display', 'block');
                Blank1 = true;

            }
            else {
                $('#ErrorName').css('display', 'none');
            }

            if (Email == "") {
                $('#ErrorEmail').css('display', 'block');
                Blank1 = true;

            }
            else {
                $('#ErrorEmail').css('display', 'none');
            }

            if (Mobile == "") {
                $('#ErrorMobile').css('display', 'block');
                Blank1 = true;

            }
            else {
                $('#ErrorMobile').css('display', 'none');
            }

            if (Country == "") {
                $('#ErrorCountry').css('display', 'block');
                Blank1 = true;

            }
            else {
                $('#ErrorCountry').css('display', 'none');
            }

            if (City == "") {
                $('#ErrorCity').css('display', 'block');
                Blank1 = true;

            }
            else {
                $('#ErrorCity').css('display', 'none');
            }

            if (Interested == "") {
                $('#ErrorInterested_In').css('display', 'block');
                Blank1 = true;
              
            }
            else {
                $('#ErrorInterested_In').css('display', 'none');
            }
            if (About_us == "") {
                $('#ErrorAbout_Us').css('display', 'block');
                Blank1 = true;               
            }
            else {
                $('#ErrorAbout_Us').css('display', 'none');
            }
            if (Blank1) {

                return false;

            }
            else {
                return true;
            }
        });


            debugger;
            if ('@TempData["Message"]' != "") {
                $("#SuccessPopup").modal('show');
            }
            else {
                $("#SuccessPopup").modal('hide');
            }
      
    </script>

    <style>
        .ErrorValidation {
            display: none;
            color: #dc3545 !important;
            margin-bottom: 10px;
        }
    </style>
</body>
</html>
