﻿@{
    ViewBag.Title = "media";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        @using (Html.BeginForm("media", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="container-fluid" id="media">
    
                <div class="container">
                    <div class="col-12 text-center">
                        <h1 class="mb-0 py-4">Media Coverage</h1>
                    </div>
         

                    <div class="search-wrap">
                        <div class="input-group">
                            <input type="text" id="txtsearch" placeholder="search" class="form-control" />
                            <input type="hidden" id="hiddenSearchvalue" name="hiddenSearchvalue" value="" />
                            <div class="input-group-append">
                                <button class="btn btn-secondary StoreDDLValueinhihhenfields" type="submit" value="Search" name="btnAction">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>


                    @Html.Raw(ViewBag.media)

                </div>


            </div>
        }

    </div>


</div>

<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/aos.css" rel="stylesheet" />
<link href="~/Content/css/astaguru_inner_pages.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Content/js/aos.js"></script>

<script>
    AOS.init({
        easing: 'ease-in-out-sine'
    });

</script>

<script>
    $('.StoreDDLValueinhihhenfields').click(function () {
        debugger;
        var searchtext = $("#txtsearch").val();
        $("#hiddenSearchvalue").val(searchtext);
    })
</script>



