﻿
@{
    ViewBag.Title = "myAuctionGallary";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    Astaguru.Services.UserService.MyAuctionGallaryService MAS = new Astaguru.Services.UserService.MyAuctionGallaryService();
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    Astaguru.Services.UserService.FilterService FS = new Astaguru.Services.UserService.FilterService();
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    string Bidclosingtime = string.Empty;
    int userid = Convert.ToInt32(Session["userid"]);

    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    AUC.Auctionid = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["auctionId"]);
    AUC.userid = userid;

    int page = 0;
    double PrePage = 0;
    double NextPage = 0;
    if (string.IsNullOrEmpty(Request.QueryString["page"]))
    {

    }
    else
    {
        page = Convert.ToInt32(Request["page"].ToString());
        PrePage = Convert.ToInt32(Request["page"].ToString());
        NextPage = Convert.ToInt32(Request["page"].ToString());
    }

    //commented on 13_2_2020
    //double TotalPaginationCount = MAS.GetMyAuctionGallaryCount(AUC);

    //double pagenationOffSet = TotalPaginationCount / Convert.ToDouble(20);
    //pagenationOffSet = Astaguru.Services.Common.getPaginationRoundupValue(pagenationOffSet);

    //List<Astaguru.Models.Auction> MyAuctionGallary = null;
    //MyAuctionGallary = MAS.GetMyAuctionGallaryList(AUC, page);

    //created on 13_2_20
    //region
    List<Astaguru.Models.Auction> MyAuctionGallary = null;
    MyAuctionGallary = MAS.GetMyAuctionGallaryList(AUC);
    //endregion

    // Baner Detail
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    Astaguru.Models.Auction Baner = new Astaguru.Models.Auction();
    Baner = COM.GetBannerDetails(AUC.Auctionid);

}

<meta http-equiv="refresh" content="120">
<div id="wrapper">
    @*<div id="banner_inner" style="background: url(https://www.astaguru.com/images/banner/jew-oct20-webin.jpg) center center no-repeat; background-size: cover;">*@
    <div id="banner_inner" style="background: url(https://www.astaguru.com/images/banner/jew-oct20-webin.jpg) center center no-repeat; background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="banner_inner_text">
                <div class="auctions_title">
                    <h1 class="title_font medium_text">@Baner.auctiontitle</h1>
                    <p>@Baner.auctiondate</p>
                </div>
                <!--  <div class="watch_video">
                       <a href="#" data-toggle="modal" data-target="#SeeVideoModal" data-thevideo="https://www.youtube.com/embed/yehQjcfMuok?rel=0&enablejsapi=1&autoplay=1&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1">
                           <i class="icon-play"></i>
                           <span>Watch our auction<br>videos</span>
                       </a>
                   </div>-->
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->
    <div id="filter_wrap">
        <div class="content">
            <div class="flex_spbtn">
                <div class="filter_artist">

                </div><!-- filter_artist -->
                <div class="ellipsis_nav">
                    <a href="#nav_dropdown" class="click_ellipsis"><i class="icon-ellipsis"></i></a>
                    <ul class="live_action_menu">
                        <li><a target="_blank" href="@baseUrlPath/Home/closingSchedule">Closing Schedule</a></li>
                        <li><a href="javascript:avoid(0)" class="active" id="tabAuctionGallary">My Auction Gallery</a></li>
                        <li><a target="_blank" href="@baseUrlPath/Home/liveAuctionReview">Live Auction Review</a></li>
                        <!--<li><a target="_blank" href="http://astaguru.com/flip/52/">E-Catalogue</a></li>-->
                    </ul>
                </div>
                <div class="filter_right">
                    <div class="auction_analysis_text custom_select">
                        <select class="select_drop" id="ddlCurrency">
                            <option value="1">inr</option>
                            <option value="2">usd</option>
                        </select>
                    </div><!-- custom_select -->
                    <ul class="icon_list_grid">
                        <li><a href="@baseUrlPath/Home/MyAuctionGallary?page=@page" class="active"><i class="icon-grid-view"></i></a></li>
                        <li><a href="@baseUrlPath/Home/ListMyAuctionGallary?page=@page"><i class="icon-list-view"></i></a></li>
                    </ul>
                </div><!-- filter_right -->
            </div><!-- flex_spbtn -->
        </div><!-- content -->
    </div><!-- filter_wrap -->



    @{
        AUC.GetReviewData = MyAuctionGallary;
        Html.RenderPartial("_partialMyAuctionGallary", AUC);
    }

    <div class="hrline"></div>

   @* <div class="container-fluid content slide_controls_wrapper extra-padding-top-100 extra-padding-bottom-100">
        <div class="slider_controls">
            <div id="video_slider">
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/yehQjcfMuok?rel=0&enablejsapi=1&autoplay=0&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1"></iframe>
                    </div>
                    <p class="videoSlide_text">Highlights of Southeast Asian Contemporary Art Auction</p>
                </div>
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/yehQjcfMuok?rel=0&enablejsapi=1&autoplay=0&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1"></iframe>
                    </div>
                    <p class="videoSlide_text">Highlights of Southeast Asian Contemporary Art Auction</p>
                </div>
            </div><!-- video slider -->
        </div><!-- slider_controls -->
    </div><!-- content -->*@

</div><!-- Wrapper -->

<script>
    $(document).ready(function () {
        var currencyType = $('#hiddenCurrency').val();
        if (currencyType == 1) {
            $('#ddlCurrency').val(1);
        }
        else if (currencyType == 2) {
            $('#ddlCurrency').val(2);
        }


        //setInterval(function () {
        //    var dynamicBidDataArr;
        //    var SetAuction = {};
        //    SetAuction.page = $("#hiddenPage").val();
        //    SetAuction.userid = $("#hiddenUserId").val();

        //    $.ajax({
        //        url: "/Common/generateMyGallary",
        //        type: 'POST',
        //        dataType: 'json',
        //        data: SetAuction,
        //        traditional: true,
        //        success: function (ReturnData) {
        //            if (ReturnData.Success) {
        //                //var your_object = JSON.parse(ReturnData.Success);
        //                dynamicBidDataArr = ReturnData.Success;
        //                for (var i = 0; i < dynamicBidDataArr.length; i++) {

        //                    var SetCurentAuction = document.getElementById("SetCurentAuction_" + dynamicBidDataArr[i].productid);
        //                    SetCurentAuction.innerHTML = dynamicBidDataArr[i].dyanmicData;

        //                    // alert(dynamicBidDataArr[i].dyanmicData);
        //                }
        //                //alert(ReturnData.Success[0].productid);

        //                //

        //                //$('#Time').html(ReturnData.Success);
        //            }
        //        },
        //    });
        //}, 1000);
    });

    $('.btnBidNow').click(function () {

        $("#divLoader").show();

        var baseUrlPath = $('#hiddenbaseUrlPath').val();
        var productid = $(this).attr("data-id");
        var userId = $('#hiddenUserId').val();
        var isMobile = $('#hiddenMobileVerified').val();
        var isEmail = $('#hiddenEmailVerified').val();
        var isconfirmbid = $('#hiddenconfirmbid').val();



        if (userId > 0) {
            if (isMobile > 0 && isEmail > 0) {
                // Apply For Bid
                if (isconfirmbid > 0) {
                    $("#divLoader").hide();
                    window.location = baseUrlPath + '/Home/LotDetails?productid=' + productid
                }
                else {
                    $("#divLoader").hide();
                    alert('You Dont have bidding access');
                }
            }
            else {
                $("#divLoader").hide();
                alert('Mobile Number Or Email id is not verified');
            }

        }
        else {
            $("#divLoader").hide();
            $('#LoginForm').modal('toggle');
        }

    });
</script>