﻿
@{
    ViewBag.Title = "privacyPolicy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}


@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
		<div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
			<h3 class="sbold uppercase extra-padding-bottom-20">Privacy Policy</h3>
 
			<div class="row custom_row">
				<div class="12 extra-margin-top-20 custom_col">

                @Html.Raw(ViewBag.Policy)

					@*<p>AstaGuru strongly believes in the security of your privacy. This principle guides everything that we strive to achieve.</p>
					<p>Any information you provide as a registered user is never shared with any individual or third party unless you explicitly inform us to do so.</p>
					<p>The information you provide to www.astaguru.com is only used by us to serve your needs better and make your experience at our web site more enjoyable.</p>
					<p>We are committed to protecting and safeguarding your privacy on-line. Please contact us at <a href="@baseUrlPath/Home/contactUs">contact@astaguru.com</a> if you have any questions</p>*@
				</div><!-- col -->
				
			</div><!-- row -->

						
		</div><!-- content -->


</div><!-- Wrapper -->