﻿@model Astaguru.Models.Promotion
@{
    ViewBag.Title = "Promotion";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    Astaguru.Services.UserService.UserService US = new Astaguru.Services.UserService.UserService();
    Astaguru.Controllers.HomeController hm = new Astaguru.Controllers.HomeController();

}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<link rel="stylesheet" href="~/Content/css/style_user.css">

<input type="hidden" id="hiddenisMobileVerify" />

<input type="hidden" id="hiddenCountry_id" />
<input type="hidden" id="hiddenState_id" />
<input type="hidden" id="hiddenCity_id" />
@using (Html.BeginForm("Promotion", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div id="wrapper" class="footer_pages_content">
        <div id="banner_inner" style="background:url(/Content/images/banner-inner.jpg) center center no-repeat;background-size: cover;">
            <div class="banner_inner_overlay"></div>
            <div class="content">
                <div class="form_banner_text">
                    <div class="auctions_title">
                        <h1 class="title_font medium_text">Promotion</h1>
                    </div>
                </div><!-- Banner inner text -->
            </div><!-- content -->
        </div><!-- banner inner -->


        <div class="container-fluid small_content extra-padding-bottom-100 extra-padding-top-40">

            <div class="form_box extra-margin-top-20">

                @if (TempData["Message"] != null)
                {
                    if (TempData["Message"].ToString() == "Success")
                    {
                        <script type="text/javascript">

            window.onload = function () {
                alert("@TempData["Message1"]");
            };
                        </script>
                    }
                }

                <div class="title_form">
                    <h5>Fill Details</h5>
                </div><!-- title_form -->
                <div class="form_box_inner">
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label">Select category</label>
                                </div>

                                @Html.DropDownListFor(m => m.Category, new List<SelectListItem>
                                         {
                                         new SelectListItem {Text="Modern Indian Art & No Reserve",Value="Modern Indian Art & No Reserve" },
                                         new SelectListItem {Text="Book Consignment",Value="Book Consignment" },
                                         new SelectListItem {Text="Textile Consignment",Value="Textile Consignment" },
                                         new SelectListItem {Text="Vintage And Classic Car", Value="Vintage And Classic Car" },
                                         new SelectListItem {Text="Jewellery",Value="Jewellery" },
                                         new SelectListItem {Text="Timepieces", Value="Timepieces" }}, "Select", new { @id= "ddlCategory", @class = "form-control", title = "ddlCategory" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrCategory">Category is required. </span>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="Name">Name <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.Name, new { @class = "input form-control", @id = "txtName", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrName">Name is required.</span>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="Email">Email <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "input form-control", @id = "txtEmail", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrEmail">Email is required.</span>
                            <span class="regErr ErrorValidation" id="ErrEmail2">Invalid email Id.</span>
                        </div>
                    </div><!-- Row -->
                    <div class="row">

                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="Request A Call Back From Us">Mobile No. <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.Mobile_Number, new { @class = "input form-control", @id = "txtMobile", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Mobile_Number, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrMobile">Mobile No. is required.</span>
                        </div>

                    </div><!-- Row -->    

                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-30">
                            <div class="control basicField">
                                <label class="form_label2" for="Image">
                                    Upload Images Here <span class="required" style="color:red">*</span>
                                </label>

                                @Html.TextBoxFor(m => m.Image, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadthumbnail", @autocomplete = "off", @type = "file" })
                                @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                                <span class="regErr ErrorValidation" id="ErrImage">Image is required.</span>


                                @Html.TextBoxFor(m => m.Image2, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadthumbnail2", @autocomplete = "off", @type = "file" })

                                @Html.TextBoxFor(m => m.Image3, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadthumbnail3", @autocomplete = "off", @type = "file" })

                            </div>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label">How did you come to know about us</label>
                                </div>

                                @Html.DropDownListFor(m => m.Aboutus, new List<SelectListItem>
                                         {   new SelectListItem {Text="Facebook",Value="Facebook" },
                                          new SelectListItem {Text="Instagram",Value="Instagram" },
                                             new SelectListItem {Text="Google ads", Value="Google ads" }}, "Select", new { @id= "ddlAboutus", @class = "form-control", title = "ddlAboutus" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrAboutUs">About Us is required.</span>
                        </div>
                    </div><!-- Row -->         
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="Description">Any other Description?</label>
                                </div>
                                @Html.TextBoxFor(m => m.Description, new { @class = "input form-control", @id = "txtDescription", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrDescription"></span>
                        </div>
                    </div><!-- Row -->

                @*Modern Indian Art div*@
                <div id="ModernIndianArt">
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="ArtistName">Artist Name <span class="required" style="color:red"></span></label>
                                </div>
                                @*@Html.TextBoxFor(m => m.ArtistName, new { @class = "input form-control", @id = "txtArtistName", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.ArtistName, "", new { @class = "text-danger" })*@
                                
                                    @*<select id="ddllist" name="ddllist" class="form-control"></select>*@
                              
                                <select class="select_search form-control" id="ddllist">
                                    <option value='0'>Select Artist Name</option>
                                    @foreach (var item in hm.BindArtist())
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                                    <input type="hidden" id="hiddenArtist" name="hiddenArtist" value="" />
                                </div>
                            <span class="regErr ErrorValidation" id="ErrArtistName">Artist Name is required.</span>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="ArtworkName">Artwork Name (optional)</label>
                                </div>
                                @Html.TextBoxFor(m => m.ArtworkName, new { @class = "input form-control", @id = "txtArtworkName", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.ArtworkName, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrArtworkName"></span>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="YearofPurchase">Year of Purchase <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.YearofPurchaseModern, new { @class = "input form-control", @id = "txtYearofPurchase", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.YearofPurchaseModern, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrYearofPurchase">Year of Purchase is required.</span>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label">Purchase from</label>
                                </div>

                                @Html.DropDownListFor(m => m.Purchasefrom, new List<SelectListItem>
                                         {   new SelectListItem {Text="Art Gallery",Value="Art Gallery" },
                                             new SelectListItem {Text="Auction House ", Value="Auction House " }}, "Select", new { @id= "ddlPurchasefrom", @class = "form-control", title = "ddlPurchasefrom" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrPurchasefrom">Purchase from is required.</span>
                        </div>
                    </div><!-- Row --> 
                </div>

                    @*Book Consignment div*@
                <div id="BookConsignment">
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="YearofPurchase">Year of Purchase <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.YearofPurchaseBook, new { @class = "input form-control", @id = "txtYearofPurchaseBook", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.YearofPurchaseBook, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrYearofPurchaseBook">Year of Purchase is required.</span>
                        </div>
                    </div><!-- Row -->

                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="AuthorPublisherName">Author or Publisher Name <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.AuthorPublisherName, new { @class = "input form-control", @id = "txtAuthorPublisherName", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.AuthorPublisherName, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrAuthorPublisherName">Author or Publisher Name is required.</span>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="BookPublishedYear">Book published in which year? <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.BookPublishedYear, new { @class = "input form-control", @id = "txtBookPublishedYear", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.BookPublishedYear, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrBookPublishedYear">Book published year is required.</span>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="BookCondition">Current condition of the Book <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.BookCondition, new { @class = "input form-control", @id = "txtBookCondition", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.BookCondition, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrBookCondition">Condition of the book is required.</span>
                        </div>
                    </div><!-- Row -->
                </div>

                    @*Textile Consignment div*@
                <div id="TextileConsignment">
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label">Choose from the options below you want to Auction</label>
                                </div>

                                @Html.DropDownListFor(m => m.ChoosAuctionOption, new List<SelectListItem>
                                         {   new SelectListItem {Text="Saree",Value="Saree" },
                                         new SelectListItem {Text="Pashmina",Value="Pashmina" },
                                         new SelectListItem {Text="Carpets",Value="Carpets" },
                                         new SelectListItem {Text="Others", Value="Others" }}, "Select", new {@id= "ddlChoosAuctionOption", @class = "form-control", title = "ddlPurchasefrom" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrChoosAuctionOption">Please select option.</span>
                        </div>
                    </div><!-- Row --> 
                </div>

                    @*Vintage car div*@
                <div id="Vintagecar">
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="Automaker">Automaker <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.Automaker, new { @class = "input form-control", @id = "txtAutomaker", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Automaker, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrAutomakere">Automaker is required.</span>
                        </div>
                    </div><!-- Row -->

                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="Model No">Model No. <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.Model, new { @class = "input form-control", @id = "txtModel", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Model, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrModel">Model No. is required.</span>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="Engine No">Engine No.</label>
                                </div>
                                @Html.TextBoxFor(m => m.Engine, new { @class = "input form-control", @id = "txtEngine", @autocomplete = "off" })
                            </div>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="Chassis No">Chassis No.</label>
                                </div>
                                @Html.TextBoxFor(m => m.Chassis, new { @class = "input form-control", @id = "txtChassis", @autocomplete = "off" })
                            </div>
                        </div>
                    </div><!-- Row -->


                    <div class="row">

                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="Validation Registration No">Validation Registration No <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.Registration, new { @class = "input form-control", @id = "txtRegistration", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Registration, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrRegistration">Validation Registration No. is required</span>
                        </div>

                    </div><!-- Row -->
                </div>

                 @*Jewellery car div*@
                <div id="Jewellery">
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="YearofPurchase">Year of Purchase <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.YearofPurchaseJewellery, new { @class = "input form-control", @id = "txtYearofPurchaseJewellery", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.YearofPurchaseJewellery, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrYearofPurchaseJewellery">Year of Purchase is required.</span>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="BillOfPurchase">Do you have a bill of purchase? <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.BillOfPurchaseJewellery, new { @class = "input form-control", @id = "txtBillOfPurchase", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.BillOfPurchaseJewellery, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrBillOfPurchase"> Bill of purchase is required.</span>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="Weight">Weight <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.Weight, new { @class = "input form-control", @id = "txtWeight", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Weight, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr ErrorValidation" id="ErrWeight">Weight is required.</span>
                        </div>
                    </div><!-- Row -->

                </div>

                    @*Timepieces div*@
                    <div id="Timepieces">
                        <div class="row">
                            <div class="col-sm-12 extra-margin-top-20">
                                <div class="control basicField">
                                    <div class="label-container">
                                        <label class="form_label2" for="Brand">Brand / Make <span class="required" style="color:red">*</span></label>
                                    </div>
                                    @Html.TextBoxFor(m => m.Brand, new { @class = "input form-control", @id = "txtBrand", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.Brand, "", new { @class = "text-danger" })
                                </div>
                                <span class="regErr ErrorValidation" id="ErrBrand">Brand / Make is required.</span>
                            </div>
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-12 extra-margin-top-20">
                                <div class="control basicField">
                                    <div class="label-container">
                                        <label class="form_label2" for="YearofPurchase">Year of Purchase <span class="required" style="color:red">*</span></label>
                                    </div>
                                    @Html.TextBoxFor(m => m.YearofPurchaseTimepieces, new { @class = "input form-control", @id = "txtYearofPurchaseTimepieces", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.YearofPurchaseTimepieces, "", new { @class = "text-danger" })
                                </div>
                                <span class="regErr ErrorValidation" id="ErrYearofPurchaseTimepieces">Year of Purchase is required</span>
                            </div>
                        </div><!-- Row -->
                        <div class="row">
                            <div class="col-sm-12 extra-margin-top-20">
                                <div class="control basicField">
                                    <div class="label-container">
                                        <label class="form_label2" for="BillOfPurchase">Do you have a bill of purchase? <span class="required" style="color:red">*</span></label>
                                    </div>
                                    @Html.TextBoxFor(m => m.BillOfPurchaseTimepieces, new { @class = "input form-control", @id = "txtBillOfPurchaseTimepieces", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.BillOfPurchaseTimepieces, "", new { @class = "text-danger" })
                                </div>
                                <span class="regErr ErrorValidation" id="ErrBillOfPurchaseTimepieces">Bill of purchase is required.</span>
                            </div>
                        </div><!-- Row -->
                    </div>
                    </div><!-- form_box_inner -->
            </div><!-- white box -->



            <div class="extra-margin-top-40">
                <button type="submit" class="btn_grey_dark btn_min_width" id="btnsubmit"><span>Submit</span></button>
                @*<button type="submit" class="btn_grey_dark btn_min_width" data-toggle="modal" data-target="#Register_TC_Modal"><span>Submit</span></button>*@
            </div>
        </div><!-- content -->


    </div><!-- Wrapper -->
}

<div class="modal fade" id="SuccessfulRegistration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Thank you for choosing AstaGuru Online Auction House. Please check your inbox for further information</h5>
            </div>

            <div class="modal-body signform">
                <div class="row">

                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark full_width" id="btnOkay"><span>OK</span></button>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->



<script>

    $('#ddlCategory').change(function () {
        var ddlCategory = $('#ddlCategory').val();

        if (ddlCategory == 'Modern Indian Art & No Reserve') {
            $('#ModernIndianArt').show();
            $('#BookConsignment').hide();
            $('#TextileConsignment').hide();
            $('#Vintagecar').hide();
            $('#Jewellery').hide();
            $('#Timepieces').hide();
        }
        else if (ddlCategory == 'Book Consignment')
        {
            $('#BookConsignment').show();
            $('#ModernIndianArt').hide();
            $('#TextileConsignment').hide();
            $('#Vintagecar').hide();
            $('#Jewellery').hide();
            $('#Timepieces').hide();
        }
        else if (ddlCategory == 'Textile Consignment') {
            $('#TextileConsignment').show();
            $('#BookConsignment').hide();
            $('#ModernIndianArt').hide();

            $('#Vintagecar').hide();
            $('#Jewellery').hide();
            $('#Timepieces').hide();
        }
        else if (ddlCategory == 'Vintage And Classic Car') {
            $('#Vintagecar').show();
            $('#TextileConsignment').hide();
            $('#BookConsignment').hide();
            $('#ModernIndianArt').hide();
            $('#Jewellery').hide();
            $('#Timepieces').hide();
        }
        else if (ddlCategory == 'Jewellery') {
            $('#Jewellery').show();
            $('#Vintagecar').hide();
            $('#TextileConsignment').hide();
            $('#BookConsignment').hide();
            $('#ModernIndianArt').hide();
            $('#Timepieces').hide();
        }
        else if (ddlCategory == 'Timepieces') {
            $('#Timepieces').show();
            $('#Jewellery').hide();
            $('#Vintagecar').hide();
            $('#TextileConsignment').hide();
            $('#BookConsignment').hide();
            $('#ModernIndianArt').hide();

        }
    });


    $(document).ready(function () {
        $('#Timepieces').hide();
        $('#Jewellery').hide();
        $('#Vintagecar').hide();
        $('#TextileConsignment').hide();
        $('#BookConsignment').hide();
        $('#ModernIndianArt').hide();

        var userId = $("#hiddenUserId").val();
        hiddenBaseURL = $("#hiddenbaseUrlPath").val();

        if (userId > 0) {
            window.location = hiddenBaseURL + '/Home/Home';
        }
    });



    $("#btnsubmit").click(function () {

        debugger;
        var Blank1 = false;
        var message = "";


        if ($('#ddlCategory').val() == '') {
            $('#ErrCategory').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrCategory').css('display', 'none');

        }
        if ($('#txtName').val() == '') {
            $('#ErrName').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrName').css('display', 'none');

        }
        if ($('#txtEmail').val() == '') {
            $('#ErrEmail').css('display', 'block');
            Blank1 = true;
        }
        else {

            var EmailText = /^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i;

            var Email = $('#txtEmail').val();

            if (!EmailText.test(Email)) {
                $('#ErrEmail').css('display', 'none');
                $('#ErrEmail2').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrEmail2').css('display', 'none');


            }

            $('#ErrEmail').css('display', 'none');

        }
        if ($('#txtMobile').val() == '') {
            $('#ErrMobile').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrMobile').css('display', 'none');

        }
        if ($('#fileUploadthumbnail').val() == '') {
            $('#ErrImage').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrImage').css('display', 'none');

        }
        if ($('#ddlAboutus').val() == '') {
            $('#ErrAboutUs').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrAboutUs').css('display', 'none');

        }

        if ($('#ddlCategory').val() == 'Modern Indian Art & No Reserve') {
            if ($('#ddllist').val() == 0) {
                $('#ErrArtistName').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrArtistName').css('display', 'none');

            }
            if ($('#txtYearofPurchase').val() == '') {
                $('#ErrYearofPurchase').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrYearofPurchase').css('display', 'none');

            }
            if ($('#ddlPurchasefrom').val() == '') {
                $('#ErrPurchasefrom').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrPurchasefrom').css('display', 'none');

            }
        }
        if ($('#ddlCategory').val() == 'Book Consignment') {
            debugger;
            if ($('#txtYearofPurchaseBook').val() == '') {
                $('#ErrYearofPurchaseBook').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrYearofPurchaseBook').css('display', 'none');

            }
            if ($('#txtAuthorPublisherName').val() == '') {
                $('#ErrAuthorPublisherName').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrAuthorPublisherName').css('display', 'none');

            }
            if ($('#txtBookPublishedYear').val() == '') {
                $('#ErrBookPublishedYear').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrBookPublishedYear').css('display', 'none');

            }
            if ($('#txtBookCondition').val() == '') {
                $('#ErrBookCondition').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrBookCondition').css('display', 'none');

            }
        }
        if ($('#ddlCategory').val() == 'Textile Consignment') {

            if ($('#ddlChoosAuctionOption').val() == '') {
                $('#ErrChoosAuctionOption').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrChoosAuctionOption').css('display', 'none');

            }

        }
        if ($('#ddlCategory').val() == 'Vintage And Classic Car') {

            if ($('#txtAutomaker').val() == '') {
                $('#ErrAutomakere').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrAutomakere').css('display', 'none');

            }
            if ($('#txtModel').val() == '') {
                $('#ErrModel').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrModel').css('display', 'none');

            }
            if ($('#txtRegistration').val() == '') {
                $('#ErrRegistration').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrRegistration').css('display', 'none');

            }

        }

        if ($('#ddlCategory').val() == 'Jewellery') {

            if ($('#txtYearofPurchaseJewellery').val() == '') {
                $('#ErrYearofPurchaseJewellery').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrYearofPurchaseJewellery').css('display', 'none');

            }
            if ($('#txtBillOfPurchase').val() == '') {
                $('#ErrBillOfPurchase').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrBillOfPurchase').css('display', 'none');

            }
            if ($('#txtWeight').val() == '') {
                $('#ErrWeight').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrWeight').css('display', 'none');

            }
        }
        if ($('#ddlCategory').val() == 'Timepieces') {

            if ($('#txtYearofPurchaseTimepieces').val() == '') {
                $('#ErrYearofPurchaseTimepieces').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrYearofPurchaseTimepieces').css('display', 'none');

            }
            if ($('#txtBillOfPurchaseTimepieces').val() == '') {
                $('#ErrBillOfPurchaseTimepieces').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrBillOfPurchaseTimepieces').css('display', 'none');

            }
            if ($('#txtBrand').val() == '') {
                $('#ErrBrand').css('display', 'block');
                Blank1 = true;
            }
            else {
                $('#ErrBrand').css('display', 'none');

            }
        }

        if (Blank1) {

            return false;

        }
        else {
            //return true;
        }

    });


    $(function () {

        $.getJSON('/Home/BindArtist/', function (data) {
            //$.getJSON('/AdminCms/BindAuctionLot/' + $('#ddllist').val(), $('#ddlPagelist').val(), function (data) {
            var items = '<option>Select Artist Name</option>';
            $.each(data, function (i, state) {
                items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
            });
            $('#ddllist').html(items);
        });

    });

    $(document).ready(function () {

        $("#ddllist").change(function () {
            debugger;
           Artistname = $("#ddllist option:selected").text();
           $("#hiddenArtist").val(Artistname);

        })
    });
    $('#btnOkay').click(function () {
        var basePathUrl = $('#hiddenbaseUrlPath').val();
        window.location = basePathUrl + '/Home/Home';
    });

</script>

<style>
    .ErrorValidation {
        display: none;
        color: #dc3545 !important;
        margin-bottom: 10px;
    }
</style>

