﻿
@{
    ViewBag.Title = "recordPriceArtwork";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    int artistid = Convert.ToInt32(Request.QueryString["artistid"]);
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    int currency = Convert.ToInt32(Session["GetCurrency"]);

    List<Astaguru.Models.Auction> RecordPriceArtwork = null;
    RecordPriceArtwork = COM.getRecordPriceArtwork();

}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper">
    <div id="filter_wrap">
        <div class="content">
            <div class="flex_flex_end">
                <div class="filter_right">
                    <div class="auction_analysis_text custom_select">
                        <select class="select_drop" id="ddlCurrency">
                            <option value="1">inr</option>
                            <option value="2">usd</option>
                        </select>
                    </div><!-- custom_select -->
                    <ul class="icon_list_grid">
                        <li><a href="@baseUrlPath/Home/recordPriceArtwork" class="active"><i class="icon-grid-view"></i></a></li>
                        <li><a href="@baseUrlPath/Home/listRecordPriceArtwork"><i class="icon-list-view"></i></a></li>
                    </ul>
                </div><!-- filter_right -->
            </div><!-- flex_spbtn -->
        </div><!-- content -->
    </div><!-- filter_wrap -->
    <div class="container-fluid content extra-padding-bottom-100 extra-margin-top-40">
        <h3 class="sbold uppercase">Record Price Artworks <a href="JavaScript:Void(0);" class="title_small_text">Top twenty works</a></h3>
        <div class="row match_all">

            @foreach (var item in RecordPriceArtwork)
            {
                int usdCurrentPrice = item.pricers / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);
                <div class="col-sm-6 col-lg-4 col-xl-3 extra-margin-top-40">
                    <div class="box_col panel-body hover_zoom">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front img_box_col">
                                    <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                </div>
                                <div class="after_flipe img_box_col">
                                    <div>
                                        <h6>Medium</h6>
                                        <p>@item.medium</p>
                                        <h6>Size</h6>
                                        <p>@item.productsize</p>
                                        <h6>Year</h6>
                                        <p>@item.productdate</p>
                                        <h6>Estimate</h6>
                                        @if (currency == 1)
                                        {
                                        <p>@item.collectors</p>
                                        }
                                        else if (currency == 2)
                                        {
                                        <p>@item.estamiate</p>
                                        }
                                        else
                                        {
                                        <p>@item.collectors</p>
                                        }
                                    </div>
                                </div><!-- after_flipe -->
                            </div><!-- flipper -->
                        </div><!-- flip-container -->
                        <div class="col_box_content">
                            <a href="https://www.astaguru.com/@item.image" class="fancybox" rel="gallery2"><span class="icon_expand"><i class="icon-fullscreen"></i></span></a>
                            <a href="@baseUrlPath/Artist/artistProfile?artistid=@item.artistid" target="_blank">
                                <h3 class="uppercase nowrap_text sbold"> @item.firstname  @item.lastname</h3>
                            </a>
                            <p><a href="@baseUrlPath/Past/PastDetails?productid=@item.productid&Record=Top"><span class="lotno">Lot @item.reference</span> @item.title</a></p>
                            <p>@item.Auctionname</p>
                            <h6>@item.Date</h6>
                            <div class="price_with_tax">
                                @if (currency == 1)
                                {
                                    <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 15).ToString())</h5>
                                    <h6>(Inclusive 15% margin)</h6>
                                }
                                else if (currency == 2)
                                {
                                    <h5>$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.priceus, currency, 15).ToString())</h5>
                                    <h6>(Inclusive 15% margin)</h6>
                                }
                                else
                                {
                                    <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 15).ToString())</h5>
                                    <h6>(Inclusive 15% margin)</h6>
                                }

                            </div>
                        </div><!-- col_auctions_content -->
                    </div><!-- box_col -->
                </div><!-- col -->
            }


        </div><!-- Row -->

    </div><!-- content -->

</div><!-- Wrapper -->

<script>
    $(document).ready(function () {
        var currencyType = $('#hiddenCurrency').val();
        if (currencyType == 1) {
            $('#ddlCurrency').val(1);
        }
        else if (currencyType == 2) {
            $('#ddlCurrency').val(2);
        }

    });
</script>

