﻿
@{
    ViewBag.Title = "registration";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    Astaguru.Services.UserService.UserService US = new Astaguru.Services.UserService.UserService();
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<input type="hidden" id="hiddenisMobileVerify" />

<input type="hidden" id="hiddenCountry_id" />
<input type="hidden" id="hiddenState_id" />
<input type="hidden" id="hiddenCity_id" />

<div id="wrapper" class="footer_pages_content">
    <div id="banner_inner" style="background:url(/Content/images/banner-inner.jpg) center center no-repeat;background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="form_banner_text">
                <div class="auctions_title">
                    <h1 class="title_font medium_text">Your AstaGuru Account</h1>
                    <p>AstaGuru User Account Registration</p>
                </div>
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->


    <div class="container-fluid small_content extra-padding-bottom-100 extra-padding-top-40">

        <div class="form_box extra-margin-top-20">
            <div class="title_form">
                <h5>Personal Details</h5>
            </div><!-- title_form -->
            <div class="form_box_inner">
                <div class="row">
                    <div class="col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="FirstName">First Name</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtFirstName" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrFirstName"></span>
                    </div>
                    <div class="col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="LastName">Last Name</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtLastName" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrLastName"></span>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-sm-6 col-lg-4 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Email">Email</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtEmail" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrEmail"></span>
                    </div>
                    <div class="col-sm-6 col-lg-4 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Password">Password</label>
                            </div>
                            <input class="input form-control" placeholder="" type="password" id="txt1Password" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="Err1Password"></span>
                    </div>
                    <div class="col-sm-6 col-lg-4 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Password">Confirm Password</label>
                            </div>
                            <input class="input form-control" placeholder="" type="password" id="txtConfirmPassword" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrConfirmPassword"></span>
                    </div>
                </div><!-- Row -->

                <div class="row extra-margin-top-20">
                    <div class="col-md-12"><div class="label-container"><label class="form_label2">Mobile Number</label></div></div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="label-container">
                            <select class="select_search form-control" id="ddlCountryCode">
                                <option value="">Country Code</option>
                                @foreach (var item in US.GetCountryCode())
                                {
                                     var country = item.countryCode + " (" + item.countryname + ")";
                                    <option value="@item.countryCode">@country</option>
                                }
                            </select>
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrCountryCode"></span>
                    </div><!-- col -->

                    <div class="col-xs-12 col-sm-7">
                        <input class="input form-control" placeholder="" type="text" value="" id="txtMobileNo">
                        <span style="color:red; text-align:left; display:block;" id="ErrMobileNo"></span>
                        <div class="otp_ver_resend">
                            <a href="javascript:void(0)" class="create_acc" id="btnverify">Verify</a>
                            <a href="javascript:void(0)" class="pwd_password resend_otp" id="btnverify1">Resend OTP</a>
                        </div>
                    </div><!-- col -->
                </div><!-- row -->

                <div class="row extra-margin-top-20">
                    <div class="col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Username">Username</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txUsername" value="">
                        </div>
                        <span class="regErr"  style="color:red; text-align:left; display:block;" id="ErrUsername"></span>
                    </div>
                </div><!-- row -->

            </div><!-- form_box_inner -->
        </div><!-- white box -->

        <div class="form_box panel-body extra-margin-top-40">
            <div class="title_form">
                <h5>Profile</h5>
            </div><!-- title_form -->
            <div class="form_box_inner">
                <div class="row">
                    <div class="col-sm-12 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2">Gender</label>
                            </div>
                        </div>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input isGender" id="GenderMale" name="gender" value="1">
                                    <label class="custom-control-label" for="GenderMale">Male</label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input isGender" id="GenderFemale" name="gender" value="2">
                                    <label class="custom-control-label" for="GenderFemale">Female</label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input isGender" id="GenderOther" name="gender" value="3">
                                    <label class="custom-control-label" for="GenderOther">Other</label>
                                </div>
                            </li>
                        </ul>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrGender"></span>
                    </div>

                </div><!-- Row -->

                <div class="row extra-margin-top-20 dob_row">
                    <div class="col-md-12"><div class="label-container"><label class="form_label2">Date of Birth</label></div></div>
                    <div class="col-xs-12 col-sm-3">
                        <select class="select_search form-control" id="txtDay">
                            <option value="">Date</option>
                            @for (int i = 1; i <= 31;i++ )
                            {
                                <option value="@i">@i</option>
                            }
                        </select>

                        @*<input class="input form-control" placeholder="Day" type="text" value="" id="txtDay">*@
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrDay"></span>
                    </div><!-- col -->

                    <div class="col-xs-12 col-sm-3">
                        <select class="select_search form-control" id="txtMonth">
                            <option value="">Month</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        @*<input class="input form-control" placeholder="Month" type="text" value="" id="txtMonth">*@
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrMonth"></span>
                    </div><!-- col -->

                    <div class="col-xs-12 col-sm-3">
                        <select class="select_search form-control" id="txtYear">
                            <option value="">Year</option>
                            @for (int i = 1930; i <= 2019; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        @*<input class="input form-control" placeholder="Year" type="text" value="" id="txtYear">*@
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrYear"></span>
                    </div><!-- col -->
                </div><!-- row -->

                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label">How Do You Here About Us</label>
                            </div>
                            <select class="select_search" id="ddlAboutUs">
                                <option value='0'>Select</option>
                                @foreach(var item in US.GetAboutUs())
                                {
                                   <option value="@item.aboutId">@item.about</option>
                                }  
                            </select>
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrAboutUs"></span>
                    </div>

                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label">interested in</label>
                            </div>
                            <select class="select_search" multiple="" id="ddlIntrestedIn">

                                @foreach(var item in US.GetinterestMaster())
                                {
                                    <option value="@item.interestedId">@item.interest</option>    
                                }
                            </select>
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrIntrestedIn"></span>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-sm-12 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2">Interested in bidding</label>
                            </div>
                        </div>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input isGender" id="Interested" name="InterestedInBidding" value="1">
                                    <label class="custom-control-label" for="Interested">Yes</label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input isGender" id="NotInterested" name="InterestedInBidding" value="0">
                                    <label class="custom-control-label" for="NotInterested">No</label>
                                </div>
                            </li>
                        </ul>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrBiddingInterest"></span>
                    </div>

                </div><!-- Row -->
            </div><!-- form_box_inner -->
        </div><!-- white box -->

        <div class="form_box extra-margin-top-40">
            <div class="title_form">
                <h5>Primary Postal Address</h5>
            </div><!-- title_form -->
            <div class="form_box_inner">
                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Country">Country</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtCountry" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrCountry"></span>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Address1">Line 1</label>
                            </div>
                            <input class="input form-control" placeholder="Flat No. / House No. / Building Name" type="text" id="txtAddress1" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrAddress1"></span>
                    </div>
                    <div class="col-xs-12 col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Address2">Line 2</label>
                            </div>
                            <input class="input form-control" placeholder="Street Name / Area Name" type="text" id="txtAddress2" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrAddress2"></span>
                    </div>
                </div><!-- row -->

                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="State">State</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtState" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrState"></span>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-4 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="PostalCode">Postal Code</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtPostalCode" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrPostalCode"></span>
                    </div>
                    <div class="col-xs-12 col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="City">City</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtCity" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrCity"></span>
                    </div>
                </div><!-- row -->
            </div><!-- form_box_inner -->
        </div><!-- white box -->

        <div class="extra-margin-top-40">
            <button type="submit" class="btn_grey_dark btn_min_width" id="btnsubmit"><span>Submit</span></button>
            <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrException"></span>
            <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrSuccess"></span>
            @*<button type="submit" class="btn_grey_dark btn_min_width" data-toggle="modal" data-target="#Register_TC_Modal"><span>Submit</span></button>*@
        </div>
    </div><!-- content -->


</div><!-- Wrapper -->

<!--Register T&C Modal -->
<div class="modal fade" id="Register_TC_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered register_tc" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Terms & Conditions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cross"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="bold">DEFINITIONS AND INTERPRETATION</h5>

                        <ul>
                            <li>
                                <b>Definitions</b>
                                <ul class="list_points">
                                    <li>“Applicable Law” shall mean to the extent it applies to a Person, all applicable laws, statutes, by-laws, rules, regulations, orders, ordinances, protocols, codes, guidelines, policies, notices, directions, judgments, decrees or other requirements or official directive of any Governmental Authority or Person acting under the authority of any Governmental Authority and/or of any statutory authority in India, whether in effect on the Execution Date or thereafter;</li>
                                    <li>“AstaGuru Auction” shall mean an online auction conducted by AstaGuru in accordance with these Terms and Conditions of Sale;</li>
                                    <li>“Auction Date” shall mean the day on which the AstaGuru Auction is conducted for the Lot;</li>
                                    <li>“Bidder” shall mean any Person eligible to make a bid or offer to purchase the Lot at an AstaGuru Auction;</li>
                                    <li>“Business Day” shall mean any day, other than Saturday or Sunday, on which banking institutions in Mumbai, India are open for banking transactions;</li>
                                    <li>“Buyer” shall mean the Person whose bid is accepted by AstaGuru as the winning bid in an AstaGuru Auction, at AstaGuru’s discretion;</li>
                                    <li>“Estimate Price”shall mean the estimates provided by AstaGuru, at its discretion based on the average market value of the Lot;</li>
                                    <li>“Governmental Authority” shall mean any international, national, provincial, regional, central, state, municipal or local government, any instrumentality, subdivision, court, administrative, executive or regulatory agency, commission, board, tribunal or other authority thereof, or any quasi-governmental or private body exercising any regulatory, taxing, legislative or other governmental or quasi-governmental authority (in each of the foregoing cases, whether in India or outside India), in each case, having jurisdiction pursuant to Applicable Law;</li>
                                    <li>“Hammer Price” shall mean the price at which the Lot is sold to a Buyer, exclusive of the margin and other applicable duties and taxes;</li>
                                    <li>“INR” shall mean the lawful currency of the Republic of India;</li>
                                    <li>“Lot” shall mean the individual jewellery/memorabilia/automobile/timepiece/artwork or any other item being offered for sale at an AstaGuru Auction;</li>
                                    <li>“Person(s)” shall mean any individual, sole proprietorship, unincorporated association, unincorporated organization, body corporate, corporation, company, partnership, limited liability company, joint venture, Governmental Authority or trust or any other entity or organization;</li>
                                    <li>“Reserve Price” shall mean the minimum price at which the Lot shall be sold at the AstaGuru Auction;</li>
                                    <li>“Terms and Conditions of Sale” means the terms and conditions stipulated herein below, which are applicable to all Buyers, Bidders and any prospective bidders in an AstaGuru Auction, as may be amended by AstaGuru from time to time; and</li>
                                    <li>
                                        “Website” shall mean www.astaguru.com;
                                    </li>
                                </ul>
                            <li>
                                <b>Interpretation:</b> Unless the context of these Terms and Conditions of Sale requires otherwise:
                                <ul class="list_points">
                                    <li>
                                        words of any gender are deemed to include those of the other gender;
                                    </li>
                                    <li>
                                        words using the singular or plural number also include the plural or singular number respectively;
                                    </li>
                                    <li>
                                        the terms &lsquo;hereof&rsquo;, &lsquo;herein&rsquo;, &lsquo;hereby&rsquo;, &lsquo;hereto&rsquo; and derivatives or similar words refer to these Terms and Conditions of Sale or specified Clauses thereof, as the case may be;
                                    </li>
                                    <li>
                                        the term &lsquo;Clause&rsquo; refers to the specified Clause of these Terms and Conditions of Sale;
                                    </li>
                                    <li>
                                        headings and bold typeface are only for convenience and shall be ignored for the purpose of interpretation;(e) headings and bold typeface are only for convenience and shall be ignored for the purpose of interpretation;
                                    </li>
                                    <li>
                                        reference to legislation or law or to any provision thereof shall include references to any such law as it may from time to time, be amended, supplemented or re-enacted, and any reference to statutory provision shall include any subordinate legislation made from time to time under that provision;
                                    </li>
                                    <li>
                                        references to an &ldquo;Terms and Conditions of Sale&rdquo; shall be construed as a reference to these Terms and Conditions of Sale as may be amended, varied, supplemented or novated in writing at the relevant time in accordance with the terms herein;
                                    </li>
                                    <li>
                                        any reference to books, files, records or other information or any of them means books, files, records or other information or any of them in any form or in whatever medium held including paper, electronically stored data, magnetic media, film and microfilm;
                                    </li>
                                    <li>
                                        no provisions of these Terms and Conditions of Sale shall be interpreted in favour of, or against, any party by reason of the extent to which such party or its counsel participated in the drafting hereof or by reason of the extent to which any such provision is inconsistent with any prior draft hereof;
                                    </li>
                                    <li>
                                        any time of day or date is to that time or date in India; and
                                    </li>
                                    <li>
                                        time is of the essence in the performance of the Parties&rsquo; respective obligations. If any time period specified herein is extended, such extended time shall also be of the essence.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <h5 class="bold extra-margin-top-20">REGISTRATION OF BIDDERS</h5>
                        <ul class="list_points">
                            <li>
                                In order to qualify as a Bidder and be eligible to bid at an AstaGuru Auction, prospective bidders should complete all registration and verification formalities with AstaGuru as stipulated in these Terms and Conditions of Sale.
                            </li>
                            <li>
                                If a prospective bidder is not previously registered with AstaGuru, he shall pre-register to bid at an AstaGuru auction at least 4 (four) Business Days before the Auction date.
                            </li>
                            <li>
                                The prospective bidder shall fill the online registration form on the Website and may be required to provide AstaGuru, with the following details &ndash; (i) any government issued proof of identity; (ii) any government issued proof of residence; (iii) PAN and Aadhar details; (iv) any information requested by AstaGuru to examine the prospective bidder&rsquo;s source of funds; (v) purpose behind purchasing the Lot, if deemed necessary by AstaGuru; (vi) if the prospective bidder is a company, in addition to information in this Clause 2.3 (iv) and (v): (a) its certificate of incorporation; (b) proof of authority of the authorized representative to transact on behalf of the company; (c) details mentioned in 2.3(i), (ii) and (iii) of the authorized representative.
                            </li>
                            <li>
                                AstaGuru shall verify the details provided by the prospective bidder under Clause 2.3 and may at its sole discretion, refuse acceptance of registration of a prospective bidder, should any of the information furnished under Clause 2.3 is not acceptable or for any reason whatsoever.
                            </li>
                            <li>
                                The prospective bidder may be required to provide a financial reference and/or a deposit of Rs. [3,00,000 (Indian Rupees Three Lakh) to 5,00,000 (Indian Rupees Five Lakh)] or such other amount as determined by AstaGuru, prior to gaining bidding access at an AstaGuru Auction, if deemed necessary by AstaGuru.
                            </li>
                            <li>
                                AstaGuru reserves the right to: (i) request additional information from the prospective bidder to verify the information provided in the registration form; (ii) request any additional bank references or guarantees from the prospective bidder.
                            </li>
                            <li>
                                AstaGuru shall give bidding access to any prospective bidder at its discretion, subject to the fulfilment of all registration formalities as contained in these Terms and Conditions of Sale.
                            </li>
                            <li>
                                AstaGuru shall provide all bidding access at least 24 hours before the Auction Date.
                            </li>
                            <li>
                                AstaGuru reserves the right to cancel any bidding access provided to a Bidder.
                            </li>
                            <li>
                                AstaGuru reserves the right to withdraw a Lot before, during or after the bidding at an AstaGuru Auction, at its sole discretion, including if it has a reason to believe that the authenticity or accuracy of the Lot is in doubt.
                            </li>
                            <li>
                                AstaGuru reserves the right to postpone completion of a sale under an AstaGuru Auction until AstaGuru completes its registration and client identification formalities.
                            </li>
                        </ul>

                        <h5 class="bold extra-margin-top-20">RESERVE PRICE, ESTIMATES AND MARGIN</h5>
                        <ul class="list_points">
                            <li>
                                The Reserve Price is confidential and will not be disclosed to any Bidders.
                            </li>
                            <li>
                                AstaGuru may provide an Estimate Price for each Lot to be auctioned, based on the average market value of the said Lot as determined by AstaGuru.
                            </li>
                            <li>
                                The Estimate Price given by AstaGuru shall only be a guide to the Bidders and do not indicate with any accuracy, the Final Purchase Price (as defined below).
                            </li>
                            <li>
                                The Estimate Price given by AstaGuru and the Hammer Price of the Lot at an AstaGuru Auction do not include: (i) AstaGuru&rsquo;s margin at [15%] of the Hammer Price; (ii) any packing, insurance, shipping or handling charges in connection with the sale of the Lot; (iii) any duties or taxes payable on the Lot.
                            </li>
                        </ul>


                        <h5 class="bold extra-margin-top-20">CONDUCT OF ASTAGURU AUCTION</h5>
                        <ul class="list_points">
                            <li>The auction catalogue for an AstaGuru Auction shall be made available1 (one) week before the Auction Date for all prospective bidders.</li>
                            <li>
                                <b>Proxy Bids</b>
                                <ul>
                                    <li>The Bidder may place a proxy bid at any time, before an AstaGuru Auction goes live until the end of the auction.</li>
                                    <li>The Bidder may place a proxy bid by submitting a duly signed written bid form provided on the Website.</li>
                                    <li>AstaGuru reserves the right to reject any proxy bid at its discretion.</li>
                                    <li>The proxy bid should be at least 10% (ten per cent) more than the opening bid, and in case such a bid is made during an AstaGuru Auction, it shall be at least 10% (ten per cent) more than the next valid bid.</li>
                                </ul>
                            </li>
                            <li>
                                <b>Opening Bids</b><br /> The value of the opening bid shall be determined as follows:
                                <ul>
                                    <li>The opening bid shall be [10%] lower than the value of the lower estimate.</li>
                                    <li>In case of a ‘No Reserve’ auction, the opening bid shall be at [INR 20,000 (Indian Rupees Twenty Thousand)].</li>
                                </ul>
                            </li>
                            <li>
                                <b>Bid Increments</b>
                                <ul>
                                    <li>All live bids on the Website shall have an increment of 10% (ten per cent);</li>
                                    <li>If the bid exceeds INR 1,00,00,000 (Indian Rupees One Crore only), the increment on the live bid shall be 5%.</li>
                                </ul>
                            </li>
                            <li>
                                <b> Personalized bid notifications </b><br />The Bidder shall be kept informed about the progress of his bids at an AstaGuru Auction, including when he is outbid or when he wins a particular Lot by e-mail alerts.
                            </li>
                            <li>By bidding at an AstaGuru Auction, the Bidder makes an irrevocable offer to purchase the Lot</li>
                            <li>Bids may be placed in USD or INR. All foreign currency exchange rates during an AstaGuru Auction shall be based on a constant rate. However, they are subject to change after each session.</li>
                            <li>AstaGuru reserves the right to grant, record and reject any bid.</li>
                            <li>AstaGuru reserves the right to not award the winning bid to the Bidder with the highest bid on Auction Date, at its sole discretion.</li>
                            <li>Once the Bidder has placed a bid and/or a proxy bid, the Bidder cannot cancel such a bid. </li>
                            <li>The closing bid is considered to be the winning bid only if such a bid exceeds the Reserve Price.</li>
                            <li>In the event a bid is placed under three minutes from the closing schedule of the Lot, the closing time for that Lot will be extended by three minutes.</li>
                            <li>AstaGuru reserves the right to rescind the sale within 7 (seven) Business Days of the Auction Date on account of a breach of any of these Terms and Conditions of Sale.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-20">AUTHENTICITY GURANTEE</h5>
                        <ul class="list_points">
                            <li>
                                AstaGuru assures the authenticity of the Lot on its Website to the best of its knowledge and abilities. AstaGuru relies on the authenticity guarantees given by the sourceof the Lot and cannot be held liable for its accuracy. Buyers are advised to conduct their own verification of the Lot.
                            </li>
                            <li>
                                The Buyer may subject to conditions under Clause 5.3, raise a claim challenging the authenticity of the Lot within 1 month from the Collection Date.
                            </li>
                            <li>
                                In order to successfully raise a claim to challenge the authenticity of the Lot under this Clause 5:
                                <ul>
                                    <li>
                                        the Buyer shall be required to produce examinable proof clearly demonstrating that the Lot is deemed unauthentic by an established and acknowledged authority;
                                    </li>
                                    <li>
                                        the Lot should be in the same condition as it was at the time of purchase from AstaGuru, to AstaGuru&rsquo;s satisfaction; and
                                    </li>
                                    <li>
                                        any expenses incurred by AstaGuru in recovering the amount refundable under Clause 5.5 shall be borne by the Buyer.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                List of Authenticators- If the Lots are Memorabilia, AstaGuru relies on the below mentioned 3rd party authenticators, as may be updated from time to time, at AstaGuru&rsquo;s discretion.
                                <ul>
                                    <li>
                                        PSA / DNA, based out of Newport Beach, California, United States of America.
                                    </li>
                                    <li>
                                        Authentic Autographs Unlimited (AAU), based out of Las Vegas, United States of America
                                    </li>
                                    <li>
                                        James Spence Authentication (JSA), based out of Florida, United States of America.
                                    </li>
                                    <li>
                                        Online Authentics, based out of California, United States of America.
                                    </li>
                                    <li>
                                        Beckett Authentication Services (BAS), based out of Phoenix, Arizona, United States of America.
                                    </li>
                                    <li>
                                        Guaranteed Forensic Authenticators (GFA), based out of United States of America.
                                    </li>
                                    <li>
                                        Firma Stella based out of United Kingdom
                                    </li>
                                    <li>
                                        Field of Dreams, based out of Texas, United States of America.
                                    </li>
                                    <li>
                                        Online Authentics, based out of California, United States of America.
                                    </li>   
                                    <li>
                                        Antiquities Experts, based out of New York, United States of America.
                                    </li>
                                    <li>
                                        Wonderland Memorabilia, based out of Nottingham, UK
                                    </li>
                                    <li>
                                        Antiquities of California (AOC), United States of America
                                    </li>
                                    <li>
                                        SchwartzSportsAuthentic.com
                                    </li>
                                    <li>
                                        Upper Deck Authenticated (UDA), based out of California, United States of America.
                                    </li>
                                    <li>
                                        International Cricket Council (ICC) based out of Dubai, United Arab Emirates.
                                    </li>
                                    <li>
                                        Autograph Collectables, based out of California, United States of America.
                                    </li>
                                    <li>
                                        Icons.com.
                                    </li>
                                    <li>
                                        Online Authentics, based out of California, United States of America.
                                    </li>
                                    <li>
                                        Authenticatedsignedink.com.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                If the Buyer&rsquo;s claim to challenge the authenticity of the Lot under Clause 5 is successful, the Buyer shall be refunded the Final Purchase Price (as defined below), subject to recovery of such amount by AstaGuru from the source of the Lot.
                            </li>
                        </ul>



                                <h5 class="bold extra-margin-top-20">PAYMENT BY THE BUYER</h5>
                                <ul class="list_points">
                                    <li>The title and ownership interest in the Lot shall be transferred in favour of the Buyer only after all payment due under Clause 6 is received and cleared by AstaGuru.</li>
                                    <li>The final purchase price payable (“Final Purchase Price”) by the Buyer shall include the Hammer Price, AstaGuru’s margin and any shipping, packing and handling charges incurred by AstaGuru in connection with the Lot, as calculated by AstaGuru.</li>
                                    <li>AstaGuru shall raise an invoice in favour of the Buyer within 3 (three)Business Days of the Auction Date (“Invoice Date”).</li>
                                    <li>The Buyer shall pay the Final Purchase Price to AstaGuru within 7 (seven) days of the Invoice Date (“Collection Date”).</li>
                                    <li>Buyers who are Indian residents shall pay the Final Purchase Price in INR and all other Buyers shall pay in USD. If the Final Purchase Price is stipulated in INR terms, then the Buyer must ensure that AstaGuru receives the full payment of the Final Purchase Price, irrespective of exchange rate fluctuations, if any.</li>
                                    <li>In the event the Buyer does not pay the Final Purchase Price within the timeframe provided under Clause 6.4, he shall be liable to pay a late fee to AstaGuru at 2 % (two per cent) per month.</li>
                                    <li>In the event the Buyer does not pay the Final Purchase Price within the stipulated timeframe provided under Clause 6.4, AstaGuru shall treat such non-payment as a breach of these Terms and Conditions of Sale and Parties shall proceed on the premise that a Dispute under Clause 10 has arisen.</li>
                                    <li>In the event the Buyer does not pay the Final Purchase Price within the stipulated timeframe provided under Clause 6.4, AstaGuru may at its discretion retain the Lot in lien in lieu of the Final Purchase Price or may dispose the Lotas it may deem fit, including by a re-auction</li>
                                </ul>
                                <h5 class="bold extra-margin-top-20">DELIVERY AND COLLECTION OF PURCHASED LOT</h5>
                                <ul class="list_points">
                                    <li>Subject to receipt and clearance of the Final Purchase Price, AstaGuru shall ship the Lot to the Buyer within 7 Days from receipt of the Final Purchase Price (“Date of Payment”).</li>
                                    <li>Subject to receipt and clearance of the Final Purchase Price payable by the Buyer, the Buyer may also opt to collect the Lot from AstaGuru. </li>
                                    <li>Any Buyer who opts to collect the Lot from AstaGuru under Clause 7.2, but has not collected the said Lot within 30 days from the Date of Payment shall be charged a demurrage/storage fee at 2% per month on the Final Purchase Price of the Lot calculated from the Date of Payment.</li>
                                    <li>The Buyer shall be liable to insure the Lot against any damages or losses in transit</li>
                                </ul>
                                <h5 class="bold extra-margin-top-20">EXTENT OF ASTAGURU’S LIABILITY</h5>
                                <ul class="list_points">
                                    <li>The description of the Lot, as contained on the Website is to the best of AstaGuru’s opinion and as represented by the source. AstaGuru has not undertaken anindependent research exercise. Bidders are advised to engage and consult with independent professionals/experts on the same. </li>
                                    <li>AstaGuru shall not be liable for any damage or loss during transit of the Lot. Such losses must be covered by the Buyer as provided under Clause 7.4.</li>
                                    <li>AstaGuru shall not be liable in case the Website has any technical problems, including for any failure or delay in executing the bids placed via the Website. </li>
                                    <li>AstaGuru shall not be liable for the rejection of any bids received post the stipulated closing time of the bid. AstaGuru acknowledges that there may be a lag period between the Bidder placing the bid and the same being received and registered by AstaGuru. Bidders are advised to safeguard against such lags in placing individual bids by updating their account with the relevant Proxy Bid</li>
                                    <li>AstaGuru and any of its affiliates and (as applicable) their respective directors, officers, employees, representatives and advisors shall not be liable for any errors or omissions on the Website.</li>
                                </ul>
                                <h5 class="bold extra-margin-top-20">EXTENT OF BUYER’S LIABILITY</h5>
                                <ul class="list_points">
                                    <li>Securing the winning bid shall be deemed to result into an enforceable contract of sale between AstaGuru and the said Bidder in accordance with these Terms and Conditions of Sale.</li>
                                    <li>All Lots offered in an AstaGuru Auction are in its ‘present/current condition’ encompassing all existing faults and imperfections. Bidders are advised to inspect each Lot carefully before bidding.</li>
                                    <li>The Buyer shall be liable for all the packing, insurance, shipping or handling charges in connection with the sale of the Lot.</li>
                                    <li>The Buyer shall be liable for any duties or taxes in addition to the Final Purchase Price under Clause 6.2 in connection with the sale of the Lot.</li>
                                    <li>All Lots classified as Antiquities or Art Treasures under the Antiquities and Art Treasures Act, 1972 are non-exportable and cannot be taken out of India. Any attempt to export such a work without the express permission of Archaeological Survey of India (ASI) shall entirely be at the Buyer’s risk.</li>
                                    <li>All Lots deemed to be a ‘Notified Antiquity’ under the Antiquities and Art Treasures Act, 1972 need to be registered with ASI. After such a Lot is sold at the auction, it is the Buyer’s responsibility to intimate the ASI of such transfer.</li>
                                </ul>
                                <h5 class="bold extra-margin-top-20">GOVERNING LAW AND DISPUTE RESOLUTION</h5>
                                <ul class="list_points">
                                    <li>These Terms and Conditions of Sale shall be governed and interpreted by and construed in all respects in accordance with the Applicable Laws of India, as amended from time to time [, without giving effect to its principles of conflict of laws].</li>
                                    <li>Any dispute, claim or controversy whatsoever arising out of or in connection with or relating to theseTerms and Conditions of Sale, including the existence, breach, termination or invalidity thereof (“Dispute”),shall first be attempted to be resolved by good faith negotiations between the respective senior executives of AstaGuru and the Bidder (each a “Party”) who have the authority to settle such Dispute. Negotiations pursuant to this clause shall be requested by either Party by notice to the other Party in writing. </li>
                                    <li>In the event that any Dispute is not resolved through negotiations in accordance with Clause 10.2 above within 14 (fourteen) days after one Party has served a written notice on the other Party requesting the commencement of negotiations, either Party may elect to refer and finally resolve such Dispute by arbitration, under the provisions of the Arbitration and Conciliation Act, 1996 or any statutory amendment or modification thereof. Such election, pursuant to this Clause, shall be made by either Party in writing. </li>
                                    <li>Each of the Parties hereby acknowledges and agrees that its failure to participate in arbitration proceedings commenced pursuant to Clause 10.3 above in any respect or to comply with any request, order or direction of the arbitrator shall not preclude the arbitrator from proceeding with such arbitration and/or making a valid final award. </li>
                                    <li>The seat and venue of the arbitration shall be Mumbai. The arbitral tribunal shall consist of a sole arbitrator, appointed with the mutual consent of both Parties. Courts in Mumbai shall have exclusive jurisdiction in relation to any court proceedings, arising under, out of, or in relation to theseTerms and Conditions of Sale. The law governing this arbitration agreement between the Partiesshall be the Applicable Lawsof India, as amended from time to time. The language of the arbitration shall be English.</li>
                                    <li>The decision/ award of the arbitrator shall be made in writing and shall be final and binding on the Parties. The Parties shall submit to the arbitrator's award and the same shall be enforceable in any competent court of law.</li>
                                    <li>The Parties agree that Clauses 10.1 to 10.6 are severable from the rest of these Terms and Conditions of Sale and shall remain valid and in effect even if these Terms and Conditions of Sale fail (wholly or in part) or are cancelled for any reason.</li>
                                </ul>
                                <h5 class="bold extra-margin-top-20">MISCELLANEOUS</h5>
                                <ul class="list_points">
                                    <li>AstaGuru can make changes to these Terms and Conditions of Sale from time to time without any prior notification. Bidders are advised to make themselves aware of the updated Terms and Conditions of Sale, if any before an AstaGuru Auction.</li>
                                    <li>Each and every obligation under these Terms and Conditions of Sale shall be treated as a separate obligation and shall be severally enforceable as such in the event of any obligation or obligations being or becoming unenforceable in whole or part. To the extent that any Clause of these Terms and Conditions of Sale are unenforceable, they shall be deemed to be deleted and any such deletion shall not affect the remainder of these Terms and Conditions of Sale not so deleted, provided the fundamental terms of these Terms and Conditions of Sale are not altered.</li>
                                </ul>

                    </div><!-- col -->

                </div><!-- row -->
            </div><!-- modal-body -->

            <div class="modal-footer">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="agree_TC" name="TC">
                    <label class="custom-control-label" for="agree_TC">I agree with all Terms & Conditions for the upcoming sale</label>
                    
                </div>
                <div>
                    <button type="button" class="btn_lgrey btn_grey btn_bidnow btn_min_width" id="btnAccept"><span>Accept</span></button>
                    <button type="button" class="btn_lgrey btn_proxybid btn_min_width" id="btnDecline"><span>Decline</span></button>
                    <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrTC"></span>
                </div>
            </div>
        </div>
    </div>
</div><!-- modal -->


<!-- Modal -->
<div class="modal fade" id="OTP_Verify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">OTP Has Been Sent To Your Registered Mobile Number </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cross"></i></span>
                </button>
            </div>
            <div class="modal-body signform">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" name="" class="form-control" placeholder="Enter your OTP" id="txtOTP">
                    </div><!-- col -->

                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark full_width" id="btnOTPVerify"><span>Submit</span></button>
                    </div><!-- col -->
                    <span class="regErr" id="ErrOTP" style="color: red; display: block; text-align: left"></span>
                    <span class="regErr" id="SuccessOTP" style="color: green; display: block; text-align: left"></span>
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->


<!-- Modal -->
<div class="modal fade" id="SuccessfulRegistration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Thank you for choosing AstaGuru Online Auction House. Please check your inbox for further information</h5>
            </div>

            <div class="modal-body signform">
                <div class="row">

                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark full_width" id="btnOkay"><span>OK</span></button>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->



<script>


    $(document).ready(function () {
        var userId = $("#hiddenUserId").val();
        hiddenBaseURL = $("#hiddenbaseUrlPath").val();
        
        if (userId > 0) {
            window.location = hiddenBaseURL + '/Home/Home';
        }
    });


    

    function fieldValidationBlank(inputvalue, errId, msg, validationMsg) {
        errId.html('');
        errId.css("border-color", '');
        inputvalue.css("border-color", '');
        if (validationMsg == 'Blank') {
            if (inputvalue.val().length <= 0) {
                errId.html(msg);
                inputvalue.css("border-color", "red");
                $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                // ON Focus
                //$('html,body').animate({ scrollTop: inputvalue.offset().top }, 500, function () {
                //    inputvalue.focus();
                //});
                return false;
            }
        }
        else if (validationMsg == 'ddl') {

            if (inputvalue.val() == 0) {
                errId.html(msg);
                inputvalue.css("border-color", "red");
                $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                return false;
            }
        }


    }

    function fieldValidation(inputvalue, errId, msg, validationMsg) {
        errId.html('');
        errId.css("border-color", '');
        inputvalue.css("border-color", '');

        if (typeof inputvalue.val() === "undefined") {
            errId.html('');
            inputvalue.css("border-color", '');
            return true;
        }
        else if (inputvalue.val().length <= 0) {
            errId.html('');
            inputvalue.css("border-color", '');
            return true;
        }
        else {
            if (validationMsg == 'Firstname') {
                if (/^[A-Za-z.]+$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Lastname') {
                if (/^[A-Za-z. ]+$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Email') {
                if (/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Password') {

                if (/^.{6,50}$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Mobile') {
                if (/^[1-9][\d]+$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'ZipNumeric') {
                if (/^[0-9]+\d{5}$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }

            }
            else if (validationMsg == 'ZipAlphaNumeric') {
                if (/^[A-Za-z0-9]+$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }

            }
           
        }
    }
    var isGender;
    var strInterested = '';

    $('#btnsubmit').click(function () {
        $("#ErrGender").html('');
        $("#ErrIntrestedIn").html('');
        $("#ErrDay").html('');
        $("#ErrMonth").html('');
        $("#ErrYear").html('');
        $("#ErrEmail").html('');
        $("#ErrMobileNo").html('');
        $("#ErrUsername").html('');
        $("#Err1Password").html('');
        var Interested = $('#ddlIntrestedIn').val();
        $("#ErrBiddingInterest").html('');

        

        


        var FirstName = fieldValidationBlank($('#txtFirstName'), $('#ErrFirstName'), '* Enter First Name', 'Blank')
        if (FirstName == false) { return false; }

        var RexFirstName = fieldValidation($('#txtFirstName'), $('#ErrFirstName'), '* Enter valid First name', 'Firstname')
        if (RexFirstName == false) { return false; }

        var LastName = fieldValidationBlank($('#txtLastName'), $('#ErrLastName'), '* Enter Last Name', 'Blank')
        if (LastName == false) { return false; }

        var RexLastName = fieldValidation($('#txtLastName'), $('#ErrLastName'), '* Enter valid Last name', 'Lastname')
        if (RexLastName == false) { return false; }

        var Email = fieldValidationBlank($('#txtEmail'), $('#ErrEmail'), '* Enter Email ID', 'Blank')
        if (Email == false) { return false; }

        var RexEmail = fieldValidation($('#txtEmail'), $('#ErrEmail'), '* Enter valid Email ID', 'Email')
        if (RexEmail == false) { return false; }
        
        var Password = fieldValidationBlank($('#txt1Password'), $('#Err1Password'), '* Enter Password', 'Blank')
        if (Password == false) { return false; }

        //var RexPassword = fieldValidation($('#txt1Password'), $('#Err1Password'), '* Password Not Less Than 6 Digits', 'Password')
        //if (RexPassword == false) { return false; }

        if ($('#txt1Password').val().length < 6)
        {
            $('#Err1Password').html('* Password Not Less Than 6 Digits');
            $('html, body').animate({ scrollTop: $("#txt1Password").offset().top - 80 }, 200);
            return false;
        }
        
        var ConfirmPassword = fieldValidationBlank($('#txtConfirmPassword'), $('#ErrConfirmPassword'), '* Re-enter Password', 'Blank')
        if (ConfirmPassword == false) { return false; }


        if ($('#txt1Password').val() == $('#txtConfirmPassword').val())
        {

        }
        else {
            document.getElementById("txtConfirmPassword").style.borderColor = "Red";
            document.getElementById('ErrConfirmPassword').innerHTML = "* Password Does Not Match";
            $('html, body').animate({ scrollTop: $("#txt1Password").offset().top - 80 }, 200);
            return false;
        }

        var CountryCode = fieldValidationBlank($('#ddlCountryCode'), $('#ErrCountryCode'), '* Select Country Code', 'ddl')
        if (CountryCode == false) { return false; }

        var MobileNo = fieldValidationBlank($('#txtMobileNo'), $('#ErrMobileNo'), '* Enter Mobile Number', 'Blank')
        if (MobileNo == false) { return false; }


        var RexMobileNo = fieldValidation($('#txtMobileNo'), $('#ErrMobileNo'), '* Enter Valid Mobile', 'Mobile')
        if (RexMobileNo == false) { return false; }



        var Username = fieldValidationBlank($('#txUsername'), $('#ErrUsername'), '* Enter Username', 'Blank')
        if (Username == false) { return false; }

        isGender = $("input[name='gender']:checked").val();
        if (isGender == undefined) {
            $("#ErrGender").html('* Select Gender');
            $('html, body').animate({ scrollTop: $("input[name='gender']").offset().top - 80 }, 200);
            return false;
        }

        var Day = fieldValidationBlank($('#txtDay'), $('#ErrDay'), '* Select Date', 'Blank')
        if (Day == false) { return false; }

        if ($('#txtDay').val() < 32 && $('#txtDay').val() > 0)
        { }
        else {
            $('#ErrDay').html('* Enter Valid Day');
            $('html, body').animate({ scrollTop: $("#txtDay").offset().top - 80 }, 200);
            return false;
        }

        var Month = fieldValidationBlank($('#txtMonth'), $('#ErrMonth'), '* Select Month', 'Blank')
        if (Month == false) { return false; }


        if ($('#txtMonth').val() < 13 && $('#txtMonth').val() > 0)
        { }
        else {
            $('#ErrMonth').html('* Enter Valid Month');
            $('html, body').animate({ scrollTop: $("#txtMonth").offset().top - 80 }, 200);
            return false;
        }

        var Year = fieldValidationBlank($('#txtYear'), $('#ErrYear'), '* Select Year', 'Blank')
        if (Year == false) { return false; }

        if ($('#txtYear').val().length == 4)
        {
        }
        else {
            $('#ErrYear').html('* Enter Valid Year');
            $('html, body').animate({ scrollTop: $("#txtYear").offset().top - 80 }, 200);
            return false;
        }

        var dobDay = $('#txtDay').val();
        var dobMonth = $('#txtMonth').val();
        var dobYear = $('#txtYear').val();
        dob = new Date(dobYear + '-' + dobMonth + '-' + dobDay);
        var today = new Date();
        var age = Math.floor((today - dob) / (365.25 * 24 * 60 * 60 * 1000));

        if (age < 18) {
            $('#ErrDay').html('Age should be 18+');
            $('html, body').animate({ scrollTop: $("#txtDay").offset().top - 80 }, 200);
            return false;
        }

        var AboutUs = fieldValidationBlank($('#ddlAboutUs'), $('#ErrAboutUs'), '* Select About Us', 'ddl')
        if (AboutUs == false) { return false; }

        if (Interested != null) {
            for (var i = 0; i < Interested.length; i++) {
                strInterested = strInterested + Interested[i] + ',';
            }

            strInterested = $.trim(strInterested);
            var lastChar = strInterested.slice(-1);
            if (lastChar == ',') {
                strInterested = strInterested.slice(0, -1);
            }
        }
        else {
            document.getElementById('ErrIntrestedIn').innerHTML = "Select Interested In";
            $('html, body').animate({ scrollTop: $("#ddlIntrestedIn").offset().top - 80 }, 200);
            return false;
        }

        isInterestedInBidding = $("input[name='InterestedInBidding']:checked").val();
        if (isInterestedInBidding == undefined) {
            $("#ErrBiddingInterest").html('* Select Interested in bidding');
            $('html, body').animate({ scrollTop: $("input[name='InterestedInBidding']").offset().top - 80 }, 200);
            return false;
        }


        var Country = fieldValidationBlank($('#txtCountry'), $('#ErrCountry'), '* Enter Country', 'Blank')
        if (Country == false) { return false; }

        var Address1 = fieldValidationBlank($('#txtAddress1'), $('#ErrAddress1'), '* Enter Address Line 1', 'Blank')
        if (Address1 == false) { return false; }

        var Address2 = fieldValidationBlank($('#txtAddress2'), $('#ErrAddress2'), '* Enter Address Line 2', 'Blank')
        if (Address2 == false) { return false; }


        var State = fieldValidationBlank($('#txtState'), $('#ErrState'), '* Enter State', 'Blank')
        if (State == false) { return false; }

        var ZipCode = fieldValidationBlank($('#txtPostalCode'), $('#ErrPostalCode'), '* Enter Zip Code', 'Blank')
        if (ZipCode == false) { return false; }


        var countryId = $("#hiddenCountry_id").val();

        if (countryId == 101) // India
        {
            var RexPostalCode = fieldValidation($('#txtPostalCode'), $('#ErrPostalCode'), '* Enter valid Zip code', 'ZipNumeric')
            if (RexPostalCode == false) { return false; }
        }
        else {
            var RexPostalCode = fieldValidation($('#txtPostalCode'), $('#ErrPostalCode'), '* Enter valid Zip code', 'ZipAlphaNumeric')
            if (RexPostalCode == false) { return false; }
        }

        var City = fieldValidationBlank($('#txtCity'), $('#ErrCity'), '* Enter City', 'Blank')
        if (City == false) { return false; }

        
        var checkDB = {};
        checkDB.email = $('#txtEmail').val();
        checkDB.Mobile = $('#txtMobileNo').val();
        checkDB.username = $('#txUsername').val();

        $.ajax({
            url: "/User/CheckData",
            type: 'POST',
            dataType: 'json',
            data: checkDB,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {
                    if (ReturnData.isEmail > 0) {
                        document.getElementById('ErrEmail').innerHTML = "Email id Already Exists. Please Use Alternate Email ID";
                        $('html, body').animate({ scrollTop: $("#txtEmail").offset().top - 80 }, 200);
                        return false;
                    }
                    if (ReturnData.isMobile != null) {
                        document.getElementById('ErrMobileNo').innerHTML = "Mobile Number Already Exists. Please Use Alternate Mobile";
                        $('html, body').animate({ scrollTop: $("#txtMobileNo").offset().top - 80 }, 200);
                        return false;
                    }
                    if (ReturnData.isUsername != null) {
                        document.getElementById('ErrUsername').innerHTML = "Username Already Exists. Please Use Alternate Username";
                        $('html, body').animate({ scrollTop: $("#txUsername").offset().top - 80 }, 200);
                        return false;
                    }
                    else {
                        $('#Register_TC_Modal').modal('toggle');
                    }
                }
                else if (ReturnData.status == 'Exception') {
                    document.getElementById('ErrException').innerHTML = ReturnData.Message;
                }
            },
        });

    });

    $('#btnAccept').click(function () {

        $("#ErrTC").html("");
     var isTcChecked =  $("input[name='TC']:checked").val() ? 1 : 0;

     if (isTcChecked == 0)
     {
         document.getElementById('ErrTC').innerHTML = "Accept Terms and Conditions";
         return false;
     }

     var isGender = $("input[name='gender']:checked").val();

     var isInterestedInBidding = $("input[name='InterestedInBidding']:checked").val();

     $("#divLoaderMaster").show();
     

        var Register = {};
        Register.name = $('#txtFirstName').val();
        Register.lastname = $('#txtLastName').val();
        Register.email = $('#txtEmail').val();
        Register.password = $('#txt1Password').val();
        Register.countryCode = $('#ddlCountryCode').val();
        Register.Mobile = $('#txtMobileNo').val();
        Register.username = $('#txUsername').val();
        Register.genderid = isGender;
        Register.bday = $('#txtDay').val();
        Register.bmonth = $('#txtMonth').val();
        Register.byear = $('#txtYear').val();
        Register.aboutId = $('#ddlAboutUs').val();
        Register.interestedIds = strInterested;
        Register.country = $('#txtCountry').val();
        Register.address1 = $('#txtAddress1').val();
        Register.address2 = $('#txtAddress2').val();
        Register.state = $('#txtState').val();
        Register.zip = $('#txtPostalCode').val();
        Register.city = $('#txtCity').val();
        Register.MobileVerified = $('#hiddenisMobileVerify').val();
        Register.countryid = $('#hiddenCountry_id').val();
        Register.stateid = $('#hiddenState_id').val();
        Register.cityid = $('#hiddenCity_id').val();
        Register.applyforbid = isInterestedInBidding;

        $.ajax({
            url: "/User/SaveRegistration",
            type: 'POST',
            dataType: 'json',
            data: Register,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {

                    //gtag('event', 'page_view', {
                    //    'send_to': 'AW-942532584',
                    //    'value': 'replace with value',
                    //    'items': [{
                    //        'id': 'replace with value',
                    //        'location_id': 'replace with value',
                    //        'google_business_vertical': 'custom'
                    //    }]
                    //});

                    $("#divLoaderMaster").hide();
                    $('#Register_TC_Modal').modal('toggle');
                    $('#SuccessfulRegistration').modal('toggle');
                }
                else if (ReturnData.status == 'Error') {
                }
                else if (ReturnData.status == 'Exception') {
                    $("#divLoaderMaster").hide();
                    document.getElementById('ErrException').innerHTML = ReturnData.Message;
                    setTimeout(function () {
                        document.getElementById('ErrException').innerHTML = "";
                        $('#Register_TC_Modal').modal('toggle');
                    }, 3000);
                }
            },
        });
    });



    


    $('#btnOkay').click(function () {
        var basePathUrl = $('#hiddenbaseUrlPath').val();
        window.location = basePathUrl + '/Home/Home';
    });

    $('#btnDecline').click(function () {
        $('#Register_TC_Modal').modal('toggle');
    });

    // Check Mobile Number & Send OTP To Mobile Number
    $('#btnverify').click(function () {

        var MobileNo = fieldValidationBlank($('#txtMobileNo'), $('#ErrMobileNo'), '* Enter Mobile Number', 'Blank')
        if (MobileNo == false) { return false; }


        var RexMobileNo = fieldValidation($('#txtMobileNo'), $('#ErrMobileNo'), '* Enter valid Mobile Number', 'Mobile')
        if (RexMobileNo == false) { return false; }


        var isMobileVerify = $('#hiddenisMobileVerify').val();

        if (isMobileVerify == 1)
        {
            $('#ErrMobileNo').html('Mobile Already Verified');
            return false;
        }

        var Resendcode = {};
        Resendcode.Mobile =$('#ddlCountryCode').val() + $('#txtMobileNo').val();

        $.ajax({
            url: "/User/ResendOTP",
            type: 'POST',
            dataType: 'json',
            data: Resendcode,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.Resendmsg) {
                    $('#OTP_Verify').modal('toggle');
                    //document.getElementById('SuccessResendOTP').innerHTML = "OTP Sent Successfully";
                    //return false;
                }
                else if (ReturnData.ResendmsgErr) {
                    //event.stopPropagation();
                    //$("#verify_otp_box").slideToggle("fast");
                    document.getElementById('ErrMobileNo').innerHTML = "* Mobile Number Already Exists. Please Use Alternate Mobile Number";
                }
            },
        });


    });

    $('#btnverify1').click(function () {
        $('#btnverify').click();
    });

    $('#btnOTPVerify').click(function () {
        document.getElementById('ErrOTP').innerHTML = "";
        document.getElementById('SuccessOTP').innerHTML = "";
        //document.getElementById('SuccessResendOTP').innerHTML = "";

        if ($('#txtOTP').val().length <= 0) {
            document.getElementById('ErrOTP').innerHTML = "Please Enter OTP";
            return false;
        }
        var val = $('#txtOTP').val();
        if (/^\d{4}$/.test(val)) {
            // value is ok, use it
        } else {
            document.getElementById('ErrOTP').innerHTML = "* Enter Your 4 Digit OTP Number";
            return false;
        }

        var CheckOTP = {};
        //RegisterData.id = $('#id').val();
        CheckOTP.OTPNumber = $('#txtOTP').val();

        $.ajax({
            url: "/User/CheckOTP",
            type: 'POST',
            dataType: 'json',
            data: CheckOTP,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.OTPmsg) {
                    document.getElementById('SuccessOTP').innerHTML = "Mobile Number Verified";
                    $("#hiddenisMobileVerify").val(1);
                    setTimeout(function () {
                        document.getElementById('SuccessOTP').innerHTML = "";
                        $('#OTP_Verify').modal('toggle');
                    }, 1000);
                    return false;
                }
                else if (ReturnData.OTPErrmsg) {
                    document.getElementById('ErrOTP').innerHTML = "Please Enter Valid Code";
                    return false;
                }
            },
        });
    });



    // COUNTRY - STATE - CITY

    //Country
    $("#txtCountry").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoCountry",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtCountry").style.borderColor = "Red";
                        document.getElementById('ErrCountry').innerHTML = "* This Country is not available";
                    }
                    else {
                        document.getElementById("txtCountry").style.borderColor = "";
                        document.getElementById('ErrCountry').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.countryname, id: item.countryid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenCountry_id").val(ui.item.id);
        },
    });

    // State
    $("#txtState").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoState",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term, Country_id: $('#hiddenCountry_id').val() },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtState").style.borderColor = "Red";
                        document.getElementById('ErrState').innerHTML = "* This State is not available";
                    }
                    else {
                        document.getElementById("txtState").style.borderColor = "";
                        document.getElementById('ErrState').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.statename, id: item.stateid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenState_id").val(ui.item.id);
        },
    });

    // City
    $("#txtCity").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoCity",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term, State_id: $('#hiddenState_id').val() },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtCity").style.borderColor = "Red";
                        document.getElementById('ErrCity').innerHTML = "* This City is not available";
                    }
                    else {
                        document.getElementById("txtCity").style.borderColor = "";
                        document.getElementById('ErrCity').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.cityname, id: item.cityid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenCity_id").val(ui.item.id);
        },
    });
    
</script>

