﻿
@{
    ViewBag.Title = "services";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}


<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <h3 class="sbold uppercase">Services</h3>
        <div class="accordion extra-margin-top-40" id="accordionExample">
            @Html.Raw(ViewBag.Services)
          
            @*<div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Auction
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>AstaGuru, India's premium online auction house, caters to a niche strata of clientele globally since its inception in 2008. We conduct annual auctions for an impressive range of Art and Artefacts namely, Modern & Contemporary Indian Art, Southeast Asian Contemporary Art, Collectibles & Antiques such as Sculptures, Classic Miniatures Paintings, Fine Writing Instruments, Luxury Timepieces, Celebrity Memorabilia, Vintage Cars, Aristocratic Heirloom Jewellery, Exquisite Textiles and so on.</p>
                        <p>Our experience that spans over three profound decades of successful art management, coupled with a sincere passion for the craft and ingenuity, has enabled us to transform our knowledge into a fully functional online structure. AstaGuru aims at diminishing the challenges of live auctions by elevating the platform into the digital realm.</p>
						<p>With a team of skilled experts, our collections are an astute melange of meticulously curated artwork. This ensures that only the best and noteworthy creations are part of our auctions.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Consultation
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Art is created with a soul and it is imperative that its essence resonates with the one who acquires it. We work with keen individuals to help them enrich their lives with pertinent art. Be it your residential space or commercial chambers, our team works in tandem with your fundamental preferences and overall aura to help you find the suitable piece that harmonizes with your ideals and conveys a lasting impression.</p>
                        <p>Our Founder, Mr Vickram Sethi, is an ardent connoisseur of art and has a profound understanding of the art world, amassed over three decades. His discerning eye and valuable insights have proved crucial in ascertaining works of promising innate potential and seminal attributes.</p>
						<p>Under his guiding beacon, enthusiasts can delve into a world of astounding artworks, all the while resting assured that their expectations will be met appositely, if not surpassed. We take immense pride in realizing this wholesome communion through our consultation services.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Restoration
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>AstaGuru reveres art in all its forms. Paintings and other artworks are susceptible to tampering and decay over the course of time, hence we appoint capable restorers to help salvage their original state in all its glory. Restoration is best left to the experts, considering this service entails the longevity of the artwork.</p>
                        <p>An artwork is akin to a living entity and thus we not only undertake restoration operations of dilapidated work, but help conserve it by employing protective measures. Our conservation team is especially skilled to carry out tasks of such intense delicacy with utmost proficiency and one can be at ease when their prized possession is under our diligent care.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Valuation
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>An artwork is only valuable if its significance is assessed keeping various parameters in mind, apart from the superficial condition of the piece. Over the course of our journey we have honed our skills and combining them with a structurally sound and real time process, we are able to operate from a place of comprehensive analysis before determining the estimated value of the artwork or collectible. AstaGuru conducts a thorough research and investigates all determinant aspects, including the provenance, artist, medium, subject, authenticity, quality and the current market value. </p>
                        <p>The art field can be a treacherous domain and one might be easily misled into believing that a piece is worth far less than its actual value, if not careful. Thus, it is imperative to determine the true value of a creation with the help of industry and market experts. </p>
                    </div>
                </div>
            </div>*@
        </div>
    </div><!-- content -->

</div><!-- Wrapper -->
