﻿
@{
    ViewBag.Title = "TermsAndConditions";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}


<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <h3 class="sbold uppercase">Terms & Conditions</h3>
        <div class="accordion extra-margin-top-40" id="accordionExample">
            @Html.Raw(ViewBag.TermsAndConditions)
            @*<div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            General Terms
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <h5 class="sbold black">By participating in this auction, you acknowledge that you are bound by the Conditions for Sale listed below and on the website www.astaguru.com</h5>
                        <ul class="list_points">
                            <li>Securing the Winning Bid results in an enforceable contract of sale.</li>
                            <li>AstaGuru is authorized by source to display at AstaGuru's discretion images and description of all lots in the catalogue and on the website.</li>
                            <li>AstaGuru can grant, record and reject any bid.</li>
                            <li>Bidding access shall be given at AstaGuru's discretion.</li>
                            <li>AstaGuru may ask for a deposit of Rs. 500,000 or an equivalent in US$ on lots prior to giving bidding access.</li>
                            <li>AstaGuru may review bid history of specific lots periodically to preserve the efficacy of the auction process.</li>
                            <li>AstaGuru has the right to withdraw a lot before, during or after the bidding, if it has reason to believe that the authenticity of the Property or accuracy of description is in doubt.</li>
                            <li>Reserve price on lots are confidential.</li>
                            <li>AstaGuru shall raise all invoices including Auction House Margin and related taxes.</li>
                            <li>The Auction House Margin shall be calculated at 15% on the hammer price.</li>
                            <li>All foreign currency exchange rates during the Auction are made on a constant. However they are subject to change for each auction.</li>
                            <li>All invoicing details should be provided by the buyer prior to the auction.</li>
                            <li>All payments shall be made within 7 days from the date of the invoice.</li>
                            <li>In case payment is not made within the stated time period, it shall be treated as a breach of contract, AstaGuru shall take any steps including the institution of legal proceedings.</li>
                            <li>AstaGuru will charge a 2% late payment fine per month.</li>
                            <li>If the buyer wishes to collect the property from AstaGuru, it must be collected within 30 Days from the date of the auction. The buyer shall be charged a 2% storage fee if the property is not collected on time.</li>
                            <li>AstaGuru reserves the right not to award the Winning Bid to the Bidder with the highest Bid at Closing Date if it deems it necessary to do so.</li>
                            <li>In an unlikely event of any technical failure and the website is inaccessible, the lot closing time shall be extended.</li>
                            <li>Bids recorded prior to the technical problem shall stand valid according to the terms of sale.</li>
                            <li>All Lots are offered during the auction in its ‘present/current condition’, this implies and encompasses all existing faults and imperfections. We encourage all potential buyers to inspect each item carefully before bidding.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           Authenticity Guarantee
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>AstaGuru assures on behalf of source that all properties on the website are genuine works of the artists listed.</li>
                            <li>However in an unlikely event if a Lot is proved to be unauthentic to AstaGuru’s satisfaction within a period of 1 month from the collection date, the seller shall be liable to pay back the full amount to the buyer. These claims will be handled on a case-by-case basis, and will require that examinable proof which clearly demonstrates that the Lot is deemed unauthentic by an established and acknowledged authority. Only the actual buyer (as registered with AstaGuru) can make the claim.</li>
                            <li>The Lot when returned, should be in the same condition as when it was purchased.</li>
                            <li>AstaGuru shall charge the buyer in case any steps are to be taken for special expenses that shall take place in order to prove the authenticity of the Lot.</li>
                            <li>In case the source fails to refund the amount, Astaguru shall be authorized by the buyer to take legal action on behalf of the buyer to recover the money at the expense of the buyer.</li>
                        </ul>
                        <h5 class="sbold black extra-margin-top-30">Memorabilia-</h5>
                        <ul class="list_points">
                            <li>Astaguru relies on 3rd party authenticators for their Forensic Expertise in order to verify the signature.</li>
                            <li>AstaGuru assures on behalf of the issuing 3rd party authenticators that all properties on the website are genuine works as listed.</li>
                            <li>The bidder must take the onus of inspecting the condition and cross checking the descriptive information of the lots mentioned prior to the auction under the guidance of experts of their discretion.</li>
                        </ul>

                        <h5 class="sbold black extra-margin-top-30">List of Authenticators- Astaguru relies on the below mentioned 3rd party authenticators</h5>
                        <ul class="list_points">
                            <li>PSA / DNA, based out of Newport Beach, California, United States of America.</li>
                            <li>Authentic Autographs Unlimited (AAU), based out of Las Vegas, United States of America</li>
                            <li>James Spence Authentication (JSA), based out of Florida, United States of America.</li>
                            <li>Online Authentics, based out of California, United States of America.</li>
                            <li>Beckett Authentication Services (BAS), based out of Phoenix, Arizona, United States of America.</li>
                            <li>Guaranteed Forensic Authenticators (GFA), based out of United States of America.</li>
                            <li>Firma Stella based out of United Kingdom</li>
                            <li>Field of Dreams, based out of Texas, United States of America.</li>
                            <li>Online Authentics, based out of California, United States of America.</li>
                            <li>Antiquities Experts, based out of New York, United States of America.</li>
                            <li>Wonderland Memorabilia, based out of Nottingham, UK</li>
                            <li>Antiquities of California (AOC), United States of America</li>
                            <li>SchwartzSportsAuthentic.com</li>
                            <li>Upper Deck Authenticated (UDA), based out of California, United States of America.</li>
                            <li>International Cricket Council (ICC) based out of Dubai, United Arab Emirates. • Autograph Collectables, based out of California, United States of America.</li>
                            <li>Icons.com.</li>
                            <li>Online Authentics, based out of California, United States of America.</li>
                            <li>Authenticatedsignedink.com.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Extent of AstaGuru's Liability
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>AstaGuru has to obtain the money from the source and refund to the buyer the amount of purchase value in case the work is not authentic.</li>
                            <li>All damages and loss during transit must be covered by the insurance policy, AstaGuru will not be liable.</li>
                            <li>AstaGuru or any member of its team is not liable for any mistakes made in the catalogue.</li>
                            <li>The description and additional information provided by Astaguru in the catalogue is to our best opinion, however we have not undertaken a comprehensive research exercise and therefore potential buyers are encouraged to gauge and consult with professional advisors of their preference.</li>
                            <li>If any discrepancy with regards to description and additional information occurs Astaguru/Astaguru Team Members are not liable for the same.</li>
                            <li>Astaguru’s liability with regards to authenticity is limited to the values mentioned in Capital letters in the title heading section of the Lot. Furthermore the Astaguru’s liability for the same is limited for a period of one year from the date of the auction of the lots.</li>
                            <li>AstaGuru is not liable for any claims on insurance.</li>
                            <li>AstaGuru is not liable in case the website has any technical problems.</li>
                            <li>If any part of the Conditions for Sale between the Buyer and AstaGuru is found by any court to be invalid, illegal or unenforceable, that part may be discounted and the rest of the conditions shall be enforceable to the fullest extent permissible by law.</li>
                            <li>The said named Owner being the principal is the sole, absolute and rightful owner of the Lot(s) and is able to transfer good and marketable title over the Lot(s) to AstaGuru, free from any liens, encumbrances, unpaid taxes or dues or charges. There are no legal proceedings pending in respect of the Lot(s) and the Lot(s) is not the subject matter of any dispute.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                           Extent of the Bidder’s Liability
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>The bidder must take the onus of inspecting the condition and cross checking the descriptive information with regards to the lots prior to the auction schedule.</li>
                            <li>The bidder must assert their decision based on their own judgment.</li>
                            <li>In parity with the unpredictable nature of internet/Mobile App data network there may be a lag period between the time of the bidder placing the bid and it being received/registered by Astaguru’s server. Although the bidder may have placed a bid within the stipulated closing schedule, none the less if Astaguru receives the same post the closing schedule the bid will be rejected under such circumstances. Therefore bidders are requested to update their account with the relevant Proxy Bid in order to safeguard any lag oriented delays while placing individual bids.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFIve">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFIve" aria-expanded="false" aria-controls="collapseFIve">
                           Law and Jurisdiction
                        </button>
                    </h5>
                </div>
                <div id="collapseFIve" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>The terms and conditions of this Auction are subject to the laws of India, which will apply to the construction and to the effect of the clauses. All parties are subject to the exclusive jurisdiction of the courts at Mumbai, Maharashtra, India.</li>
                            <li>Under the circumstances that a legal notice has to be issued by Astaguru, the modes to do so are as follows:</li>
                            <li>I: Via an email to the registered email id as per Astaguru’s records.</li>
                            <li>II: Via dispatch of a courier to the registered address as per Astaguru’s records.</li>
                        </ul>
                    </div>
                </div>
            </div>*@
        </div>
    </div><!-- content -->

</div><!-- Wrapper -->

