﻿
@{
    ViewBag.Title = "Timepieces";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;

    Astaguru.Services.UserService.DepartmentService DS = new Astaguru.Services.UserService.DepartmentService();
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    string categoryid = "22";

    int currentauctionid = CAS.GetCurrentAuctionId();
    AUC.Auctionid = currentauctionid;
    int currentCount = 0;
    int pastCount = 0;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
	<div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
		<div class="title_flex">
			<h3 class="sbold uppercase">Timepieces</h3>

			<a href="@baseUrlPath/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
			</div>

		<div class="row custom_row">
			<div class="col-md-6 extra-margin-top-40 custom_col">
				<p>Watches and Timepieces have been a collector’s item for as long as one can remember. Emblematic of aristocratic proclivities and a keen eye for mechanical wonders, timepieces are available in various shapes and sizes. From vintage table clocks and pocket watches to the more contemporary luxury wristwatches, AstaGuru exhibits a wholesome collection of exquisite timepieces. These watches are methodically researched and evaluated before being selected by our experts to be showcased for the auction. Catering to the sentiments of every horologist, expert and novice alike, we have a wide selection featuring pieces of various price points on offer. </p>		 
				
				<p class="color_light"><b>The GST on all sales under this segment will be charged as follows:</b> <br>
•	GST on sale of used goods procured from non-business entity under this segment will be charged at 18% rate on the margin value prescribed under Rule 32(5) of CGST rules. <br>
•	GST on sale of all goods other than those falling under above category will be charged at 18% on full sales value.  <br><br>
<b>Lot categorized as Antique (over 100 years) under the antiquities and art treasures act, 1972 will be charged as-</b> <br>
•	GST on sale of used goods procured from non-business entity under this segment will be charged at 12% rate on the margin value prescribed under Rule 32(5) of CGST rules.<br>
•	GST on sale of all goods other than those falling under above category will be charged at 12% on full sales value.

</p>		
				<p>For further details, please contact:</p>		
			</div><!-- col -->
			<div class="col-md-6 extra-margin-top-40 custom_col text-right">
				<div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/dDU-qIivyhg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
			</div><!-- col -->
		</div><!-- row -->	
		<div class="row">
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
                        <img src="https://www.astaguru.com/Content/images/Deelip.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Deelip Jagasia</h5>
					<h6>Specialist</h6>						
					<a href="mailto:deelip@astaguru.com" class="team_email">deelip@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->			
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
                        <img src="https://www.astaguru.com/Content/images/Dipak.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Deepak Moorthy</h5>
					<h6>Specialist</h6>						
					<a href="mailto:deepak@astaguru.com" class="team_email">deepak@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->
					
		</div><!-- row -->	

        <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
            <div id="HorizontalTab">
                <ul class="resp-tabs-list hor_1">
                    <li>past auctions</li>
                    <li>current auction</li>
                </ul>
                <div class="resp-tabs-container hor_1">

                    <div>
                        <div class="row">

                            @foreach (var item in DS.getPastAuctionByDepartment(categoryid))
                            {
                                pastCount++;

                                if (pastCount < 4)
                                {
                                    <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                                        <a href="@baseUrlPath/Past/PastDetails?productid=@item.productid" class="auction_box">
                                            <div class="img_auction panel-body">
                                                <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                            </div><!-- img auction -->
                                            <div class="auction_content">
                                                <h2 class="title_font">@Html.Raw(@item.Auctionname)</h2>
                                                <div class="lotno">Lot @item.reference</div>
                                                <p>@item.title</p>
                                            </div><!-- auction_content -->
                                        </a><!-- Auction box -->
                                    </div><!-- col -->
                                }

                            }

                        </div><!-- row -->
                        @if (pastCount > 3)
                        {
                            <div class="text-center extra-margin-top-30"><a href="@baseUrlPath/Home/ShowProductByDepartment?categoryid=@categoryid" class="outline_link">View More</a></div>
                        }
                    </div><!-- Tab 1 -->

                    <div>
                        <div class="row match_all">

                            @foreach (var item in DS.getCurrentAuctionByDepartment(categoryid))
                            {
                                currentCount++;

                                if (currentCount < 4)
                                {
                                    <div class="col-sm-6 col-lg-4 extra-padding-top-40">
                                        <a href="@baseUrlPath/Home/LotDetails?productid=@item.productid&page=0" class="auction_box">
                                            <div class="img_auction panel-body">
                                                <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                            </div><!-- img auction -->
                                            <div class="auction_content">
                                                <h2 class="title_font">@Html.Raw(@item.Auctionname)</h2>
                                                <div class="lotno">Lot @item.reference</div>
                                                <p>@item.title</p>
                                            </div><!-- auction_content -->
                                        </a><!-- Auction box -->
                                    </div><!-- col -->
                                }

                            }
                        </div><!-- row -->
                        @if (currentCount > 3)
                        {
                            <div class="text-center extra-margin-top-30"><a href="@baseUrlPath/Home/ShowProductByDepartment?categoryid=@categoryid" class="outline_link">View More</a></div>
                        }

                        @if (currentCount == 0)
                        {
                            <span class="no_data">There is no auction live </span>
                        }

                    </div><!-- Tab 2 -->

                </div><!-- resp-tabs-container -->
            </div><!-- parentHorizontalTab -->
            <!-- <a href="@baseUrlPath/Home/searchArtist?artistid=@AUC.artistid" target="_blank">View All</a> -->

        </div><!-- content -->

	</div><!-- content -->

</div><!-- Wrapper -->

