﻿@model Astaguru.Models.Auction
@{
    ViewBag.Title = "UpcomingDetails";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    string Bidclosingtime = string.Empty;
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    int userid = Convert.ToInt32(Session["userid"]);
    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    Astaguru.Services.UserService.UpcomingAuctionService UAS = new Astaguru.Services.UserService.UpcomingAuctionService();
    //Check user Current Lead Or Not
    int page = Convert.ToInt32(Request["page"].ToString());
    AUC = UAS.GetProxyValue(Model.productid, userid);

    if (AUC == null)
    {
        AUC = new Astaguru.Models.Auction();
        AUC.ProxyAmt = 0;
        AUC.ProxyAmtus = 0;
    }
    string image = "zoomImage:\"https://www.astaguru.com/" + Model.image + " \", zoomSizeMode: \"image\", tintColor:\"#000\", tintOpacity:0.25, captionPosition:\"bottom\", maxMagnification:4, autoInside:750";

    // Baner Detail
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    Astaguru.Models.Auction Baner = new Astaguru.Models.Auction();
    Baner = COM.GetBannerDetails(Model.Auctionid);


    string imageURl = string.Empty;

    if (Baner.auctionBanner != null)
    {
      imageURl = Uri.EscapeUriString(@Baner.auctionBanner);
    }
    
        

    int DollarRate = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);
    double hiddenPrice = 0;
}

<input type="hidden" id="hiddenDollarRate" value="@DollarRate" />
<input type="hidden" id="hiddenProductId" value="@Model.productid" />

@*Created on 22_12_2020*@
<input type="hidden" id="hiddenIP" />
<input type="hidden" id="hiddenlatitude" />
<input type="hidden" id="hiddenlongitude" />
<input type="hidden" id="hiddenAddress" />
<input type="hidden" id="hiddenUserLocation" />

<div id="divLoader" class="page_loader" style="display:none">
    <!-- <img src="~/Content/giphy.gif" alt="Loader" /> -->
</div>


<div id="wrapper">
    <div id="banner_inner" style="background: url(https://www.astaguru.com/images/banner/jew-oct20-webin.jpg) center center no-repeat; background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="banner_inner_text">
                <div class="auctions_title bdr_no">
                    <h1 class="title_font medium_text">@Baner.auctiontitle</h1>
                    <p>@Baner.auctiondate</p>
                </div>
                <div class="watch_video">
                     @*<a href="https://www.astaguru.com/ModernIndianart-walkthrough.html" target="_blank">
                       <img src="/Content/images/3dicon.jpg" style="float:left;padding-right:15px">
                        <span>CLICK HERE<br>FOR VIRTUAL PREVIEW<br>OF THE CATALOGUE</span>
                    </a>*@
                </div>
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->

    <div id="filter_wrap">
        <div class="content">
            <div class="flex_spbtn">
                <ul class="icon_list_grid btn_proxy_bid_row">
                        @*<li><a href="@baseUrlPath/Upcoming/UpcomingPreview?AuctionId=@Model.Auctionid&page=@page" class="outline_link">Back to Upcomming Auction</a></li>*@
                    <li><a href="@baseUrlPath/Upcoming/UpcomingPreview/@Baner.Slug?page=@page" class="outline_link">Back to upcoming Auction</a></li>
                </ul>
                <div class="filter_right">
                    <div class="auction_analysis_text custom_select">
                        <select class="select_drop" id="ddlCurrency">
                            <option value="1">inr</option>
                            <option value="2">usd</option>
                        </select>
                    </div><!-- custom_select -->
                </div><!-- filter_right -->
            </div><!-- flex_spbtn -->
        </div><!-- content -->
    </div><!-- filter_wrap -->

    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
        <div class="row">
            <div class="col-lg-6">
                <div class="">
                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                        <li data-thumb="https://www.astaguru.com/@Model.thumbnail">
                            <a data-gallery="manual" data-index="0" href="https://www.astaguru.com/@Model.image" data-group="b"><img src="https://www.astaguru.com/@Model.thumbnail" /></a>
                        </li>

                        @if (Model.view1 != null || Model.view2 != null || Model.view3 != null || Model.view4 != null)
{
    if (Model.view1 != null)
    {
        <li data-thumb="https://www.astaguru.com/@Model.view1">
            <a data-gallery="manual" data-index="1" href="https://www.astaguru.com/@Model.view1" data-group="b"><img src="https://www.astaguru.com/@Model.view1" /></a>
        </li>
    }
    if (Model.view2 != null)
    {
        <li data-thumb="https://www.astaguru.com/@Model.view2">
            <a data-gallery="manual" data-index="2" href="https://www.astaguru.com/@Model.view2" data-group="b"><img src="https://www.astaguru.com/@Model.view2" /></a>
        </li>
    }
    if (Model.view3 != null)
    {
                        <li data-thumb="https://www.astaguru.com/@Model.view3">
                            <a data-gallery="manual" data-index="3" href="https://www.astaguru.com/@Model.view3" data-group="b"><img src="https://www.astaguru.com/@Model.view3" /></a>
                        </li>
                            }
                            if (Model.view4 != null)
                            {
                        <li data-thumb="https://www.astaguru.com/@Model.view4">
                            <a data-gallery="manual" data-index="4" href="https://www.astaguru.com/@Model.view4" data-group="b"><img src="https://www.astaguru.com/@Model.view4" /></a>
                        </li>
                            }




                        }

                    </ul>

                    <a href="javascript:avoid(0)" class="small_btn addToCart" data-productid="@Model.productid"><i class=" icon-star"></i>add to my gallery</a>
                    <br />
                    <span id="Success_@Model.productid" style="color:green" class="clsClearGallary"></span>
                    <span id="Err_@Model.productid" style="color:red" class="clsClearGallary"></span>
                </div>
            </div><!-- col -->

            <div class="col-lg-6">
                <div class="detail_content">
                    <span id="errBid" style="color:red"></span>
                @if (Model.auctionType == 1)
                {
                    <a href="@baseUrlPath/Artist/artistProfile?artistid=@Model.artistid" target="_blank">
                        <h2 class="uppercase sbold">
                            @Model.firstname @Model.lastname

                        </h2>
                    </a>

                    if (Model.isInternational == 1)
                    {
                        <span><img src="~/Content/international_inner_icon.png" style="margin-top:-8px;margin-left:5px;" /> </span>
                    }
                    else if (Model.nonExportable == 1)
                    {
                        <span><img src="~/Content/non-export_inner_icon.png" style="margin-top:-8px;margin-left:5px;" /> </span>


                    }

                    <h3>@Model.title</h3>
                }
                else if (Model.auctionType == 2)
                {
                       <h2 class="uppercase sbold">
                           @Model.title
                    </h2>

                    if (Model.isInternational == 1)
                    {
                        <span><img src="~/Content/international_inner_icon.png" style="margin-top:-8px;margin-left:5px;" /> </span>
                    }
                    else if (Model.nonExportable == 1)
                    {
                        <span><img src="~/Content/non-export_inner_icon.png" style="margin-top:-8px;margin-left:5px;" /> </span>


                    }
                }
                    

                    
                    <dl class="row detail_content_dl">

                        <dt class="col-sm-3 col-lg-2">Lot No</dt>
                        <dd class="col-sm-9 col-lg-10 sbold">@Model.reference</dd>

                        @if(Model.auctionType == 1)
                        {
                            <dt class="col-sm-3 col-lg-2">Medium</dt>
                        <dd class="col-sm-9 col-lg-10 sbold">@Model.medium</dd>

                        <dt class="col-sm-3 col-lg-2">Year</dt>
                        <dd class="col-sm-9 col-lg-10 sbold">
                            @Model.productdate
                        </dd>

                        <dt class="col-sm-3 col-lg-2">Size</dt>
                        <dd class="col-sm-9 col-lg-10 sbold">@Model.productsize in.</dd>

                        }
                        else if (Model.auctionType == 2)
                        { 
                            <dt class="col-sm-3 col-lg-2">Description</dt>
                        <dd class="col-sm-9 col-lg-10 sbold">@Html.Raw(@Model.Prdescription)</dd>
                            
                               <dt class="col-sm-3 col-lg-2"></dt>
                        <dd class="col-sm-9 col-lg-10 sbold">@Model.productsize</dd>
                        }


                        <dt class="col-sm-3 col-lg-2">Estimate</dt>
                        @if (currency == 1)
                        {
                            <dd class="col-sm-9 col-lg-10 sbold">@Model.collectors</dd>
                        }
                        else if (currency == 2)
                        {
                            <dd class="col-sm-9 col-lg-10 sbold">@Model.estamiate</dd>
                        }
                        else
                        {
                            <dd class="col-sm-9 col-lg-10 sbold">@Model.collectors</dd>
                        }


                        <dt class="col-sm-3 col-lg-2"></dt>
                        <dd class="col-sm-9 col-lg-10 sbold">
                            <a href="@baseUrlPath/Home/billingAddress?productid=@Model.productid" class="view_additional_link" target="_blank"><img src="~/Content/images/icon-tag.png" height="15" /> view additional charges</a>
                        </dd>

                    </dl>

                    @if (currency == 1)
                    {
                        <div class="row custom_row details_text mobile_view_2" style="max-width:460px;">
                            <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                <p class="uppercase">Opening Bid</p>
                                <h3 class="medium_weight">₹ @Astaguru.Services.Common.rupeeFormat(@Model.pricers.ToString())</h3>
                            </div><!-- col -->

                        </div><!-- row -->
                    }
                    else if(currency == 2)
                    {
                        <div class="row custom_row details_text mobile_view_2" style="max-width:460px;">
                            <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                <p class="uppercase">Opening Bid</p>
                                <h3 class="medium_weight">$ @Astaguru.Services.Common.DollerFormat(@Model.priceus.ToString())</h3>
                            </div><!-- col -->

                        </div><!-- row -->
                    }
                    else
                    {
                          <div class="row custom_row details_text mobile_view_2" style="max-width:460px;">
                            <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                <p class="uppercase">Opening Bid</p>
                                <h3 class="medium_weight">₹ @Astaguru.Services.Common.rupeeFormat(@Model.pricers.ToString())</h3>
                            </div><!-- col -->

                        </div><!-- row -->
                    }

                    <div class="row custom_row details_text mobile_view_2">
                        <div class="col-sm-12 custom_col">
                            <a href="#" class="btn_lgrey btn_proxybid full_width extra-margin-top-40" id="btnProxyPopup"><span data-toggle="tooltip" data-placement="top" title="Proxy Bid">Proxy Bid</span></a>
                        </div>
                    </div>



                </div><!-- detail_content -->

            </div><!-- col -->
        </div><!-- Row -->

        <div class="about_artist">
            <div class="row custom_row">
                <div class="col-md-6 custom_col extra-margin-top-100">
                    <div class="additional_info">
                        <h3 class="uppercase sbold">additional information</h3>
                        <p> @Html.Raw(@Model.description)</p>
                    </div>
                </div><!-- col -->

                @if (Model.auctionType == 1)
                {
                    if (Model.HumanFigure != null && Model.HumanFigure != "")
                    {
                        <div class="col-md-6 custom_col extra-margin-top-100">
                            <div class="col_additional_img">
                                <img src="https://www.astaguru.com/@Model.HumanFigure" class="img_responsive" />
                                <h5 class="medium_weight">Artwork Size</h5>
                                <p>Height of the figure - 6ft</p>
                            </div><!-- col_additional_img -->
                        </div><!-- col -->
                    }
                }
                else if (Model.auctionType == 2)
                {

                }
                
            </div><!-- row -->
        </div><!-- addition_wrap -->
        <div class="clear"></div>
    </div><!-- content -->

    <div class="hrline"></div>

    @if (Model.auctionType == 1)
    {
        <div class="container-fluid content extra-margin-bottom-100 extra-margin-top-100">
            <div class="about_artist">
                <h3 class="uppercase sbold">about artist</h3>
                <div class="read_more">
                    <p>
                        @Html.Raw(@Model.Profile)
                    </p>
                </div>
            </div><!-- about_artist -->

        </div><!-- content -->
    }
    else if (Model.auctionType == 2)
    {

    }

</div><!-- Wrapper -->
<!-- Modal -->
<div class="modal fade" id="ProxyBid_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title sbold uppercase" id="exampleModalCenterTitle">Enter Your Proxy Bid</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cross"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">My Maximum Bid (proxy)</label>
                        <div class="input-group grpwith_bdr">
                            @if (currency == 1)
                            {
                                if (AUC.ProxyAmt > 0)
                                {
                                    <input type="text" class="form-control" id="txtProxy" value="@AUC.ProxyAmt" readonly>
                                }
                                else
                                {
                                    <input type="text" class="form-control" id="txtProxy" value="">
                                }
                            }
                            else if (currency == 2)
                            {
                                if (AUC.ProxyAmtus > 0)
                                {
                                    <input type="text" class="form-control" id="txtProxy" value="@AUC.ProxyAmtus" readonly>
                                }
                                else
                                {
                                    <input type="text" class="form-control" id="txtProxy" value="">
                                }
                            }
                            else
                            {
                                 if (AUC.ProxyAmt > 0)
                                {
                                    <input type="text" class="form-control" id="txtProxy" value="@AUC.ProxyAmt" readonly>
                                }
                                else
                                {
                                    <input type="text" class="form-control" id="txtProxy" value="">
                                }
                            }



                            <div class="input-group-prepend">
                                <span class="input-group-text radius_left_no form_min_width" id="txtProxy1">
                                    @if (currency == 1)
                                    {@Html.Raw("₹");
                                    }
                                    else if (currency == 2)
                                    { @Html.Raw("$");
                                    }
                                    else
                                    {
                                        @Html.Raw("₹");
                                    }
                                </span>
                            </div>
                        </div><!-- input-group -->
                        <span id="errProxy" style="color:red"></span>
                    </div>

                    <div class="form-group">
                        @if (currency == 1)
                        {
                            if (@AUC.ProxyAmt > 0)
                            {
                                <span> <a target="_blank" href="http://astaguru.com/pdf/WrittenBid_Form.pdf"> Download PDF for change in Proxy Bid </a></span>
                            }
                            else
                            {
    <button type="button" class="btn_black" id="btnProxy"><span>Submit</span></button>
                            }
                        }
                        else if (currency == 2)
                        {
                            if (@AUC.ProxyAmtus > 0)
                            {
                                <span> <a target="_blank" href="http://astaguru.com/pdf/WrittenBid_Form.pdf"> Download PDF for change in Proxy Bid </a></span>
                            }
                            else
                            {
                                <button type="button" class="btn_black" id="btnProxy"><span>Submit</span></button>
                            }
                        }
                        else
                        {
                            if (@AUC.ProxyAmt > 0)
                            {
                                <span> <a target="_blank" href="http://astaguru.com/pdf/WrittenBid_Form.pdf"> Download PDF for change in Proxy Bid </a></span>
                            }
                            else
                            {
                                <button type="button" class="btn_black" id="btnProxy"><span>Submit</span></button>
                            }
                        }

                    </div>
                </form>

                <div class="form_terms">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check01">
                        @if (@AUC.ProxyAmt > 0)
                        {
                                
                        }
                        else
                        {
                            <label class="custom-control-label" for="check01">I Agree with the Terms & Conditions</label>
                        }
                        
                    </div>

                    <h6>If placing a proxy Bid. Enter the max amount you would be writing to bid upto.</h6>

                    <p>
                        <a href="@baseUrlPath/Home/myProfile?userid=@userid" class="medium_weight">My Profile Page</a> - To set your Bidding  Nickname. You may submit a bid
                        @if (currency == 1)
                        {
                            
                            hiddenPrice = @Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency);
                            <input type="hidden" id="hiddenPrice" value="@Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency).ToString()" />
                            <span class="black medium_weight"> ₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency).ToString())</span>
                        }
                        else if (currency == 2)
                        {
                            
                            hiddenPrice = @Astaguru.Services.Common.getNextValidBidAmount(@Model.priceus, currency);
                            <input type="hidden" id="hiddenPrice" value="@Astaguru.Services.Common.getNextValidBidAmount(@Model.priceus, currency).ToString()" />
                            <span class="black medium_weight"> $ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getNextValidBidAmount(@Model.priceus, currency).ToString())</span>
                        }
                        else{
                             <span class="black medium_weight"> ₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency).ToString())</span>
                            <input type="hidden" id="hiddenPrice" value="@Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency).ToString()" />
                            <span class="black medium_weight"> ₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency).ToString())</span>
                        }
                        (next incremental value)
                    </p>

                    <div class="hrline"></div>

                    <h6 class="notetext">When you enter a bid, you have agreed to the conditions for sale, <a href="#" class="medium_weight">click here</a> to read the conditions for sale</h6>
                </div>


            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->


 <!-- Modal -->
<div class="modal fade" id="ModelProxyConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Once submitted can not be changed online. Confirm?</h5>
            </div>

            <div class="modal-body signform">
                <div class="row">
                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark" id="btnProxyConfirm"><span>Confirm</span></button>
                        <button type="button" class="btn_grey_dark" id="btnProxyConfirmCancel"><span>Cancel</span></button>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->


<!-- Modal -->
<div class="modal fade" id="ModelAmountLimitExceeded" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">You have exceeded your bid limit.Please contact our office for support</h5>
            </div>

            <div class="modal-body signform">
                <div class="row">

                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark full_width" id="btnAmountLimitOkay"><span>OK</span></button>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->

    <!-- Modal -->
<div class="modal fade" id="ModelOwnerPainting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Sorry, you're not permitted to bid on this lot. Please contact our office for support.</h5>
            </div>

            <div class="modal-body signform">
                <div class="row">

                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark full_width" id="btnOwnerPaintingOkay"><span>OK</span></button>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->



<script>
    $(document).ready(function () {
        var currencyType = $('#hiddenCurrency').val();
        if (currencyType == 1) {
            $('#ddlCurrency').val(1);
        }
        else if (currencyType == 2) {
            $('#ddlCurrency').val(2);
        }

    });

    $('#btnAmountLimitOkay').click(function () {
        var basePathUrl = $('#hiddenbaseUrlPath').val();
        window.location = basePathUrl + '/Home/Home';
    });

    $('#btnOwnerPaintingOkay').click(function () {
        var basePathUrl = $('#hiddenbaseUrlPath').val();
        //window.location = basePathUrl + '/Home/Home';
        window.location = basePathUrl + '/Home/Home';
    });

    $('#btnProxyConfirm').click(function () {
        $("#divLoader").show();

        $("#btnProxyConfirm").attr("disabled", true);
        var currencyType = $('#hiddenCurrency').val();
        var proxyAmt = $('#txtProxy').val();

        proxyAmt = parseFloat(proxyAmt);
        currencyType = parseInt(currencyType);


        var dollarRate = $('#hiddenDollarRate').val();
        if (currencyType == 2) {
            proxyAmt = proxyAmt * dollarRate;
        }



        var userId = $('#hiddenUserId').val();
        var isMobile = $('#hiddenMobileVerified').val();
        var isEmail = $('#hiddenEmailVerified').val();
        var isconfirmbid = $('#hiddenconfirmbid').val();
 

        // Ajax Call

        var upcomingProxy = {};
        upcomingProxy.productid = $('#hiddenProductId').val();
        upcomingProxy.userid = $('#hiddenUserId').val();
        upcomingProxy.ProxyAmt = proxyAmt;// $('#txtProxy').val();
        upcomingProxy.amountlimt = $('#hiddenBidLimit').val();
        upcomingProxy.country = $('#hiddenBidCountry').val();
        upcomingProxy.isOldUser = $('#hiddenIsOldUser').val();

        //created on 11_11_2020
        upcomingProxy.latitude = $('#hiddenlatitude').val();
        upcomingProxy.longitude = $('#hiddenlongitude').val();
        upcomingProxy.userLocation = $('#hiddenUserLocation').val();
        upcomingProxy.fullAddress = $('#hiddenAddress').val();
        //

        if (userId > 0) {
            if (isMobile > 0 && isEmail > 0) {
                // Apply For Bid
                if (isconfirmbid > 0) {

                    //You Can Bid Now
                    $.ajax({
                        url: "/Upcoming/saveUpcomingProxyBid",
                        type: 'POST',
                        dataType: 'json',
                        data: upcomingProxy,
                        //traditional: true,
                        success: function (ReturnData) {
                            if (ReturnData.status == 'Success') {
                                location.reload(true)
                            }
                            else if (ReturnData.status == 'Exception') {
                                $("#btnProxyConfirm").attr("disabled", false);
                                alert('Exception');
                            }
                            else if (ReturnData.status == 'SessionExpired') {
                                $("#divLoader").hide();
                                $("#btnProxyConfirm").attr("disabled", false);
                                $('#SessionExpired').modal('toggle');
                            }
                            else if (ReturnData.status == 'AmountLimitExceeded') {
                                $("#divLoader").hide();
                                $("#btnProxyConfirm").attr("disabled", false);
                                $('#ModelProxyConfirm').modal('toggle');
                                $('#ModelAmountLimitExceeded').modal('toggle');
                            }
                            else if (ReturnData.status == 'Ownerpainting') {
                                $("#divLoader").hide();
                                $("#btnProxyConfirm").attr("disabled", false);
                                $('#ModelOwnerPainting').modal('toggle');
                            }
                        },
                        error: function (err) {
                            alert(err);
                        }
                    });
                }
                else {
                    $("#divLoader").hide();
                    $("#btnProxyConfirm").attr("disabled", false);
                    $('#ModelBidAccess').modal('toggle');
                }
            }
            else {
                alert('Mobile Number Or Email id is not verified');
                $("#btnProxyConfirm").attr("disabled", false);
            }

        }
        else {
            $("#divLoader").hide();
            $("#btnProxyConfirm").attr("disabled", false);
            $('#ProxyBid_modal').modal('toggle');
            $('#LoginForm').modal('toggle');
        }
    });


    $('#btnProxyConfirmCancel').click(function () {
        $("#btnProxyConfirm").attr("disabled", false);
        $('#ModelProxyConfirm').modal('toggle');
    });

    function fieldValidation(inputvalue, errId, msg, validationMsg) {
        if (typeof inputvalue.val() === "undefined") {
            errId.html('');
            inputvalue.css("border-color", '');
            return true;
        }
        else if (inputvalue.val().length <= 0) {
            errId.html('');
            inputvalue.css("border-color", '');
            return true;
        }
        else {
            if (validationMsg == 'Number') {
                if (/^[0-9]*$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    return false;
                }
            }


        }
    }

    $('#btnProxy').click(function () {
        $('#txtProxy').css("border-color", "");
        $('#txtProxy1').css("border-color", "");
        $('#errProxy').html('');

        if ($('#txtProxy').val().length <= 0) {
            $('#errProxy').html('Please Enter Proxy Bid Value');
            $('#txtProxy').css("border-color", "red");
            $('#txtProxy1').css("border-color", "red");
            return false;
        }

        var proxyAmt = fieldValidation($('#txtProxy'), $('#errProxy'), 'Enter Numeric value Only', 'Number')
        if (proxyAmt == false) { return false; }

        debugger;
        var nextBidPrice = $('#hiddenPrice').val();
        var proxyAmt = $('#txtProxy').val();
        var currencyType = $('#hiddenCurrency').val();

        nextBidPrice = parseFloat(nextBidPrice);
        proxyAmt = parseFloat(proxyAmt);
        currencyType = parseInt(currencyType);

        if (proxyAmt >= nextBidPrice) {
        }
        else {
            if (currencyType == 1) {
                if (nextBidPrice < 10000000) {
                    $('#errProxy').html('Proxy Bid amount should be equal to or greater than 10% more than opening bid: = Rs.' + nextBidPrice);
                }
                else {
                    $('#errProxy').html('Proxy Bid amount should be equal to or greater than 5% more than opening bid: = Rs.' + nextBidPrice);
                }
            }
            else if (currencyType == 2) {
                if (nextBidPrice < 143750) {
                    $('#errProxy').html('Proxy Bid amount should be equal to or greater than 10% more than opening bid: = $ ' + nextBidPrice);
                }
                else {
                    $('#errProxy').html('Proxy Bid amount should be equal to or greater than 5% more than opening bid: = $ ' + nextBidPrice);
                }
            }
            else {
                if (nextBidPrice < 10000000) {
                    $('#errProxy').html('Proxy Bid amount should be equal to or greater than 10% more than opening bid: = Rs.' + nextBidPrice);
                }
                else {
                    $('#errProxy').html('Proxy Bid amount should be equal to or greater than 5% more than opening bid: = Rs.' + nextBidPrice);
                }
            }
            return false;
        }
        var dollarRate = $('#hiddenDollarRate').val();
        if (currencyType == 2) {
            proxyAmt = proxyAmt * dollarRate;
        }


        var isChecked = $('#check01').is(":checked") ? 1 : 0
        if (isChecked == 0) {

            $('#errProxy').html('Please check the Terms and Conditions');
            return false;
        }

        $('#ProxyBid_modal').modal('toggle');
        $('#ModelProxyConfirm').modal('toggle');

    });

    $(document).ready(function () {
        var currencyType = $('#hiddenCurrency').val();
        if (currencyType == 1) {
            $('#ddlCurrency').val(1);
        }
        else if (currencyType == 2) {
            $('#ddlCurrency').val(2);
        }
    });

    $('#btnProxyPopup').click(function () {

        $("#divLoader").show();

        var userId = $('#hiddenUserId').val();
        var isMobile = $('#hiddenMobileVerified').val();
        var isEmail = $('#hiddenEmailVerified').val();
        var isconfirmbid = $('#hiddenconfirmbid').val();

        // Ajax Call



        if (userId > 0) {
            if (isMobile > 0 && isEmail > 0) {
                // Apply For Bid
                if (isconfirmbid > 0) {

                    //You Can Bid Now
                    $("#divLoader").hide();
                    $('#ProxyBid_modal').modal('toggle');
                }
                else {
                    $("#divLoader").hide();
                    $('#ModelBidAccess').modal('toggle');
                }
            }
            else {
                $("#divLoader").hide();
                alert('Mobile Number Or Email id is not verified');
            }

        }
        else {
            $("#divLoader").hide();
            $('#LoginForm').modal('toggle');
        }

    });

</script>


<script>
    //created on 22_12_2020

    //script for get location using co-ordinates
    $(document).ready(function () {

        if (navigator.userAgent.match(/Edge/i) || navigator.userAgent.match(/Trident.*rv[ :]*11\./i)) {            /*check for Internet explorer browser*/
            locationOptions = {
                enableHighAccuracy: false,
                maximumAge: 50000
            }
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError, locationOptions);
            } else {
                console.log("Geolocation is not supported by this browser.");
            }
        }
        else {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                console.log("Geolocation is not supported by this browser.");
            }
        }
    });


    //store location from all browser
    function showPosition(position) {
        var locapi = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + position.coords.latitude + "," + position.coords.longitude + "&key=AIzaSyC8IOnswlrA9IEn0crKUMV7ZaD2QRydIXc";
        $.ajax({
            url: locapi,
            type: 'GET',
            dataType: 'json',
            traditional: true,
            success: function (data) {
                debugger;
                // $("#<%=hdncity.ClientID%>").val(data.results[0].address_components[4].long_name);
                // $("#<%=hdnstate.ClientID%>").val(data.results[0].address_components[5].long_name);
                // $("#<%=hdncountry.ClientID%>").val(data.results[0].address_components[6].long_name);

                for (i in data.results[0].address_components) {
                                if (data.results[0].address_components[i].types[0] == "locality") {

                                    $('#hiddenUserLocation').val(data.results[0].address_components[i].long_name);


                                }



                }

                $('#hiddenAddress').val(data.results[0].formatted_address);
                $('#hiddenlatitude').val(position.coords.latitude);
                $('#hiddenlongitude').val(position.coords.longitude);

            }
        });


    }


    function showError(error) {
        debugger;
        switch (error.code) {
            case error.PERMISSION_DENIED:
                console.log = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                console.logL = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                console.log = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                console.log = "An unknown error occurred."
                break;
        }
    }

</script>