﻿
@{
    ViewBag.Title = "UpcomingAuctions";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    Astaguru.Services.UserService.UpcomingAuctionService UAS = new Astaguru.Services.UserService.UpcomingAuctionService();
}
@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
        <h2 class="sbold uppercase">Upcoming Auctions</h2>
        <div class="row">

        @foreach(var item in UAS.GetUpcomingAuctionList())
        {    
            <div class="col-sm-6 col-md-4 extra-padding-top-40">
                <div class="box_shadow">
                    @*<a href="@baseUrlPath/Upcoming/UpcomingPreview?AuctionId=@item.Auctionid" class="before_hoverpa">*@
                    <a href="@baseUrlPath/Upcoming/UpcomingPreview/@item.Slug" class="before_hoverpa">
                        <img src="https://www.astaguru.com/Content/webImages/@item.auctionWebImage" class="img_responsive" />
                        <div class="upc_auction_text">
                            <h2 class="title_font">@item.Auctionname</h2>
                            <h5>@item.auctiondate</h5>
                            <span class="icon-next"></span>
                        </div><!-- upc_auction_text -->
                    </a>
                </div><!-- box_shadow -->
            </div><!-- col -->
        }  
        </div><!-- row -->
    </div>
    </div><!-- Wrapper -->
